Repository magento/pwa-studio, pull requests merged in 2018-07, with the labels that each got.

#93 Pass ID of entity to rendered RootComponent
  packages/peregrine/src/Router/MagentoRouteHandler.js
  packages/peregrine/src/Router/__tests__/MagentoRouteHandler.test.js
  packages/peregrine/src/Router/__tests__/Router.test.js
  packages/peregrine/src/Router/resolveUnknownRoute.js
Labels: pkg:peregrine

#109 Update index.md
  packages/pwa-devdocs/src/pwa-buildpack/project-setup/create-simple-peregrine-app/index.md
Labels: pkg:pwa-devdocs

#92 GH #51 revise Application Shell topic
  packages/pwa-devdocs/src/_data/technologies.yml
  packages/pwa-devdocs/src/technologies/basic-concepts/app-shell/index.md
Labels: pkg:pwa-devdocs

#90 feat(data): Add live GraphQL data to product detail page
  packages/pwa-buildpack/README.md
  packages/venia-concept/.env.dist
  packages/venia-concept/package-lock.json
  packages/venia-concept/package.json
  packages/venia-concept/src/RootComponents/Product/Product.js
  packages/venia-concept/src/components/Gallery/item.js
  packages/venia-concept/src/components/ProductImageCarousel/carousel.js
  packages/venia-concept/src/components/ProductImageCarousel/thumbnail.js
  packages/venia-concept/src/components/ProductImageCarousel/thumbnailList.js
  packages/venia-concept/src/constants.js
  packages/venia-concept/src/shared/images.js
  packages/venia-concept/src/util/__tests__/getUrlKey.spec.js
  packages/venia-concept/src/util/__tests__/makeMediaPath.spec.js
  packages/venia-concept/src/util/getUrlKey.js
  packages/venia-concept/src/util/makeMediaPath.js
  packages/venia-concept/webpack.config.js
Labels: pkg:venia-concept

#138 Create Homepage design topic
  packages/pwa-devdocs/src/_data/venia-pwa-concept.yml
  packages/pwa-devdocs/src/venia-pwa-concept/component/category-menu/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/footer/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/header/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/image-carousel/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/sale-banner/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/design/homepage/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/design/product-page/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/images/category-menu.jpg
  packages/pwa-devdocs/src/venia-pwa-concept/images/footer-scroll-notification.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/footer-scroll.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/header-menu-with-search.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/new-arrivals-carousel.jpg
  packages/pwa-devdocs/src/venia-pwa-concept/images/recommended-carousel.jpg
  packages/pwa-devdocs/src/venia-pwa-concept/images/sale-banner-large.jpg
  packages/pwa-devdocs/src/venia-pwa-concept/images/sale-banner-small.jpg
  packages/pwa-devdocs/src/venia-pwa-concept/images/shop-the-look.jpg
Labels: pkg:pwa-devdocs

#142 Fixed spelling mistake
  packages/pwa-devdocs/src/pwa-buildpack/project-setup/create-configuration-files/index.md
Labels: pkg:pwa-devdocs

#151 Documentation for a rest based checkout
  packages/pwa-devdocs/src/_data/venia-pwa-concept.yml
  packages/pwa-devdocs/src/venia-pwa-concept/simple-rest-checkout/index.md
Labels: pkg:pwa-devdocs

#172 Add category page design and components
  packages/pwa-devdocs/src/_data/venia-pwa-concept.yml
  packages/pwa-devdocs/src/venia-pwa-concept/component/filter/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/footer/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/header/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/main-image/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/number-of-items/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/product-listing/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/show-more/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/sort/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/component/title-bar/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/design/category-page/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/design/homepage/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/design/product-page/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/images/category-sort.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/filter-bar.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/filter-color.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/filter-overlay.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/filter-values.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/main-image.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/product-listing.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/show-more.png
  packages/pwa-devdocs/src/venia-pwa-concept/images/title-bar-dresses.png
Labels: pkg:pwa-devdocs
