Repository magento/pwa-studio, pull requests merged in 2018-12, with the labels that each got.

#533 Graphql categories
  packages/venia-concept/src/components/CategoryList/__tests__/categoryList.spec.js
  packages/venia-concept/src/components/Navigation/__tests__/categoryTree.spec.js
  packages/venia-concept/src/components/Navigation/categoryBranch.js
  packages/venia-concept/src/components/Navigation/categoryLeaf.css
  packages/venia-concept/src/components/Navigation/categoryLeaf.js
  packages/venia-concept/src/components/Navigation/categoryTree.css
  packages/venia-concept/src/components/Navigation/categoryTree.js
  packages/venia-concept/src/components/Navigation/navigation.js
  packages/venia-concept/src/queries/getCategoryList.graphql
  packages/venia-concept/src/queries/getNavigationMenu.graphql
Labels: pkg:venia-concept

#621 [Documentation]: Update tools and libraries topic
  pwa-devdocs/src/technologies/tools-libraries/index.md
Labels: pkg:pwa-devdocs

#628 Fixed an issue where pagination styles would break checkout layout
  packages/venia-concept/src/components/Pagination/navButton.css
  packages/venia-concept/src/components/Pagination/navButton.js
  packages/venia-concept/src/components/Pagination/pagination.css
  packages/venia-concept/src/components/Pagination/pagination.js
Labels: bug

#395 test: improve test resilience and coverage metric
  .babelrc
  .circleci/config.yml
  jest.config.js
  package-lock.json
  package.json
  packages/peregrine/jest.config.js
  packages/peregrine/src/util/__tests__/intlPatches.spec.js
  packages/pwa-buildpack/jest.config.js
  packages/pwa-buildpack/src/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/src/WebpackTools/__tests__/PWADevServer.spec.js
  packages/upward-js/jest.config.js
  packages/venia-concept/jest.config.js
  packages/venia-concept/jest.setup.js
  packages/venia-concept/src/components/CreateAccount/__tests__/createAccount.spec.js
  scripts/__tests__/__helpers__/mock-http-server.js
  scripts/__tests__/__snapshots__/patch_circleci_environment.spec.js.snap
  scripts/__tests__/patch_circleci_environment.spec.js
  scripts/__tests__/update_repo_environment.spec.js
  scripts/jest-enzyme-setup.js
  scripts/jest.config.js
  scripts/patch_circleci_env
  scripts/patch_circleci_environment.js
  scripts/update_repo_environment.js
Labels: bug

#637 [Documentation] Certificate and Valet+ troubleshooting updates
  pwa-devdocs/src/pwa-buildpack/troubleshooting/index.md
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: pkg:pwa-devdocs
