Repository magento/pwa-studio, pull requests merged in 2018-10, with the labels that each got.

#314 fix: reducer removes guestCartId when it fails
  packages/venia-concept/src/actions/cart/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/cart/asyncActions.js
  packages/venia-concept/src/reducers/__tests__/cart.spec.js
  packages/venia-concept/src/reducers/cart.js
Labels: 2.x release, bug

#315 Update hardcoded client path in root template
  packages/venia-concept/Magento_Theme/templates/root.phtml
Labels: 2.x release, bug

#293 Account creation (issue #250)
  package-lock.json
  package.json
  packages/peregrine/src/RestApi/Magento2/M2ApiRequest.js
  packages/peregrine/src/index.js
  packages/peregrine/src/util/index.js
  packages/peregrine/src/util/simplePersistence.js
  packages/venia-concept/__mocks__/@magento/peregrine.js
  packages/venia-concept/__mocks__/@magento/util/simplePersistence.js
  packages/venia-concept/src/actions/cart/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/cart/asyncActions.js
  packages/venia-concept/src/actions/user/__tests__/actions.spec.js
  packages/venia-concept/src/actions/user/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/user/actions.js
  packages/venia-concept/src/actions/user/asyncActions.js
  packages/venia-concept/src/actions/user/index.js
  packages/venia-concept/src/components/Checkbox/__tests__/checkbox.spec.js
  packages/venia-concept/src/components/Checkbox/checkbox.css
  packages/venia-concept/src/components/Checkbox/checkbox.js
  packages/venia-concept/src/components/Checkbox/index.js
  packages/venia-concept/src/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-concept/src/components/CreateAccount/container.js
  packages/venia-concept/src/components/CreateAccount/createAccount.css
  packages/venia-concept/src/components/CreateAccount/createAccount.js
  packages/venia-concept/src/components/CreateAccount/index.js
  packages/venia-concept/src/components/ErrorDisplay/errorDisplay.css
  packages/venia-concept/src/components/ErrorDisplay/errorDisplay.js
  packages/venia-concept/src/components/ErrorDisplay/index.js
  packages/venia-concept/src/components/Input/__tests__/input.spec.js
  packages/venia-concept/src/components/Input/index.js
  packages/venia-concept/src/components/Input/input.css
  packages/venia-concept/src/components/Input/input.js
  packages/venia-concept/src/components/Navigation/index.js
  packages/venia-concept/src/components/Navigation/navHeader.css
  packages/venia-concept/src/components/Navigation/navHeader.js
  packages/venia-concept/src/components/Navigation/navigation.css
  packages/venia-concept/src/components/Navigation/navigation.js
  packages/venia-concept/src/components/SignIn/__tests__/signIn.spec.js
  packages/venia-concept/src/components/SignIn/container.js
  packages/venia-concept/src/components/SignIn/index.js
  packages/venia-concept/src/components/SignIn/signIn.css
  packages/venia-concept/src/components/SignIn/signIn.js
  packages/venia-concept/src/index.css
  packages/venia-concept/src/index.js
  packages/venia-concept/src/reducers/user.js
Labels: 2.x release, enhancement

#333 [Documentation] Update Venia Setup docs for version 2.0
  packages/pwa-devdocs/src/_data/top-nav.yml
  packages/pwa-devdocs/src/_data/venia-pwa-concept.yml
  packages/pwa-devdocs/src/index.html
  packages/pwa-devdocs/src/pwa-buildpack/troubleshooting/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: pkg:pwa-devdocs

#325 Improve watch script
  package-lock.json
  package.json
  packages/pwa-buildpack/src/index.js
  packages/venia-concept/package.json
  packages/venia-concept/src/classify.js
  scripts/watch-all.js
Labels: 2.x release, enhancement

#302 Revise docs and add to side nav
  packages/pwa-devdocs/src/_data/technologies.yml
  packages/pwa-devdocs/src/technologies/basic-concepts/css-modules/index.md
Labels: pkg:pwa-devdocs

#317 [Doc] Create documentation for Storybook testing
  packages/pwa-devdocs/src/_data/peregrine.yml
  packages/pwa-devdocs/src/peregrine/testing/storybook/index.md
Labels: pkg:pwa-devdocs

#308 [Doc] Create topic about the Venia directory structure
  packages/pwa-devdocs/src/_data/venia-pwa-concept.yml
  packages/pwa-devdocs/src/_scss/src/_home.scss
  packages/pwa-devdocs/src/venia-pwa-concept/directory-structure/index.md
  packages/pwa-devdocs/src/venia-pwa-concept/index.md
Labels: pkg:pwa-devdocs

#382 Create UPWARD spec documentation
  packages/pwa-devdocs/src/_data/technologies.yml
  packages/pwa-devdocs/src/technologies/upward/images/upward-server-diagram.png
  packages/pwa-devdocs/src/technologies/upward/index.md
  packages/pwa-devdocs/src/technologies/upward/reference-implementation/index.md
Labels: pkg:pwa-devdocs
