Repository magento/pwa-studio, pull requests merged in 2018-09, with the labels that each got.

#252 Revise GraphQL content
  packages/pwa-devdocs/src/_data/technologies.yml
  packages/pwa-devdocs/src/technologies/basic-concepts/graphql/index.md
Labels: pkg:pwa-devdocs

#259 Create new topic for the Peregrine REST API client
  packages/pwa-devdocs/src/_data/peregrine.yml
  packages/pwa-devdocs/src/peregrine/reference/rest-api-client/index.md
Labels: pkg:pwa-devdocs

#276 Add community contributors to README
  README.md
Labels: 0.x release

#239 Add tests for redux actions
  packages/venia-concept/__mocks__/@magento/peregrine.js
  packages/venia-concept/src/__mocks__/store.js
  packages/venia-concept/src/actions/app.js
  packages/venia-concept/src/actions/app/__tests__/actions.spec.js
  packages/venia-concept/src/actions/app/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/app/actions.js
  packages/venia-concept/src/actions/app/asyncActions.js
  packages/venia-concept/src/actions/app/index.js
  packages/venia-concept/src/actions/cart/__tests__/actions.spec.js
  packages/venia-concept/src/actions/cart/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/cart/actions.js
  packages/venia-concept/src/actions/cart/asyncActions.js
  packages/venia-concept/src/actions/cart/index.js
  packages/venia-concept/src/actions/checkout/__tests__/actions.spec.js
  packages/venia-concept/src/actions/checkout/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/checkout/actions.js
  packages/venia-concept/src/actions/checkout/asyncActions.js
  packages/venia-concept/src/actions/checkout/index.js
  packages/venia-concept/src/actions/directory/__tests__/actions.spec.js
  packages/venia-concept/src/actions/directory/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/directory/actions.js
  packages/venia-concept/src/actions/directory/asyncActions.js
  packages/venia-concept/src/actions/directory/index.js
  packages/venia-concept/src/components/Checkout/cart.js
  packages/venia-concept/src/components/Checkout/checkoutButton.js
  packages/venia-concept/src/components/Checkout/flow.js
  packages/venia-concept/src/components/Checkout/wrapper.js
  packages/venia-concept/src/components/Gallery/__tests__/item.spec.js
  packages/venia-concept/src/components/Header/navTrigger.js
  packages/venia-concept/src/components/MiniCart/miniCart.js
  packages/venia-concept/src/index.js
  packages/venia-concept/src/reducers/cart.js
  packages/venia-concept/src/reducers/checkout.js
  packages/venia-concept/src/store.js
  packages/venia-concept/src/util/__mocks__/simplePersistence.js
Labels: 1.x release

#288 Check if captureStackTrace exists before calling
  packages/peregrine/src/RestApi/Magento2/M2ApiResponseError.js
  packages/peregrine/src/RestApi/Magento2/__tests__/M2ApiResponseError.spec.js
Labels: 0.x release

#175 feat(dev): Make PWADevServer host/SSL optional
  packages/pwa-buildpack/src/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/src/WebpackTools/__tests__/PWADevServer.spec.js
  packages/pwa-buildpack/src/WebpackTools/__tests__/__snapshots__/PWADevServer.spec.js.snap
  packages/pwa-devdocs/src/pwa-buildpack/reference/pwa-dev-server/index.md
Labels: 1.x release

#220 fix(dev): merge 'assets' and 'output' paths
  .eslintignore
  .gitignore
  .prettierignore
  packages/pwa-buildpack/README.md
  packages/pwa-buildpack/docs/PWADevServer.md
  packages/pwa-buildpack/docs/ServiceWorkerPlugin.md
  packages/pwa-buildpack/src/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/src/WebpackTools/__tests__/PWADevServer.spec.js
  packages/pwa-buildpack/src/WebpackTools/plugins/ServiceWorkerPlugin.js
  packages/pwa-buildpack/src/WebpackTools/plugins/__tests__/ServiceWorkerPlugin.spec.js
  packages/pwa-devdocs/src/pwa-buildpack/project-setup/create-configuration-files/index.md
  packages/pwa-devdocs/src/pwa-buildpack/project-setup/create-configuration-files/webpack-config-example/index.md
  packages/pwa-devdocs/src/pwa-buildpack/reference/object-types/index.md
  packages/pwa-devdocs/src/pwa-buildpack/reference/pwa-dev-server/index.md
  packages/pwa-devdocs/src/pwa-buildpack/reference/serviceworker-plugin/index.md
  packages/venia-concept/web/images/logo.svg
  packages/venia-concept/webpack.config.js
Labels: 2.x release
