Repository magento/pwa-studio, pull requests merged in 2019-12, with the labels that each got.

#2003 [docs] content rendering topic
  pwa-devdocs/src/_data/getting-started.yml
  pwa-devdocs/src/technologies/basic-concepts/content-rendering/index.md
Labels: Progress: review, docs, documentation, pkg:pwa-devdocs

#1982 [docs] Tutorial to create storefront component
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/tutorials/create-taglist-component/images/hard-coded-list.png
  pwa-devdocs/src/tutorials/create-taglist-component/images/real-data-list.png
  pwa-devdocs/src/tutorials/create-taglist-component/images/styled-list.png
  pwa-devdocs/src/tutorials/create-taglist-component/images/unstyled-list.png
  pwa-devdocs/src/tutorials/create-taglist-component/index.md
Labels: Progress: review, docs, version: Patch

#2004 PWA-138: Re-factor getUserDetails to use GraphQL (useAwaitQuery Edition)
  packages/peregrine/lib/hooks/useAwaitQuery.js
  packages/peregrine/lib/store/actions/user/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/Navigation/useNavigation.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/Navigation/__tests__/navigation.spec.js
  packages/venia-ui/lib/components/Navigation/navigation.js
  packages/venia-ui/lib/components/SignIn/__tests__/signIn.spec.js
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/queries/getCustomer.graphql
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Major

#2001 [docs] Add MBI to search and update site switcher
  pwa-devdocs/Gemfile.lock
  pwa-devdocs/src/_includes/layout/header-scripts.html
Labels: Progress: approved

#2007 [docs] Fix Typo in docs
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
Labels: Partner: TechDivision, Progress: approved, partners-contribution

#1983 [bug]: default to valid initialValue for checkout form
  packages/venia-ui/lib/components/Checkout/addressForm.js
  packages/venia-ui/lib/components/Checkout/paymentsForm.js
Labels: Partner: Zilker Technology, Progress: changes requested, partners-contribution, pkg:venia-ui, version: Patch

#1988 Uses graphQl mutation to create/fetch cartId.
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/store/actions/checkout/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/checkout/asyncActions.js
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/store/reducers/__tests__/cart.spec.js
  packages/peregrine/lib/store/reducers/cart.js
  packages/peregrine/lib/talons/AuthModal/useAuthModal.js
  packages/peregrine/lib/talons/Checkout/useFlow.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/Header/useCartTrigger.js
  packages/peregrine/lib/talons/MiniCart/useCartOptions.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/peregrine/lib/talons/MiniCart/useProduct.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/App/__tests__/app.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/flow.spec.js
  packages/venia-ui/lib/components/Checkout/flow.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/Header/__tests__/cartTrigger.spec.js
  packages/venia-ui/lib/components/Header/cartTrigger.js
  packages/venia-ui/lib/components/MiniCart/__tests__/miniCart.spec.js
  packages/venia-ui/lib/components/MiniCart/__tests__/product.spec.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
  packages/venia-ui/lib/components/MiniCart/product.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/queries/createCart.graphql
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Major

#2000 [chore] Update eslint dep
  .eslintrc.js
  package.json
  packages/peregrine/.eslintrc.js
  packages/peregrine/package.json
  packages/pwa-buildpack/.eslintrc.js
  packages/pwa-buildpack/package.json
  packages/upward-js/lib/IOAdapter.js
  packages/upward-js/lib/resolvers/__tests__/TemplateResolver.test.js
  packages/upward-spec/suite/assertOnResponse.js
  packages/venia-concept/.eslintrc.js
  packages/venia-concept/_buildpack/create.js
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/Header/__tests__/cartTrigger.spec.js
  packages/venia-ui/lib/components/ToastContainer/__stories__/toasts.js
  scripts/jest-magic-console.js
  yarn.lock
Labels: Progress: approved, pkg:peregrine, pkg:pwa-buildpack, pkg:upward-js, pkg:upward-spec, pkg:venia-concept, pkg:venia-ui, tooling, version: Patch

#1945 Bugfix/fixing storybook venia ui
  package.json
  packages/venia-concept/package.json
  packages/venia-ui/.storybook/config.js
  packages/venia-ui/.storybook/webpack.config.js
  packages/venia-ui/lib/components/Checkout/__stories__/braintreeDropin.js
  packages/venia-ui/lib/components/Header/__stories__/header.js
  packages/venia-ui/lib/components/Image/__stories__/image.js
  packages/venia-ui/lib/components/MiniCart/__stories__/MiniCart.js
  packages/venia-ui/lib/components/SearchBar/__stories__/searchBar.js
  packages/venia-ui/lib/components/ToastContainer/__stories__/toasts.js
  packages/venia-ui/package.json
  yarn.lock
Labels: Partner: Webjump, Progress: approved, partners-contribution, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Patch

#2014 [bug] Footer position value defaulted to static which broke z-index styling on Edge
  packages/venia-ui/lib/components/MiniCart/footer.css
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2012 [PWA-147] Sign Out should revoke customer token using graphql mutation
  packages/peregrine/lib/store/actions/user/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/talons/AuthModal/useAuthModal.js
  packages/peregrine/lib/util/router-helpers.js
  packages/venia-ui/lib/components/AuthModal/authModal.js
  packages/venia-ui/lib/queries/signOut.graphql
  packages/venia-ui/lib/util/router-helpers.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2008 Self Documenting Braintree Environment Variable
  packages/create-pwa/lib/index.js
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/loadEnvironment.js
  packages/pwa-buildpack/lib/__tests__/cli-load-env.spec.js
  packages/pwa-buildpack/lib/cli/create-project.js
Labels: Progress: approved, docs, documentation, pkg:create-pwa, pkg:pwa-buildpack, version: Minor

#1955 Lazy Load AuthModal
  packages/peregrine/lib/talons/Navigation/__tests__/useNavigation.spec.js
  packages/venia-ui/lib/components/Navigation/__tests__/__snapshots__/navigation.spec.js.snap
  packages/venia-ui/lib/components/Navigation/__tests__/navigation.spec.js
  packages/venia-ui/lib/components/Navigation/navigation.js
Labels: Partner: Zilker Technology, Progress: approved, partners-contribution, pkg:peregrine, pkg:venia-ui, version: Minor

#2015 [feature] Use removeItemFromCart mutation in minicart product
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/peregrine/lib/talons/MiniCart/useProduct.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/miniCart.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/productList.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/miniCart.spec.js
  packages/venia-ui/lib/components/MiniCart/__tests__/product.spec.js
  packages/venia-ui/lib/components/MiniCart/__tests__/productList.spec.js
  packages/venia-ui/lib/components/MiniCart/body.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
  packages/venia-ui/lib/components/MiniCart/product.js
  packages/venia-ui/lib/components/MiniCart/productList.js
  packages/venia-ui/lib/queries/removeItem.graphql
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Major

#1997 Added email validation to ForgotPasswordForm
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.js
Labels: Community Insider: Cedcommerce, Progress: approved, community-insider-contribution, pkg:venia-ui, version: Patch

#1987 Use graphql to add item to cart
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/store/actions/checkout/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/checkout/asyncActions.js
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/store/reducers/cart.js
  packages/peregrine/lib/talons/Checkout/Receipt/useReceipt.js
  packages/peregrine/lib/talons/Checkout/useFlow.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/MiniCart/useCartOptions.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/Checkout/Receipt/receipt.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/editItem.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/miniCart.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/cartOptions.spec.js
  packages/venia-ui/lib/components/MiniCart/body.js
  packages/venia-ui/lib/components/MiniCart/cartOptions.js
  packages/venia-ui/lib/components/MiniCart/editItem.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/SignIn/__tests__/signIn.spec.js
  packages/venia-ui/lib/queries/addConfigurableProductsToCart.graphql
  packages/venia-ui/lib/queries/addSimpleProductsToCart.graphql
Labels: Progress: changes requested, pkg:peregrine, pkg:venia-ui, version: Major

#2011 feat(dev): Restore working debug error page [PWA-167]
  packages/pwa-buildpack/lib/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/PWADevServer.spec.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/UpwardDevServerPlugin.js
  packages/pwa-buildpack/package.json
  packages/upward-js/lib/createUpwardServer.js
  packages/upward-js/lib/middleware.js
  packages/upward-js/package.json
  yarn.lock
Labels: Progress: approved, pkg:pwa-buildpack, pkg:upward-js, version: Patch

#2017 Use updateItem mutations
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/talons/MiniCart/useCartOptions.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/cartOptions.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/body.js
  packages/venia-ui/lib/components/MiniCart/cartOptions.css
  packages/venia-ui/lib/components/MiniCart/cartOptions.js
  packages/venia-ui/lib/queries/updateItemInCart.graphql
Labels: Progress: changes requested, pkg:peregrine, pkg:venia-ui, version: Major

#2028 Removes id from getCustomer response object
  packages/peregrine/lib/talons/AuthModal/useAuthModal.js
  packages/venia-ui/lib/queries/getCustomer.graphql
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2022 Add first tutorial for PWA Studio Fundamentals
  pwa-devdocs/_drafts/pwa-studio-fundamentals/images/foo-screen-shot.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2024 Add doc for new tutorial series to help beginners
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-set-up/images/clear-storage.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-set-up/images/compiled-successfully.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-set-up/images/interactive-questionnaire.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-set-up/images/prerequisites.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-set-up/index.md
Labels: Partner: Monsoon, Progress: review, partners-contribution

#2033 [Doc] Update doc dependencies
  pwa-devdocs/package-lock.json
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs

#2032 Make pagination page buffer configurable
  packages/peregrine/lib/talons/Pagination/usePagination.js
Labels: Progress: approved, pkg:peregrine

#2029 [PWA-141] Re-Factor getCartDetails to GraphQL
  packages/peregrine/lib/context/__tests__/cart.spec.js
  packages/peregrine/lib/context/cart.js
  packages/peregrine/lib/hooks/useAwaitQuery.js
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/store/reducers/cart.js
  packages/peregrine/lib/talons/Checkout/useOverview.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/Header/useCartTrigger.js
  packages/peregrine/lib/talons/MiniCart/useCartOptions.js
  packages/peregrine/lib/talons/MiniCart/useEditItem.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/peregrine/lib/talons/MiniCart/useProduct.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/ProductOptions/useOptions.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/peregrine/lib/util/__tests__/appendOptionsToPayload.spec.js
  packages/peregrine/lib/util/__tests__/productVariants.spec.js
  packages/peregrine/lib/util/appendOptionsToPayload.js
  packages/peregrine/lib/util/productVariants.js
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/overview.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/overview.spec.js
  packages/venia-ui/lib/components/Checkout/overview.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/Header/__tests__/cartTrigger.spec.js
  packages/venia-ui/lib/components/Header/cartTrigger.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/editItem.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/miniCart.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/cartOptions.spec.js
  packages/venia-ui/lib/components/MiniCart/__tests__/editItem.spec.js
  packages/venia-ui/lib/components/MiniCart/__tests__/miniCart.spec.js
  packages/venia-ui/lib/components/MiniCart/__tests__/product.spec.js
  packages/venia-ui/lib/components/MiniCart/__tests__/productOptions.spec.js
  packages/venia-ui/lib/components/MiniCart/cartOptions.js
  packages/venia-ui/lib/components/MiniCart/editItem.js
  packages/venia-ui/lib/components/MiniCart/product.js
  packages/venia-ui/lib/components/MiniCart/productList.js
  packages/venia-ui/lib/components/MiniCart/productOptions.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/queries/getCartDetails.graphql
  packages/venia-ui/lib/queries/getProductDetailBySku.graphql
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Major

#2034 Updates template HTML to include noscript fallback
  packages/venia-concept/template.html
Labels: Progress: review, pkg:venia-concept, version: Patch

#2035 [bugfix]: Adds meta descriptions to root pages
  packages/venia-ui/lib/RootComponents/CMS/cms.js
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/fragments/productDetails.graphql
  packages/venia-ui/lib/queries/getCategory.graphql
  packages/venia-ui/lib/queries/getCmsPage.graphql
  packages/venia-ui/lib/queries/getProductDetail.graphql
  packages/venia-ui/lib/queries/getProductDetailBySku.graphql
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2018 Refactor checkout workflow to set shipping address/get shipping methods with graphql
  packages/peregrine/lib/store/actions/checkout/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/checkout/asyncActions.js
  packages/peregrine/lib/store/reducers/checkout.js
  packages/peregrine/lib/talons/Checkout/useAddressForm.js
  packages/peregrine/lib/talons/Checkout/useEditableForm.js
  packages/peregrine/lib/talons/Checkout/useFlow.js
  packages/peregrine/lib/talons/Checkout/usePaymentsFormItems.js
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/addressForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/overview.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/addressForm.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/editableForm.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/paymentsForm.spec.js
  packages/venia-ui/lib/components/Checkout/addressForm.js
  packages/venia-ui/lib/components/Checkout/editableForm.js
  packages/venia-ui/lib/components/Checkout/flow.js
  packages/venia-ui/lib/components/Checkout/form.css
  packages/venia-ui/lib/components/Checkout/overview.js
  packages/venia-ui/lib/components/Checkout/paymentsFormItems.js
  packages/venia-ui/lib/components/Checkout/shippingAddressSummary.js
  packages/venia-ui/lib/components/Checkout/shippingMethodSummary.js
  packages/venia-ui/lib/queries/setGuestEmailOnCart.graphql
  packages/venia-ui/lib/queries/setShippingAddress.graphql
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#2040 [bugfix] Pass query to remove action
  packages/peregrine/lib/store/actions/cart/asyncActions.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#2038 [bugfix] After adding product to cart toggle the cart drawer
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2013 Add typography section to styleguide
  packages/venia-styleguide/package.json
  packages/venia-styleguide/src/components/Anchor/Anchor.js
  packages/venia-styleguide/src/components/App/App.css
  packages/venia-styleguide/src/components/Article/Article.css
  packages/venia-styleguide/src/components/Article/Article.js
  packages/venia-styleguide/src/components/Article/index.js
  packages/venia-styleguide/src/components/Columns/Columns.css
  packages/venia-styleguide/src/components/Columns/Columns.js
  packages/venia-styleguide/src/components/Columns/index.js
  packages/venia-styleguide/src/components/Heading/Heading.css
  packages/venia-styleguide/src/components/Heading/Heading.js
  packages/venia-styleguide/src/components/Heading/index.js
  packages/venia-styleguide/src/components/InlineCode/InlineCode.css
  packages/venia-styleguide/src/components/InlineCode/InlineCode.js
  packages/venia-styleguide/src/components/InlineCode/index.js
  packages/venia-styleguide/src/components/Link/Link.css
  packages/venia-styleguide/src/components/Link/Link.js
  packages/venia-styleguide/src/components/Link/index.js
  packages/venia-styleguide/src/components/MDXAdapter/MDXAdapter.js
  packages/venia-styleguide/src/components/MDXAdapter/index.js
  packages/venia-styleguide/src/components/Main/Main.js
  packages/venia-styleguide/src/components/Paragraph/Paragraph.css
  packages/venia-styleguide/src/components/Section/Section.css
  packages/venia-styleguide/src/components/Section/Section.js
  packages/venia-styleguide/src/components/TableOfContents/TableOfContents.css
  packages/venia-styleguide/src/components/TableOfContents/TableOfContents.js
  packages/venia-styleguide/src/components/ThematicBreak/ThematicBreak.css
  packages/venia-styleguide/src/components/ThematicBreak/ThematicBreak.js
  packages/venia-styleguide/src/components/ThematicBreak/index.js
  packages/venia-styleguide/src/index.css
  packages/venia-styleguide/src/index.js
  packages/venia-styleguide/src/pages/typography/Typography.js
  packages/venia-styleguide/src/pages/typography/Typography.md
  packages/venia-styleguide/src/pages/typography/sections/FontSizes/FontSize.md
  packages/venia-styleguide/src/pages/typography/sections/FontSizes/index.md
  packages/venia-styleguide/src/pages/typography/sections/Formatting/Emphasis.md
  packages/venia-styleguide/src/pages/typography/sections/Formatting/Strong.md
  packages/venia-styleguide/src/pages/typography/sections/Formatting/index.md
  packages/venia-styleguide/src/pages/typography/sections/Hierarchy/Body.md
  packages/venia-styleguide/src/pages/typography/sections/Hierarchy/Detail.md
  packages/venia-styleguide/src/pages/typography/sections/Hierarchy/Heading.md
  packages/venia-styleguide/src/pages/typography/sections/Hierarchy/index.md
  packages/venia-styleguide/src/pages/typography/sections/Typefaces/Muli.md
  packages/venia-styleguide/src/pages/typography/sections/Typefaces/index.md
  packages/venia-styleguide/src/styles/index.js
  packages/venia-styleguide/src/styles/reset.css
  packages/venia-styleguide/src/styles/tokens.css
  packages/venia-styleguide/src/styles/typography.css
  packages/venia-styleguide/src/util/mapTitlesToFragments.js
  packages/venia-styleguide/src/util/sampleText.js
  packages/venia-styleguide/webpack.config.js
  yarn.lock
Labels: Progress: review, pkg:venia-styleguide, version: Minor
