Repository magento/pwa-studio, pull requests merged in 2019-03, with the labels that each got.

#921 Adds unit tests to app reducer
  packages/venia-concept/src/components/Header/container.js
  packages/venia-concept/src/components/Header/header.js
  packages/venia-concept/src/reducers/__tests__/app.spec.js
  packages/venia-concept/src/reducers/app.js
Labels: test

#928 Adds unit tests to cart reducer
  packages/venia-concept/src/components/MiniCart/cartOptions.js
  packages/venia-concept/src/components/MiniCart/miniCart.js
  packages/venia-concept/src/reducers/__tests__/cart.spec.js
  packages/venia-concept/src/reducers/cart.js
Labels: test

#931 Adds unit tests to catalog reducer
  packages/venia-concept/src/reducers/__tests__/catalog.spec.js
  packages/venia-concept/src/reducers/catalog.js
Labels: test

#832 Fix: Pdp scroll behaviour from link
  packages/venia-concept/src/RootComponents/Product/Product.js
Labels: bug, pkg:venia-concept

#891 Purchase History unit tests and refactors
  packages/venia-concept/src/actions/purchaseHistory/__tests__/actions.spec.js
  packages/venia-concept/src/actions/purchaseHistory/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/purchaseHistory/__tests__/mockData.spec.js
  packages/venia-concept/src/actions/purchaseHistory/actions.js
  packages/venia-concept/src/actions/purchaseHistory/asyncActions.js
  packages/venia-concept/src/actions/purchaseHistory/mockData.js
  packages/venia-concept/src/components/PurchaseHistoryPage/Filter/__tests__/__snapshots__/filter.spec.js.snap
  packages/venia-concept/src/components/PurchaseHistoryPage/Filter/__tests__/filter.spec.js
  packages/venia-concept/src/components/PurchaseHistoryPage/PurchaseHistory/__tests__/purchaseHistory.spec.js
  packages/venia-concept/src/components/PurchaseHistoryPage/PurchaseHistory/purchaseHistory.js
  packages/venia-concept/src/components/PurchaseHistoryPage/PurchaseHistory/purchaseHistoryContainer.js
  packages/venia-concept/src/reducers/__tests__/purchaseHistory.spec.js
  packages/venia-concept/src/reducers/purchaseHistory.js
  packages/venia-concept/src/selectors/__tests__/purchaseHistory.spec.js
  packages/venia-concept/src/selectors/purchaseHistory.js
Labels: test

#926 tests/SearchBar and other
  packages/venia-concept/src/components/SearchBar/__tests__/__snapshots__/autocomplete.spec.js.snap
  packages/venia-concept/src/components/SearchBar/__tests__/__snapshots__/searchBar.spec.js.snap
  packages/venia-concept/src/components/SearchBar/__tests__/__snapshots__/suggestedCategories.spec.js.snap
  packages/venia-concept/src/components/SearchBar/__tests__/__snapshots__/suggestedProduct.spec.js.snap
  packages/venia-concept/src/components/SearchBar/__tests__/__snapshots__/suggestedProducts.spec.js.snap
  packages/venia-concept/src/components/SearchBar/__tests__/autocomplete.spec.js
  packages/venia-concept/src/components/SearchBar/__tests__/searchBar.spec.js
  packages/venia-concept/src/components/SearchBar/__tests__/suggestedCategories.spec.js
  packages/venia-concept/src/components/SearchBar/__tests__/suggestedProduct.spec.js
  packages/venia-concept/src/components/SearchBar/__tests__/suggestedProducts.spec.js
  packages/venia-concept/src/components/SearchBar/autocomplete.js
  packages/venia-concept/src/components/SearchBar/suggestedProduct.js
Labels: test

#554 [Documentation] Venia component specs
  pwa-devdocs/src/_data/venia-pwa-concept.yml
  pwa-devdocs/src/venia-pwa-concept/design/buttons/images/buttons-large.png
  pwa-devdocs/src/venia-pwa-concept/design/buttons/images/buttons-medium.png
  pwa-devdocs/src/venia-pwa-concept/design/buttons/images/buttons-small.png
  pwa-devdocs/src/venia-pwa-concept/design/buttons/images/shopping-cart.png
  pwa-devdocs/src/venia-pwa-concept/design/buttons/index.md
  pwa-devdocs/src/venia-pwa-concept/design/colors/images/color-007378.png
  pwa-devdocs/src/venia-pwa-concept/design/colors/images/color-212121.png
  pwa-devdocs/src/venia-pwa-concept/design/colors/images/color-707070.png
  pwa-devdocs/src/venia-pwa-concept/design/colors/images/color-9E9E9E.png
  pwa-devdocs/src/venia-pwa-concept/design/colors/images/color-C0123F.png
  pwa-devdocs/src/venia-pwa-concept/design/colors/images/color-D1D1D1.png
  pwa-devdocs/src/venia-pwa-concept/design/colors/images/color-D4F3EE.png
  pwa-devdocs/src/venia-pwa-concept/design/colors/images/color-F6F6F6.png
  pwa-devdocs/src/venia-pwa-concept/design/colors/images/color-FFE2EA.png
  pwa-devdocs/src/venia-pwa-concept/design/colors/index.md
  pwa-devdocs/src/venia-pwa-concept/design/form-fields/images/active-error.png
  pwa-devdocs/src/venia-pwa-concept/design/form-fields/images/active-success.png
  pwa-devdocs/src/venia-pwa-concept/design/form-fields/images/active.png
  pwa-devdocs/src/venia-pwa-concept/design/form-fields/images/static-error.png
  pwa-devdocs/src/venia-pwa-concept/design/form-fields/images/static-success.png
  pwa-devdocs/src/venia-pwa-concept/design/form-fields/images/static.png
  pwa-devdocs/src/venia-pwa-concept/design/form-fields/images/visited.png
  pwa-devdocs/src/venia-pwa-concept/design/form-fields/index.md
  pwa-devdocs/src/venia-pwa-concept/design/global-style/index.md
  pwa-devdocs/src/venia-pwa-concept/design/typography/images/typography.png
  pwa-devdocs/src/venia-pwa-concept/design/typography/index.md
Labels: pkg:pwa-devdocs

#905 [Documentation] Auto generated doc content
  packages/peregrine/src/List/list.js
  packages/peregrine/src/Price/Price.js
  pwa-devdocs/.gitignore
  pwa-devdocs/package-lock.json
  pwa-devdocs/package.json
  pwa-devdocs/scripts/create-reference-docs/config/index.js
  pwa-devdocs/scripts/create-reference-docs/config/peregrine/index.js
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
  pwa-devdocs/scripts/create-reference-docs/index.js
  pwa-devdocs/scripts/create-reference-docs/templates/index.js
  pwa-devdocs/scripts/create-reference-docs/templates/renderReferenceTable.js
  pwa-devdocs/scripts/develop.js
  pwa-devdocs/src/_data/peregrine.yml
  pwa-devdocs/src/peregrine/reference/list/index.md
  pwa-devdocs/src/peregrine/reference/price/index.md
Labels: documentation, enhancement, hold, pkg:peregrine, pkg:pwa-devdocs

#945 GitHub Documentation Updates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#941 chore: remove duplicate padding property
  packages/venia-concept/src/components/MiniCart/cartOptions.css
Labels: hold

#1015 release notes 2.1.0
  CHANGELOG.md
Labels: documentation, hold

#1023 [Documentation] Add versioning strategy topic
  pwa-devdocs/src/_config.yml
  pwa-devdocs/src/_data/technologies.yml
  pwa-devdocs/src/index.html
  pwa-devdocs/src/peregrine/routing/index.md
  pwa-devdocs/src/technologies/contribute/index.md
  pwa-devdocs/src/technologies/upward/index.md
  pwa-devdocs/src/technologies/upward/reference-implementation/index.md
  pwa-devdocs/src/technologies/versioning/index.md
  pwa-devdocs/src/venia-pwa-concept/features/braintree/index.md
  pwa-devdocs/src/venia-pwa-concept/features/checkout/index.md
  pwa-devdocs/src/venia-pwa-concept/features/modular-components/index.md
  pwa-devdocs/src/venia-pwa-concept/project-structure/index.md
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: documentation, pkg:pwa-devdocs

#1032 Update setup docs
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: documentation, pkg:pwa-devdocs

#859 Docker compose
  .dockerignore
  .gitignore
  Dockerfile
  docker-compose.yml
  docker/.env.docker
  docker/README.md
  docker/makeHostAndCert.js
  docker/package.json
  docker/run-docker
  docker/yarn.lock
  lerna.json
  now.json
  packages/pwa-buildpack/package.json
  packages/pwa-buildpack/src/WebpackTools/PWADevServer.js
  pwa-devdocs/_drafts/docker-setup.md
Labels: enhancement, pkg:pwa-buildpack, pkg:pwa-devdocs, pkg:venia-concept

#1020 [docs] : Update Pergerine docs related to Items component
  pwa-devdocs/src/_includes/peregrine/reference/list-selection-models.md
  pwa-devdocs/src/peregrine/reference/items/index.md
Labels: documentation

#1045 bug: Add / to graphql validation endpoint
  packages/venia-concept/.graphqlconfig
Labels: bug, pkg:venia-concept, version: Patch

#1000 documentation: Corrected media path variables
  packages/venia-concept/.env.dist
Labels: bug, documentation

#1022 Hide menu from navigation if disabled from Magento admin
  packages/venia-concept/src/components/Navigation/__tests__/categoryTree.spec.js
  packages/venia-concept/src/components/Navigation/categoryTree.js
  packages/venia-concept/src/queries/getNavigationMenu.graphql
Labels: bug

#1048 Updates PR Template to include Version label
  .github/PULL_REQUEST_TEMPLATE.md
Labels: version: Patch

#1059 [Documentation] Add explanation to Magento compatibility table
  pwa-devdocs/src/technologies/magento-compatibility/index.md
Labels: documentation, pkg:pwa-devdocs, version: Patch
