Repository magento/pwa-studio, pull requests merged in 2019-07, with the labels that each got.

#1417 Embed codesandbox examples
  pwa-devdocs/scripts/create-reference-docs/config/index.js
  pwa-devdocs/scripts/create-reference-docs/index.js
  pwa-devdocs/src/peregrine/reference/hooks/useQueryResult/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useSearchParam/index.md
Labels: docs, documentation, pkg:pwa-devdocs, version: Minor

#1427 Update Venia setup steps
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: version: Minor

#1424 Added PublishConfig key to graphql-cli-validate-magento-pwa-queries package
  packages/graphql-cli-validate-magento-pwa-queries/package.json
Labels: pkg:graphql-cli-validate-magento-pwa-queries, version: Patch

#1416 [dev]: Update feather to 2.0.x
  packages/venia-concept/package.json
  packages/venia-concept/src/RootComponents/Search/search.js
  packages/venia-concept/src/components/App/app.js
  packages/venia-concept/src/components/Checkbox/checkbox.js
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/form.spec.js.snap
  packages/venia-concept/src/components/Checkout/checkoutButton.js
  packages/venia-concept/src/components/Checkout/section.js
  packages/venia-concept/src/components/FilterModal/FilterList/filterDefault.js
  packages/venia-concept/src/components/FilterModal/FilterSearch/filterSearch.js
  packages/venia-concept/src/components/FilterModal/FiltersCurrent/filtersCurrent.js
  packages/venia-concept/src/components/FilterModal/filterBlock.js
  packages/venia-concept/src/components/FilterModal/filterModal.js
  packages/venia-concept/src/components/Header/cartTrigger.js
  packages/venia-concept/src/components/Header/header.js
  packages/venia-concept/src/components/MiniCart/header.js
  packages/venia-concept/src/components/MiniCart/kebab.js
  packages/venia-concept/src/components/MiniCart/section.js
  packages/venia-concept/src/components/MyAccountMenuPage/Header/header.js
  packages/venia-concept/src/components/MyAccountMenuPage/MyAccountMenuTrigger/myAccountMenuTrigger.js
  packages/venia-concept/src/components/MyAccountMenuPage/UserInformation/userInformation.js
  packages/venia-concept/src/components/Navigation/navHeader.js
  packages/venia-concept/src/components/OnlineIndicator/onlineIndicator.js
  packages/venia-concept/src/components/Pagination/navButton.js
  packages/venia-concept/src/components/ProductImageCarousel/carousel.js
  packages/venia-concept/src/components/ProductOptions/swatch.js
  packages/venia-concept/src/components/PurchaseDetailsPage/OrderItem/orderItem.js
  packages/venia-concept/src/components/PurchaseHistoryPage/Filter/filter.js
  packages/venia-concept/src/components/PurchaseHistoryPage/PurchaseHistoryItem/purchaseHistoryItem.js
  packages/venia-concept/src/components/SearchBar/searchField.js
  packages/venia-concept/src/components/Select/select.js
  packages/venia-concept/src/components/ToastContainer/__stories__/toasts.js
  packages/venia-concept/src/components/ToastContainer/toast.js
  yarn.lock
Labels: pkg:venia-concept, version: Patch

#1419 [bug]: Lazy load braintree dropin
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/braintreeDropin.spec.js.snap
  packages/venia-concept/src/components/Checkout/braintreeDropin.js
Labels: bug, pkg:venia-concept, version: Patch

#1444 Fix AWS `develop` branch build deployment
  docker/.env.docker.prod
Labels: version: Patch

#1430 Refactor create-account route to use appShell to get provided requisite properties
  packages/venia-concept/src/util/makeUrl.js
  packages/venia-concept/upward.yml
Labels: needs-ux, pkg:venia-concept, version: Patch

#1450 Use Google Tag manager for analytics
  pwa-devdocs/src/_config.yml
  pwa-devdocs/src/_includes/layout/header-scripts.html
Labels: pkg:pwa-devdocs, version: Patch

#1435 [docs] Revise configuration management draft
  pwa-devdocs/_drafts/configuration-management/buildpack-cli/create-custom-origin/index.md
  pwa-devdocs/_drafts/configuration-management/buildpack-cli/create-env-file/index.md
  pwa-devdocs/_drafts/configuration-management/buildpack-cli/index.md
  pwa-devdocs/_drafts/configuration-management/buildpack-cli/load-env/index.md
  pwa-devdocs/_drafts/configuration-management/index.md
  pwa-devdocs/src/_data/pwa-buildpack.yml
Labels: version: Minor

#1437 Update devdocs dependencies
  pwa-devdocs/package-lock.json
  pwa-devdocs/package.json
Labels: docs, pkg:pwa-devdocs, version: Minor

#1442 [doc] Revise useEventListener doc blocks
  packages/peregrine/lib/hooks/useEventListener.js
  pwa-devdocs/scripts/create-reference-docs/config/peregrine/index.js
Labels: pkg:peregrine, version: Minor

#1439 [doc] Update modular components docs
  pwa-devdocs/src/venia-pwa-concept/features/modular-components/index.md
Labels: docs, documentation, version: Minor

#1268 Peregrine: Refactoring image carousel component for peregrine
  packages/peregrine/lib/hooks/useCarousel.js
  packages/peregrine/lib/index.js
  packages/venia-concept/src/components/Image/__stories__/image.css
  packages/venia-concept/src/components/Image/__stories__/image.js
  packages/venia-concept/src/components/Image/image.css
  packages/venia-concept/src/components/Image/image.js
  packages/venia-concept/src/components/Image/index.js
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/__snapshots__/thumbnailList.spec.js.snap
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/carousel.spec.js
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/thumbnailList.spec.js
  packages/venia-concept/src/components/ProductImageCarousel/carousel.css
  packages/venia-concept/src/components/ProductImageCarousel/carousel.js
  packages/venia-concept/src/components/ProductImageCarousel/thumbnail.js
  packages/venia-concept/src/components/ProductImageCarousel/thumbnailList.css
  packages/venia-concept/src/components/ProductImageCarousel/thumbnailList.js
Labels: pkg:peregrine, pkg:venia-concept, version: Minor

#1280 [docs]: Add federated search to docs
  pwa-devdocs/.gitignore
  pwa-devdocs/Gemfile
  pwa-devdocs/Gemfile.lock
  pwa-devdocs/src/_includes/layout/header-scripts.html
Labels: documentation, version: Patch

#1286 [TASK] [issue-1154] Added firstname, lastname, email, telephone field…
  packages/venia-concept/src/actions/checkout/asyncActions.js
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/addressForm.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/form.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/paymentsForm.spec.js.snap
  packages/venia-concept/src/components/Checkout/addressForm.js
  packages/venia-concept/src/components/Checkout/paymentsForm.css
  packages/venia-concept/src/components/Checkout/paymentsForm.js
  packages/venia-concept/src/components/Checkout/paymentsFormItems.js
Labels: pkg:venia-concept, version: Patch

#1458 [doc] Update Venia Setup steps
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: docs, pkg:pwa-devdocs, version: Minor

#1457 [doc] update useWindowSize docs
  packages/peregrine/lib/hooks/useWindowSize.js
  pwa-devdocs/scripts/create-reference-docs/config/peregrine/index.js
Labels: docs, documentation, pkg:peregrine, pkg:pwa-devdocs, version: Minor

#1381 bug: fix pagination double fetch
  packages/peregrine/lib/hooks/usePagination.js
  packages/peregrine/lib/hooks/useQuery.js
  packages/peregrine/lib/hooks/useSearchParam.js
  packages/venia-concept/src/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-concept/src/RootComponents/Category/category.js
  packages/venia-concept/src/components/Gallery/items.js
  packages/venia-concept/src/components/Pagination/__tests__/__snapshots__/pagination.spec.js.snap
  packages/venia-concept/src/components/Pagination/__tests__/pagination.spec.js
  packages/venia-concept/src/components/Pagination/navButton.css
  packages/venia-concept/src/components/Pagination/pagination.css
  packages/venia-concept/src/components/Pagination/pagination.js
  packages/venia-concept/src/components/Pagination/tile.css
  packages/venia-concept/src/components/Pagination/tile.js
Labels: pkg:peregrine, pkg:venia-concept, version: Major

#1449 Improve scroll locking
  packages/peregrine/lib/hooks/useScrollLock.js
  packages/peregrine/lib/index.js
  packages/venia-concept/src/components/Checkbox/checkbox.css
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/cart.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/paymentsForm.spec.js.snap
  packages/venia-concept/src/components/Checkout/addressForm.css
  packages/venia-concept/src/components/Checkout/cart.js
  packages/venia-concept/src/components/Checkout/flow.css
  packages/venia-concept/src/components/Checkout/form.css
  packages/venia-concept/src/components/Checkout/paymentsForm.css
  packages/venia-concept/src/components/Checkout/paymentsFormItems.js
  packages/venia-concept/src/components/Checkout/shippingForm.css
  packages/venia-concept/src/components/Main/main.css
  packages/venia-concept/src/components/Main/main.js
  packages/venia-concept/src/components/Mask/mask.css
  packages/venia-concept/src/components/MiniCart/cartOptions.css
  packages/venia-concept/src/components/MiniCart/footer.css
  packages/venia-concept/src/components/MiniCart/miniCart.css
  packages/venia-concept/src/components/MiniCart/totalsSummary.css
  packages/venia-concept/src/index.css
Labels: pkg:peregrine, pkg:venia-concept, version: Minor

#1466 Updates webpack-bundle-analyzer dependency
  packages/venia-concept/package.json
  yarn.lock
Labels: pkg:venia-concept, version: Patch

#1464 Updates js-yaml dependency to 3.13.1
  packages/upward-js/package.json
  packages/upward-spec/package.json
  yarn.lock
Labels: pkg:upward-js, pkg:upward-spec, version: Patch

#1462 [doc] Update usage of UI Component
  pwa-devdocs/_drafts/project-setup/install-dependencies/index.md
  pwa-devdocs/src/_data/top-nav.yml
  pwa-devdocs/src/index.html
  pwa-devdocs/src/peregrine/testing/storybook/index.md
  pwa-devdocs/src/technologies/overview/index.md
  pwa-devdocs/src/technologies/tools-libraries/index.md
Labels: docs, documentation, pkg:pwa-devdocs, version: Patch

#1467 Fix ApolloContext
  packages/peregrine/lib/hooks/__tests__/useApolloContext.spec.js
  packages/peregrine/lib/hooks/useApolloContext.js
  packages/peregrine/package.json
  packages/venia-concept/src/components/SearchBar/__tests__/autocomplete.spec.js
  packages/venia-concept/src/drivers/adapter.js
  yarn.lock
Labels: expedite, pkg:peregrine, pkg:venia-concept, version: Patch

#1461 [doc] usePagination hook docs
  packages/peregrine/lib/hooks/usePagination.js
  pwa-devdocs/_drafts/usePagination/index.md
  pwa-devdocs/scripts/create-reference-docs/config/peregrine/index.js
Labels: docs, documentation, pkg:peregrine, pkg:pwa-devdocs, version: Minor

#1338 [feature]: refactor edit steps out of redux and into local checkout state
  packages/venia-concept/src/actions/checkout/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/checkout/asyncActions.js
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/editableForm.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/form.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/overview.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/paymentsForm.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/container.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/editableForm.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/form.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/overview.spec.js
  packages/venia-concept/src/components/Checkout/braintreeDropin.js
  packages/venia-concept/src/components/Checkout/container.js
  packages/venia-concept/src/components/Checkout/editableForm.js
  packages/venia-concept/src/components/Checkout/flow.js
  packages/venia-concept/src/components/Checkout/form.js
  packages/venia-concept/src/components/Checkout/overview.js
  packages/venia-concept/src/components/Checkout/paymentsFormItems.js
  packages/venia-concept/src/reducers/checkout.js
Labels: pkg:venia-concept, version: Patch

#1471 [ux]: Slide filter from side and restrict width
  packages/venia-concept/src/components/FilterModal/filterModal.css
Labels: pkg:venia-concept, version: Patch

#1482 Remove storybook from peregrine and update references
  docker-compose.yml
  packages/peregrine/.npmignore
  packages/peregrine/.storybook/addons.js
  packages/peregrine/.storybook/config.js
  packages/peregrine/lib/ContainerChild/__stories__/containerChild.js
  packages/peregrine/lib/List/__stories__/item.js
  packages/peregrine/lib/List/__stories__/items.js
  packages/peregrine/lib/List/__stories__/list.js
  packages/peregrine/lib/Price/__stories__/price.js
  packages/peregrine/package.json
  pwa-devdocs/_drafts/storybook/index.md
  pwa-devdocs/src/_data/peregrine.yml
Labels: pkg:peregrine, version: Major

#1478 bug: fix pdp image jutter
  packages/venia-concept/src/actions/cart/asyncActions.js
  packages/venia-concept/src/components/Main/main.css
  packages/venia-concept/src/components/MiniCart/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-concept/src/components/MiniCart/__tests__/product.spec.js
  packages/venia-concept/src/components/MiniCart/product.js
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-concept/src/components/ProductImageCarousel/carousel.css
  packages/venia-concept/src/components/ProductImageCarousel/carousel.js
  packages/venia-concept/src/components/ProductImageCarousel/thumbnail.js
  packages/venia-concept/src/index.css
Labels: pkg:venia-concept, version: Patch

#1493 Add migration banner
  pwa-devdocs/src/_includes/layout/pre-release-banner.html
  pwa-devdocs/src/_scss/src/_message-banner.scss
Labels: docs, documentation, pkg:pwa-devdocs, version: Major

#1480 [dev]: use less restrictive version
  package.json
  packages/babel-preset-peregrine/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
Labels: pkg:babel-preset-peregrine, pkg:peregrine, pkg:pwa-buildpack, pkg:upward-js, pkg:upward-spec, pkg:venia-concept, version: Patch
