Repository magento/pwa-studio, pull requests merged in 2019-06, with the labels that each got.

#1261 Release notes 3.0
  CHANGELOG.md
Labels: docs, documentation

#1218 [feature]: Toasts
  packages/peregrine/src/Toasts/__tests__/useToastContext.spec.js
  packages/peregrine/src/Toasts/__tests__/useToasts.spec.js
  packages/peregrine/src/Toasts/index.js
  packages/peregrine/src/Toasts/useToastContext.js
  packages/peregrine/src/Toasts/useToasts.js
  packages/peregrine/src/index.js
  packages/venia-concept/__mocks__/@magento/peregrine.js
  packages/venia-concept/src/components/App/__stories__/ErrorNotifications.js
  packages/venia-concept/src/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-concept/src/components/App/__tests__/app.spec.js
  packages/venia-concept/src/components/App/__tests__/errorNotifications.spec.js
  packages/venia-concept/src/components/App/app.js
  packages/venia-concept/src/components/App/container.js
  packages/venia-concept/src/components/App/errorNotifications.css
  packages/venia-concept/src/components/App/errorNotifications.js
  packages/venia-concept/src/components/Header/header.js
  packages/venia-concept/src/components/Logo/logo.js
  packages/venia-concept/src/components/Main/main.js
  packages/venia-concept/src/components/MyAccountMenuPage/Header/__tests__/header.spec.js
  packages/venia-concept/src/components/Notifications/__stories__/Notifications.js
  packages/venia-concept/src/components/Notifications/__tests__/notifications.spec.js
  packages/venia-concept/src/components/Notifications/index.js
  packages/venia-concept/src/components/Notifications/notification.css
  packages/venia-concept/src/components/Notifications/notification.js
  packages/venia-concept/src/components/Notifications/notificationStack.css
  packages/venia-concept/src/components/Notifications/notificationStack.js
  packages/venia-concept/src/components/OnlineIndicator/onlineIndicator.css
  packages/venia-concept/src/components/OnlineIndicator/onlineIndicator.js
  packages/venia-concept/src/components/ToastContainer/__stories__/toasts.js
  packages/venia-concept/src/components/ToastContainer/index.js
  packages/venia-concept/src/components/ToastContainer/toast.css
  packages/venia-concept/src/components/ToastContainer/toast.js
  packages/venia-concept/src/components/ToastContainer/toastContainer.css
  packages/venia-concept/src/components/ToastContainer/toastContainer.js
  packages/venia-concept/src/index.js
Labels: pkg:peregrine, pkg:venia-concept, version: Minor

#1257 [bug]: Load JS resources from root
  packages/venia-concept/webpack.config.js
Labels: bug

#1269 [dev]: Update PR template for danger checks (and update danger)
  .github/PULL_REQUEST_TEMPLATE.md
  package.json
  yarn.lock
Labels: version: Patch

#1292 Tutorial page improvements
  pwa-devdocs/src/index.html
  pwa-devdocs/src/tutorials/index.md
Labels: docs, documentation, pkg:pwa-devdocs, version: Minor

#1267 Generate optimized Image URLs using configuration from GraphQL
  packages/venia-concept/.env.dist
  packages/venia-concept/src/util/__tests__/makeUrl.spec.js
  packages/venia-concept/src/util/makeUrl.js
  packages/venia-concept/templates/open-document.mst
  packages/venia-concept/validate-environment.js
  packages/venia-concept/venia-upward.yml
Labels: version: Patch

#1307 dev: ignore dangerfile since it is maintained in separate repo
  .prettierignore
Labels: tooling

#1313 Add --insecure flag to GraphQL schema validation
  packages/venia-concept/package.json
Labels: pkg:venia-concept, version: Patch

#1335 [Documentation] Update compatibility file
  magento-compatibility.js
Labels: documentation

#1353 Removes errant debugger statement in tests
  packages/venia-concept/src/components/ProductFullDetail/__tests__/ProductFullDetail.spec.js
Labels: pkg:venia-concept, version: Patch

#1355 DONT MERGE - Test PR
  CHANGELOG.md
Labels: version: Patch

#1363 [Bug] 1209 - Fixed an issue with undefined search queries
  packages/venia-concept/src/components/SearchBar/searchBar.js
Labels: pkg:venia-concept, version: Patch

#1264 [bug]: fix the issue of continue shopping button background color and hover color
  packages/venia-concept/src/components/MiniCart/emptyMiniCart.css
Labels: bug, hold, needs-ux, pkg:venia-concept, version: Patch

#1364 1330: Add spacing between image and title on PLP
  packages/venia-concept/src/components/Gallery/item.css
Labels: pkg:venia-concept, version: Patch

#1352 Update axios dependency
  pwa-devdocs/package-lock.json
  pwa-devdocs/package.json
Labels: pkg:pwa-devdocs, version: Minor

#1372 Removed repetitive section from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: hold, tooling, version: Patch

#1316 Wrapped Peregrine Context Provider Component
  packages/peregrine/src/PeregrineContextProvider/__tests__/__snapshots__/peregrineContextProvider.spec.js.snap
  packages/peregrine/src/PeregrineContextProvider/__tests__/peregrineContextProvider.spec.js
  packages/peregrine/src/PeregrineContextProvider/index.js
  packages/peregrine/src/PeregrineContextProvider/peregrineContextProvider.js
  packages/peregrine/src/index.js
  packages/venia-concept/src/components/App/contextProvider.js
  packages/venia-concept/src/components/App/index.js
  packages/venia-concept/src/index.js
Labels: pkg:peregrine, pkg:venia-concept, version: Minor

#1351 Header: Replace Suspense Fallback for SearchBar
  packages/venia-concept/src/components/Header/header.css
  packages/venia-concept/src/components/Header/header.js
  packages/venia-concept/src/index.css
Labels: pkg:venia-concept, version: Patch

#1358 [dev]: Add eslint plugin for react hooks
  package.json
  packages/peregrine/src/Toasts/useToasts.js
  packages/peregrine/src/hooks/useDropdown.js
  packages/peregrine/src/hooks/useEventListener.js
  packages/peregrine/src/hooks/useQuery.js
  packages/venia-concept/src/RootComponents/Category/category.js
  packages/venia-concept/src/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-concept/src/components/App/app.js
  packages/venia-concept/src/components/Checkout/Receipt/receipt.js
  packages/venia-concept/src/components/MiniCart/editItem.js
  packages/venia-concept/src/components/SearchBar/searchBar.js
  packages/venia-concept/src/components/ToastContainer/__stories__/toasts.js
  yarn.lock
Labels: pkg:peregrine, pkg:venia-concept, tooling, version: Patch

#1378 bug: Fix peregrine watcher and watch:all
  packages/peregrine/package.json
Labels: pkg:peregrine, tooling, version: Patch

#1304 Issue/1303 file casing inconsistent
  packages/peregrine/src/ContainerChild/__docs__/containerChild.md
  packages/peregrine/src/ContainerChild/__stories__/containerChild.js
  packages/peregrine/src/ContainerChild/__tests__/containerChild.test.js
  packages/peregrine/src/ContainerChild/containerChild.js
  packages/peregrine/src/ContainerChild/index.js
  packages/peregrine/src/Page/__tests__/page.spec.js
  packages/peregrine/src/Page/index.js
  packages/peregrine/src/Page/page.js
  packages/peregrine/src/Price/__docs__/price.md
  packages/peregrine/src/Price/__stories__/price.js
  packages/peregrine/src/Price/__tests__/price.spec.js
  packages/peregrine/src/Price/index.js
  packages/peregrine/src/Price/price.js
  packages/peregrine/src/Router/__mocks__/magentoRouteHandler.js
  packages/peregrine/src/Router/__tests__/magentoRouteHandler.test.js
  packages/peregrine/src/Router/__tests__/router.test.js
  packages/peregrine/src/Router/index.js
  packages/peregrine/src/Router/magentoRouteHandler.js
  packages/peregrine/src/Router/router.js
  packages/venia-concept/src/RootComponents/CMS/cms.css
  packages/venia-concept/src/RootComponents/CMS/cms.js
  packages/venia-concept/src/RootComponents/CMS/index.js
  packages/venia-concept/src/RootComponents/Product/index.js
  packages/venia-concept/src/RootComponents/Product/product.js
  packages/venia-concept/src/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-concept/src/components/ProductFullDetail/container.js
  packages/venia-concept/src/components/ProductFullDetail/index.js
  packages/venia-concept/src/components/ProductFullDetail/productFullDetail.js
  packages/venia-concept/src/components/PurchaseDetailsPage/OrderItemsList/__tests__/orderItemsList.spec.js
  packages/venia-concept/src/components/PurchaseDetailsPage/OrderItemsList/index.js
  packages/venia-concept/src/components/PurchaseDetailsPage/OrderItemsList/orderItemsList.js
  pwa-devdocs/src/peregrine/routing/index.md
Labels: pkg:peregrine, pkg:venia-concept, version: Minor

#1360 [doc] add product diagrams
  pwa-devdocs/src/technologies/overview/images/pwa-studio-developer-overview.png
  pwa-devdocs/src/technologies/overview/index.md
  pwa-devdocs/src/technologies/tools-libraries/images/pwa-tools-technology-overview.png
  pwa-devdocs/src/technologies/tools-libraries/index.md
Labels: docs, documentation, pkg:pwa-devdocs, version: Minor

#1391 Fix warning export loadingIndicator not found when run build
  packages/venia-concept/src/components/MiniCart/cartOptions.js
Labels: pkg:venia-concept, version: Patch

#1388 fix: Webpack fails on missing modules
  packages/venia-concept/src/components/SearchBar/__stories__/searchBar.js
  packages/venia-concept/webpack.config.js
Labels: pkg:venia-concept, version: Patch

#1252 bug: Unwanted content displayed in search suggestion box when there are no results for search
  packages/venia-concept/src/components/SearchBar/__tests__/suggestions.spec.js
  packages/venia-concept/src/components/SearchBar/suggestions.js
Labels: bug, pkg:venia-concept, version: Patch

#1321 Peregrine REST API Hook
  packages/peregrine/src/RestApi/Magento2/M2ApiRequest.js
  packages/peregrine/src/RestApi/Magento2/M2ApiResponseError.js
  packages/peregrine/src/RestApi/Magento2/__tests__/M2ApiResponseError.spec.js
  packages/peregrine/src/hooks/__tests__/useRestApi.spec.js
  packages/peregrine/src/hooks/__tests__/useRestResponse.spec.js
  packages/peregrine/src/hooks/useRestApi.js
  packages/peregrine/src/hooks/useRestResponse.js
  packages/peregrine/src/index.js
Labels: pkg:peregrine, pkg:venia-concept, version: Minor

#1376 [doc] Rewrite Peregrine Overview page
  pwa-devdocs/src/peregrine/index.md
Labels: docs, documentation, pkg:pwa-devdocs, version: Patch

#1392 Merge master to develop
  CHANGELOG.md
  magento-compatibility.js
  package.json
  packages/peregrine/package.json
  packages/peregrine/src/hooks/useApolloContext.js
  packages/peregrine/src/hooks/useDropdown.js
  packages/peregrine/src/hooks/useQuery.js
  packages/peregrine/src/hooks/useQueryResult.js
  packages/peregrine/src/hooks/useSearchParam.js
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
  packages/venia-concept/package.json
  packages/venia-concept/src/components/SearchBar/__tests__/__snapshots__/suggestedProduct.spec.js.snap
  packages/venia-concept/src/components/SearchBar/suggestedProduct.css
  packages/venia-concept/src/components/SearchBar/suggestedProduct.js
  pwa-devdocs/_drafts/useEventListener/index.md
  pwa-devdocs/_drafts/useWindowSize/index.md
  pwa-devdocs/package-lock.json
  pwa-devdocs/package.json
  pwa-devdocs/scripts/create-reference-docs/config/index.js
  pwa-devdocs/scripts/create-reference-docs/config/peregrine/index.js
  pwa-devdocs/scripts/create-reference-docs/createClassDocs.js
  pwa-devdocs/scripts/create-reference-docs/createFunctionDocs.js
  pwa-devdocs/scripts/create-reference-docs/index.js
  pwa-devdocs/scripts/create-reference-docs/templates/index.js
  pwa-devdocs/scripts/create-reference-docs/templates/renderClassDocs.js
  pwa-devdocs/scripts/create-reference-docs/templates/renderReferenceTable.js
  pwa-devdocs/src/_data/peregrine.yml
  pwa-devdocs/src/peregrine/reference/hooks/useApolloContext/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useDropdown/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useQuery/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useQuery/useDropdown/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useQueryResult/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useSearchParam/index.md
Labels: pkg:peregrine, pkg:pwa-buildpack, pkg:upward-js, pkg:upward-spec, pkg:venia-concept, version: Major

#1309 [dev]: Refactor Checkout
  packages/venia-concept/src/actions/checkout/asyncActions.js
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/addressForm.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/cart.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/checkoutButton.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/form.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/paymentsForm.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/resetButton.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/shippingform.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/submitButton.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/addressForm.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/braintreeDropin.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/cart.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/checkoutButton.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/container.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/flow.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/form.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/paymentsForm.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/resetButton.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/shippingform.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/submitButton.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/wrapper.spec.js
  packages/venia-concept/src/components/Checkout/addressForm.js
  packages/venia-concept/src/components/Checkout/braintreeDropin.js
  packages/venia-concept/src/components/Checkout/cart.js
  packages/venia-concept/src/components/Checkout/checkoutButton.js
  packages/venia-concept/src/components/Checkout/container.js
  packages/venia-concept/src/components/Checkout/editableForm.js
  packages/venia-concept/src/components/Checkout/flow.js
  packages/venia-concept/src/components/Checkout/form.js
  packages/venia-concept/src/components/Checkout/index.js
  packages/venia-concept/src/components/Checkout/label.js
  packages/venia-concept/src/components/Checkout/overview.js
  packages/venia-concept/src/components/Checkout/paymentMethodSummary.js
  packages/venia-concept/src/components/Checkout/paymentsForm.js
  packages/venia-concept/src/components/Checkout/paymentsFormItems.js
  packages/venia-concept/src/components/Checkout/resetButton.js
  packages/venia-concept/src/components/Checkout/section.js
  packages/venia-concept/src/components/Checkout/shippingAddressSummary.js
  packages/venia-concept/src/components/Checkout/shippingForm.js
  packages/venia-concept/src/components/Checkout/shippingMethodSummary.js
  packages/venia-concept/src/components/Checkout/submitButton.js
  packages/venia-concept/src/components/Checkout/wrapper.js
  packages/venia-concept/src/components/MiniCart/__tests__/__snapshots__/footer.spec.js.snap
  packages/venia-concept/src/components/MiniCart/footer.js
  packages/venia-concept/src/middleware/log.js
  packages/venia-concept/src/reducers/checkout.js
Labels: pkg:venia-concept, version: Major

#1395 bug Add name for search trigger button
  packages/venia-concept/src/components/Header/searchTrigger.js
Labels: pkg:venia-concept, version: Patch

#1374 dev: Adds a withLogger util function for useReducer in peregrine
  packages/peregrine/src/Toasts/useToastContext.js
  packages/peregrine/src/hooks/useQueryResult.js
  packages/peregrine/src/util/withLogger.js
  packages/venia-concept/src/components/ToastContainer/__stories__/toasts.js
Labels: pkg:peregrine, pkg:venia-concept, tooling, version: Patch

#1361 [feature]: Add height to `makeUrl` and enforce crop in middleware if provided
  packages/pwa-buildpack/src/Utilities/addImgOptMiddleware.js
  packages/venia-concept/src/components/Gallery/item.js
  packages/venia-concept/src/util/makeUrl.js
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Patch
