Repository magento/pwa-studio, pull requests merged in 2019-02, with the labels that each got.

#802 Update index.md
  pwa-devdocs/src/venia-pwa-concept/install-sample-data/index.md
Labels: documentation, pkg:pwa-devdocs

#799 Checkout Form Updates
  packages/venia-concept/src/actions/cart/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/cart/actions.js
  packages/venia-concept/src/actions/cart/asyncActions.js
  packages/venia-concept/src/actions/checkout/__tests__/actions.spec.js
  packages/venia-concept/src/actions/checkout/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/checkout/actions.js
  packages/venia-concept/src/actions/checkout/asyncActions.js
  packages/venia-concept/src/components/Checkout/addressForm.js
  packages/venia-concept/src/components/Checkout/flow.js
  packages/venia-concept/src/components/Checkout/form.css
  packages/venia-concept/src/components/Checkout/form.js
  packages/venia-concept/src/components/Checkout/paymentsForm.js
  packages/venia-concept/src/components/Checkout/section.css
  packages/venia-concept/src/components/Checkout/section.js
  packages/venia-concept/src/components/Checkout/shippingForm.js
  packages/venia-concept/src/components/Checkout/submitButton.js
  packages/venia-concept/src/components/Checkout/wrapper.js
  packages/venia-concept/src/reducers/cart.js
  packages/venia-concept/src/reducers/checkout.js
Labels: 2.0 release

#638 Forgot Password Redux Refactor
  packages/venia-concept/src/actions/user/__tests__/actions.spec.js
  packages/venia-concept/src/actions/user/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/user/actions.js
  packages/venia-concept/src/actions/user/asyncActions.js
  packages/venia-concept/src/components/ForgotPassword/ForgotPasswordForm/__tests__/forgotPasswordForm.spec.js
  packages/venia-concept/src/components/ForgotPassword/FormSubmissionSuccessful/__tests__/formSubmissionSuccessful.spec.js
  packages/venia-concept/src/components/ForgotPassword/forgotPassword.js
  packages/venia-concept/src/components/Input/input.js
  packages/venia-concept/src/components/Navigation/container.js
  packages/venia-concept/src/components/Navigation/navigation.js
  packages/venia-concept/src/reducers/user.js
Labels: 2.0 release

#752 Added index.js, classify.js, sw.js and store.js
  pwa-devdocs/src/venia-pwa-concept/project-structure/index.md
Labels: pkg:pwa-devdocs

#803 Make image resize compatible with upward-php
  packages/venia-concept/venia-upward.yml
Labels: 2.0 release, bug

#813 fix(cart): addItemToCart should wait until item added to open cart
  packages/venia-concept/src/actions/cart/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/cart/asyncActions.js
Labels: 2.0 release, bug

#800 [Documentation] Venia modular components feature
  pwa-devdocs/src/_data/venia-pwa-concept.yml
  pwa-devdocs/src/venia-pwa-concept/features/modular-components/index.md
Labels: 2.0 release, documentation, pkg:pwa-devdocs

#793 [Documentation] Create braintree integration topic
  pwa-devdocs/_drafts/checkout-with-credit-card.md
  pwa-devdocs/src/_data/venia-pwa-concept.yml
  pwa-devdocs/src/venia-pwa-concept/features/braintree/index.md
  pwa-devdocs/src/venia-pwa-concept/features/checkout/index.md
Labels: 2.0 release, documentation, pkg:pwa-devdocs

#838 Use react 16.8.0
  packages/peregrine/package.json
  packages/venia-concept/package.json
  yarn.lock
Labels: enhancement, pkg:peregrine, pkg:venia-concept

#806 Checkout Mask
  packages/venia-concept/src/components/Checkout/wrapper.js
  packages/venia-concept/src/components/MiniCart/mask.css
  packages/venia-concept/src/components/MiniCart/mask.js
  packages/venia-concept/src/components/MiniCart/miniCart.css
  packages/venia-concept/src/components/MiniCart/miniCart.js
  packages/venia-concept/src/selectors/cart.js
Labels: 2.0 release

#831 Update tests for Navigation
  packages/venia-concept/src/components/Navigation/__tests__/__snapshots__/categoryBranch.spec.js.snap
  packages/venia-concept/src/components/Navigation/__tests__/__snapshots__/categoryLeaf.spec.js.snap
  packages/venia-concept/src/components/Navigation/__tests__/categoryBranch.spec.js
  packages/venia-concept/src/components/Navigation/__tests__/categoryLeaf.spec.js
  packages/venia-concept/src/components/Navigation/__tests__/container.spec.js
  packages/venia-concept/src/components/Navigation/__tests__/navigation.spec.js
  packages/venia-concept/src/components/Navigation/categoryBranch.js
  packages/venia-concept/src/components/Navigation/categoryLeaf.js
  packages/venia-concept/src/components/Navigation/navigation.js
Labels: 2.0 release, pkg:venia-concept, test

#858 test: ProductImageCarousel
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/__snapshots__/thumbnailList.spec.js.snap
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/carousel.spec.js
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/thumbnail.spec.js
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/thumbnailList.spec.js
  packages/venia-concept/src/components/ProductImageCarousel/carousel.js
  packages/venia-concept/src/components/ProductImageCarousel/thumbnail.js
  packages/venia-concept/src/components/ProductImageCarousel/thumbnailList.js
Labels: pkg:venia-concept, test

#856 test: TextArea
  packages/venia-concept/src/components/TextArea/__tests__/__snapshots__/textArea.spec.js.snap
  packages/venia-concept/src/components/TextArea/__tests__/textArea.spec.js
  packages/venia-concept/src/components/TextArea/textArea.js
Labels: pkg:venia-concept, test

#876 docs: Remove newline from image filenames
  pwa-devdocs/src/venia-pwa-concept/images/purchase-details-button-group.png
  pwa-devdocs/src/venia-pwa-concept/images/purchase-details-order-item.png
  pwa-devdocs/src/venia-pwa-concept/images/purchase-details-order-items-list.png
Labels: bug, pkg:pwa-devdocs

#879 Unit Tests for getQueryParameterValue and getSearchQueryParams
  packages/venia-concept/src/RootComponents/Search/search.js
  packages/venia-concept/src/util/__tests__/getQueryParameterValue.spec.js
  packages/venia-concept/src/util/getSearchParams.js
Labels: bug, test

#866 Adds unit tests for simplePersistence.js
  packages/peregrine/src/util/__tests__/simplePersistence.spec.js
Labels: test

#884 fix(ci): Fix CI deps at root. Fixes #883.
  package.json
  yarn.lock
Labels: 2.0 release, bug, test, tooling

#874 test: ProductOptions
  packages/venia-concept/src/components/ProductOptions/__tests__/__snapshots__/option.spec.js.snap
  packages/venia-concept/src/components/ProductOptions/__tests__/__snapshots__/options.spec.js.snap
  packages/venia-concept/src/components/ProductOptions/__tests__/__snapshots__/swatch.spec.js.snap
  packages/venia-concept/src/components/ProductOptions/__tests__/__snapshots__/swatchList.spec.js.snap
  packages/venia-concept/src/components/ProductOptions/__tests__/__snapshots__/tile.spec.js.snap
  packages/venia-concept/src/components/ProductOptions/__tests__/__snapshots__/tileList.spec.js.snap
  packages/venia-concept/src/components/ProductOptions/__tests__/option.spec.js
  packages/venia-concept/src/components/ProductOptions/__tests__/options.spec.js
  packages/venia-concept/src/components/ProductOptions/__tests__/swatch.spec.js
  packages/venia-concept/src/components/ProductOptions/__tests__/swatchList.spec.js
  packages/venia-concept/src/components/ProductOptions/__tests__/tile.spec.js
  packages/venia-concept/src/components/ProductOptions/__tests__/tileList.spec.js
  packages/venia-concept/src/components/ProductOptions/options.js
  packages/venia-concept/src/components/ProductOptions/swatch.js
  packages/venia-concept/src/components/ProductOptions/tile.js
  packages/venia-concept/src/util/__mocks__/getRandomColor.js
  packages/venia-concept/src/util/getRandomColor.js
Labels: pkg:venia-concept, test

#868 Adds unit tests for UpwardServerError.js
  packages/upward-js/lib/UpwardServerError.js
  packages/upward-js/lib/__tests__/UpwardServerError.test.js
Labels: test

#875 Adds unit tests to Catalog actions
  packages/venia-concept/src/RootComponents/Category/category.js
  packages/venia-concept/src/actions/catalog/__tests__/actions.spec.js
  packages/venia-concept/src/actions/catalog/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/catalog/asyncActions.js
  packages/venia-concept/src/components/Pagination/pagination.js
Labels: test

#836 822 - fix issues with the cart sidebar width on mobile resolutions le…
  packages/venia-concept/src/components/MiniCart/miniCart.css
Labels: pkg:venia-concept

#732 Cart Item Options
  packages/venia-concept/src/actions/cart/__tests__/actions.spec.js
  packages/venia-concept/src/actions/cart/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/cart/actions.js
  packages/venia-concept/src/actions/cart/asyncActions.js
  packages/venia-concept/src/components/LoadingIndicator/indicator.css
  packages/venia-concept/src/components/MiniCart/__stories__/ProductList.js
  packages/venia-concept/src/components/MiniCart/__tests__/product.spec.js
  packages/venia-concept/src/components/MiniCart/__tests__/productOptions.spec.js
  packages/venia-concept/src/components/MiniCart/cartOptions.css
  packages/venia-concept/src/components/MiniCart/cartOptions.js
  packages/venia-concept/src/components/MiniCart/miniCart.css
  packages/venia-concept/src/components/MiniCart/miniCart.js
  packages/venia-concept/src/components/MiniCart/product.css
  packages/venia-concept/src/components/MiniCart/product.js
  packages/venia-concept/src/components/MiniCart/productList.js
  packages/venia-concept/src/components/ProductFullDetail/ProductFullDetail.js
  packages/venia-concept/src/queries/getProductDetailByName.graphql
  packages/venia-concept/src/reducers/cart.js
  packages/venia-concept/src/util/__tests__/appendOptionsToPayload.spec.js
  packages/venia-concept/src/util/appendOptionsToPayload.js
Labels: 2.0 release

#890 tests/Checkout
  packages/venia-concept/src/components/Checkout/Receipt/__tests__/__snapshots__/receipt.spec.js.snap
  packages/venia-concept/src/components/Checkout/Receipt/__tests__/receipt.spec.js
  packages/venia-concept/src/components/Checkout/Receipt/__tests__/receiptContainer.spec.js
  packages/venia-concept/src/components/Checkout/Receipt/receipt.js
  packages/venia-concept/src/components/Checkout/Receipt/receiptContainer.js
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/addressForm.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/braintreeDropin.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/cart.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/checkoutButton.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/form.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/label.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/paymentsForm.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/resetButton.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/section.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/shippingform.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/__snapshots__/submitButton.spec.js.snap
  packages/venia-concept/src/components/Checkout/__tests__/addressForm.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/braintreeDropin.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/cart.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/checkoutButton.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/flow.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/form.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/label.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/paymentsForm.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/resetButton.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/section.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/shippingform.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/submitButton.spec.js
  packages/venia-concept/src/components/Checkout/__tests__/wrapper.spec.js
  packages/venia-concept/src/components/Checkout/flow.js
  packages/venia-concept/src/components/Checkout/form.js
  packages/venia-concept/src/components/Checkout/paymentsForm.js
  packages/venia-concept/src/components/Checkout/shippingForm.js
  packages/venia-concept/src/components/Checkout/wrapper.js
Labels: test

#887 Adds unit tests for createAccountPage asyncActions
  packages/venia-concept/src/actions/createAccountPage/__tests__/asyncActions.spec.js
Labels: test

#892 fix: minicart contents no longer render until detail fetch is complete
  packages/venia-concept/src/actions/cart/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/cart/asyncActions.js
  packages/venia-concept/src/components/MiniCart/miniCart.js
  packages/venia-concept/src/reducers/__tests__/cart.spec.js
  packages/venia-concept/src/reducers/cart.js
Labels: bug, pkg:venia-concept

#864 Make dependencies which require native extensions optional
  package.json
  packages/pwa-buildpack/src/Utilities/addImgOptMiddleware.js
  packages/upward-js/lib/bestPractices.js
  packages/upward-js/package.json
  packages/venia-concept/package.json
  yarn.lock
Labels: pkg:upward-js, setup help

#871 fix(ux): Add backstop reducer and UI for unhandled errors. Fixes #735
  .gitignore
  packages/venia-concept/src/actions/app/actions.js
  packages/venia-concept/src/actions/cart/asyncActions.js
  packages/venia-concept/src/components/App/__stories__/ErrorNotifications.js
  packages/venia-concept/src/components/App/__tests__/app.spec.js
  packages/venia-concept/src/components/App/__tests__/errorNotifications.spec.js
  packages/venia-concept/src/components/App/app.js
  packages/venia-concept/src/components/App/container.js
  packages/venia-concept/src/components/App/errorNotifications.css
  packages/venia-concept/src/components/App/errorNotifications.js
  packages/venia-concept/src/components/Notifications/__stories__/Notifications.js
  packages/venia-concept/src/components/Notifications/__tests__/notifications.spec.js
  packages/venia-concept/src/components/Notifications/index.js
  packages/venia-concept/src/components/Notifications/notification.css
  packages/venia-concept/src/components/Notifications/notification.js
  packages/venia-concept/src/components/Notifications/notificationStack.css
  packages/venia-concept/src/components/Notifications/notificationStack.js
  packages/venia-concept/src/middleware/__tests__/errorHandler.spec.js
  packages/venia-concept/src/middleware/errorHandler.js
  packages/venia-concept/src/store.js
  packages/venia-concept/src/util/__tests__/createErrorRecord.spec.js
  packages/venia-concept/src/util/createErrorRecord.js
Labels: pkg:venia-concept
