Repository magento/pwa-studio, pull requests merged in 2019-01, with the labels that each got.

#725 [Documentation] Publish component specs draft topics
  pwa-devdocs/_drafts/venia-pwa-concept/component/order-confirmation/index.md
  pwa-devdocs/_drafts/venia-pwa-concept/component/purchase-history/index.md
  pwa-devdocs/src/_data/venia-pwa-concept.yml
  pwa-devdocs/src/_drafts/venia-pwa-concept/component/forgot-password/index.md
  pwa-devdocs/src/venia-pwa-concept/component/forgot-password/images/forgot-password-form.png
  pwa-devdocs/src/venia-pwa-concept/component/forgot-password/images/form-submission-successful.png
  pwa-devdocs/src/venia-pwa-concept/component/forgot-password/index.md
  pwa-devdocs/src/venia-pwa-concept/component/order-confirmation/images/continue-shopping-button.png
  pwa-devdocs/src/venia-pwa-concept/component/order-confirmation/images/create-an-account-button.png
  pwa-devdocs/src/venia-pwa-concept/component/order-confirmation/images/order-confirmation.png
  pwa-devdocs/src/venia-pwa-concept/component/order-confirmation/images/order-number.png
  pwa-devdocs/src/venia-pwa-concept/component/order-confirmation/index.md
  pwa-devdocs/src/venia-pwa-concept/component/purchase-history/images/purchase-history-filter.png
  pwa-devdocs/src/venia-pwa-concept/component/purchase-history/images/purchase-history-item.png
  pwa-devdocs/src/venia-pwa-concept/component/purchase-history/images/purchase-history.png
  pwa-devdocs/src/venia-pwa-concept/component/purchase-history/index.md
  pwa-devdocs/src/venia-pwa-concept/images/continue-shopping-button.png
  pwa-devdocs/src/venia-pwa-concept/images/create-an-account-button.png
  pwa-devdocs/src/venia-pwa-concept/images/forgot-password-form.png
  pwa-devdocs/src/venia-pwa-concept/images/form-submission-successful.png
  pwa-devdocs/src/venia-pwa-concept/images/order-confirmation.png
  pwa-devdocs/src/venia-pwa-concept/images/order-number.png
Labels: pkg:pwa-devdocs

#673 [Documentation] Checkout implementation doc
  pwa-devdocs/src/_data/venia-pwa-concept.yml
  pwa-devdocs/src/venia-pwa-concept/features/checkout/index.md
  pwa-devdocs/src/venia-pwa-concept/index.md
  pwa-devdocs/src/venia-pwa-concept/simple-rest-checkout/index.md
Labels: pkg:pwa-devdocs

#733 SPIKE: Evaluating Icon library
  package-lock.json
  package.json
  packages/venia-concept/.gitignore
  packages/venia-concept/package.json
  packages/venia-concept/src/RootComponents/Search/search.js
  packages/venia-concept/src/components/Checkbox/checkbox.js
  packages/venia-concept/src/components/Checkout/checkoutButton.js
  packages/venia-concept/src/components/Checkout/section.js
  packages/venia-concept/src/components/Header/header.js
  packages/venia-concept/src/components/Icon/icon.js
  packages/venia-concept/src/components/MiniCart/__tests__/section.spec.js
  packages/venia-concept/src/components/MiniCart/kebab.js
  packages/venia-concept/src/components/MiniCart/miniCart.js
  packages/venia-concept/src/components/MiniCart/product.js
  packages/venia-concept/src/components/MiniCart/section.js
  packages/venia-concept/src/components/Navigation/navHeader.js
  packages/venia-concept/src/components/Navigation/navigation.js
  packages/venia-concept/src/components/OnlineIndicator/onlineIndicator.js
  packages/venia-concept/src/components/Pagination/constants.js
  packages/venia-concept/src/components/Pagination/navButton.js
  packages/venia-concept/src/components/ProductOptions/swatch.js
  packages/venia-concept/src/components/PurchaseHistoryPage/Filter/filter.js
  packages/venia-concept/src/components/PurchaseHistoryPage/PurchaseHistoryItem/purchaseHistoryItem.js
  packages/venia-concept/src/components/SearchBar/__tests__/__snapshots__/searchBar.spec.js.snap
  packages/venia-concept/src/components/SearchBar/searchBar.js
  packages/venia-concept/src/components/Select/select.js
Labels: research

#581 Vitali/bundlesize
  .circleci/config.yml
  package-lock.json
  package.json
  packages/venia-concept/package-lock.json
Labels: pkg:venia-concept, tooling

#753 Yarn & Babel 7
  .babelrc
  .circleci/config.yml
  .gitignore
  .prettierignore
  README.md
  babel.config.js
  browserslist.js
  lerna.json
  now.json
  package-lock.json
  package.json
  packages/peregrine/.babelrc
  packages/peregrine/README.md
  packages/peregrine/package.json
  packages/pwa-buildpack/.babelrc
  packages/pwa-buildpack/.babelrc.js
  packages/pwa-buildpack/package.json
  packages/pwa-buildpack/src/ExtensionComponentWrap/.babelrc
  packages/pwa-buildpack/src/ExtensionComponentWrap/.babelrc.js
  packages/pwa-buildpack/src/Utilities/configureHost.js
  packages/pwa-buildpack/src/WebpackTools/plugins/UpwardPlugin.js
  packages/pwa-buildpack/src/magento-layout-loader/__tests__/__snapshots__/babel-plugin-magento-layout.spec.js.snap
  packages/pwa-buildpack/src/magento-layout-loader/__tests__/babel-plugin-magento-layout.spec.js
  packages/pwa-buildpack/src/magento-layout-loader/babel-plugin-magento-layout.js
  packages/pwa-buildpack/src/magento-layout-loader/index.js
  packages/upward-js/package.json
  packages/upward-spec/README.md
  packages/upward-spec/package.json
  packages/venia-concept/.babelrc
  packages/venia-concept/.gitignore
  packages/venia-concept/babel.config.js
  packages/venia-concept/bin/venia.js
  packages/venia-concept/package-lock.json
  packages/venia-concept/package.json
  packages/venia-concept/webpack.config.js
  pwa-devdocs/src/peregrine/testing/storybook/index.md
  pwa-devdocs/src/pwa-buildpack/troubleshooting/index.md
  pwa-devdocs/src/technologies/theme-vs-storefront/index.md
  pwa-devdocs/src/technologies/upward/reference-implementation/index.md
  pwa-devdocs/src/venia-pwa-concept/project-structure/index.md
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
  scripts/watch-all.js
  yarn.lock
Labels: 2.0 release

#744 Updates checkout flow with Braintree Web Drop In for Credit Card processing
  babel.config.js
  packages/venia-concept/.env.dist
  packages/venia-concept/__mocks__/braintree-web-drop-in.js
  packages/venia-concept/package.json
  packages/venia-concept/src/actions/checkout/__tests__/actions.spec.js
  packages/venia-concept/src/actions/checkout/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/checkout/actions.js
  packages/venia-concept/src/actions/checkout/asyncActions.js
  packages/venia-concept/src/components/Checkbox/checkbox.css
  packages/venia-concept/src/components/Checkbox/checkbox.js
  packages/venia-concept/src/components/Checkout/__stories__/braintreeDropin.js
  packages/venia-concept/src/components/Checkout/__tests__/braintreeDropin.spec.js
  packages/venia-concept/src/components/Checkout/addressForm.css
  packages/venia-concept/src/components/Checkout/addressForm.js
  packages/venia-concept/src/components/Checkout/braintreeDropin.css
  packages/venia-concept/src/components/Checkout/braintreeDropin.js
  packages/venia-concept/src/components/Checkout/flow.css
  packages/venia-concept/src/components/Checkout/flow.js
  packages/venia-concept/src/components/Checkout/form.css
  packages/venia-concept/src/components/Checkout/form.js
  packages/venia-concept/src/components/Checkout/paymentsForm.css
  packages/venia-concept/src/components/Checkout/paymentsForm.js
  packages/venia-concept/src/components/Checkout/shippingForm.css
  packages/venia-concept/src/components/Checkout/shippingForm.js
  packages/venia-concept/src/components/Checkout/wrapper.js
  packages/venia-concept/src/components/MiniCart/miniCart.css
  packages/venia-concept/src/reducers/checkout.js
  packages/venia-concept/src/util/__tests__/formValidators.spec.js
  packages/venia-concept/src/util/__tests__/isObjectEmpty.spec.js
  packages/venia-concept/src/util/formValidators.js
  packages/venia-concept/src/util/isObjectEmpty.js
  packages/venia-concept/webpack.config.js
  pwa-devdocs/_drafts/checkout-with-credit-card.md
  pwa-devdocs/src/venia-pwa-concept/features/checkout/index.md
  yarn.lock
Labels: 2.0 release, requires followup

#786 Make URL key pattern non-optional
  packages/venia-concept/venia-upward.yml
Labels: bug, pkg:venia-concept

#768 feat(dev): Onboard image resizing middleware
  packages/pwa-buildpack/package.json
  packages/pwa-buildpack/src/Utilities/addImgOptMiddleware.js
  packages/pwa-buildpack/src/Utilities/index.js
  packages/pwa-buildpack/src/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/src/WebpackTools/__tests__/PWADevServer.spec.js
  packages/pwa-buildpack/src/WebpackTools/plugins/UpwardPlugin.js
  packages/upward-js/lib/bestPractices.js
  packages/upward-js/lib/createUpwardServer.js
  packages/upward-js/lib/index.js
  packages/upward-js/package.json
  packages/venia-concept/.env.dist
  packages/venia-concept/package.json
  packages/venia-concept/server.js
  packages/venia-concept/src/components/CategoryList/categoryTile.js
  packages/venia-concept/src/components/Gallery/item.js
  packages/venia-concept/src/components/MiniCart/product.js
  packages/venia-concept/src/components/ProductImageCarousel/carousel.js
  packages/venia-concept/src/components/ProductImageCarousel/thumbnail.js
  packages/venia-concept/src/components/SearchBar/suggestedProduct.js
  packages/venia-concept/src/util/__tests__/makeMediaPath.spec.js
  packages/venia-concept/src/util/__tests__/makeMediaUrl.spec.js
  packages/venia-concept/src/util/makeMediaPath.js
  packages/venia-concept/src/util/makeMediaUrl.js
  packages/venia-concept/templates/scripts.mst
  packages/venia-concept/validate-environment.js
  packages/venia-concept/venia-upward.yml
  packages/venia-concept/webpack.config.js
  yarn.lock
Labels: 2.0 release

#788 feat(devex): Refactor Venia to be portable and importable
  .eslintignore
  .gitignore
  .prettierignore
  .yarnrc
  babel.config.js
  jest.config.js
  package.json
  packages/peregrine/package.json
  packages/peregrine/src/Router/MagentoRouteHandler.js
  packages/peregrine/src/Router/__tests__/MagentoRouteHandler.test.js
  packages/pwa-buildpack/.babelrc.js
  packages/pwa-buildpack/package.json
  packages/pwa-buildpack/src/WebpackTools/plugins/makeMagentoRootComponentsPlugin/index.js
  packages/venia-concept/.eslintignore
  packages/venia-concept/package.json
  packages/venia-concept/src/RootComponents/Category/category.js
  packages/venia-concept/src/RootComponents/Product/Product.js
  packages/venia-concept/src/RootComponents/Search/container.js
  packages/venia-concept/src/RootComponents/Search/search.js
  packages/venia-concept/src/components/App/container.js
  packages/venia-concept/src/components/CategoryList/categoryList.js
  packages/venia-concept/src/components/CategoryList/categoryTile.js
  packages/venia-concept/src/components/Checkout/Receipt/receiptContainer.js
  packages/venia-concept/src/components/Checkout/wrapper.js
  packages/venia-concept/src/components/CmsBlock/cmsBlock.js
  packages/venia-concept/src/components/CreateAccount/container.js
  packages/venia-concept/src/components/CreateAccountPage/createAccountPageContainer.js
  packages/venia-concept/src/components/Gallery/item.js
  packages/venia-concept/src/components/Header/cartTrigger.js
  packages/venia-concept/src/components/Header/container.js
  packages/venia-concept/src/components/Header/header.js
  packages/venia-concept/src/components/Header/navTrigger.js
  packages/venia-concept/src/components/MiniCart/miniCart.js
  packages/venia-concept/src/components/MiniCart/product.js
  packages/venia-concept/src/components/MiniCart/trigger.js
  packages/venia-concept/src/components/MyAccountMenuPage/MenuItem/index.js
  packages/venia-concept/src/components/MyAccountMenuPage/MyAccountMenuPage/myAccountMenuPageContainer.js
  packages/venia-concept/src/components/MyAccountMenuPage/MyAccountMenuTrigger/myAccountMenuTriggerContainer.js
  packages/venia-concept/src/components/Navigation/categoryLeaf.js
  packages/venia-concept/src/components/Navigation/categoryTree.js
  packages/venia-concept/src/components/Navigation/container.js
  packages/venia-concept/src/components/NotFound/notFound.js
  packages/venia-concept/src/components/ProductFullDetail/ProductFullDetail.js
  packages/venia-concept/src/components/ProductImageCarousel/carousel.js
  packages/venia-concept/src/components/ProductImageCarousel/thumbnail.js
  packages/venia-concept/src/components/PurchaseDetailsPage/PurchaseDetails/purchaseDetailsContainer.js
  packages/venia-concept/src/components/PurchaseHistoryPage/PurchaseHistory/purchaseHistoryContainer.js
  packages/venia-concept/src/components/PurchaseHistoryPage/PurchaseHistoryItem/purchaseHistoryItem.js
  packages/venia-concept/src/components/SearchBar/autocomplete.js
  packages/venia-concept/src/components/SearchBar/container.js
  packages/venia-concept/src/components/SearchBar/suggestedCategories.js
  packages/venia-concept/src/components/SearchBar/suggestedProduct.js
  packages/venia-concept/src/components/SignIn/container.js
  packages/venia-concept/src/drivers/adapter.js
  packages/venia-concept/src/drivers/index.js
  packages/venia-concept/src/index.js
  packages/venia-concept/src/util/__tests__/makeUrl.spec.js
  packages/venia-concept/src/util/makeUrl.js
  yarn.lock
Labels: 2.0 release

#790 Update docs site generator to fix npm audit problems
  pwa-devdocs/package-lock.json
  pwa-devdocs/package.json
  pwa-devdocs/scripts/develop.js
  pwa-devdocs/src/_includes/layout/header-styles.html
  pwa-devdocs/src/_js/index.js
  pwa-devdocs/src/_scss/src/_material-icons.scss
  pwa-devdocs/webpack.config.js
Labels: documentation, enhancement, pkg:pwa-devdocs, refactor
