Repository magento/pwa-studio, pull requests merged in 2019-10, with the labels that each got.

#1788 Forgot Password Talon
  packages/peregrine/lib/talons/ForgotPassword/useForgotPassword.js
  packages/venia-ui/lib/components/ForgotPassword/forgotPassword.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#1795 [docs] List components jsdocs
  packages/peregrine/lib/List/item.js
  packages/peregrine/lib/List/items.js
  packages/peregrine/lib/List/list.js
Labels: Partner: Zilker Technology, partners-contribution, pkg:peregrine, version: Minor

#1807 MiniCart Talons
  packages/peregrine/lib/talons/CategoryList/useCategoryList.js
  packages/peregrine/lib/talons/MiniCart/useBody.js
  packages/peregrine/lib/talons/MiniCart/useCartOptions.js
  packages/peregrine/lib/talons/MiniCart/useEditItem.js
  packages/peregrine/lib/talons/MiniCart/useEmptyMiniCart.js
  packages/peregrine/lib/talons/MiniCart/useHeader.js
  packages/peregrine/lib/talons/MiniCart/useKebab.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/peregrine/lib/talons/MiniCart/useProduct.js
  packages/peregrine/lib/util/__fixtures__/product.js
  packages/peregrine/lib/util/__tests__/appendOptionsToPayload.spec.js
  packages/peregrine/lib/util/__tests__/findMatchingProductVariant.spec.js
  packages/peregrine/lib/util/__tests__/getCurrencyCode.spec.js
  packages/peregrine/lib/util/__tests__/isProductConfigurable.spec.js
  packages/peregrine/lib/util/__tests__/productVariants.spec.js
  packages/peregrine/lib/util/appendOptionsToPayload.js
  packages/peregrine/lib/util/findMatchingProductVariant.js
  packages/peregrine/lib/util/getCurrencyCode.js
  packages/peregrine/lib/util/isProductConfigurable.js
  packages/peregrine/lib/util/productVariants.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/cartOptions.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/editItem.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/emptyMiniCartBody.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/header.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/miniCart.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/productList.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/editItem.spec.js
  packages/venia-ui/lib/components/MiniCart/__tests__/productList.spec.js
  packages/venia-ui/lib/components/MiniCart/body.js
  packages/venia-ui/lib/components/MiniCart/cartOptions.js
  packages/venia-ui/lib/components/MiniCart/editItem.js
  packages/venia-ui/lib/components/MiniCart/emptyMiniCartBody.js
  packages/venia-ui/lib/components/MiniCart/footer.js
  packages/venia-ui/lib/components/MiniCart/header.js
  packages/venia-ui/lib/components/MiniCart/kebab.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
  packages/venia-ui/lib/components/MiniCart/product.js
  packages/venia-ui/lib/components/MiniCart/productList.js
  packages/venia-ui/lib/components/MiniCart/productOptions.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductOptions/options.js
  packages/venia-ui/lib/util/isProductConfigurable.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#1803 Imagine image talons.
  packages/peregrine/lib/talons/Image/useImage.js
  packages/venia-ui/lib/components/Image/image.js
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#1778 CreateAccount and CreateAccountPage talon
  packages/peregrine/lib/store/reducers/user.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/CreateAccountPage/useCreateAccountPage.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/CreateAccountPage/__tests__/helpers.spec.js
  packages/venia-ui/lib/components/CreateAccountPage/createAccountPage.js
  packages/venia-ui/lib/components/CreateAccountPage/helpers.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#1812 Pagination talon
  packages/peregrine/lib/talons/Pagination/usePagination.js
  packages/venia-ui/lib/components/Pagination/pagination.js
Labels: pkg:peregrine, pkg:venia-ui

#1811 [PB][Docs] PB-35: PageBuilder integration overview
  .gitignore
  pwa-devdocs/src/_data/pagebuilder.yml
  pwa-devdocs/src/_data/top-nav.yml
  pwa-devdocs/src/_drafts/page-builder/_data/top-nav.yml
  pwa-devdocs/src/_drafts/page-builder/creating-pb-components/index.md
  pwa-devdocs/src/_drafts/page-builder/overview/index.md
  pwa-devdocs/src/pagebuilder/components/banner/index.md
  pwa-devdocs/src/pagebuilder/components/block/index.md
  pwa-devdocs/src/pagebuilder/components/buttons/index.md
  pwa-devdocs/src/pagebuilder/components/column/index.md
  pwa-devdocs/src/pagebuilder/components/divider/index.md
  pwa-devdocs/src/pagebuilder/components/heading/index.md
  pwa-devdocs/src/pagebuilder/components/html/index.md
  pwa-devdocs/src/pagebuilder/components/image/index.md
  pwa-devdocs/src/pagebuilder/components/map/index.md
  pwa-devdocs/src/pagebuilder/components/products/index.md
  pwa-devdocs/src/pagebuilder/components/row/index.md
  pwa-devdocs/src/pagebuilder/components/slider/index.md
  pwa-devdocs/src/pagebuilder/components/tabs/index.md
  pwa-devdocs/src/pagebuilder/components/text/index.md
  pwa-devdocs/src/pagebuilder/components/video/index.md
  pwa-devdocs/src/pagebuilder/index.md
  pwa-devdocs/src/pagebuilder/overview/PageBuilderIntegration.svg
  pwa-devdocs/src/pagebuilder/overview/PageBuilderIntegrationDetails.svg
  pwa-devdocs/src/pagebuilder/overview/index.md
Labels: version: Minor

#1806 Client side caching enabled.
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack.js
Labels: pkg:pwa-buildpack, version: Minor

#1817 ProductImagecarousel and Thumbnail talons
  packages/peregrine/lib/talons/ProductImageCarousel/useProductImageCarousel.js
  packages/peregrine/lib/talons/ProductImageCarousel/useThumbnail.js
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.js
  packages/venia-ui/lib/components/ProductImageCarousel/thumbnail.js
Labels: pkg:peregrine, pkg:venia-ui

#1818 [PB] Handle unsupported content types
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/__snapshots__/missing.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/factory.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/missing.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/config.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/factory.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/missing.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/missing.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/parseStorageHtml.js
Labels: pkg:venia-ui, version: Minor

#1790 [PB] Map Component
  docker/.env.docker.dev
  docker/.env.docker.prod
  packages/pwa-buildpack/envVarDefinitions.json
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/__mocks__/loadGoogleMapsApi.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/__tests__/__snapshots__/map.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/__tests__/map.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/index.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/map.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/map.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/config.js
  packages/venia-ui/package.json
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
  yarn.lock
Labels: pkg:pwa-buildpack, pkg:venia-ui, version: Minor

#1768 [PB] WYSIWYG Image optimization in PWA
  packages/pwa-buildpack/lib/Utilities/__tests__/addImgOptMiddleware.spec.js
  packages/pwa-buildpack/lib/Utilities/addImgOptMiddleware.js
  packages/pwa-buildpack/package.json
  packages/venia-ui/lib/components/CmsBlock/__tests__/__snapshots__/block.spec.js.snap
  packages/venia-ui/lib/components/CmsBlock/__tests__/block.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Block/__tests__/__snapshots__/block.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Block/__tests__/block.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Column/__tests__/__snapshots__/column.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Column/__tests__/column.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Column/column.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/__tests__/image.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/image.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/__tests__/__snapshots__/row.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/__tests__/row.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/row.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/__snapshots__/parseStorageHtml.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/config.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/factory.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/parseStorageHtml.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/config.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/factory.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/parseStorageHtml.js
  packages/venia-ui/lib/components/RichContent/__tests__/__snapshots__/richContent.spec.js.snap
  packages/venia-ui/lib/components/RichContent/__tests__/richContent.spec.js
  packages/venia-ui/lib/util/__tests__/makeUrl.spec.js
  packages/venia-ui/lib/util/makeUrl.js
  yarn.lock
Labels: pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Major

#1810 Navigation talon
  packages/peregrine/lib/talons/Navigation/useNavigation.js
  packages/peregrine/lib/talons/Navigation/useNavigationHeader.js
  packages/venia-ui/lib/components/Navigation/navHeader.js
  packages/venia-ui/lib/components/Navigation/navigation.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#1820 Rename mixin to talon
  packages/venia-ui/lib/components/CategoryList/categoryTile.js
  packages/venia-ui/lib/components/MyAccount/myAccount.js
Labels: Progress: approved

#1826 Fix talon import in pagination
  packages/venia-ui/lib/components/Image/image.js
  packages/venia-ui/lib/components/Pagination/pagination.js
Labels: Progress: review, pkg:venia-ui

#1496 [BUGFIX] Show a message when a category has no products assigned
  packages/peregrine/lib/store/actions/catalog/mockData.js
  packages/peregrine/lib/talons/CategoryList/useCategoryTile.js
  packages/peregrine/lib/talons/RootComponents/Category/useNoProductsFound.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack.js
  packages/venia-ui/lib/RootComponents/Category/NoProductsFound/index.js
  packages/venia-ui/lib/RootComponents/Category/NoProductsFound/noProductsFound.css
  packages/venia-ui/lib/RootComponents/Category/NoProductsFound/noProductsFound.js
  packages/venia-ui/lib/RootComponents/Category/NoProductsFound/noProductsFound.png
  packages/venia-ui/lib/RootComponents/Category/category.js
Labels: Progress: approved, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Minor

#1816 Refactors VeniaAdapter to improve initial page load
  packages/venia-ui/lib/drivers/adapter.js
Labels: pkg:venia-ui, version: Patch

#1838 Remove duplicate code
  packages/pwa-buildpack/lib/WebpackTools/__tests__/configureWebpack.spec.js
  packages/venia-ui/lib/components/Checkout/paymentsFormItems.js
Labels: pkg:pwa-buildpack, pkg:venia-ui, version: Patch

#1837 Remove unused parameters
  packages/pwa-buildpack/lib/Utilities/createProject.js
  packages/venia-concept/_buildpack/__tests__/create.spec.js
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Patch

#1839 Prevent that the animation-fill-mode is overwritten
  packages/venia-ui/lib/components/Header/header.css
Labels: pkg:venia-ui, version: Patch

#1845 Add field labels
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/addressForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/paymentsForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/addressForm.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/Field/field.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/__tests__/__snapshots__/forgotPasswordForm.spec.js.snap
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
Labels: Partner: Something Digital, partners-contribution, pkg:venia-ui, version: Minor

#1852 1732 react-feather bundle fix
  packages/venia-ui/package.json
  yarn.lock
Labels: Partner: Zilker Technology, Progress: approved, partners-contribution, pkg:venia-ui, version: Patch

#1680 [Doc] Publish 4.0.0 draft docs
  pwa-devdocs/_drafts/configure-webpack/index.md
  pwa-devdocs/src/_config.yml
  pwa-devdocs/src/_data/peregrine.yml
  pwa-devdocs/src/_data/pwa-buildpack.yml
  pwa-devdocs/src/_data/venia-pwa-concept.yml
  pwa-devdocs/src/peregrine/reference/hooks/useEventListener/index.md
  pwa-devdocs/src/peregrine/reference/hooks/usePagination/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useWindowSize/index.md
  pwa-devdocs/src/peregrine/reference/toasts/useToastContext/index.md
  pwa-devdocs/src/peregrine/reference/toasts/useToasts/index.md
  pwa-devdocs/src/pwa-buildpack/configuration-management/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/create-custom-origin/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/create-env-file/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/load-env/index.md
  pwa-devdocs/src/pwa-buildpack/reference/configure-webpack/index.md
  pwa-devdocs/src/pwa-buildpack/reference/environment-variables/index.md
  pwa-devdocs/src/venia-ui/reference/components/ToastContainer/index.md
Labels: docs, documentation, pkg:pwa-devdocs

#1851 Use the opposite operator
  packages/peregrine/lib/talons/Pagination/usePagination.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#1854 fix: `npx bundlesize` path resolution issue
  package.json
Labels: version: Patch

#1833 [PB] Banner component
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/__tests__/__snapshots__/banner.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/__tests__/banner.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/banner.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/banner.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/index.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/config.js
Labels: pkg:venia-ui, version: Minor

#1846 [PB] Style Map component address popup
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/map.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/map.js
Labels: pkg:venia-ui, version: Minor

#1799 Retry Apollo Operations
  packages/venia-concept/package.json
  packages/venia-concept/src/__tests__/index.spec.js
  packages/venia-concept/src/index.js
  yarn.lock
Labels: pkg:venia-concept, version: Minor

#1841 fix(1840): add validation and TTL to routing cache
  packages/peregrine/lib/Router/__tests__/resolveUnknownRoute.test.js
  packages/peregrine/lib/Router/resolveUnknownRoute.js
Labels: pkg:peregrine, version: Patch

#1707 Bugfix/heuristic fragment matcher
  jest.config.js
  packages/pwa-buildpack/lib/Utilities/__tests__/fetcherUtils.spec.js
  packages/pwa-buildpack/lib/Utilities/__tests__/graphQL.spec.js
  packages/pwa-buildpack/lib/Utilities/fetcherUtils.js
  packages/pwa-buildpack/lib/Utilities/graphQL.js
  packages/pwa-buildpack/lib/Utilities/index.js
  packages/pwa-buildpack/lib/queries/getSchemaTypes.graphql
  packages/pwa-buildpack/lib/queries/getStoreMediaUrl.graphql
  packages/pwa-buildpack/lib/queries/index.js
  packages/venia-concept/webpack.config.js
  packages/venia-ui/lib/drivers/adapter.js
Labels: Partner: Experius, Progress: approved, partners-contribution, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Patch

#1814 ProductFullDetail talon
  packages/peregrine/lib/List/useListState.js
  packages/peregrine/lib/hooks/useCarousel.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/ProductImageCarousel/useProductImageCarousel.js
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductOptions/options.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#1867 getNavigationMenu Query Efficiency
  packages/venia-ui/lib/queries/getNavigationMenu.graphql
Labels: pkg:venia-ui

#1869 Merge master to develop
  CHANGELOG.md
  package.json
  packages/babel-preset-peregrine/package.json
  packages/create-pwa/package.json
  packages/graphql-cli-validate-magento-pwa-queries/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: Progress: review, expedite, pkg:babel-preset-peregrine, pkg:create-pwa, pkg:graphql-cli-validate-magento-pwa-queries, pkg:peregrine, pkg:pwa-buildpack, pkg:upward-js, pkg:upward-spec, pkg:venia-concept, pkg:venia-ui

#1832 Service Worker and ServiceWorkerPlugin refactor.
  packages/pwa-buildpack/lib/Utilities/getClientConfig.js
  packages/pwa-buildpack/lib/Utilities/getServiceWorkerConfig.js
  packages/pwa-buildpack/lib/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/PWADevServer.spec.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/configureWebpack.spec.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/ServiceWorkerPlugin.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/ServiceWorkerPlugin.spec.js
  packages/venia-concept/src/ServiceWorker/Utilities/catalogCacheHandler.js
  packages/venia-concept/src/ServiceWorker/Utilities/imageCacheHandler.js
  packages/venia-concept/src/ServiceWorker/defaults.js
  packages/venia-concept/src/ServiceWorker/registerRoutes.js
  packages/venia-concept/src/ServiceWorker/setupWorkbox.js
  packages/venia-concept/src/ServiceWorker/sw.js
  packages/venia-concept/webpack.config.js
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Major

#1828 adds app talon
  packages/peregrine/lib/talons/App/useApp.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/app.spec.js
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/lib/components/App/container.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
Labels: pkg:peregrine, pkg:venia-ui

#1827 Upgrade Apollo View Layer (to hooks!)
  packages/peregrine/lib/hooks/__tests__/useApolloContext.spec.js
  packages/peregrine/lib/hooks/__tests__/useQuery.spec.js
  packages/peregrine/lib/hooks/__tests__/useQueryResult.spec.js
  packages/peregrine/lib/hooks/useApolloContext.js
  packages/peregrine/lib/hooks/useQuery.js
  packages/peregrine/lib/hooks/useQueryResult.js
  packages/peregrine/lib/index.js
  packages/peregrine/lib/talons/CategoryList/useCategoryList.js
  packages/peregrine/lib/talons/CategoryTree/__tests__/useCategoryTree.spec.js
  packages/peregrine/lib/talons/CategoryTree/useCategoryTree.js
  packages/peregrine/lib/talons/MiniCart/useEditItem.js
  packages/peregrine/lib/talons/README.md
  packages/peregrine/lib/talons/SearchBar/__tests__/useAutocomplete.spec.js
  packages/peregrine/lib/talons/SearchBar/useAutocomplete.js
  packages/peregrine/package.json
  packages/venia-concept/package.json
  packages/venia-concept/src/drivers.js
  packages/venia-concept/webpack.config.js
  packages/venia-ui/__mocks__/@magento/peregrine.js
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/RootComponents/Search/categoryFilters.js
  packages/venia-ui/lib/RootComponents/Search/search.js
  packages/venia-ui/lib/components/CmsBlock/cmsBlock.js
  packages/venia-ui/lib/components/Footer/__tests__/footer.spec.js
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/editItem.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/editItem.spec.js
  packages/venia-ui/lib/drivers/adapter.js
  packages/venia-ui/lib/drivers/index.js
  packages/venia-ui/package.json
  pwa-devdocs/scripts/create-reference-docs/config/peregrine/index.js
  pwa-devdocs/src/_data/peregrine.yml
  pwa-devdocs/src/peregrine/reference/hooks/useApolloContext/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useQuery/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useQuery/useDropdown/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useQueryResult/index.md
  pwa-devdocs/src/pwa-buildpack/reference/configure-webpack/index.md
  pwa-devdocs/src/technologies/basic-concepts/state-management/index.md
  pwa-devdocs/src/venia-pwa-concept/features/modular-components/index.md
  yarn.lock
Labels: pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Major

#1830 feat: Simplify image middleware with express-sharp update
  packages/pwa-buildpack/lib/Utilities/__tests__/addImgOptMiddleware.spec.js
  packages/pwa-buildpack/lib/Utilities/addImgOptMiddleware.js
  packages/pwa-buildpack/package.json
  packages/venia-ui/upward.yml
  yarn.lock
Labels: expedite, pkg:pwa-buildpack, pkg:venia-ui, version: Patch

#1879 [PB] Image bugs
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/__tests__/__snapshots__/image.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/__tests__/image.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/image.js
Labels: pkg:venia-ui, version: Minor

#1876 [docs] peregrine talons overview
  pwa-devdocs/_drafts/talons/index.md
Labels: Progress: approved, version: Minor

#1880 bug 1866 regex corrected
  packages/venia-ui/lib/util/__tests__/getUrlKey.spec.js
  packages/venia-ui/lib/util/getUrlKey.js
Labels: Partner: Zilker Technology, partners-contribution, pkg:venia-ui

#1860 Footer Talon
  packages/peregrine/lib/talons/Footer/useFooter.js
  packages/venia-ui/lib/components/Footer/footer.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#1870 [PB] Slider component
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/__tests__/__snapshots__/banner.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/__tests__/banner.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/banner.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/banner.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/row.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Slider/__tests__/__snapshots__/slider.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Slider/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Slider/__tests__/slider.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Slider/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Slider/index.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Slider/slider.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Slider/slider.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/config.js
  packages/venia-ui/package.json
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
  yarn.lock
Labels: pkg:venia-ui, version: Minor

#1848 [PB] Buttons component
  packages/venia-ui/lib/components/Button/button.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Block/__tests__/block.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ButtonItem/__tests__/__snapshots__/buttonItem.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ButtonItem/__tests__/buttonItem.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ButtonItem/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ButtonItem/buttonItem.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ButtonItem/buttonItem.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Buttons/__tests__/__snapshots__/buttons.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Buttons/__tests__/buttons.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Buttons/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Buttons/buttons.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Buttons/buttons.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/config.js
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#1887 Add missing break statement
  packages/pwa-buildpack/lib/Utilities/addImgOptMiddleware.js
Labels: pkg:pwa-buildpack

#1853 doc: add JSDocs for Venia UI Components
  packages/venia-ui/lib/components/Button/button.js
  packages/venia-ui/lib/components/ButtonGroup/buttonGroup.js
  packages/venia-ui/lib/components/Logo/logo.js
  packages/venia-ui/lib/components/Mask/mask.js
  packages/venia-ui/lib/components/Modal/modal.js
  packages/venia-ui/lib/components/Trigger/trigger.js
Labels: pkg:venia-ui

#1889 [docs] Fix tools and library graphic
  pwa-devdocs/src/technologies/tools-libraries/images/pwa-tools-technology-overview.png
Labels: docs, documentation, pkg:pwa-devdocs, version: Patch

#1882 [PB] Resolve bugs in Map component
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Map/map.css
Labels: pkg:venia-ui, version: Minor

#1859 Service Worker route handling refactor
  packages/venia-concept/src/ServiceWorker/registerRoutes.js
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Minor

#1886 [PB] Tabs & Tab item component
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/TabItem/__tests__/__snapshots__/tabItem.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/TabItem/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/TabItem/__tests__/tabItem.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/TabItem/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/TabItem/tabItem.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/TabItem/tabItem.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Tabs/__tests__/__snapshots__/tabs.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Tabs/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Tabs/__tests__/tabs.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Tabs/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Tabs/tabs.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Tabs/tabs.js
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
Labels: pkg:venia-ui, version: Minor

#1873 [PB] Products component
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/__tests__/__snapshots__/products.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/__tests__/products.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/products.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/products.js
  packages/venia-ui/lib/queries/getProductsBySku.graphql
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
Labels: pkg:venia-ui, version: Minor

#1819 Product Options Talons
  packages/peregrine/lib/talons/MiniCart/useCartOptions.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/ProductOptions/useOption.js
  packages/peregrine/lib/talons/ProductOptions/useOptions.js
  packages/peregrine/lib/talons/ProductOptions/useSwatch.js
  packages/peregrine/lib/talons/ProductOptions/useTile.js
  packages/venia-ui/lib/components/MiniCart/cartOptions.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/options.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatch.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatchList.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/tile.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/tileList.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/option.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/options.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/swatchList.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/tileList.spec.js
  packages/venia-ui/lib/components/ProductOptions/option.js
  packages/venia-ui/lib/components/ProductOptions/options.js
  packages/venia-ui/lib/components/ProductOptions/swatch.js
  packages/venia-ui/lib/components/ProductOptions/swatchList.js
  packages/venia-ui/lib/components/ProductOptions/tile.js
  packages/venia-ui/lib/components/ProductOptions/tileList.js
Labels: pkg:peregrine, pkg:venia-ui, version: Major

#1893 Removed duplicate words from sentences.
  CHANGELOG.md
  packages/upward-spec/README.md
  pwa-devdocs/_drafts/project-setup/create-configuration-files/index.md
  pwa-devdocs/_drafts/talons/index.md
Labels: pkg:pwa-buildpack, pkg:upward-spec

#1900 [PB] Resolve bugs in Row & Column component
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Block/__tests__/__snapshots__/block.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Block/__tests__/block.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Column/column.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/__tests__/__snapshots__/row.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/__tests__/row.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/row.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/row.js
Labels: pkg:venia-ui, version: Minor

#1910 #1909: fix invalid “veniaResource” reference in upward.js comments
  packages/venia-ui/upward.yml
Labels: pkg:venia-ui

#1923 Add instructions to circumvent self-signed ssl-certificate errors
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: Partner: integer_net GmbH, partners-contribution

#1874 Service Worker HTML Handling
  packages/venia-concept/src/ServiceWorker/Utilities/htmlHandler.js
  packages/venia-concept/src/ServiceWorker/Utilities/routeHandler.js
  packages/venia-concept/src/ServiceWorker/registerRoutes.js
Labels: performance, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Minor

#1881 commit hash at bundle banner
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/getClientConfig.js
Labels: Partner: Zilker Technology, partners-contribution, pkg:pwa-buildpack, version: Patch

#1926 [docs] Update cloud deploy docs
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs

#1916 #1915: remove redux.compose() where not needed
  packages/venia-ui/lib/components/Checkout/Receipt/receipt.js
  packages/venia-ui/lib/components/CreateAccountPage/createAccountPage.js
  packages/venia-ui/lib/components/FilterModal/FilterFooter/filterFooter.js
  packages/venia-ui/lib/components/FilterModal/FiltersCurrent/filtersCurrent.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/banner.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ButtonItem/buttonItem.js
Labels: pkg:venia-ui, version: Patch

#1912 #1911: fix Button is exported twice
  packages/venia-ui/lib/components/Button/button.js
Labels: pkg:venia-ui

#1898 [chore?]: Use createCustomer gql mutation instead of create-account REST endpoint
  packages/peregrine/lib/store/actions/user/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/store/reducers/user.js
  packages/peregrine/lib/talons/AuthModal/useAuthModal.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/CreateAccountPage/useCreateAccountPage.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/CreateAccount/asyncValidators.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/queries/createAccount.graphql
Labels: enhancement, pkg:peregrine, pkg:venia-ui, version: Major

#1914 #1913: standardize GQL files with 4-space indentation
  package.json
  packages/upward-spec/suite/scenarios/005-many-resolvers/articles-and-authors-schema.graphql
  packages/upward-spec/suite/scenarios/005-many-resolvers/getArticle.graphql
  packages/upward-spec/suite/scenarios/005-many-resolvers/getAuthor.graphql
  packages/venia-concept/package.json
  packages/venia-ui/lib/queries/createAccount.graphql
  packages/venia-ui/lib/queries/getCmsPage.graphql
  packages/venia-ui/lib/queries/getNavigationMenu.graphql
Labels: Progress: approved, pkg:upward-spec, pkg:venia-concept, pkg:venia-ui, version: Patch

#1929 Fix hook dependencies for app toast error handling
  packages/peregrine/lib/talons/App/useApp.js
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-ui/lib/components/App/app.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#1932 Update static to venia-static
  pwa-devdocs/src/venia-pwa-concept/project-structure/index.md
Labels: Community Insider: Elgentos, community-insider-contribution

#1941 [chore]: Fixing Prettier use
  package.json
  packages/venia-concept/package.json
  packages/venia-concept/prettier.config.js
  yarn.lock
Labels: pkg:venia-concept, tooling, version: Major

#1933 [doc] Refactor site content navigation
  pwa-devdocs/src/_config.yml
  pwa-devdocs/src/_data/buildpack-api.yml
  pwa-devdocs/src/_data/getting-started.yml
  pwa-devdocs/src/_data/peregrine-api.yml
  pwa-devdocs/src/_data/top-nav.yml
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/_data/venia-api.yml
  pwa-devdocs/src/_includes/layout/navigation.html
  pwa-devdocs/src/_includes/layout/sidebar-nav-root-item.html
  pwa-devdocs/src/_js/index.js
Labels: docs, documentation, pkg:pwa-devdocs, version: Patch

#1937 Replace withRouter with react router hooks
  packages/venia-concept/src/__tests__/index.spec.js
  packages/venia-concept/src/drivers.js
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/banner.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ButtonItem/__tests__/buttonItem.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ButtonItem/buttonItem.js
  packages/venia-ui/lib/drivers/index.js
Labels: Partner: Zilker Technology, partners-contribution, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Minor

#1905 HTML Caching and SW Communication API Implementation.
  packages/peregrine/lib/talons/App/useApp.js
  packages/pwa-buildpack/lib/Utilities/getServiceWorkerConfig.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/configureWebpack.spec.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack.js
  packages/venia-concept/src/ServiceWorker/Utilities/htmlHandler.js
  packages/venia-concept/src/ServiceWorker/Utilities/messageHandler.js
  packages/venia-concept/src/ServiceWorker/Utilities/routeHandler.js
  packages/venia-concept/src/ServiceWorker/registerRoutes.js
  packages/venia-concept/src/ServiceWorker/sw.js
  packages/venia-concept/src/index.js
  packages/venia-concept/src/registerSW.js
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/app.spec.js
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/lib/constants/swMessageTypes.js
  packages/venia-ui/lib/util/swUtils.js
Labels: pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Minor
