Repository magento/pwa-studio, pull requests merged in 2019-09, with the labels that each got.

#1589 Support Peregrine List initial selections
  packages/peregrine/lib/List/__tests__/__snapshots__/item.spec.js.snap
  packages/peregrine/lib/List/__tests__/__snapshots__/items.spec.js.snap
  packages/peregrine/lib/List/__tests__/__snapshots__/list.spec.js.snap
  packages/peregrine/lib/List/__tests__/item.spec.js
  packages/peregrine/lib/List/__tests__/items.spec.js
  packages/peregrine/lib/List/__tests__/list.spec.js
  packages/peregrine/lib/List/__tests__/useListState.js
  packages/peregrine/lib/List/item.js
  packages/peregrine/lib/List/items.js
  packages/peregrine/lib/List/list.js
  packages/peregrine/lib/List/useListState.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#1595 Integrated Webpack HTML Plugin.
  jest.config.js
  packages/pwa-buildpack/lib/WebpackTools/PWADevServer.js
  packages/venia-concept/package.json
  packages/venia-concept/scripts/fetch-mock.js
  packages/venia-concept/src/MediaBackendURLFetcherPlugin.js
  packages/venia-concept/src/__tests__/MediaBackendURLFetcherPlugin.spec.js
  packages/venia-concept/template.html
  packages/venia-concept/webpack.config.js
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/components/App/__tests__/app.spec.js
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/static/manifest.json
  packages/venia-ui/upward.yml
  yarn.lock
Labels: Progress: approved, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Major

#1608 Provide app state via context
  packages/venia-ui/lib/components/App/container.js
  packages/venia-ui/lib/components/App/contextProvider.js
  packages/venia-ui/lib/components/App/useErrorBoundary.js
  packages/venia-ui/lib/components/AuthBar/authBar.js
  packages/venia-ui/lib/components/AuthModal/authModal.js
  packages/venia-ui/lib/components/Navigation/__tests__/navigation.spec.js
  packages/venia-ui/lib/components/Navigation/index.js
  packages/venia-ui/lib/components/Navigation/navigation.js
  packages/venia-ui/lib/context/__tests__/app.spec.js
  packages/venia-ui/lib/context/__tests__/cart.spec.js
  packages/venia-ui/lib/context/__tests__/catalog.spec.js
  packages/venia-ui/lib/context/__tests__/checkout.spec.js
  packages/venia-ui/lib/context/__tests__/unhandledErrors.spec.js
  packages/venia-ui/lib/context/__tests__/user.spec.js
  packages/venia-ui/lib/context/app.js
  packages/venia-ui/lib/context/cart.js
  packages/venia-ui/lib/context/catalog.js
  packages/venia-ui/lib/context/checkout.js
  packages/venia-ui/lib/context/unhandledErrors.js
  packages/venia-ui/lib/context/user.js
Labels: pkg:venia-ui, version: Minor

#1629 GraphQL Yarn lock update.
  yarn.lock
Labels: pkg:venia-concept, version: Minor

#1538 [doc] architecture overview
  pwa-devdocs/src/_data/technologies.yml
  pwa-devdocs/src/technologies/storefront-architecture/buildtime/index.md
  pwa-devdocs/src/technologies/storefront-architecture/index.md
  pwa-devdocs/src/technologies/storefront-architecture/runtime/index.md
Labels: docs, documentation, pkg:pwa-devdocs

#1618 [bug] image isLoaded state was being set to false after it was set to true …
  packages/venia-ui/lib/components/Image/image.js
Labels: Progress: approved, bug, pkg:venia-ui, version: Patch

#1607 Peregrine implementation/extract view state
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/actions/cart/__tests__/asyncActions.spec.js
  packages/venia-ui/lib/actions/cart/asyncActions.js
  packages/venia-ui/lib/actions/checkout/__tests__/asyncActions.spec.js
  packages/venia-ui/lib/actions/checkout/asyncActions.js
  packages/venia-ui/lib/actions/createAccountPage/__tests__/asyncActions.spec.js
  packages/venia-ui/lib/actions/createAccountPage/asyncActions.js
  packages/venia-ui/lib/actions/createAccountPage/index.js
  packages/venia-ui/lib/actions/user/__tests__/actions.spec.js
  packages/venia-ui/lib/actions/user/__tests__/asyncActions.spec.js
  packages/venia-ui/lib/actions/user/actions.js
  packages/venia-ui/lib/actions/user/asyncActions.js
  packages/venia-ui/lib/components/Checkout/Receipt/__tests__/receipt.spec.js
  packages/venia-ui/lib/components/Checkout/Receipt/receipt.js
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/addressForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/addressForm.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/flow.spec.js
  packages/venia-ui/lib/components/Checkout/addressForm.css
  packages/venia-ui/lib/components/Checkout/addressForm.js
  packages/venia-ui/lib/components/Checkout/cart.js
  packages/venia-ui/lib/components/Checkout/editableForm.js
  packages/venia-ui/lib/components/Checkout/flow.js
  packages/venia-ui/lib/components/Checkout/overview.js
  packages/venia-ui/lib/components/Checkout/shippingForm.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/CreateAccount/container.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/CreateAccountPage/createAccountPage.js
  packages/venia-ui/lib/components/CreateAccountPage/createAccountPageContainer.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.js
  packages/venia-ui/lib/components/ForgotPassword/api.js
  packages/venia-ui/lib/components/ForgotPassword/container.js
  packages/venia-ui/lib/components/ForgotPassword/forgotPassword.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/body.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/miniCart.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/container.spec.js
  packages/venia-ui/lib/components/MiniCart/__tests__/miniCart.spec.js
  packages/venia-ui/lib/components/MiniCart/body.js
  packages/venia-ui/lib/components/MiniCart/container.js
  packages/venia-ui/lib/components/MiniCart/footer.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
  packages/venia-ui/lib/components/ProductFullDetail/container.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/PurchaseDetailsPage/PurchaseDetails/purchaseDetails.js
  packages/venia-ui/lib/components/PurchaseHistoryPage/PurchaseHistory/purchaseHistory.js
  packages/venia-ui/lib/components/SignIn/__tests__/signIn.spec.js
  packages/venia-ui/lib/components/SignIn/container.js
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/reducers/__tests__/cart.spec.js
  packages/venia-ui/lib/reducers/cart.js
  packages/venia-ui/lib/reducers/checkout.js
  packages/venia-ui/lib/reducers/user.js
  packages/venia-ui/lib/selectors/cart.js
Labels: Progress: review, pkg:venia-ui, version: Major

#1626 import catalogActions to use when clearing filters
  packages/venia-ui/lib/actions/app/asyncActions.js
Labels: bug, pkg:venia-ui, version: Patch

#1637 Zetlen/inline logo svg
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack.js
  packages/venia-concept/template.html
  packages/venia-ui/upward.yml
  packages/venia-ui/venia-static/favicon.ico
  packages/venia-ui/venia-static/icons/apple-touch-icon.png
  packages/venia-ui/venia-static/icons/venia_circle_144.png
  packages/venia-ui/venia-static/icons/venia_circle_192.png
  packages/venia-ui/venia-static/icons/venia_circle_512.png
  packages/venia-ui/venia-static/icons/venia_square_144.png
  packages/venia-ui/venia-static/icons/venia_square_192.png
  packages/venia-ui/venia-static/icons/venia_square_512.png
  packages/venia-ui/venia-static/icons/venia_square_57.png
  packages/venia-ui/venia-static/manifest.json
  packages/venia-ui/venia-static/robots.txt
  packages/venia-ui/venia-static/veniaClosed.png
Labels: Progress: approved, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Patch

#1584 Refactor <img /> tags to utilize srcset and sizes for optimized images.
  packages/venia-concept/src/sw.js
  packages/venia-ui/lib/components/Gallery/item.js
  packages/venia-ui/lib/components/Image/image.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/product.js
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.js
  packages/venia-ui/lib/components/ProductImageCarousel/thumbnail.js
  packages/venia-ui/lib/components/SearchBar/__tests__/__snapshots__/suggestedProduct.spec.js.snap
  packages/venia-ui/lib/components/SearchBar/__tests__/suggestedProduct.spec.js
  packages/venia-ui/lib/components/SearchBar/suggestedProduct.js
  packages/venia-ui/lib/shared/__tests__/images.spec.js
  packages/venia-ui/lib/shared/images.js
Labels: pkg:venia-concept, pkg:venia-ui, version: Minor

#1575 Removes Now.sh pipeline
  .nowignore
  now-build.sh
  now.json
  packages/venia-concept/package.json
  packages/venia-concept/server-lambda.js
Labels: pkg:venia-concept, version: Patch

#1593 4.0.0 changelog
  CHANGELOG.md
Labels: Progress: approved, documentation, version: Major

#1598 Zetlen/buildpack v4 test coverage
  jest.config.js
  packages/pwa-buildpack/lib/Utilities/__tests__/addImgOptMiddleware.spec.js
  packages/pwa-buildpack/lib/Utilities/configureHost.js
  packages/pwa-buildpack/lib/Utilities/createDotEnvFile.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/RootComponentsPlugin.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/UpwardIncludePlugin.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/RootComponentsPlugin.spec.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/UpwardIncludePlugin.spec.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/basic-project-1-page/robots.txt
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/basic-project-1-page/upward.yml
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/basic-project-3-pages/RootComponents/Page1/index.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/basic-project-3-pages/RootComponents/Page1/no-directives.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/basic-project-3-pages/RootComponents/Page1/not-a-rootcomponent.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/basic-project-3-pages/RootComponents/Page2/index.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/basic-project-3-pages/RootComponents/Page3/index.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/basic-project-3-pages/entry.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/basic-project-3-pages/nothing.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/basic-project-3-pages/upward.yml
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/missing-page-types/RootComponents/MissingPageType/index.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/missing-page-types/RootComponents/Page1/index.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/missing-page-types/entry.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/missing-page-types/upward.yml
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/missing-root-directive/RootComponents/Page1/index.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/no-root-components/entry.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/root-component-dep/RootComponents/Page1/index.js
  packages/pwa-buildpack/lib/util/__tests__/klaw-bound-fs.spec.js
  packages/pwa-buildpack/lib/util/klaw-bound-fs.js
  packages/pwa-buildpack/package.json
  yarn.lock
Labels: pkg:pwa-buildpack, version: Patch

#1337 Removes back arrow for first level in main menu.
  packages/venia-ui/lib/components/Navigation/__tests__/__snapshots__/navHeader.spec.js.snap
  packages/venia-ui/lib/components/Navigation/__tests__/__snapshots__/navigation.spec.js.snap
  packages/venia-ui/lib/components/Navigation/navHeader.js
  packages/venia-ui/lib/components/Navigation/navigation.css
  packages/venia-ui/lib/components/Navigation/navigation.js
Labels: Progress: approved, pkg:venia-concept, pkg:venia-ui, version: Patch

#1650 Fix version number for babel-preset-peregrine
  packages/babel-preset-peregrine/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
Labels: pkg:babel-preset-peregrine, pkg:venia-concept, pkg:venia-ui, version: Patch

#1644 fix UPWARD yml path
  pwa-devdocs/src/venia-pwa-concept/project-structure/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs

#1643 fix pwa-devdocs folder path
  pwa-devdocs/README.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs

#1636 Convert components to function components
  packages/peregrine/lib/hooks/useQuery.js
  packages/venia-ui/lib/RootComponents/CMS/cms.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/NotFound/notFound.js
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/components/Button/button.js
  packages/venia-ui/lib/components/ButtonGroup/button.js
  packages/venia-ui/lib/components/ButtonGroup/buttonGroup.js
  packages/venia-ui/lib/components/CreateAccountPage/createAccountPage.js
  packages/venia-ui/lib/components/ErrorView/errorView.js
  packages/venia-ui/lib/components/Field/field.js
  packages/venia-ui/lib/components/Field/fieldIcons.js
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.js
  packages/venia-ui/lib/components/Gallery/gallery.js
  packages/venia-ui/lib/components/Header/navTrigger.js
  packages/venia-ui/lib/components/Header/searchTrigger.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/cartOptions.spec.js.snap
  packages/venia-ui/lib/components/MyAccountMenuPage/Badge/badge.js
  packages/venia-ui/lib/components/MyAccountMenuPage/MyAccountMenuPage/myAccountMenuPage.js
  packages/venia-ui/lib/components/MyAccountMenuPage/UserInformation/userInformation.js
  packages/venia-ui/lib/components/NotFound/index.js
  packages/venia-ui/lib/components/NotFound/notFound.css
  packages/venia-ui/lib/components/NotFound/notFound.js
  packages/venia-ui/lib/components/ProductQuantity/quantity.js
  packages/venia-ui/lib/components/PurchaseHistoryPage/Filter/filter.js
  packages/venia-ui/lib/components/SearchBar/suggestedProduct.js
  packages/venia-ui/lib/components/Select/option.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui

#1558 run dev server on docker env
  Dockerfile.dev
  Dockerfile.prod
  docker-compose.yml
  docker/.env.docker.dev
  docker/run-docker
  packages/graphql-cli-validate-magento-pwa-queries/package.json
  packages/pwa-buildpack/lib/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/PWADevServer.spec.js
  packages/venia-concept/package.json
  scripts/monorepo-introduction.js
Labels: Progress: review, pkg:graphql-cli-validate-magento-pwa-queries, pkg:pwa-buildpack, pkg:venia-concept, version: Patch

#1674 Pins dependency for npm-run to fix security vulnerability in sync-exec
  README.md
  package.json
  yarn.lock
Labels: pkg:graphql-cli-validate-magento-pwa-queries, pkg:venia-concept, version: Patch

#1676 [Doc] Update 4.0.0 release notes
  CHANGELOG.md
Labels: accessibility, documentation

#1686 Peregrine implementation/receipt into checkout slice
  packages/peregrine/lib/store/actions/checkout/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/checkout/actions.js
  packages/peregrine/lib/store/actions/checkout/asyncActions.js
  packages/peregrine/lib/store/reducers/__tests__/checkoutReceipt.spec.js
  packages/peregrine/lib/store/reducers/checkout.js
  packages/peregrine/lib/store/reducers/checkoutReceipt.js
  packages/peregrine/lib/store/reducers/index.js
  packages/peregrine/lib/store/selectors/__tests__/checkout.spec.js
  packages/peregrine/lib/store/selectors/checkout.js
  packages/venia-ui/lib/components/Checkout/Receipt/__tests__/receipt.spec.js
  packages/venia-ui/lib/components/Checkout/Receipt/__tests__/receiptContainer.spec.js
  packages/venia-ui/lib/components/Checkout/Receipt/receipt.js
  packages/venia-ui/lib/components/Checkout/Receipt/receiptContainer.js
Labels: pkg:peregrine, pkg:venia-ui, version: Major

#1694 Merge directory state and actions into checkout
  packages/peregrine/lib/store/actions/checkout/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/checkout/actions.js
  packages/peregrine/lib/store/actions/checkout/asyncActions.js
  packages/peregrine/lib/store/actions/directory/__tests__/actions.spec.js
  packages/peregrine/lib/store/actions/directory/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/directory/actions.js
  packages/peregrine/lib/store/actions/directory/asyncActions.js
  packages/peregrine/lib/store/actions/directory/index.js
  packages/peregrine/lib/store/reducers/checkout.js
  packages/peregrine/lib/store/reducers/directory.js
  packages/peregrine/lib/store/reducers/index.js
  packages/venia-ui/lib/components/Checkout/__tests__/container.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/editableForm.spec.js
  packages/venia-ui/lib/components/Checkout/container.js
  packages/venia-ui/lib/components/Checkout/editableForm.js
  packages/venia-ui/lib/components/Checkout/flow.js
Labels: pkg:peregrine, pkg:venia-ui, version: Major

#1628 Replacing async webpack plugin.
  jest.config.js
  packages/pwa-buildpack/lib/Utilities/__tests__/fetcherUtils.spec.js
  packages/pwa-buildpack/lib/Utilities/fetcherUtils.js
  packages/pwa-buildpack/lib/Utilities/index.js
  packages/pwa-buildpack/scripts/fetch-mock.js
  packages/venia-concept/package.json
  packages/venia-concept/src/MediaBackendURLFetcherPlugin.js
  packages/venia-concept/src/__tests__/MediaBackendURLFetcherPlugin.spec.js
  packages/venia-concept/webpack.config.js
  yarn.lock
Labels: pkg:pwa-buildpack, pkg:venia-concept

#1690 Bugfix/transparent png #1547
  packages/pwa-buildpack/package.json
  yarn.lock
Labels: Partner: Experius, partners-contribution, pkg:pwa-buildpack, version: Patch

#1592 Edit Item uses Peregrine List initialSelection
  packages/venia-ui/lib/components/MiniCart/cartOptions.js
  packages/venia-ui/lib/components/MiniCart/editItem.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/option.spec.js
  packages/venia-ui/lib/components/ProductOptions/option.js
  packages/venia-ui/lib/components/ProductOptions/options.js
  packages/venia-ui/lib/components/ProductOptions/swatchList.js
  packages/venia-ui/lib/components/ProductOptions/tileList.js
  packages/venia-ui/lib/util/__fixtures__/product.js
  packages/venia-ui/lib/util/__tests__/productVariants.spec.js
  packages/venia-ui/lib/util/productVariants.js
Labels: pkg:peregrine, pkg:venia-ui, version: Minor

#1734 Fixed a bug where the post-install script would suggest to setup a cu…
  scripts/monorepo-introduction.js
Labels: version: Patch

#1735 removed sticky attribute from the pagination (magento#1723)
  packages/venia-ui/lib/RootComponents/Category/category.css
  packages/venia-ui/lib/components/Pagination/tile.css
Labels: Progress: approved, pkg:venia-ui

#1738 replaced rem height and width attribute for the pagination svgs (magento#1737)
  packages/venia-ui/lib/components/Pagination/navButton.js
Labels: Progress: approved, pkg:venia-ui

#1717 [Doc] Update README file
  README.md
Labels: accessibility, docs, version: Patch

#1512 Swatch Treatments
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/option.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/options.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatch.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatchList.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/tile.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/tileList.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/option.spec.js
  packages/venia-ui/lib/components/ProductOptions/option.css
  packages/venia-ui/lib/components/ProductOptions/option.js
  packages/venia-ui/lib/components/ProductOptions/swatch.js
  packages/venia-ui/lib/components/ProductOptions/tile.js
  packages/venia-ui/lib/components/ProductOptions/toolTip.css
  packages/venia-ui/lib/components/ProductOptions/toolTip.js
Labels: pkg:venia-ui, version: Minor

#1727 Create myAccount mixin
  packages/peregrine/lib/mixins/MyAccount/useMyAccount.js
  packages/venia-ui/lib/components/AuthModal/authModal.js
  packages/venia-ui/lib/components/MyAccount/myAccount.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#1745 Creates signIn mixin
  packages/peregrine/lib/mixins/SignIn/useSignIn.js
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: pkg:peregrine, pkg:venia-ui

#1757 Rename mixins to talons
  packages/peregrine/lib/talons/MyAccount/useMyAccount.js
  packages/peregrine/lib/talons/README.md
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/MyAccount/myAccount.js
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#1716 [PB] HTML component
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Html/__tests__/__snapshots__/html.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Html/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Html/__tests__/html.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Html/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Html/html.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Html/html.js
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
Labels: pkg:venia-ui, version: Minor

#1702 [PB] Block component
  packages/venia-ui/lib/components/CmsBlock/__tests__/__snapshots__/block.spec.js.snap
  packages/venia-ui/lib/components/CmsBlock/__tests__/block.spec.js
  packages/venia-ui/lib/components/CmsBlock/block.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Block/__tests__/__snapshots__/block.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Block/__tests__/block.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Block/block.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Block/configAggregator.js
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
Labels: pkg:venia-concept, pkg:venia-ui, version: Minor

#1726 [PB] Column component
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Column/__tests__/__snapshots__/column.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Column/__tests__/column.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Column/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Column/column.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Column/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ColumnGroup/__tests__/__snapshots__/columnGroup.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ColumnGroup/__tests__/columnGroup.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ColumnGroup/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ColumnGroup/columnGroup.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ColumnGroup/columnGroup.js
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
Labels: pkg:venia-ui, version: Minor

#1698 [PB] Video component
  package.json
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Video/__tests__/__snapshots__/video.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Video/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Video/__tests__/video.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Video/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Video/index.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Video/video.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Video/video.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/config.js
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
  yarn.lock
Labels: pkg:venia-concept, pkg:venia-ui, version: Minor

#1752 Create authModal talon
  packages/peregrine/lib/talons/AuthModal/useAuthModal.js
  packages/peregrine/lib/talons/MyAccount/useMyAccount.js
  packages/venia-ui/lib/components/AuthModal/authModal.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#1777 [PB] Master format parser for PWA Studio
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/__snapshots__/parseStorageHtml.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/__snapshots__/utils.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/config.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/detectPageBuilder.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/factory.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/parseStorageHtml.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/resolveLinkProps.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/utils.spec.js
  pwa-devdocs/src/_drafts/page-builder/how-to-add-your-content-type.md
  pwa-devdocs/src/_drafts/page-builder/master-format-parser.md
Labels: pkg:venia-ui, version: Minor

#1753 [PB] Row component
  jest.config.js
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Block/__tests__/__snapshots__/block.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/__tests__/__snapshots__/row.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/__tests__/row.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/row.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/row.js
  packages/venia-ui/lib/components/RichContent/__tests__/__snapshots__/richContent.spec.js.snap
  packages/venia-ui/package.json
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
  yarn.lock
Labels: pkg:venia-concept, pkg:venia-ui, version: Minor

#1770 [PB] Image Component
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/__tests__/__snapshots__/image.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/__tests__/image.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/image.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/image.js
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
Labels: pkg:venia-ui, version: Minor

#1500 V4P4: feat(buildpack): scaffolding creation
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  Dockerfile.dev
  Dockerfile.prod
  jest.config.js
  package.json
  packages/create-pwa/README.md
  packages/create-pwa/bin/create-pwa
  packages/create-pwa/lib/index.js
  packages/create-pwa/package.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/buildpack-template-package/_buildpack/create.js
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/buildpack-template-package/_gitignore_test
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/buildpack-template-package/ignoredir/ignoresubfile.txt
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/buildpack-template-package/ignoreexp/ignorematchedfile.txt
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/buildpack-template-package/ignorefile
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/buildpack-template-package/index.js
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/buildpack-template-package/package.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/buildpack-template-package/stylesheets/index.css
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/buildpack-template-package/stylesheets/other-stylesheets/other.css
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/package-with-bad-instruction/_buildpack/throw-on-execute.js
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/package-with-bad-instruction/index.js
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/package-with-bad-instruction/package.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/package-with-instruction/_buildpack/return-fse-readjsonsync.js
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/package-with-instruction/index.js
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/package-with-instruction/package.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/package-with-no-instructions/index.js
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/package-with-no-instructions/package.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/non-package-folder-with-instruction/_buildpack/return-fse-readjsonsync.js
  packages/pwa-buildpack/lib/Utilities/__tests__/createProject.spec.js
  packages/pwa-buildpack/lib/Utilities/__tests__/getBuildpackInstructions.spec.js
  packages/pwa-buildpack/lib/Utilities/createProject.js
  packages/pwa-buildpack/lib/Utilities/getBuildpackInstructions.js
  packages/pwa-buildpack/lib/Utilities/index.js
  packages/pwa-buildpack/lib/__tests__/cli-create-project.spec.js
  packages/pwa-buildpack/lib/cli/create-project.js
  packages/pwa-buildpack/package.json
  packages/pwa-buildpack/sampleBackends.json
  packages/venia-concept/_buildpack/__tests__/__snapshots__/create.spec.js.snap
  packages/venia-concept/_buildpack/__tests__/create.spec.js
  packages/venia-concept/_buildpack/create.js
  packages/venia-concept/package.json
  packages/venia-concept/webpack.config.js
  pwa-devdocs/_drafts/configuration-management/buildpack-cli/create-project/index.md
  pwa-devdocs/_drafts/scaffolding/custom-project-templates/index.md
  pwa-devdocs/_drafts/scaffolding/index.md
  yarn.lock
Labels: pkg:create-pwa, pkg:graphql-cli-validate-magento-pwa-queries, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Minor

#1751 Create authBar and userChip talons
  packages/peregrine/lib/talons/AuthBar/useAuthBar.js
  packages/peregrine/lib/talons/AuthBar/useUserChip.js
  packages/venia-ui/lib/components/AuthBar/authBar.js
  packages/venia-ui/lib/components/AuthBar/userChip.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#1755 Create categoryTile/categoryList talon
  packages/peregrine/lib/talons/CategoryList/useCategoryList.js
  packages/peregrine/lib/talons/CategoryList/useCategoryTile.js
  packages/venia-ui/lib/components/CategoryList/__tests__/categoryList.spec.js
  packages/venia-ui/lib/components/CategoryList/categoryList.js
  packages/venia-ui/lib/components/CategoryList/categoryTile.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#1691 Webpack client side caching.
  packages/pwa-buildpack/lib/Utilities/__fixtures__/sampleFile.txt
  packages/pwa-buildpack/lib/Utilities/__tests__/createFileHash.spec.js
  packages/pwa-buildpack/lib/Utilities/createFileHash.js
  packages/pwa-buildpack/lib/Utilities/index.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/ServiceWorkerPlugin.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/ServiceWorkerPlugin.spec.js
  packages/venia-concept/src/index.js
  packages/venia-concept/src/registerSW.js
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Major

#1764 Lazy Load SearchBar correctly
  packages/venia-ui/lib/components/Header/header.js
Labels: pkg:venia-ui, version: Patch

#1794 [docs] Carousel component jsdocs
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.js
  packages/venia-ui/lib/components/ProductImageCarousel/thumbnail.js
Labels: Partner: Zilker Technology, partners-contribution, pkg:venia-ui

#1785 [doc] state management
  pwa-devdocs/src/_data/technologies.yml
  pwa-devdocs/src/technologies/basic-concepts/state-management/index.md
Labels: version: Minor

#1791 Gallery Refactor
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/RootComponents/Search/search.js
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/gallery.spec.js
  packages/venia-ui/lib/components/Gallery/__tests__/items.spec.js
  packages/venia-ui/lib/components/Gallery/gallery.js
  packages/venia-ui/lib/components/Gallery/items.js
Labels: pkg:venia-ui, version: Major

#1765 Route-based code splitting
  packages/venia-ui/lib/components/App/renderRoutes.js
Labels: pkg:venia-ui, version: Patch

#1754 Add useCategoryTree talon
  packages/peregrine/lib/talons/CategoryTree/__tests__/useCategoryTree.spec.js
  packages/peregrine/lib/talons/CategoryTree/index.js
  packages/peregrine/lib/talons/CategoryTree/useCategoryBranch.js
  packages/peregrine/lib/talons/CategoryTree/useCategoryLeaf.js
  packages/peregrine/lib/talons/CategoryTree/useCategoryTree.js
  packages/venia-ui/lib/components/CategoryTree/__tests__/__snapshots__/categoryTree.spec.js.snap
  packages/venia-ui/lib/components/CategoryTree/__tests__/categoryTree.spec.js
  packages/venia-ui/lib/components/CategoryTree/categoryBranch.js
  packages/venia-ui/lib/components/CategoryTree/categoryLeaf.js
  packages/venia-ui/lib/components/CategoryTree/categoryTree.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#1792 [PB] PB-34: Implement hide / show functionality for all content types
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Video/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/__snapshots__/parseStorageHtml.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/factory.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/factory.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/utils.js
Labels: pkg:venia-ui, version: Minor

#1798 [cleanup] Delete unused home component
  packages/venia-ui/lib/components/Home/home.css
  packages/venia-ui/lib/components/Home/home.js
  packages/venia-ui/lib/components/Home/index.js
Labels: pkg:venia-ui

#1793 Refactor header components and add talons
  packages/peregrine/lib/talons/Header/useCartTrigger.js
  packages/peregrine/lib/talons/Header/useHeader.js
  packages/peregrine/lib/talons/Header/useNavigationTrigger.js
  packages/peregrine/lib/talons/Header/useSearchTrigger.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/cartCounter.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/cartTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/cartCounter.spec.js
  packages/venia-ui/lib/components/Header/__tests__/cartTrigger.spec.js
  packages/venia-ui/lib/components/Header/cartCounter.css
  packages/venia-ui/lib/components/Header/cartCounter.js
  packages/venia-ui/lib/components/Header/cartTrigger.css
  packages/venia-ui/lib/components/Header/cartTrigger.js
  packages/venia-ui/lib/components/Header/header.css
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/Header/mock_data.js
  packages/venia-ui/lib/components/Header/navTrigger.js
  packages/venia-ui/lib/components/Header/onlineIndicator.css
  packages/venia-ui/lib/components/Header/onlineIndicator.js
  packages/venia-ui/lib/components/Header/searchTrigger.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#1809 [doc] Update Venia setup doc
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: version: Patch

#1775 Checkout These Talons!
  packages/peregrine/lib/talons/Checkout/Receipt/useReceipt.js
  packages/peregrine/lib/talons/Checkout/useAddressForm.js
  packages/peregrine/lib/talons/Checkout/useEditableForm.js
  packages/peregrine/lib/talons/Checkout/useFlow.js
  packages/peregrine/lib/talons/Checkout/useOverview.js
  packages/peregrine/lib/talons/Checkout/usePaymentsForm.js
  packages/peregrine/lib/talons/Checkout/usePaymentsFormItems.js
  packages/peregrine/lib/talons/Checkout/useShippingForm.js
  packages/peregrine/lib/util/isObjectEmpty.js
  packages/peregrine/package.json
  packages/venia-ui/lib/components/Checkout/Receipt/receipt.js
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/addressForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/cart.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/editableForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/overview.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/paymentsForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/addressForm.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/cart.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/editableForm.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/flow.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/paymentsForm.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/shippingform.spec.js
  packages/venia-ui/lib/components/Checkout/addressForm.js
  packages/venia-ui/lib/components/Checkout/cart.css
  packages/venia-ui/lib/components/Checkout/cart.js
  packages/venia-ui/lib/components/Checkout/editableForm.js
  packages/venia-ui/lib/components/Checkout/flow.js
  packages/venia-ui/lib/components/Checkout/overview.js
  packages/venia-ui/lib/components/Checkout/paymentsForm.js
  packages/venia-ui/lib/components/Checkout/paymentsFormItems.js
  packages/venia-ui/lib/components/Checkout/shippingForm.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#1786 Add SearchBar talons
  packages/peregrine/lib/hooks/useQuery.js
  packages/peregrine/lib/talons/SearchBar/__tests__/useAutocomplete.spec.js
  packages/peregrine/lib/talons/SearchBar/index.js
  packages/peregrine/lib/talons/SearchBar/useAutocomplete.js
  packages/peregrine/lib/talons/SearchBar/useSearchBar.js
  packages/peregrine/lib/talons/SearchBar/useSearchField.js
  packages/peregrine/lib/talons/SearchBar/useSuggestedCategory.js
  packages/peregrine/lib/talons/SearchBar/useSuggestions.js
  packages/venia-ui/lib/components/SearchBar/__tests__/autocomplete.spec.js
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
  packages/venia-ui/lib/components/SearchBar/searchBar.js
  packages/venia-ui/lib/components/SearchBar/searchField.js
  packages/venia-ui/lib/components/SearchBar/suggestedCategories.js
  packages/venia-ui/lib/components/SearchBar/suggestedCategory.css
  packages/venia-ui/lib/components/SearchBar/suggestedCategory.js
  packages/venia-ui/lib/components/SearchBar/suggestions.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch
