Repository magento/pwa-studio, pull requests merged in 2019-04, with the labels that each got.

#654 [TASK] Pull Copyright value from Magento and display in Footer
  packages/venia-concept/src/components/Footer/__tests__/footer.spec.js
  packages/venia-concept/src/components/Footer/footer.js
  packages/venia-concept/src/queries/getStoreConfigData.graphql
Labels: m2 > 2.3.0

#1085 bug: use placeholder in carousel while loading next image
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-concept/src/components/ProductImageCarousel/__tests__/carousel.spec.js
  packages/venia-concept/src/components/ProductImageCarousel/carousel.js
Labels: bug, pkg:venia-concept, version: Patch

#1080 [Documentation] hello upward tutorial
  pwa-devdocs/src/_config.yml
  pwa-devdocs/src/_data/top-nav.yml
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/_includes/layout/sidebar-nav-root-item.html
  pwa-devdocs/src/_scss/main.scss
  pwa-devdocs/src/_scss/src/_code-block-style-overrides.scss
  pwa-devdocs/src/tutorials/hello-upward/adding-react/index.md
  pwa-devdocs/src/tutorials/hello-upward/simple-server/index.md
  pwa-devdocs/src/tutorials/hello-upward/using-template-resolver/index.md
  pwa-devdocs/src/tutorials/index.md
Labels: documentation, pkg:pwa-devdocs

#1140 [Documentation] Add markdown linting
  pwa-devdocs/README.md
  pwa-devdocs/package-lock.json
  pwa-devdocs/package.json
  pwa-devdocs/scripts/fix-markdown.js
  pwa-devdocs/scripts/lint/index.js
  pwa-devdocs/scripts/markdown-linter/index.js
  pwa-devdocs/scripts/markdown-linter/linter.js
  pwa-devdocs/scripts/markdown-linter/style-guide.js
Labels: docs, documentation, pkg:pwa-devdocs

#968 Authenticated Users
  packages/peregrine/src/RestApi/Magento2/MulticastCache.js
  packages/venia-concept/src/RootComponents/Product/Product.js
  packages/venia-concept/src/actions/cart/__tests__/actions.spec.js
  packages/venia-concept/src/actions/cart/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/cart/actions.js
  packages/venia-concept/src/actions/cart/asyncActions.js
  packages/venia-concept/src/actions/checkout/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/checkout/asyncActions.js
  packages/venia-concept/src/actions/user/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/user/asyncActions.js
  packages/venia-concept/src/components/Checkout/Receipt/__tests__/receipt.spec.js
  packages/venia-concept/src/components/Checkout/Receipt/receipt.js
  packages/venia-concept/src/components/Checkout/__tests__/form.spec.js
  packages/venia-concept/src/components/Checkout/flow.js
  packages/venia-concept/src/components/Checkout/form.js
  packages/venia-concept/src/components/Checkout/wrapper.js
  packages/venia-concept/src/components/MiniCart/miniCart.js
  packages/venia-concept/src/components/SignIn/container.js
  packages/venia-concept/src/components/SignIn/signIn.js
  packages/venia-concept/src/index.js
  packages/venia-concept/src/reducers/__tests__/cart.spec.js
  packages/venia-concept/src/reducers/cart.js
  pwa-devdocs/src/venia-pwa-concept/features/checkout/index.md
Labels: pkg:venia-concept, version: Minor

#1152 [Docs] Client side caching topic
  pwa-devdocs/src/_data/technologies.yml
  pwa-devdocs/src/technologies/basic-concepts/client-side-caching/index.md
Labels: docs, documentation, pkg:pwa-devdocs

#1158 [Docs] Fix links in Basic Concepts
  pwa-devdocs/src/technologies/basic-concepts/index.md
Labels: docs, documentation, pkg:pwa-devdocs

#1153 Passes email, firstname, and lastname to checkout receipt properly
  packages/venia-concept/src/actions/checkout/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/checkout/asyncActions.js
  packages/venia-concept/src/selectors/cart.js
Labels: version: Patch

#1150 Expired Guest Cart Errors
  packages/venia-concept/src/actions/cart/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/cart/asyncActions.js
  packages/venia-concept/src/components/ErrorView/errorView.js
  packages/venia-concept/src/reducers/__tests__/cart.spec.js
  packages/venia-concept/src/reducers/cart.js
Labels: version: Minor

#1177 [Doc] Doc linter improvements
  pwa-devdocs/scripts/lint/index.js
  pwa-devdocs/scripts/markdown-linter/linter.js
  pwa-devdocs/scripts/markdown-linter/tokenizers/index.js
  pwa-devdocs/scripts/markdown-linter/tokenizers/jekyll-link.js
Labels: docs, documentation, pkg:pwa-devdocs
