Repository magento/pwa-studio, pull requests merged in 2019-05, with the labels that each got.

#1169 The Sign In Page and Input Consistency
  packages/venia-concept/src/actions/user/__tests__/actions.spec.js
  packages/venia-concept/src/actions/user/__tests__/asyncActions.spec.js
  packages/venia-concept/src/actions/user/actions.js
  packages/venia-concept/src/actions/user/asyncActions.js
  packages/venia-concept/src/components/CreateAccount/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-concept/src/components/CreateAccount/createAccount.css
  packages/venia-concept/src/components/CreateAccount/createAccount.js
  packages/venia-concept/src/components/ErrorDisplay/errorDisplay.css
  packages/venia-concept/src/components/ErrorDisplay/errorDisplay.js
  packages/venia-concept/src/components/ErrorDisplay/index.js
  packages/venia-concept/src/components/Field/field.css
  packages/venia-concept/src/components/Field/field.js
  packages/venia-concept/src/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.css
  packages/venia-concept/src/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.js
  packages/venia-concept/src/components/Input/__tests__/input.spec.js
  packages/venia-concept/src/components/Input/index.js
  packages/venia-concept/src/components/Input/input.css
  packages/venia-concept/src/components/Input/input.js
  packages/venia-concept/src/components/MyAccountMenuPage/UserInformation/userInformation.js
  packages/venia-concept/src/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-concept/src/components/SignIn/__tests__/signIn.spec.js
  packages/venia-concept/src/components/SignIn/container.js
  packages/venia-concept/src/components/SignIn/signIn.css
  packages/venia-concept/src/components/SignIn/signIn.js
  packages/venia-concept/src/reducers/user.js
Labels: version: Major

#1091 Implement swatch tool tip on product option tile list
  packages/venia-concept/src/components/ProductOptions/__tests__/__snapshots__/tile.spec.js.snap
  packages/venia-concept/src/components/ProductOptions/__tests__/__snapshots__/tileList.spec.js.snap
  packages/venia-concept/src/components/ProductOptions/__tests__/tileList.spec.js
  packages/venia-concept/src/components/ProductOptions/swatch.js
  packages/venia-concept/src/components/ProductOptions/tile.js
  packages/venia-concept/src/components/ProductOptions/toolTip.css
  packages/venia-concept/src/components/ProductOptions/toolTip.js
Labels: version: Minor

#1174 [Doc] Venia UPWARD spec file explainer
  packages/venia-concept/venia-upward.yml
Labels: docs, documentation, pkg:pwa-devdocs

#1073 Fix proxy regex in venia-upward.yml
  packages/venia-concept/venia-upward.yml
Labels: bug, pkg:venia-concept, version: Patch

#1215 fix(publishing): copy magento-compatibility.js during graphql-cli pub…
  packages/graphql-cli-validate-magento-pwa-queries/.gitignore
  packages/graphql-cli-validate-magento-pwa-queries/.npmignore
  packages/graphql-cli-validate-magento-pwa-queries/lib/index.js
  packages/graphql-cli-validate-magento-pwa-queries/package.json
Labels: create-pwa-app-deps

#1216 chore: remove unsupported and abandoned buildpack tools
  packages/pwa-buildpack/docs/magento-layout-loader.md
  packages/pwa-buildpack/src/ExtensionComponentWrap/.babelrc.js
  packages/pwa-buildpack/src/ExtensionComponentWrap/.eslintrc.js
  packages/pwa-buildpack/src/ExtensionComponentWrap/index.js
  packages/pwa-buildpack/src/index.js
  packages/pwa-buildpack/src/magento-layout-loader/__tests__/__fixtures__/only-entry/index.js
  packages/pwa-buildpack/src/magento-layout-loader/__tests__/__snapshots__/babel-plugin-magento-layout.spec.js.snap
  packages/pwa-buildpack/src/magento-layout-loader/__tests__/babel-plugin-magento-layout.spec.js
  packages/pwa-buildpack/src/magento-layout-loader/__tests__/magento-layout-loader.spec.js
  packages/pwa-buildpack/src/magento-layout-loader/__tests__/validateConfig.spec.js
  packages/pwa-buildpack/src/magento-layout-loader/babel-plugin-magento-layout.js
  packages/pwa-buildpack/src/magento-layout-loader/index.js
  packages/pwa-buildpack/src/magento-layout-loader/validateConfig.js
  pwa-devdocs/src/_data/pwa-buildpack.yml
  pwa-devdocs/src/pwa-buildpack/reference/layout-loader/index.md
Labels: create-pwa-app-deps

#1217 Refactor driver usage to improve Venia portability
  babel.config.js
  packages/graphql-cli-validate-magento-pwa-queries/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-concept/src/components/App/renderRoutes.js
  packages/venia-concept/src/components/Checkout/Receipt/__tests__/receiptContainer.spec.js
  packages/venia-concept/src/components/Checkout/Receipt/receiptContainer.js
  packages/venia-concept/src/components/Checkout/__tests__/wrapper.spec.js
  packages/venia-concept/src/components/CreateAccountPage/createAccountPage.js
  packages/venia-concept/src/components/MyAccountMenuPage/Header/header.css
  packages/venia-concept/src/components/MyAccountMenuPage/MyAccountMenuPage/myAccountMenuPageContainer.js
  packages/venia-concept/src/components/MyAccountMenuPage/MyAccountMenuTrigger/myAccountMenuTrigger.css
  packages/venia-concept/src/components/Navigation/__tests__/container.spec.js
  packages/venia-concept/src/components/Notifications/notification.css
  packages/venia-concept/src/components/Pagination/pagination.js
  packages/venia-concept/src/drivers/index.js
  packages/venia-concept/src/index.js
  yarn.lock
Labels: create-pwa-app-deps

#1219 Graphql playground autodetects queries
  packages/pwa-buildpack/src/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/src/WebpackTools/__tests__/PWADevServer.spec.js
  packages/pwa-buildpack/src/WebpackTools/__tests__/__snapshots__/PWADevServer.spec.js.snap
  packages/venia-concept/webpack.config.js
  pwa-devdocs/src/pwa-buildpack/reference/pwa-dev-server/index.md
Labels: create-pwa-app-deps

#1234 [Docs] Update dependencies
  pwa-devdocs/package-lock.json
  pwa-devdocs/package.json
Labels: docs, documentation, pkg:pwa-devdocs

#1238 [Documentation] Remove broken links
  pwa-devdocs/src/technologies/basic-concepts/container-extensibility/index.md
Labels: docs, documentation, pkg:pwa-devdocs

#1240 Product Details Component to Hooks
  packages/venia-concept/src/components/MiniCart/__tests__/cartOptions.spec.js
  packages/venia-concept/src/components/MiniCart/cartOptions.js
  packages/venia-concept/src/components/ProductFullDetail/ProductFullDetail.js
  packages/venia-concept/src/components/ProductFullDetail/__tests__/ProductFullDetail.spec.js
  packages/venia-concept/src/components/ProductOptions/__tests__/__snapshots__/options.spec.js.snap
  packages/venia-concept/src/components/ProductOptions/__tests__/options.spec.js
  packages/venia-concept/src/components/ProductOptions/options.js
Labels: version: Minor

#1232 [Documentation] pwa cloud install guide
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
Labels: docs, documentation, pkg:pwa-devdocs

#1211 Category RootComponent Simple Re-Factor
  packages/peregrine/src/hooks/usePagination.js
  packages/peregrine/src/index.js
  packages/venia-concept/src/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-concept/src/RootComponents/Category/__tests__/categoryContent.spec.js
  packages/venia-concept/src/RootComponents/Category/category.js
  packages/venia-concept/src/RootComponents/Category/categoryContent.js
  packages/venia-concept/src/components/Pagination/__tests__/pagination.spec.js
  packages/venia-concept/src/components/Pagination/pagination.js
  packages/venia-concept/src/queries/getCategory.graphql
Labels: version: Major

#1196 bug: Make css-font non render-blocking
  packages/venia-concept/templates/default-font-include.mst
  packages/venia-concept/templates/js-unavailable.mst
  packages/venia-concept/templates/open-document.mst
Labels: version: Patch
