Repository magento/pwa-studio, pull requests merged in 2020-08, with the labels that each got.

#2598 docs: revise buildpack target docs
  packages/pwa-buildpack/lib/BuildBus/declare-base.js
  packages/pwa-buildpack/lib/WebpackTools/ModuleTransformConfig.js
  pwa-devdocs/src/_data/buildpack-api.yml
  pwa-devdocs/src/pwa-buildpack/reference/moduletransformconfig/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targets/index.md
  pwa-devdocs/src/pwa-buildpack/reference/transform-requests/index.md
Labels: pkg:pwa-buildpack

#2577 Added CSS to handle multiple configurable options.
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/product.css
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/LegacyMiniCart/__tests__/__snapshots__/productOptions.spec.js.snap
  packages/venia-ui/lib/components/LegacyMiniCart/productOptions.css
  packages/venia-ui/lib/components/LegacyMiniCart/productOptions.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/productList.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/item.spec.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/productList.spec.js
  packages/venia-ui/lib/components/MiniCart/ProductList/item.js
Labels: Progress: review, pkg:venia-ui, version: Minor

#2508 [Doc] buildpack ref docs
  packages/pwa-buildpack/lib/BuildBus/BuildBus.js
  packages/pwa-buildpack/lib/BuildBus/Target.js
  packages/pwa-buildpack/lib/BuildBus/TargetProvider.js
  packages/pwa-buildpack/lib/BuildBus/declare-base.js
  packages/pwa-buildpack/lib/BuildBus/mapHooksToTargets.js
  packages/pwa-buildpack/lib/Utilities/getEnvVarDefinitions.js
  packages/pwa-buildpack/lib/WebpackTools/ModuleTransformConfig.js
  pwa-devdocs/scripts/create-reference-docs/config/buildpack.js
  pwa-devdocs/scripts/create-reference-docs/config/index.js
  pwa-devdocs/src/_data/buildpack-api.yml
  pwa-devdocs/src/_data/pwa-buildpack.yml
  pwa-devdocs/src/pwa-buildpack/configuration-management/index.md
  pwa-devdocs/src/pwa-buildpack/reference/environment-variables/core-definitions/index.md
  pwa-devdocs/src/pwa-buildpack/reference/environment-variables/definitions-api/index.md
  pwa-devdocs/src/pwa-buildpack/reference/extension-framework/index.md
  pwa-devdocs/src/pwa-buildpack/reference/extension-framework/target/index.md
  pwa-devdocs/src/pwa-buildpack/reference/extension-framework/targetprovider/index.md
  pwa-devdocs/src/pwa-buildpack/reference/magento-resolver/index.md
  pwa-devdocs/src/pwa-buildpack/reference/object-types/index.md
  pwa-devdocs/src/pwa-buildpack/reference/pwa-dev-server/index.md
  pwa-devdocs/src/pwa-buildpack/reference/serviceworker-plugin/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targets/index.md
  pwa-devdocs/src/pwa-buildpack/reference/transform-requests/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/production-launch-checklist/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-buildpack, pkg:pwa-devdocs, version: Minor

#2601 Fix security alert "Upgrade dot-prop to version 5.1.1 or later"
  docker/package.json
  docker/yarn.lock
Labels: Progress: review, version: Patch

#2607 docs: better explanation of talonwrapperconfig
  packages/peregrine/lib/targets/TalonWrapperConfig.js
  packages/peregrine/lib/targets/peregrine-declare.js
  packages/peregrine/lib/targets/peregrine-intercept.js
  pwa-devdocs/scripts/create-reference-docs/config/peregrine.js
  pwa-devdocs/src/_data/peregrine-api.yml
  pwa-devdocs/src/peregrine/reference/targets/index.md
  pwa-devdocs/src/peregrine/reference/targets/wrappable-talons/index.md
Labels: Progress: changes requested, pkg:peregrine

#2608 docs: update venia-ui target docs
  packages/venia-ui/lib/targets/RichContentRendererList.js
  packages/venia-ui/lib/targets/venia-ui-declare.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
  pwa-devdocs/scripts/create-reference-docs/config/venia.js
  pwa-devdocs/src/_data/venia-api.yml
  pwa-devdocs/src/venia-ui/reference/targets/index.md
Labels: Progress: approved, pkg:venia-ui

#2599 Update `magento-research` references to `magento` org
  pwa-devdocs/src/frequently-asked-questions/index.md
  pwa-devdocs/src/technologies/basic-concepts/content-rendering/index.md
  pwa-devdocs/src/technologies/storefront-architecture/runtime/index.md
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
Labels: Progress: approved

#2605 Updates upward-security-headers peer dependencies
  packages/extensions/upward-security-headers/package.json
Labels: Progress: approved, pkg:extensions

#2472 [Docs] Venia Targets reference doc
  packages/venia-ui/lib/targets/RichContentRendererList.js
  packages/venia-ui/lib/targets/venia-ui-declare.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
  pwa-devdocs/scripts/create-reference-docs/config/venia.js
  pwa-devdocs/src/_data/top-nav.yml
  pwa-devdocs/src/_data/venia-api.yml
  pwa-devdocs/src/venia-ui/reference/targets/index.md
Labels: Progress: changes requested, docs, documentation, pkg:pwa-devdocs, pkg:venia-ui

#2492 [Doc] peregrine targets ref docs
  packages/peregrine/lib/targets/TalonWrapperConfig.js
  packages/peregrine/lib/targets/peregrine-declare.js
  packages/peregrine/lib/targets/peregrine-intercept.js
  pwa-devdocs/scripts/create-reference-docs/config/peregrine.js
  pwa-devdocs/src/_data/peregrine-api.yml
  pwa-devdocs/src/_data/top-nav.yml
  pwa-devdocs/src/peregrine/reference/targets/index.md
  pwa-devdocs/src/peregrine/reference/targets/wrappable-talons/index.md
Labels: Progress: approved, docs, documentation, pkg:peregrine, pkg:pwa-devdocs, version: Minor

#2576 [PWA-746] [bug]: Can't add product to cart if another out of stock product is in the cart
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CartPage/__tests__/useCartPage.spec.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/peregrine/lib/talons/StockStatusMessage/__tests__/__snapshots__/useStockStatusMessage.spec.js.snap
  packages/peregrine/lib/talons/StockStatusMessage/__tests__/useStockStatusMessage.spec.js
  packages/peregrine/lib/talons/StockStatusMessage/useStockStatusMessage.js
  packages/venia-concept/package.json
  packages/venia-concept/src/index.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/product.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.css
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/__tests__/cartPage.spec.js
  packages/venia-ui/lib/components/CartPage/cartPage.css
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/__tests__/checkoutPage.spec.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.css
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPageFragments.gql.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/productList.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/item.spec.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/productList.spec.js
  packages/venia-ui/lib/components/MiniCart/ProductList/item.css
  packages/venia-ui/lib/components/MiniCart/ProductList/item.js
  packages/venia-ui/lib/components/MiniCart/ProductList/productList.gql.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/miniCart.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/miniCart.spec.js
  packages/venia-ui/lib/components/MiniCart/miniCart.css
  packages/venia-ui/lib/components/MiniCart/miniCart.js
  packages/venia-ui/lib/components/StockStatusMessage/__tests__/__snapshots__/stockStatusMessage.spec.js.snap
  packages/venia-ui/lib/components/StockStatusMessage/__tests__/stockStatusMessage.spec.js
  packages/venia-ui/lib/components/StockStatusMessage/index.js
  packages/venia-ui/lib/components/StockStatusMessage/stockStatusMessage.css
  packages/venia-ui/lib/components/StockStatusMessage/stockStatusMessage.js
  yarn.lock
Labels: Progress: review, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Major

#2587 [Doc] Add upgrade steps for scaffolded project
  CHANGELOG.md
Labels: docs, documentation, version: Patch

#2553 [Docs] Add a static route docs - Snippet correction
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/add-a-static-route/index.md
Labels: Progress: approved

#2612 [PWA-767] [Mini-cart] Guest user can't add product to cart if cart is expired.
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/talons/MiniCart/__tests__/__snapshots__/useMiniCart.spec.js.snap
  packages/peregrine/lib/talons/MiniCart/__tests__/useMiniCart.spec.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
Labels: Progress: review, pkg:peregrine, version: Patch

#2571 Customer Account - Newsletter Subscription
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/talons/MyAccount/__tests__/__snapshots__/useCommunicationsPage.spec.js.snap
  packages/peregrine/lib/talons/MyAccount/__tests__/useCommunicationsPage.spec.js
  packages/peregrine/lib/talons/MyAccount/useCommunicationsPage.js
  packages/peregrine/lib/talons/MyAccount/useMyAccount.js
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.js
  packages/venia-ui/lib/components/AuthModal/authModal.js
  packages/venia-ui/lib/components/CommunicationsPage/__tests__/__snapshots__/communicationsPage.spec.js.snap
  packages/venia-ui/lib/components/CommunicationsPage/__tests__/communicationsPage.spec.js
  packages/venia-ui/lib/components/CommunicationsPage/communicationsPage.css
  packages/venia-ui/lib/components/CommunicationsPage/communicationsPage.gql.js
  packages/venia-ui/lib/components/CommunicationsPage/communicationsPage.js
  packages/venia-ui/lib/components/CommunicationsPage/index.js
  packages/venia-ui/lib/components/MyAccount/myAccount.js
  packages/venia-ui/lib/queries/getCustomer.graphql
  packages/venia-ui/lib/targets/venia-ui-intercept.js
Labels: CI_APPROVED, Priority: P2, Progress: review, Severity: S2, pkg:peregrine, pkg:venia-ui, version: Minor

#2562 There are other image types
  packages/venia-ui/upward.yml
Labels: Progress: approved, pkg:venia-ui, version: Minor

#2602 PWA-644: Use GET for GraphQL queries (but not mutations)
  packages/peregrine/lib/Router/resolveUnknownRoute.js
  packages/peregrine/lib/talons/LegacyMiniCart/useEditItem.js
  packages/peregrine/lib/talons/RootComponents/Product/useProduct.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/__fixtures__/queries/getProductDetail.graphql
  packages/venia-ui/lib/RootComponents/CMS/cms.js
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/drivers/adapter.js
  packages/venia-ui/lib/fragments/productDetails.graphql
  packages/venia-ui/lib/queries/getCategory.graphql
  packages/venia-ui/lib/queries/getCmsPage.graphql
  packages/venia-ui/lib/queries/getProductDetail.graphql
  packages/venia-ui/lib/util/__tests__/shrinkGETQuery.spec.js
  packages/venia-ui/lib/util/shrinkGETQuery.js
  packages/venia-ui/package.json
Labels: Progress: changes requested, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-ui, version: Major

#2590 My Account Sign In.
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useAccountMenu.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useAccountTrigger.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useAccountMenu.spec.js
  packages/peregrine/lib/talons/Header/__tests__/useAccountTrigger.spec.js
  packages/peregrine/lib/talons/Header/useAccountMenu.js
  packages/peregrine/lib/talons/Header/useAccountTrigger.js
  packages/venia-ui/lib/components/AccountMenu/__tests__/__snapshots__/accountMenu.spec.js.snap
  packages/venia-ui/lib/components/AccountMenu/__tests__/__snapshots__/accountMenuItems.spec.js.snap
  packages/venia-ui/lib/components/AccountMenu/__tests__/accountMenu.spec.js
  packages/venia-ui/lib/components/AccountMenu/accountMenu.css
  packages/venia-ui/lib/components/AccountMenu/accountMenu.js
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.css
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/accountTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/accountTrigger.spec.js
  packages/venia-ui/lib/components/Header/accountTrigger.js
  packages/venia-ui/lib/components/MyAccount/myAccount.css
  packages/venia-ui/lib/components/MyAccount/myAccount.js
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2504 Respect URL Redirects
  packages/peregrine/lib/Router/resolveUnknownRoute.js
  packages/peregrine/lib/talons/MagentoRoute/__tests__/useMagentoRoute.spec.js
  packages/peregrine/lib/talons/MagentoRoute/getRouteComponent.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
  packages/venia-ui/lib/components/MagentoRoute/magentoRoute.js
Labels: Partner: Experius, Progress: changes requested, partners-contribution, pkg:peregrine, pkg:venia-ui, version: Minor

#2611 Order History Page Skeleton
  packages/peregrine/lib/talons/AccountMenu/__tests__/useAccountMenuItems.spec.js
  packages/peregrine/lib/talons/AccountMenu/useAccountMenuItems.js
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useAccountTrigger.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useAccountTrigger.spec.js
  packages/peregrine/lib/talons/Header/useAccountMenu.js
  packages/peregrine/lib/talons/MyAccount/__tests__/useMyAccount.spec.js
  packages/peregrine/lib/talons/MyAccount/useMyAccount.js
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/useOrderHistoryPage.spec.js
  packages/peregrine/lib/talons/OrderHistoryPage/useOrderHistoryPage.js
  packages/venia-ui/lib/components/AccountMenu/__tests__/__snapshots__/accountMenuItems.spec.js.snap
  packages/venia-ui/lib/components/AccountMenu/__tests__/accountMenuItems.spec.js
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.js
  packages/venia-ui/lib/components/AuthModal/authModal.js
  packages/venia-ui/lib/components/MyAccount/myAccount.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderHistoryPage.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/orderHistoryPage.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/index.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.css
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.js
  packages/venia-ui/lib/components/Routes/routes.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2630 Remove GraphGL limitation entry
  pwa-devdocs/src/pagebuilder/known-limitations/index.md
Labels: Progress: approved

#2642 [Doc] fix broken link
  pwa-devdocs/src/technologies/basic-concepts/client-side-caching/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#2634 fix: Cart/Checkout summary uses cache-and-network to fetch latest
  packages/peregrine/lib/talons/CartPage/PriceSummary/usePriceSummary.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/priceSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/priceSummary.spec.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui

#2646 Remove dependabot
  .github/dependabot.yml
Labels: Progress: approved

#2620 [PWA-281] My Account: Wishlist (Skeleton)
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useWishlist.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useWishlistPage.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlist.spec.js
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlistPage.spec.js
  packages/peregrine/lib/talons/WishlistPage/useWishlist.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistPage.js
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/createWishlist.ee.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlist.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistPage.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/createWishlist.ee.spec.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlist.spec.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlistPage.spec.js
  packages/venia-ui/lib/components/WishlistPage/createWishlist.css
  packages/venia-ui/lib/components/WishlistPage/createWishlist.ee.js
  packages/venia-ui/lib/components/WishlistPage/createWishlist.js
  packages/venia-ui/lib/components/WishlistPage/index.js
  packages/venia-ui/lib/components/WishlistPage/wishlist.css
  packages/venia-ui/lib/components/WishlistPage/wishlist.js
  packages/venia-ui/lib/components/WishlistPage/wishlistItems.js
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.css
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.gql.js
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.js
  packages/venia-ui/lib/drivers/adapter.js
  packages/venia-ui/lib/resolvers/resolvers.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
  packages/venia-ui/lib/typedefs/index.js
  packages/venia-ui/lib/typedefs/typedefs.gql.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2619 My Account - Forgot Password
  packages/peregrine/lib/context/user.js
  packages/peregrine/lib/talons/AuthModal/useAuthModal.js
  packages/peregrine/lib/talons/ForgotPassword/__tests__/__snapshots__/useForgotPassword.spec.js.snap
  packages/peregrine/lib/talons/ForgotPassword/__tests__/useForgotPassword.spec.js
  packages/peregrine/lib/talons/ForgotPassword/useForgotPassword.js
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useAccountMenu.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useAccountTrigger.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useAccountTrigger.spec.js
  packages/peregrine/lib/talons/Header/useAccountMenu.js
  packages/peregrine/lib/talons/MyAccount/__tests__/__snapshots__/useResetPassword.spec.js.snap
  packages/peregrine/lib/talons/MyAccount/__tests__/useResetPassword.spec.js
  packages/peregrine/lib/talons/MyAccount/useResetPassword.js
  packages/peregrine/lib/talons/Password/__tests__/__snapshots__/usePassword.spec.js.snap
  packages/peregrine/lib/talons/Password/__tests__/usePassword.spec.js
  packages/peregrine/lib/talons/Password/usePassword.js
  packages/venia-ui/lib/components/AccountMenu/__tests__/__snapshots__/accountMenu.spec.js.snap
  packages/venia-ui/lib/components/AccountMenu/__tests__/accountMenu.spec.js
  packages/venia-ui/lib/components/AccountMenu/accountMenu.css
  packages/venia-ui/lib/components/AccountMenu/accountMenu.js
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.js
  packages/venia-ui/lib/components/AuthModal/authModal.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/__tests__/__snapshots__/forgotPasswordForm.spec.js.snap
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.css
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.js
  packages/venia-ui/lib/components/ForgotPassword/FormSubmissionSuccessful/__tests__/__snapshots__/formSubmissionSuccessful.spec.js.snap
  packages/venia-ui/lib/components/ForgotPassword/FormSubmissionSuccessful/__tests__/formSubmissionSuccessful.spec.js
  packages/venia-ui/lib/components/ForgotPassword/FormSubmissionSuccessful/formSubmissionSuccessful.css
  packages/venia-ui/lib/components/ForgotPassword/FormSubmissionSuccessful/formSubmissionSuccessful.js
  packages/venia-ui/lib/components/ForgotPassword/__tests__/__snapshots__/forgotPassword.spec.js.snap
  packages/venia-ui/lib/components/ForgotPassword/__tests__/forgotPassword.spec.js
  packages/venia-ui/lib/components/ForgotPassword/forgotPassword.css
  packages/venia-ui/lib/components/ForgotPassword/forgotPassword.gql.js
  packages/venia-ui/lib/components/ForgotPassword/forgotPassword.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/__snapshots__/resetPassword.spec.js.snap
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/resetPassword.spec.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/index.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.css
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.gql.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.js
  packages/venia-ui/lib/components/MyAccount/myAccount.js
  packages/venia-ui/lib/components/Password/__tests__/__snapshots__/password.spec.js.snap
  packages/venia-ui/lib/components/Password/__tests__/password.spec.js
  packages/venia-ui/lib/components/Password/index.js
  packages/venia-ui/lib/components/Password/password.css
  packages/venia-ui/lib/components/Password/password.js
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Major

#2618 #2407 Add yarn serve
  package.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__fixtures__/modules/buildpack-template-package/_buildpack/create.js
  packages/pwa-buildpack/lib/Utilities/__tests__/createProject.spec.js
  packages/pwa-buildpack/lib/Utilities/createProject.js
  packages/pwa-buildpack/lib/Utilities/serve.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/UpwardDevServerPlugin.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/UpwardDevServerPlugin.spec.js
  packages/pwa-buildpack/lib/cli/serve.js
  packages/upward-js/lib/bestPractices.js
  packages/upward-js/lib/index.js
  packages/upward-js/package.json
  packages/venia-concept/_buildpack/__tests__/create.spec.js
  packages/venia-concept/_buildpack/create.js
  packages/venia-concept/package.json
  packages/venia-concept/server.js
  yarn.lock
Labels: Partner: TechDivision, Priority: P3, Progress: changes requested, Severity: S2, partners-contribution, pkg:pwa-buildpack, pkg:upward-js, pkg:venia-concept

#2655 fix: center button on communications page on mobile
  packages/venia-ui/lib/components/CommunicationsPage/communicationsPage.css
Labels: Progress: changes requested, pkg:venia-ui, version: Patch

#2632 PB-Videos: Added Page Builder integration videos
  pwa-devdocs/src/pagebuilder/index.md
Labels: Progress: review

#2656 fix: Add youtube and vimeo urls to CSP for PageBuilder
  packages/extensions/upward-security-headers/upward.yml
Labels: Progress: approved, pkg:extensions, version: Patch

#2609 [PWA-653] React Refresh
  packages/babel-preset-peregrine/lib/index.js
  packages/babel-preset-peregrine/package.json
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getClientConfig.js
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-concept/src/index.js
  packages/venia-styleguide/package.json
  packages/venia-styleguide/webpack.config.js
  packages/venia-ui/.storybook/webpack.config.js
  packages/venia-ui/package.json
  yarn.lock
Labels: Priority: P3, Progress: review, Severity: S4, help wanted, pkg:babel-preset-peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-styleguide, pkg:venia-ui, version: Minor

#2637 [Doc] cart page reference docs
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCard.js
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCards.js
  packages/peregrine/lib/talons/CartPage/GiftOptions/useGiftOptions.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingForm.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingMethods.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingRadios.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/useCouponCode.js
  packages/peregrine/lib/talons/CartPage/PriceSummary/usePriceSummary.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useEditModal.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProductListing.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useQuantity.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/giftOptions.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/editModal.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
  pwa-devdocs/scripts/create-reference-docs/config/peregrine.js
  pwa-devdocs/scripts/create-reference-docs/config/venia.js
  pwa-devdocs/scripts/create-reference-docs/createFunctionDocs.js
  pwa-devdocs/scripts/create-reference-docs/index.js
  pwa-devdocs/src/_data/peregrine-api.yml
  pwa-devdocs/src/_data/venia-api.yml
  pwa-devdocs/src/peregrine/reference/talons/CartPage/GiftCards/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/GiftOptions/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/PriceAdjustments/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/PriceSummary/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/ProductListing/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/index.md
  pwa-devdocs/src/venia-ui/reference/components/CartPage/GiftCards/index.md
  pwa-devdocs/src/venia-ui/reference/components/CartPage/PriceAdjustments/index.md
  pwa-devdocs/src/venia-ui/reference/components/CartPage/PriceSummary/index.md
  pwa-devdocs/src/venia-ui/reference/components/CartPage/ProductListing/index.md
  pwa-devdocs/src/venia-ui/reference/components/CartPage/index.md
Labels: Progress: review, docs, documentation, pkg:peregrine, pkg:venia-ui, version: Patch

#2443 root component type need to know in some cases by component
  packages/peregrine/lib/talons/MagentoRoute/__tests__/useMagentoRoute.spec.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
Labels: CI_APPROVED, Progress: review, pkg:peregrine

#2663 Deprecate getUnionAndInterfaceTypes function
  packages/pwa-buildpack/lib/Utilities/graphQL.js
Labels: Progress: approved, pkg:pwa-buildpack, version: Patch

#2653 Address Book Skeleton
  packages/peregrine/lib/talons/AddressBookPage/__tests__/useAddressBookPage.spec.js
  packages/peregrine/lib/talons/AddressBookPage/useAddressBookPage.js
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.js
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addressBookPage.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/__tests__/addressBookPage.spec.js
  packages/venia-ui/lib/components/AddressBookPage/addressBookPage.css
  packages/venia-ui/lib/components/AddressBookPage/addressBookPage.js
  packages/venia-ui/lib/components/AddressBookPage/index.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2616 [feature]: Provide a way to access top/intermediate level categories through left nav
  packages/peregrine/lib/talons/CategoryTree/__tests__/useCategoryTree.spec.js
  packages/peregrine/lib/talons/CategoryTree/useCategoryTree.js
  packages/venia-ui/lib/components/CategoryTree/categoryLeaf.js
  packages/venia-ui/lib/components/CategoryTree/categoryTree.js
Labels: Priority: P2, Progress: changes requested, Severity: S1, pkg:peregrine, pkg:venia-ui, version: Minor

#2657 My Account - Create an Account component.
  packages/peregrine/lib/talons/CreateAccount/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CreateAccount/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useAccountMenu.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useAccountMenu.spec.js
  packages/peregrine/lib/talons/Header/useAccountMenu.js
  packages/venia-ui/lib/components/AccountMenu/__tests__/__snapshots__/accountMenu.spec.js.snap
  packages/venia-ui/lib/components/AccountMenu/__tests__/accountMenu.spec.js
  packages/venia-ui/lib/components/AccountMenu/accountMenu.css
  packages/venia-ui/lib/components/AccountMenu/accountMenu.js
  packages/venia-ui/lib/components/AuthModal/__tests__/__snapshots__/authModal.spec.js.snap
  packages/venia-ui/lib/components/AuthModal/__tests__/authModal.spec.js
  packages/venia-ui/lib/components/AuthModal/authModal.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.css
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/CreateAccountPage/createAccountPage.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2643 [PWA-811] Provide ability to translate Venia's header / footer
  jest.config.js
  packages/peregrine/lib/talons/AccountMenu/__tests__/useAccountMenuItems.spec.js
  packages/peregrine/lib/talons/AccountMenu/useAccountMenuItems.js
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/createDotEnvFile.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/graphQL.spec.js
  packages/pwa-buildpack/lib/Utilities/graphQL.js
  packages/pwa-buildpack/lib/queries/getStoreConfigData.graphql
  packages/pwa-buildpack/lib/queries/index.js
  packages/venia-concept/package.json
  packages/venia-concept/template.html
  packages/venia-concept/webpack.config.js
  packages/venia-ui/lib/components/AccountChip/__tests__/accountChip.spec.js
  packages/venia-ui/lib/components/AccountChip/accountChip.js
  packages/venia-ui/lib/components/AccountMenu/__tests__/__snapshots__/accountMenuItems.spec.js.snap
  packages/venia-ui/lib/components/AccountMenu/__tests__/accountMenuItems.spec.js
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.js
  packages/venia-ui/lib/components/App/contextProvider.js
  packages/venia-ui/lib/components/App/localeProvider.js
  packages/venia-ui/lib/components/Footer/__tests__/footer.spec.js
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/cartTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/accountTrigger.spec.js
  packages/venia-ui/lib/components/Header/__tests__/cartTrigger.spec.js
  packages/venia-ui/lib/components/Header/accountTrigger.js
  packages/venia-ui/lib/components/Header/cartTrigger.js
  packages/venia-ui/lib/components/Header/navTrigger.js
  packages/venia-ui/lib/components/Header/searchTrigger.js
  packages/venia-ui/lib/components/Logo/logo.js
  packages/venia-ui/lib/components/Navigation/__tests__/navHeader.spec.js
  packages/venia-ui/lib/components/SearchBar/__tests__/autocomplete.spec.js
  packages/venia-ui/lib/components/SearchBar/__tests__/suggestions.spec.js
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
  packages/venia-ui/lib/components/SearchBar/suggestedCategory.js
  packages/venia-ui/lib/components/SearchBar/suggestions.js
  packages/venia-ui/lib/i18n/en_US.json
  packages/venia-ui/lib/util/formatLocale.js
  packages/venia-ui/package.json
  yarn.lock
Labels: Progress: review, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Minor

#2662 Add some slightly more verbose upgrade installation instructions
  CHANGELOG.md
Labels: Partner: Aligent Consulting, Progress: approved, partners-contribution
