Repository magento/pwa-studio, pull requests merged in 2020-10, with the labels that each got.

#2690 [feature]: Replace ProductQuantity on Product Page with QuantityFields stepper
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/quantity.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/quantity.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.css
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#2740 [PWA-836] Localize Cart
  packages/venia-ui/__mocks__/react-intl.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/AccountChip/__tests__/accountChip.spec.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCard.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/giftOptions.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingRadio.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/giftCardSection.ee.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/discountSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/giftCardSummary.ee.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/shippingSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/taxSummary.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productDetail.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/editModal.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productDetail.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CartPage/ProductListing/quantity.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/Country/country.js
  packages/venia-ui/lib/components/ForgotPassword/FormSubmissionSuccessful/__tests__/__snapshots__/formSubmissionSuccessful.spec.js.snap
  packages/venia-ui/lib/components/ForgotPassword/FormSubmissionSuccessful/__tests__/formSubmissionSuccessful.spec.js
  packages/venia-ui/lib/components/Navigation/__tests__/navHeader.spec.js
  packages/venia-ui/lib/components/Region/region.js
  packages/venia-ui/lib/components/SavedPaymentsPage/__tests__/__snapshots__/savedPaymentsPage.spec.js.snap
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2744 Cart Address Custom Merge Functions
  packages/peregrine/lib/Apollo/clearCartDataFromCache.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingForm.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethodsFragments.gql.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/shippingSummary.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethodFragments.gql.js
  packages/venia-ui/lib/policies/index.js
  packages/venia-ui/lib/queries/setShippingAddress.graphql
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2672 [feature]: My Account: Account Information
  packages/peregrine/lib/talons/AccountChip/__tests__/__snapshots__/useAccountChip.spec.js.snap
  packages/peregrine/lib/talons/AccountChip/__tests__/useAccountChip.spec.js
  packages/peregrine/lib/talons/AccountChip/useAccountChip.js
  packages/peregrine/lib/talons/AccountInformationPage/__tests__/__snapshots__/useAccountInformationPage.spec.js.snap
  packages/peregrine/lib/talons/AccountInformationPage/__tests__/useAccountInformationPage.spec.js
  packages/peregrine/lib/talons/AccountInformationPage/useAccountInformationPage.js
  packages/peregrine/lib/talons/AccountMenu/useAccountMenuItems.js
  packages/peregrine/lib/talons/Password/__tests__/__snapshots__/usePassword.spec.js.snap
  packages/peregrine/lib/talons/Password/usePassword.js
  packages/venia-ui/lib/components/AccountChip/__tests__/accountChip.spec.js
  packages/venia-ui/lib/components/AccountChip/accountChip.gql.js
  packages/venia-ui/lib/components/AccountChip/accountChip.js
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/__snapshots__/accountInformationPage.spec.js.snap
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/__snapshots__/editForm.spec.js.snap
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/__snapshots__/editModal.spec.js.snap
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/accountInformationPage.spec.js
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/editForm.spec.js
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/editModal.spec.js
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPage.css
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPage.gql.js
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPage.js
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPageFragment.gql.js
  packages/venia-ui/lib/components/AccountInformationPage/editForm.css
  packages/venia-ui/lib/components/AccountInformationPage/editForm.js
  packages/venia-ui/lib/components/AccountInformationPage/editModal.css
  packages/venia-ui/lib/components/AccountInformationPage/editModal.js
  packages/venia-ui/lib/components/AccountInformationPage/index.js
  packages/venia-ui/lib/components/Dialog/dialog.js
  packages/venia-ui/lib/components/Navigation/__tests__/navHeader.spec.js
  packages/venia-ui/lib/components/Password/password.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
  packages/venia-ui/lib/util/__tests__/formValidators.spec.js
  packages/venia-ui/lib/util/formValidators.js
Labels: Progress: changes requested, pkg:peregrine, pkg:venia-ui, version: Minor

#2714 Support GIF files in Webpack config
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getModuleRules.js
Labels: Priority: P2, Progress: approved, Severity: S3, pkg:pwa-buildpack, version: Patch

#2724 [Docs] Release notes 8.0.0
  CHANGELOG.md
  magento-compatibility.js
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Major

#2746 Update "Update App import statements" instructions
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/modify-site-footer/index.md
Labels: Partner: Something Digital, Progress: approved, partners-contribution

#2703 My Account - Order History Table View (Expanded)
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/__snapshots__/useCollapsedImageGallery.spec.js.snap
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/__snapshots__/useOrderRow.spec.js.snap
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/useCollapsedImageGallery.spec.js
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/useOrderRow.spec.js
  packages/peregrine/lib/talons/OrderHistoryPage/useCollapsedImageGallery.js
  packages/peregrine/lib/talons/OrderHistoryPage/useOrderRow.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/billingInformation.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/items.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/orderDetails.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/orderTotal.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/paymentMethod.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/shippingInformation.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/shippingMethod.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/billingInformation.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/item.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/items.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/orderDetails.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/orderTotal.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/paymentMethod.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/shippingInformation.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/shippingMethod.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/billingInformation.css
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/billingInformation.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/index.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/item.css
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/item.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/items.css
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/items.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/orderDetails.css
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/orderDetails.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/orderTotal.css
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/orderTotal.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/paymentMethod.css
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/paymentMethod.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/shippingInformation.css
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/shippingInformation.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/shippingMethod.css
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/shippingMethod.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/collapsedImageGallery.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderProgressBar.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderRow.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/collapsedImageGallery.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/orderProgressBar.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/orderRow.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/collapsedImageGallery.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.gql.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderRow.css
  packages/venia-ui/lib/components/OrderHistoryPage/orderRow.gql.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderRow.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2636 Add access to more talons
  packages/peregrine/lib/targets/TalonWrapperConfig.js
Labels: Progress: approved, pkg:peregrine, version: Minor

#2749 [Fix bug]: Submit Create Account form have not trimmed prefix/suffix space for all fields
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
Labels: Priority: P3, Progress: changes requested, Severity: S3, pkg:peregrine, pkg:venia-ui

#2741 [Docs] Internationalization docs
  pwa-devdocs/src/_data/getting-started.yml
  pwa-devdocs/src/technologies/basic-concepts/internationalization/index.md
Labels: Progress: review, docs, documentation, pkg:pwa-devdocs, version: Minor

#2755 [Fix bug]: [Cart Page] Product Name link is extended till Kebab menu.
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
Labels: Priority: P2, Progress: approved, Severity: S2, pkg:venia-ui

#2763 Backmerge/8.0
  CHANGELOG.md
  magento-compatibility.js
  package.json
  packages/babel-preset-peregrine/package.json
  packages/create-pwa/package.json
  packages/extensions/upward-security-headers/package.json
  packages/pagebuilder/lib/ContentTypes/ButtonItem/buttonItem.css
  packages/pagebuilder/lib/ContentTypes/ButtonItem/buttonItem.js
  packages/pagebuilder/lib/ContentTypes/Slider/slider.css
  packages/pagebuilder/lib/ContentTypes/Tabs/tabs.css
  packages/pagebuilder/package.json
  packages/peregrine/lib/Apollo/clearCartDataFromCache.js
  packages/peregrine/lib/talons/Breadcrumbs/__tests__/useBreadcrumbs.spec.js
  packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingForm.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useShippingMethod.js
  packages/peregrine/lib/talons/Cms/useCmsPage.js
  packages/peregrine/lib/talons/MyAccount/__tests__/__snapshots__/useResetPassword.spec.js.snap
  packages/peregrine/lib/talons/MyAccount/__tests__/useResetPassword.spec.js
  packages/peregrine/lib/talons/MyAccount/useResetPassword.js
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
  packages/venia-concept/package.json
  packages/venia-styleguide/package.json
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/CMS/cms.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethodsFragments.gql.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/shippingSummary.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.gql.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethodFragments.gql.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/__snapshots__/resetPassword.spec.js.snap
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/resetPassword.spec.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.css
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.js
  packages/venia-ui/lib/policies/index.js
  packages/venia-ui/lib/queries/setShippingAddress.graphql
  packages/venia-ui/lib/targets/venia-ui-intercept.js
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: Progress: approved, pkg:babel-preset-peregrine, pkg:create-pwa, pkg:extensions, pkg:pagebuilder, pkg:peregrine, pkg:pwa-buildpack, pkg:upward-js, pkg:upward-spec, pkg:venia-concept, pkg:venia-styleguide, pkg:venia-ui

#2764 [PWA-837] Localize CMS
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/CMS/cms.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#2759 [PWA-835] Localize Checkout
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingRadio.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/shippingSummary.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/item.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/itemsReview.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/showAllButton.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/orderConfirmationPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.css
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/orderConfirmationPage.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/brainTreeDropIn.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentInformation.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/summary.js
  packages/venia-ui/lib/components/CheckoutPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/completedView.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingRadios.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModal.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/__tests__/checkoutPage.spec.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/Dialog/dialog.js
  packages/venia-ui/lib/components/Field/field.js
  packages/venia-ui/lib/components/clickable.css
Labels: Progress: review, pkg:venia-concept, pkg:venia-ui, version: Minor

#2779 Whitelist to Allowlist
  packages/pwa-buildpack/lib/TestHelpers/testFullBuild.js
  packages/pwa-buildpack/package.json
  yarn.lock
Labels: Progress: approved, pkg:pwa-buildpack, version: Patch

#2771 [PWA-832] Localize Category
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/Category/NoProductsFound/noProductsFound.js
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/CategoryTree/categoryLeaf.js
  packages/venia-ui/lib/components/Pagination/pagination.js
Labels: Progress: approved, pkg:venia-ui

#2756 [Fix bug]: Correct Message on Search Page When Searching for Less Than 3 Characters
  packages/peregrine/lib/talons/SearchBar/__tests__/useAutocomplete.spec.js
  packages/peregrine/lib/talons/SearchBar/useAutocomplete.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
Labels: Priority: P2, Progress: review, Severity: S3, pkg:peregrine, pkg:venia-ui, version: Patch

#2772 [PWA-833] Localize Product
  packages/peregrine/lib/talons/ProductOptions/useOption.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/Product/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/components/Breadcrumbs/breadcrumbs.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductOptions/option.js
  packages/venia-ui/lib/components/ProductQuantity/quantity.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2766 My Account - Create wishlist UI
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useCreateWishlist.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/useCreateWishlist.spec.js
  packages/peregrine/lib/talons/WishlistPage/useCreateWishlist.js
  packages/peregrine/lib/talons/WishlistPage/useWishlist.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistItem.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistPage.js
  packages/venia-ui/lib/components/Dialog/dialog.css
  packages/venia-ui/lib/components/Dialog/dialog.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/createWishlist.ee.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/createWishlist.ee.spec.js
  packages/venia-ui/lib/components/WishlistPage/createWishlist.css
  packages/venia-ui/lib/components/WishlistPage/createWishlist.ee.js
Labels: Event: Distributed CD India 2020, Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2782 Increase useApp() talon test coverage
  packages/peregrine/lib/talons/App/__tests__/__snapshots__/useApp.spec.js.snap
  packages/peregrine/lib/talons/App/__tests__/useApp.spec.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#2767 Feature to unmount child components in the Dialog component.
  packages/venia-ui/lib/components/Dialog/__tests__/__snapshots__/dialog.spec.js.snap
  packages/venia-ui/lib/components/Dialog/__tests__/dialog.spec.js
  packages/venia-ui/lib/components/Dialog/dialog.js
Labels: Event: Distributed CD India 2020, Progress: review, pkg:venia-ui, version: Minor

#2783 Backmerge master to develop
  package.json
  packages/babel-preset-peregrine/package.json
  packages/create-pwa/package.json
  packages/extensions/upward-security-headers/package.json
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: Progress: approved, pkg:babel-preset-peregrine, pkg:create-pwa, pkg:extensions, pkg:pagebuilder, pkg:peregrine, pkg:pwa-buildpack, pkg:upward-js, pkg:upward-spec, pkg:venia-concept, pkg:venia-styleguide, pkg:venia-ui

#2781 [PWA-1009] Localize Form Validators
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/Checkbox/__tests__/checkbox.spec.js
  packages/venia-ui/lib/components/Field/message.js
  packages/venia-ui/lib/util/__tests__/formValidators.spec.js
  packages/venia-ui/lib/util/formValidators.js
Labels: Progress: review, pkg:venia-ui, version: Major

#2777 [doc] intercepting talons tutorial
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/tutorials/intercept-a-target/index.md
  pwa-devdocs/src/tutorials/intercept-a-target/modify-talon-results/index.md
Labels: Progress: review, docs, documentation, pkg:pwa-devdocs, version: Patch

#2735 [PWA-816] Enable store codes to be present in the URL path if configured
  jest.config.js
  packages/peregrine/lib/Router/__tests__/resolveUnknownRoute.test.js
  packages/peregrine/lib/Router/resolveUnknownRoute.js
  packages/peregrine/lib/Router/router.js
  packages/peregrine/lib/talons/Header/__tests__/useStoreSwitcher.spec.js
  packages/peregrine/lib/talons/Header/useStoreSwitcher.js
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/createDotEnvFile.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/graphQL.spec.js
  packages/pwa-buildpack/lib/Utilities/graphQL.js
  packages/pwa-buildpack/lib/queries/getAvailableStoresConfigData.graphql
  packages/pwa-buildpack/lib/queries/index.js
  packages/venia-concept/src/.storybook/webpack.config.js
  packages/venia-concept/src/__tests__/index.spec.js
  packages/venia-concept/src/index.js
  packages/venia-concept/webpack.config.js
  packages/venia-ui/.storybook/webpack.config.js
  packages/venia-ui/lib/components/StoreCodeRoute/__tests__/storeCodeRoute.spec.js
  packages/venia-ui/lib/components/StoreCodeRoute/index.js
  packages/venia-ui/lib/components/StoreCodeRoute/storeCodeRoute.js
  packages/venia-ui/lib/drivers/__tests__/adapter.spec.js
  packages/venia-ui/lib/drivers/adapter.js
Labels: Progress: review, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Major

#2785 Increase peregrine/lib/apollo test coverage
  packages/peregrine/lib/Apollo/__tests__/clearCartDataFromCache.spec.js
  packages/peregrine/lib/Apollo/__tests__/clearCustomerDataFromCache.spec.js
  packages/peregrine/lib/Apollo/__tests__/clearStore.spec.js
  packages/peregrine/lib/Apollo/__tests__/deleteCacheEntry.spec.js
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/__tests__/index.spec.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#2800 chore: add translation checkbox line for pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Progress: review

#2799 [PWA-1033] Localize additional strings
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/NotFound/notFound.js
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPage.js
  packages/venia-ui/lib/components/AccountInformationPage/editForm.js
  packages/venia-ui/lib/components/AccountInformationPage/editModal.js
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/lib/components/CategoryList/categoryList.js
  packages/venia-ui/lib/components/CheckoutPage/OrderSummary/orderSummary.js
  packages/venia-ui/lib/components/CmsBlock/cmsBlock.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/item.js
  packages/venia-ui/lib/components/WishlistPage/createWishlist.ee.js
Labels: Progress: review, pkg:venia-ui, version: Minor

#2801 bug: noop for fetchLocaleData in storybook config
  packages/venia-concept/src/.storybook/webpack.config.js
  packages/venia-ui/.storybook/webpack.config.js
Labels: Progress: approved, pkg:venia-concept, pkg:venia-ui, version: Patch

#2811 chore: Forgot to remove some temp code. Also fixing destructure from hook
  .eslintrc.js
  packages/venia-ui/lib/RootComponents/Category/NoProductsFound/noProductsFound.js
Labels: Progress: approved, pkg:venia-ui

#2742 Minor extensibility doc update.
  pwa-devdocs/_drafts/pwa-studio-fundamentals/extensibility-with-targets/index.md
Labels: Progress: approved, documentation, version: Minor

#2812 [Docs] Add adobe logo
  pwa-devdocs/Gemfile.lock
  pwa-devdocs/src/_config.yml
  pwa-devdocs/src/_scss/main.scss
  pwa-devdocs/src/_scss/src/_home.scss
  pwa-devdocs/src/index.html
Labels: Progress: approved

#2680 [Fix bug]: Zip does not get cleared on switching country
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/useCreditCard.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useCreditCard.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
  packages/peregrine/lib/talons/Postcode/__tests__/__snapshots__/usePostcode.spec.js.snap
  packages/peregrine/lib/talons/Postcode/__tests__/usePostcode.spec.js
  packages/peregrine/lib/talons/Postcode/usePostcode.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/shippingForm.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/creditCard.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/creditCard.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.gql.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/components/Postcode/index.js
  packages/venia-ui/lib/components/Postcode/postcode.css
  packages/venia-ui/lib/components/Postcode/postcode.js
Labels: Priority: P3, Progress: review, Severity: S2, pkg:peregrine, pkg:venia-ui, version: Minor

#2794 Added shallowMerge util.
  packages/peregrine/lib/talons/AuthModal/useAuthModal.js
  packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js
  packages/peregrine/lib/talons/CategoryList/useCategoryList.js
  packages/peregrine/lib/talons/CategoryTree/useCategoryTree.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/useCreateAccount.js
  packages/peregrine/lib/talons/Cms/useCmsPage.js
  packages/peregrine/lib/talons/CommunicationsPage/useCommunicationsPage.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/FilterModal/useFilterModal.js
  packages/peregrine/lib/talons/Footer/useFooter.js
  packages/peregrine/lib/talons/Header/useAccountMenu.js
  packages/peregrine/lib/talons/Header/useCurrencySwitcher.js
  packages/peregrine/lib/talons/Navigation/useNavigation.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategory.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/peregrine/lib/util/shallowMerge.js
  packages/venia-ui/lib/classify.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2818 #2804 :- Add "maskable icon" to Venia for Google Lighthouse [PWA]
  packages/venia-ui/venia-static/icons/venia_maskable_512.png
  packages/venia-ui/venia-static/manifest.json
Labels: Event: MageCONF CD 2020, Progress: approved, pkg:venia-ui, version: Patch

#2838 Payment extendable
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/paymentMethods.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethodCollection.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethods.js
  packages/venia-ui/lib/targets/PaymentMethodList.js
  packages/venia-ui/lib/targets/__tests__/venia-ui-targets.spec.js
  packages/venia-ui/lib/targets/venia-ui-declare.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
Labels: Award: advanced, Award: special achievement, Award: test coverage, Effort: 2-Medium, Partner: TechDivision, Progress: review, partners-contribution, pkg:venia-ui

#2819 [doc] env variable tutorial
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/peregrine/reference/targets/wrappable-talons/index.md
  pwa-devdocs/src/tutorials/intercept-a-target/add-new-environment-variable/index.md
Labels: Event: MageCONF CD 2020, Progress: review, docs, documentation, pkg:pwa-devdocs, version: Patch

#2778 fix: fix unsupported webp for safari #2551
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/addImgOptMiddleware.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/addImgOptMiddleware.spec.js
  packages/pwa-buildpack/lib/Utilities/addImgOptMiddleware.js
Labels: Progress: approved, pkg:pwa-buildpack, version: Patch
