Repository magento/pwa-studio, pull requests merged in 2020-05, with the labels that each got.

#2360 Add input section to styleguide
  packages/venia-styleguide/src/components/Button/Button.css
  packages/venia-styleguide/src/components/CheckboxInput/CheckboxInput.css
  packages/venia-styleguide/src/components/CheckboxInput/CheckboxInput.js
  packages/venia-styleguide/src/components/CheckboxInput/index.js
  packages/venia-styleguide/src/components/Field/Field.css
  packages/venia-styleguide/src/components/Field/Field.js
  packages/venia-styleguide/src/components/Field/index.js
  packages/venia-styleguide/src/components/RadioInput/RadioInput.css
  packages/venia-styleguide/src/components/RadioInput/RadioInput.js
  packages/venia-styleguide/src/components/RadioInput/index.js
  packages/venia-styleguide/src/components/Routes/routes.yml
  packages/venia-styleguide/src/components/SelectInput/SelectInput.js
  packages/venia-styleguide/src/components/SelectInput/index.js
  packages/venia-styleguide/src/components/TextInput/TextInput.css
  packages/venia-styleguide/src/components/TextInput/TextInput.js
  packages/venia-styleguide/src/components/TextInput/index.js
  packages/venia-styleguide/src/components/TextareaInput/TextareaInput.css
  packages/venia-styleguide/src/components/TextareaInput/TextareaInput.js
  packages/venia-styleguide/src/components/TextareaInput/index.js
  packages/venia-styleguide/src/components/Tree/Branch.css
  packages/venia-styleguide/src/components/Tree/Branch.js
  packages/venia-styleguide/src/components/Tree/Leaf.css
  packages/venia-styleguide/src/components/Tree/Tree.js
  packages/venia-styleguide/src/pages/checkbox-input/CheckboxInput.md
  packages/venia-styleguide/src/pages/checkbox-input/index.js
  packages/venia-styleguide/src/pages/checkbox-input/sections/Structure/index.md
  packages/venia-styleguide/src/pages/radio-input/RadioInput.md
  packages/venia-styleguide/src/pages/radio-input/index.js
  packages/venia-styleguide/src/pages/radio-input/sections/Structure/index.md
  packages/venia-styleguide/src/pages/select-input/SelectInput.md
  packages/venia-styleguide/src/pages/select-input/index.js
  packages/venia-styleguide/src/pages/select-input/sections/Options/Before.md
  packages/venia-styleguide/src/pages/select-input/sections/Options/OptionsTable.md
  packages/venia-styleguide/src/pages/select-input/sections/Options/index.md
  packages/venia-styleguide/src/pages/select-input/sections/Structure/Dimensions.md
  packages/venia-styleguide/src/pages/select-input/sections/Structure/GridLayout.md
  packages/venia-styleguide/src/pages/select-input/sections/Structure/index.md
  packages/venia-styleguide/src/pages/text-input/TextInput.md
  packages/venia-styleguide/src/pages/text-input/index.js
  packages/venia-styleguide/src/pages/text-input/sections/Options/After.md
  packages/venia-styleguide/src/pages/text-input/sections/Options/Before.md
  packages/venia-styleguide/src/pages/text-input/sections/Options/OptionsTable.md
  packages/venia-styleguide/src/pages/text-input/sections/Options/index.md
  packages/venia-styleguide/src/pages/text-input/sections/Structure/Dimensions.md
  packages/venia-styleguide/src/pages/text-input/sections/Structure/GridLayout.md
  packages/venia-styleguide/src/pages/text-input/sections/Structure/index.md
  packages/venia-styleguide/src/pages/textarea-input/TextareaInput.md
  packages/venia-styleguide/src/pages/textarea-input/index.js
  packages/venia-styleguide/src/pages/textarea-input/sections/Structure/index.md
  packages/venia-styleguide/src/styles/reset.css
Labels: Progress: approved, pkg:venia-styleguide, version: Minor

#2375 [chore] Fixes incorrect propType in order confirmation page.
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/orderConfirmationPage.js
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2371 Fixes Checkout Shipping Methods Inadvertent Error Message
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useShippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/shippingMethod.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/completedView.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/shippingMethod.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/shippingRadios.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/updateModal.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/completedView.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethodFragments.gql.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingRadios.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModal.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2381 [Docs] Added section on how to query different storeviews
  pwa-devdocs/src/frequently-asked-questions/index.md
Labels: Partner: Experius, Progress: approved, partners-contribution, pkg:pwa-devdocs

#2374 Rename docker file to get syntax highlighting
  dev.dockerfile
  docker-compose.yml
  prod.dockerfile
Labels: CI_APPROVED, Partner: TechDivision, Progress: approved, partners-contribution

#2366 [feature] Checkout Page Price Adjustments
  packages/peregrine/lib/talons/CartPage/GiftCards/__tests__/useGiftCards.spec.js
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCards.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/useCouponCode.js
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/__snapshots__/giftCards.spec.js.snap
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/giftCards.spec.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCard.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.css
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/__tests__/__snapshots__/couponCode.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/__tests__/couponCode.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CheckoutPage/PriceAdjustments/CouponCode/index.js
  packages/venia-ui/lib/components/CheckoutPage/PriceAdjustments/GiftCard/index.js
  packages/venia-ui/lib/components/CheckoutPage/PriceAdjustments/GiftOptions/index.js
  packages/venia-ui/lib/components/CheckoutPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Major

#2383 [FEATURE] Add extra info for the image component
  pwa-devdocs/src/frequently-asked-questions/index.md
Labels: Partner: Experius, Progress: changes requested, partners-contribution, pkg:pwa-devdocs

#2226 #2209 Display category description (with PageBuilder support as well) on the category view
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
Labels: CI_APPROVED, Partner: Atwix, Progress: approved, partners-contribution, pkg:peregrine, pkg:venia-ui, version: Minor

#2386 Spectrum redesign
  pwa-devdocs/Gemfile.lock
  pwa-devdocs/src/_config.yml
  pwa-devdocs/src/_data/home-sections.yml
  pwa-devdocs/src/_includes/layout/after-site-header.html
  pwa-devdocs/src/_includes/layout/footer-links.html
  pwa-devdocs/src/_includes/layout/navigation.html
  pwa-devdocs/src/_includes/layout/page-header.html
  pwa-devdocs/src/_includes/layout/pre-release-banner.html
  pwa-devdocs/src/_includes/layout/toc.html
  pwa-devdocs/src/_plugins/github_path.rb
  pwa-devdocs/src/_scss/main.scss
  pwa-devdocs/src/_scss/src/_home.scss
  pwa-devdocs/src/_scss/src/_message-banner.scss
  pwa-devdocs/src/_scss/src/_site-header-overrides.scss
  pwa-devdocs/src/_scss/src/menu-section.scss
  pwa-devdocs/src/assets/i/home-bg.jpg
  pwa-devdocs/src/index.html
Labels: Progress: approved

#2387 Remove reference related to recently viewed items
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/cartPage.css
  packages/venia-ui/lib/components/CartPage/cartPage.js
Labels: Progress: approved, pkg:venia-ui

#2151 Added real swatch color resolves #1633
  packages/peregrine/lib/talons/FilterModal/useFilterBlock.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItem.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.css
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
  packages/venia-ui/lib/components/FilterModal/filterBlock.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatch.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatchList.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/swatch.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/swatchList.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/tile.spec.js
  packages/venia-ui/lib/components/ProductOptions/swatch.css
  packages/venia-ui/lib/components/ProductOptions/swatch.js
  packages/venia-ui/lib/fragments/productDetails.graphql
  packages/venia-ui/lib/queries/getCategory.graphql
  packages/venia-ui/lib/queries/getProductDetail.graphql
  packages/venia-ui/lib/queries/getProductDetailBySku.graphql
  packages/venia-ui/lib/util/__mocks__/getRandomColor.js
  packages/venia-ui/lib/util/getRandomColor.js
  packages/venia-ui/lib/util/images.js
  packages/venia-ui/lib/util/makeUrl.js
Labels: Partner: TechDivision, Progress: changes requested, partners-contribution, pkg:peregrine, pkg:venia-ui, version: Minor

#2384 fix(install): Use npm-is to require Yarn before install. Fixes PWA-505.
  dev.dockerfile
  package.json
  prod.dockerfile
Labels: Progress: review, tooling, version: Patch

#2388 [Doc] minor doc site updates
  magento-compatibility.js
  pwa-devdocs/src/_data/home-sections.yml
  pwa-devdocs/src/_includes/layout/pre-release-banner.html
  pwa-devdocs/src/index.html
  pwa-devdocs/src/technologies/contribute/index.md
Labels: Progress: approved

#2382 Removes Checkout Shipping Method Flash of Old Content
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useShippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/shippingMethod.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/shippingRadios.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/updateModal.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/completedView.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/shippingMethod.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/shippingRadios.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/updateModal.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/completedView.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.gql.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingRadios.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModal.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Patch

#2392 Strict SW catalog image checking.
  packages/venia-concept/src/ServiceWorker/Utilities/__tests__/imageCacheHandler.spec.js
  packages/venia-concept/src/ServiceWorker/Utilities/imageCacheHandler.js
Labels: Progress: review, pkg:venia-concept, version: Minor

#2343 #2331 Add new useSort hook and test
  packages/peregrine/lib/hooks/__tests__/useSort.spec.js
  packages/peregrine/lib/hooks/useSort.js
  packages/peregrine/lib/index.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/categoryContent.spec.js
  packages/venia-ui/lib/RootComponents/Category/category.css
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/CategorySort/__tests__/categorySort.spec.js
  packages/venia-ui/lib/components/CategorySort/index.js
  packages/venia-ui/lib/components/ProductSort/__tests__/__snapshots__/productSort.spec.js.snap
  packages/venia-ui/lib/components/ProductSort/__tests__/productSort.spec.js
  packages/venia-ui/lib/components/ProductSort/index.js
  packages/venia-ui/lib/components/ProductSort/productSort.css
  packages/venia-ui/lib/components/ProductSort/productSort.js
  packages/venia-ui/lib/components/ProductSort/sortItem.css
  packages/venia-ui/lib/components/ProductSort/sortItem.js
  packages/venia-ui/lib/components/SearchPage/searchPage.js
Labels: CI_APPROVED, Partner: TechDivision, Progress: review, partners-contribution, pkg:peregrine, pkg:venia-ui, version: Minor

#2390 Service Worker HTML caching bug fix
  packages/peregrine/lib/talons/App/useApp.js
  packages/pwa-buildpack/lib/Utilities/getClientConfig.js
  packages/pwa-buildpack/lib/Utilities/getServiceWorkerConfig.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/configureWebpack.spec.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/ServiceWorkerPlugin.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/ServiceWorkerPlugin.spec.js
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-concept/src/ServiceWorker/Utilities/__tests__/htmlHandler.spec.js
  packages/venia-concept/src/ServiceWorker/Utilities/htmlHandler.js
  packages/venia-concept/src/ServiceWorker/__tests__/registerRoutes.spec.js
  packages/venia-concept/src/ServiceWorker/__tests__/setupWorkbox.spec.js
  packages/venia-concept/src/ServiceWorker/registerRoutes.js
  packages/venia-concept/src/ServiceWorker/setupWorkbox.js
  packages/venia-concept/webpack.config.js
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/app.spec.js
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/lib/constants/swMessageTypes.js
  yarn.lock
Labels: Progress: approved, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Major

#2393 [PWA-577] Mini cart product options (color/size) should be separate lines.
  packages/venia-ui/lib/components/MiniCart/productOptions.css
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2365 The Dialog Component
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useShippingMethod.js
  packages/venia-ui/lib/components/Button/button.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/shippingMethod.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/updateModal.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModal.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModal.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModalCancelButton.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModalCancelIconButton.js
  packages/venia-ui/lib/components/Dialog/__stories__/dialog.css
  packages/venia-ui/lib/components/Dialog/__stories__/dialog.js
  packages/venia-ui/lib/components/Dialog/__tests__/__snapshots__/dialog.spec.js.snap
  packages/venia-ui/lib/components/Dialog/__tests__/dialog.spec.js
  packages/venia-ui/lib/components/Dialog/dialog.css
  packages/venia-ui/lib/components/Dialog/dialog.js
  packages/venia-ui/lib/components/Dialog/index.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2399 [Doc] state management tutorial
  pwa-devdocs/Gemfile
  pwa-devdocs/Gemfile.lock
  pwa-devdocs/_drafts/pwa-studio-fundamentals/component-state/index.md
  pwa-devdocs/src/_config.yml
  pwa-devdocs/src/_data/home-sections.yml
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/releases/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/manage-state/index.md
Labels: Progress: review, docs, documentation, pkg:pwa-devdocs

#2400 Add pjpg format only if image type of not png.
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/util/__tests__/makeUrl.spec.js
  packages/venia-ui/lib/util/makeUrl.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#2389 Updates PR template based on Retrospective
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Progress: approved

#2315 Updating the node version in venia-concept
  packages/upward-js/package.json
  packages/venia-concept/package.json
  yarn.lock
Labels: CI_APPROVED, Event: Global-Contribution-Day, Partner: Webjump, Progress: approved, partners-contribution, pkg:upward-js, pkg:venia-concept, version: Patch

#2403 [PWA-562] Checkout (auth): Stored Address Follow Up
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/useAddressCard.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useCustomerForm.js
  packages/peregrine/lib/talons/Region/useRegion.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.gql.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/Region/region.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui

#2316 [Docs] Adding section to docs about SASS and LESS
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/tutorials/enable-sass-less-support/index.md
Labels: CI_APPROVED, Event: Global-Contribution-Day, Partner: Webjump, Progress: review, docs, documentation, partners-contribution, pkg:pwa-devdocs, version: Patch

#2379 When auth token is invalid reset cart and refetch details
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/talons/AuthModal/useAuthModal.js
  packages/peregrine/lib/talons/Header/useCartTrigger.js
  packages/venia-ui/lib/components/Header/__tests__/cartTrigger.spec.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Patch

#2406 update docker image
  dev.dockerfile
  prod.dockerfile
Labels: Progress: review

#2416 PWA-609: Nudges css in the right direction on the checkout page
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/summary.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/completedView.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/completedView.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/completedView.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.css
Labels: Progress: review, pkg:venia-ui, version: Patch

#2402 Preselect lowest cost shipping method for authed users without one
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useShippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/shippingMethod.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/shippingRadios.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/updateModal.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/shippingMethod.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/shippingRadios.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/updateModal.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingRadios.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingRadios.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModal.js
  packages/venia-ui/lib/components/RadioGroup/__tests__/__snapshots__/radioGroup.spec.js.snap
  packages/venia-ui/lib/components/RadioGroup/__tests__/radioGroup.spec.js
  packages/venia-ui/lib/components/RadioGroup/radioGroup.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2421 [PWA-595] GraphQL Build Warning
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.gql.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethodsFragments.gql.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingRadios.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/EditForm/editForm.gql.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.gql.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethodFragments.gql.js
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2432 [Doc] graphql tutorial
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/work-with-graphql/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs

#2439 Add Community Maintainer
  README.md
Labels: Partner: TechDivision, Progress: approved, partners-contribution

#2420 Fix dev server unhandled error
  packages/pwa-buildpack/lib/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/PWADevServer.spec.js
Labels: Progress: approved, pkg:pwa-buildpack, version: Patch

#2436 Portal Component
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/editModal.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/editModal.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/__tests__/__snapshots__/editModal.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/__tests__/editModal.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/updateModal.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/updateModal.spec.js
  packages/venia-ui/lib/components/Dialog/__tests__/__snapshots__/dialog.spec.js.snap
  packages/venia-ui/lib/components/Dialog/__tests__/dialog.spec.js
  packages/venia-ui/lib/components/Dialog/dialog.js
  packages/venia-ui/lib/components/FilterModal/filterModal.js
  packages/venia-ui/lib/components/Modal/index.js
  packages/venia-ui/lib/components/Portal/index.js
  packages/venia-ui/lib/components/Portal/portal.js
Labels: Progress: review, pkg:venia-ui, version: Minor

#2433 Order confirmation page multi refresh fix
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
Labels: Progress: review, pkg:peregrine, version: Patch
