Repository magento/pwa-studio, pull requests merged in 2020-07, with the labels that each got.

#2517 [PWA-720] Error Case Tests
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/useShippingForm.spec.js.snap
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/__tests__/useShippingForm.spec.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/__tests__/useCouponCode.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/__snapshots__/useProductForm.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useProductForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/__tests__/useAddressBook.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useCustomerForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useGuestForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useCustomerForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useGuestForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useShippingMethod.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/FormError/__tests__/__snapshots__/useFormError.spec.js.snap
  packages/peregrine/lib/talons/FormError/__tests__/useFormError.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/shippingMethods.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/shippingMethods.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/productForm.spec.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/__tests__/__snapshots__/addressBook.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/__tests__/addressBook.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/customerForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/guestForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/customerForm.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/guestForm.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/shippingMethod.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/updateModal.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/shippingMethod.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/updateModal.spec.js
  packages/venia-ui/lib/components/FormError/__tests__/__snapshots__/formError.spec.js.snap
  packages/venia-ui/lib/components/FormError/__tests__/formError.spec.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2526 Restrict open pulls to 5 and restrict to semver
  .github/dependabot.yml
Labels: Progress: approved, version: Patch

#2528 forgot an s
  .github/dependabot.yml
Labels: Progress: approved

#2415 Unable to find a readme for @magento/create-pwa@1.1.1 in npmjs.com
  packages/create-pwa/README.md
Labels: Progress: approved, pkg:create-pwa

#2518 Add Shikha Mishra to contributers list
  README.md
Labels: Partner: TechDivision, Progress: approved, partners-contribution, version: Patch

#2523 PWA-722: Venia button follow up changes
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/__snapshots__/banner.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/ButtonItem/__tests__/__snapshots__/buttonItem.spec.js.snap
  packages/venia-ui/lib/components/Button/button.css
  packages/venia-ui/lib/components/Button/button.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/__tests__/__snapshots__/couponCode.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/shippingForm.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/shippingMethods.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/priceSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/Checkout/Receipt/__tests__/__snapshots__/receipt.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/addressForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/checkoutButton.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/overview.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/paymentsForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/shippingform.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/Dialog/__tests__/__snapshots__/dialog.spec.js.snap
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/__tests__/__snapshots__/forgotPasswordForm.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/cartOptions.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/emptyMiniCartBody.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/cartOptions.js
  packages/venia-ui/lib/components/ProductSort/__tests__/__snapshots__/productSort.spec.js.snap
Labels: Progress: approved, pkg:pagebuilder, pkg:venia-ui, version: Patch

#2498 Scroll top when payment information is done
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#2423 Allow Magento HTTP Backend when configured
  packages/pwa-buildpack/lib/Utilities/__tests__/graphQL.spec.js
  packages/pwa-buildpack/lib/Utilities/graphQL.js
  packages/upward-js/lib/resolvers/ProxyResolver.js
Labels: CI_APPROVED, Progress: approved, pkg:pwa-buildpack, pkg:upward-js, version: Patch

#2484 Add legal header character
  packages/upward-js/lib/ContextPath.js
  packages/upward-js/lib/__tests__/Context.test.js
Labels: Progress: approved, pkg:upward-js

#2527 PWA-707: Update Venia's accordions to match the style guides accordions
  packages/venia-ui/lib/components/Accordion/__tests__/__snapshots__/accordion.spec.js.snap
  packages/venia-ui/lib/components/Accordion/accordion.css
  packages/venia-ui/lib/components/Accordion/section.css
  packages/venia-ui/lib/components/Accordion/section.js
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/__snapshots__/giftCard.spec.js.snap
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/__snapshots__/giftCards.spec.js.snap
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCard.css
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCard.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.css
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/__tests__/__snapshots__/couponCode.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/__snapshots__/priceAdjustments.spec.js.snap
  packages/venia-ui/lib/components/CartPage/cartPage.css
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/item.css
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/itemsReview.css
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/itemsReview.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/showAllButton.css
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/showAllButton.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.css
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/LinkButton/linkButton.css
Labels: Progress: approved, pkg:venia-ui, version: Minor

#2520 Update Gallery component to use item.id for key prop on GalleryItem
  packages/venia-ui/lib/components/Gallery/gallery.js
Labels: Partner: Aligent Consulting, Priority: P1, Progress: approved, Severity: S1, partners-contribution, pkg:venia-ui, version: Major

#2493 #2441: Fix for Category Sort
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/categoryContent.spec.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
Labels: Progress: changes requested, pkg:venia-ui, version: Patch

#2547 Fix MiniCart Interaction Blocking
  packages/venia-ui/lib/components/MiniCart/miniCart.css
Labels: Progress: approved, pkg:venia-ui

#2505 PWA-602: Add to Shopping Bag from PDP
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/useProductFullDetail.spec.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/venia-concept/package.json
  packages/venia-concept/src/index.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.css
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.gql.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/queries/addSimpleProductsToCart.graphql
  yarn.lock
Labels: Progress: review, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Major

#2509 Mini Cart V2 / Shopping Bag header component.
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/miniCart.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/miniCart.css
  packages/venia-ui/lib/components/MiniCart/miniCart.gql.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2545 PWA-706: Update Venia's cards to match the style guides cards
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.css
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/__tests__/__snapshots__/addressBook.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressBook.css
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressBook.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressCard.css
  packages/venia-ui/lib/components/CheckoutPage/OrderSummary/orderSummary.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/summary.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentInformation.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethods.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/summary.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/summary.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/__tests__/__snapshots__/shippingInformation.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/card.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/completedView.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/completedView.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/completedView.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.css
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.css
Labels: Progress: review, pkg:venia-ui, version: Minor

#2511 Mini Cart V2 / Shopping Bag Footer section.
  packages/peregrine/lib/talons/Header/__tests__/useCartTrigger.spec.js
  packages/peregrine/lib/talons/Header/useCartTrigger.js
  packages/peregrine/lib/talons/MiniCart/__tests__/__snapshots__/useItem.spec.js.snap
  packages/peregrine/lib/talons/MiniCart/__tests__/__snapshots__/useMiniCart.spec.js.snap
  packages/peregrine/lib/talons/MiniCart/__tests__/useItem.spec.js
  packages/peregrine/lib/talons/MiniCart/__tests__/useMiniCart.spec.js
  packages/peregrine/lib/talons/MiniCart/useItem.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/cartTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/cartTrigger.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/miniCart.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/miniCart.css
  packages/venia-ui/lib/components/MiniCart/miniCart.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui

#2565 Update home page route
  packages/venia-ui/lib/components/Routes/routes.js
Labels: Progress: approved, pkg:venia-ui, version: Major

#2568 [Doc] Update release notes
  CHANGELOG.md
Labels: Progress: review

#2535 [PWA-666]: Update Hastily image optimizer
  packages/pwa-buildpack/package.json
  packages/upward-js/lib/resolvers/ProxyResolver.js
  packages/upward-js/lib/resolvers/__tests__/ProxyResolver.test.js
  yarn.lock
Labels: Progress: approved, pkg:pwa-buildpack, pkg:upward-js, version: Patch

#2566 [Doc] Add note about Node 12 deprecation warnings
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/index.md
  pwa-devdocs/src/venia-pwa-concept/features/modular-components/index.md
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: Progress: changes requested, docs, documentation, pkg:pwa-devdocs

#2543 Scroll lock effect avoid body shift when activated
  packages/venia-ui/lib/index.css
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2554 Hide mini cart on the checkout page.
  packages/peregrine/lib/hooks/useDropdown.js
  packages/peregrine/lib/talons/Header/__tests__/useCartTrigger.spec.js
  packages/peregrine/lib/talons/Header/useCartTrigger.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/cartTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/cartTrigger.spec.js
  packages/venia-ui/lib/components/Header/cartTrigger.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2559 [PWA-713] Update Venia's filters
  packages/venia-ui/lib/components/Checkbox/checkbox.css
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.css
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilters.css
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilters.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.css
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.css
  packages/venia-ui/lib/components/FilterModal/filterBlock.css
  packages/venia-ui/lib/components/FilterModal/filterFooter.js
  packages/venia-ui/lib/components/FilterModal/filterModal.css
  packages/venia-ui/lib/components/FilterModal/filterModal.js
  packages/venia-ui/lib/components/LinkButton/linkButton.css
Labels: Progress: approved, pkg:venia-ui, version: Minor

#2557 Cart page product links.
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/product.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/productListing.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.css
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListingFragments.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2549 Mini Cart V2 - Product link for each product in the mini cart.
  packages/peregrine/lib/talons/MiniCart/__tests__/__snapshots__/useMiniCart.spec.js.snap
  packages/peregrine/lib/talons/MiniCart/useItem.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/productList.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/item.spec.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/productList.spec.js
  packages/venia-ui/lib/components/MiniCart/ProductList/item.css
  packages/venia-ui/lib/components/MiniCart/ProductList/item.js
  packages/venia-ui/lib/components/MiniCart/ProductList/productList.gql.js
  packages/venia-ui/lib/components/MiniCart/ProductList/productList.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2575 [Doc] Suggested additions to buildpack ref docs
  packages/pwa-buildpack/lib/BuildBus/BuildBus.js
  packages/pwa-buildpack/lib/BuildBus/Target.js
  packages/pwa-buildpack/lib/BuildBus/TargetProvider.js
  packages/pwa-buildpack/lib/BuildBus/declare-base.js
  packages/pwa-buildpack/lib/BuildBus/mapHooksToTargets.js
  packages/pwa-buildpack/lib/Utilities/getEnvVarDefinitions.js
  pwa-devdocs/scripts/create-reference-docs/config/buildpack.js
  pwa-devdocs/src/_data/buildpack-api.yml
  pwa-devdocs/src/_data/pwa-buildpack.yml
  pwa-devdocs/src/pwa-buildpack/reference/environment-variables/core-definitions/index.md
  pwa-devdocs/src/pwa-buildpack/reference/environment-variables/definitions-api/index.md
  pwa-devdocs/src/pwa-buildpack/reference/environment-variables/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/production-launch-checklist/index.md
Labels: Progress: changes requested, pkg:pwa-buildpack, version: Patch

#2550 Account Menu
  packages/peregrine/lib/hooks/__tests__/useDropdown.spec.js
  packages/peregrine/lib/hooks/useDropdown.js
  packages/peregrine/lib/talons/AccountChip/useAccountChip.js
  packages/peregrine/lib/talons/AuthBar/useAuthBar.js
  packages/peregrine/lib/talons/AuthBar/useUserChip.js
  packages/peregrine/lib/talons/Header/useAccountTrigger.js
  packages/peregrine/lib/talons/MyAccount/useMyAccount.js
  packages/peregrine/lib/talons/Navigation/useNavigationHeader.js
  packages/venia-ui/lib/components/AccountChip/__stories__/accountChip.js
  packages/venia-ui/lib/components/AccountChip/__tests__/__snapshots__/accountChip.spec.js.snap
  packages/venia-ui/lib/components/AccountChip/__tests__/accountChip.spec.js
  packages/venia-ui/lib/components/AccountChip/accountChip.css
  packages/venia-ui/lib/components/AccountChip/accountChip.js
  packages/venia-ui/lib/components/AccountChip/index.js
  packages/venia-ui/lib/components/AccountMenu/__tests__/__snapshots__/accountMenu.spec.js.snap
  packages/venia-ui/lib/components/AccountMenu/__tests__/__snapshots__/accountMenuItems.spec.js.snap
  packages/venia-ui/lib/components/AccountMenu/__tests__/accountMenu.spec.js
  packages/venia-ui/lib/components/AccountMenu/__tests__/accountMenuItems.spec.js
  packages/venia-ui/lib/components/AccountMenu/accountMenu.css
  packages/venia-ui/lib/components/AccountMenu/accountMenu.js
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.css
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.js
  packages/venia-ui/lib/components/AccountMenu/index.js
  packages/venia-ui/lib/components/AuthBar/authBar.css
  packages/venia-ui/lib/components/AuthBar/authBar.js
  packages/venia-ui/lib/components/AuthBar/userChip.css
  packages/venia-ui/lib/components/AuthBar/userChip.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/accountTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/header.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/accountTrigger.spec.js
  packages/venia-ui/lib/components/Header/__tests__/header.spec.js
  packages/venia-ui/lib/components/Header/accountTrigger.css
  packages/venia-ui/lib/components/Header/accountTrigger.js
  packages/venia-ui/lib/components/Header/cartTrigger.css
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/MiniCart/miniCart.css
  packages/venia-ui/lib/components/MyAccount/myAccount.css
  packages/venia-ui/lib/components/MyAccount/myAccount.js
  packages/venia-ui/lib/components/Navigation/__tests__/__snapshots__/navHeader.spec.js.snap
  packages/venia-ui/lib/components/Navigation/__tests__/__snapshots__/navigation.spec.js.snap
  packages/venia-ui/lib/components/Navigation/__tests__/navHeader.spec.js
  packages/venia-ui/lib/components/Navigation/navHeader.css
  packages/venia-ui/lib/components/Navigation/navHeader.js
  packages/venia-ui/lib/components/Navigation/navigation.css
  packages/venia-ui/lib/components/Navigation/navigation.js
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/SignIn/__tests__/signIn.spec.js
  packages/venia-ui/lib/components/SignIn/signIn.css
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: Progress: changes requested, pkg:peregrine, pkg:venia-ui, version: Major

#2572 fix: move cart creation out of trigger
  packages/peregrine/lib/context/__tests__/cart.spec.js
  packages/peregrine/lib/context/cart.js
  packages/peregrine/lib/talons/Header/useCartTrigger.js
  packages/peregrine/package.json
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCardQueries.js
  packages/venia-ui/lib/components/Header/cartTrigger.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Patch

#2579 [DOC] Suggested reorg of Buildpack reference doc content
  packages/pwa-buildpack/lib/BuildBus/mapHooksToTargets.js
  packages/pwa-buildpack/lib/Utilities/getEnvVarDefinitions.js
  pwa-devdocs/scripts/create-reference-docs/config/buildpack.js
  pwa-devdocs/src/_data/buildpack-api.yml
  pwa-devdocs/src/_data/pwa-buildpack.yml
  pwa-devdocs/src/pwa-buildpack/configuration-management/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildbus/targets/index.md
  pwa-devdocs/src/pwa-buildpack/reference/environment-variables/core-definitions/index.md
  pwa-devdocs/src/pwa-buildpack/reference/environment-variables/index.md
  pwa-devdocs/src/pwa-buildpack/reference/extension-framework/index.md
  pwa-devdocs/src/pwa-buildpack/reference/extension-framework/target/index.md
  pwa-devdocs/src/pwa-buildpack/reference/extension-framework/targetprovider/index.md
  pwa-devdocs/src/pwa-buildpack/reference/magento-resolver/index.md
  pwa-devdocs/src/pwa-buildpack/reference/object-types/index.md
  pwa-devdocs/src/pwa-buildpack/reference/pwa-dev-server/index.md
  pwa-devdocs/src/pwa-buildpack/reference/serviceworker-plugin/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targets/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/index.md
Labels: pkg:pwa-buildpack, version: Patch

#2514 pwa-studio section is missing from final package
  packages/venia-concept/_buildpack/create.js
Labels: Priority: P3, Progress: approved, pkg:venia-concept

#2548 [PWA-680] Webpagetest security score is too low
  .gitignore
  dev.dockerfile
  package.json
  packages/extensions/upward-security-headers/intercept.js
  packages/extensions/upward-security-headers/package.json
  packages/extensions/upward-security-headers/upward.yml
  packages/pwa-buildpack/lib/BuildBus/declare-base.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getClientConfig.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/UpwardIncludePlugin.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/UpwardIncludePlugin.spec.js
  packages/pwa-buildpack/lib/cli/create-project.js
  packages/venia-concept/_buildpack/__tests__/create.spec.js
  packages/venia-concept/_buildpack/create.js
  packages/venia-concept/package.json
  prod.dockerfile
Labels: Progress: review, pkg:extensions, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Major

#2513 Adjust page-level max-width
  packages/venia-ui/lib/components/Footer/__tests__/__snapshots__/footer.spec.js.snap
  packages/venia-ui/lib/components/Footer/__tests__/footer.spec.js
  packages/venia-ui/lib/components/Footer/footer.css
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/Header/header.css
  packages/venia-ui/lib/components/Main/main.css
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.css
  packages/venia-ui/lib/components/SearchBar/searchBar.css
  packages/venia-ui/lib/tokens.css
Labels: Progress: approved, pkg:venia-ui, version: Minor

#2585 Update link in CHANGELOG.md
  CHANGELOG.md
Labels: Progress: approved

#2584 [Release] Back merge release/7.0 into develop
  CHANGELOG.md
  magento-compatibility.js
  package.json
  packages/create-pwa/package.json
  packages/graphql-cli-validate-magento-pwa-queries/package.json
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/Routes/routes.js
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: Progress: approved, pkg:create-pwa, pkg:graphql-cli-validate-magento-pwa-queries, pkg:pagebuilder, pkg:peregrine, pkg:pwa-buildpack, pkg:upward-js, pkg:upward-spec, pkg:venia-concept, pkg:venia-ui

#2574 fix: no more infinite error loop if cart creation fails
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/store/actions/checkout/asyncActions.js
  packages/peregrine/lib/store/reducers/__tests__/cart.spec.js
  packages/peregrine/lib/store/reducers/cart.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui

#2583 fix: unset page loading on cms unmount
  packages/venia-ui/lib/RootComponents/CMS/cms.js
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2582 fix: sticky sidebar on checkout page no longer overlaps footer
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.css
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/orderConfirmationPage.css
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2594 fix: remove rimraf from security package
  packages/extensions/upward-security-headers/package.json
Labels: Progress: review, pkg:extensions
