Repository magento/pwa-studio, pull requests merged in 2020-12, with the labels that each got.

#2859 Use ApolloClient for MagentoRoute
  packages/peregrine/lib/PeregrineContextProvider/__tests__/__snapshots__/peregrineContextProvider.spec.js.snap
  packages/peregrine/lib/PeregrineContextProvider/peregrineContextProvider.js
  packages/peregrine/lib/context/rootComponents.js
  packages/peregrine/lib/talons/MagentoRoute/__tests__/useMagentoRoute.spec.js
  packages/peregrine/lib/talons/MagentoRoute/getRouteComponent.js
  packages/peregrine/lib/talons/MagentoRoute/helpers.js
  packages/peregrine/lib/talons/MagentoRoute/index.js
  packages/peregrine/lib/talons/MagentoRoute/magentoRoute.gql.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/category.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/category.spec.js
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/components/MagentoRoute/magentoRoute.gql.js
  packages/venia-ui/lib/components/MagentoRoute/magentoRoute.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#2877 Fix apiBase URL in resolveUnknownRoute.js
  packages/peregrine/lib/Router/__tests__/resolveUnknownRoute.test.js
  packages/peregrine/lib/Router/resolveUnknownRoute.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#2880 Use async version of act()
  packages/peregrine/lib/talons/MagentoRoute/__tests__/useMagentoRoute.spec.js
Labels: Progress: approved, pkg:peregrine

#2870 [PWA-1128] fix(buildpack): Stop apicache from overriding good cache headers.
  packages/pwa-buildpack/lib/Utilities/__tests__/addImgOptMiddleware.spec.js
  packages/pwa-buildpack/lib/Utilities/addImgOptMiddleware.js
  packages/pwa-buildpack/package.json
  packages/upward-js/lib/resolvers/DirectoryResolver.js
  packages/venia-ui/upward.yml
  yarn.lock
Labels: Progress: approved, pkg:pwa-buildpack, pkg:upward-js, pkg:venia-ui, version: Patch

#2881 magento/magento2-page-builder#637: Form field/field group viewport scope
  packages/pagebuilder/lib/parseStorageHtml.js
Labels: Progress: approved, pkg:pagebuilder

#2871 [doc] update cloud deployment topic
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Minor

#2893 Handle array of paths as route pattern
  packages/venia-ui/lib/targets/__tests__/makeRoutesTarget.spec.js
  packages/venia-ui/lib/targets/makeRoutesTarget.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#2897 Fix missing projectConfig in create-custom-origin
  packages/pwa-buildpack/lib/cli/create-custom-origin.js
  pwa-devdocs/src/pwa-buildpack/configuration-management/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/load-env/index.md
Labels: Progress: approved, pkg:pwa-buildpack

#2896 Improve RootComponents talons test coverage
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategory.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategoryContent.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategory.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategoryContent.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useNoProductsFound.spec.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#2879 Address Book - Add & Edit
  packages/peregrine/lib/talons/AddressBookPage/__tests__/useAddressBookPage.spec.js
  packages/peregrine/lib/talons/AddressBookPage/addressBookFragments.gql.js
  packages/peregrine/lib/talons/AddressBookPage/addressBookPage.gql.js
  packages/peregrine/lib/talons/AddressBookPage/useAddressBookPage.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addEditDialog.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addressBookPage.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addressCard.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/__tests__/addEditDialog.spec.js
  packages/venia-ui/lib/components/AddressBookPage/__tests__/addressBookPage.spec.js
  packages/venia-ui/lib/components/AddressBookPage/__tests__/addressCard.spec.js
  packages/venia-ui/lib/components/AddressBookPage/addEditDialog.css
  packages/venia-ui/lib/components/AddressBookPage/addEditDialog.js
  packages/venia-ui/lib/components/AddressBookPage/addressBookPage.js
  packages/venia-ui/lib/components/AddressBookPage/addressCard.css
  packages/venia-ui/lib/components/AddressBookPage/addressCard.js
  packages/venia-ui/lib/components/Checkbox/checkbox.css
  packages/venia-ui/lib/components/Dialog/__tests__/__snapshots__/dialog.spec.js.snap
  packages/venia-ui/lib/components/Dialog/dialog.js
  packages/venia-ui/lib/components/Region/region.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2902 [feature] Use root category id from gql
  packages/peregrine/lib/store/reducers/catalog.js
  packages/peregrine/lib/talons/CategoryList/useCategoryList.js
  packages/peregrine/lib/talons/CategoryTree/useCategoryTree.js
  packages/peregrine/lib/talons/Cms/cmsPage.gql.js
  packages/peregrine/lib/talons/Cms/useCmsPage.js
  packages/peregrine/lib/talons/Navigation/__tests__/useNavigation.spec.js
  packages/peregrine/lib/talons/Navigation/navigation.gql.js
  packages/peregrine/lib/talons/Navigation/useNavigation.js
  packages/pwa-buildpack/lib/queries/getStoreMediaUrl.graphql
  packages/venia-ui/lib/RootComponents/CMS/__tests__/cms.spec.js
  packages/venia-ui/lib/RootComponents/CMS/cms.js
  packages/venia-ui/lib/components/CategoryList/categoryList.js
  packages/venia-ui/lib/components/CategoryTree/categoryTree.js
  packages/venia-ui/lib/components/Navigation/__tests__/navigation.spec.js
Labels: Progress: approved, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-ui, version: Major

#2824 #2797. Re-factor Edit Product to use Dialog
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/__snapshots__/useEditModal.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/__snapshots__/useProductForm.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useEditModal.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useProductForm.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useEditModal.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/editModal.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/editModal.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/productForm.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/editModal.css
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/editModal.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.css
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
Labels: Partner: Divante, Progress: review, partners-contribution, pkg:peregrine, pkg:venia-ui

#2889 [PWA-458] Checkout - Sign In View
  packages/peregrine/lib/talons/CartPage/__tests__/useCartPage.spec.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/peregrine/lib/talons/CheckoutPage/GuestSignIn/__tests__/useGuestSignIn.spec.js
  packages/peregrine/lib/talons/CheckoutPage/GuestSignIn/useGuestSignIn.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/AuthModal/__tests__/__snapshots__/authModal.spec.js.snap
  packages/venia-ui/lib/components/AuthModal/__tests__/authModal.spec.js
  packages/venia-ui/lib/components/AuthModal/authModal.css
  packages/venia-ui/lib/components/AuthModal/authModal.js
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/cartPage.css
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/CheckoutPage/GuestSignIn/__tests__/__snapshots__/guestSignIn.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/GuestSignIn/__tests__/guestSignIn.spec.js
  packages/venia-ui/lib/components/CheckoutPage/GuestSignIn/guestSignIn.css
  packages/venia-ui/lib/components/CheckoutPage/GuestSignIn/guestSignIn.js
  packages/venia-ui/lib/components/CheckoutPage/GuestSignIn/index.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/__tests__/checkoutPage.spec.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.css
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CreateAccount/createAccount.css
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.css
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#2891 Allow self signed certs for backend validation and only attach to scaffold sample
  packages/extensions/venia-sample-backends/__tests__/__snapshots__/intercept.spec.js.snap
  packages/extensions/venia-sample-backends/intercept.js
  packages/pwa-buildpack/lib/Utilities/createProject.js
  packages/venia-concept/_buildpack/__tests__/create.spec.js
  packages/venia-concept/_buildpack/create.js
  packages/venia-concept/package.json
  yarn.lock
Labels: Progress: approved, pkg:create-pwa, pkg:extensions, pkg:pwa-buildpack, pkg:venia-concept, version: Patch

#2850 Work around order details issue
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui

#2852 Add Adobe client data layer
  packages/extensions/venia-adobe-data-layer/index.js
  packages/extensions/venia-adobe-data-layer/intercept.js
  packages/extensions/venia-adobe-data-layer/package.json
  packages/venia-concept/package.json
  packages/venia-concept/webpack.config.js
  yarn.lock
Labels: Progress: approved, pkg:extensions, pkg:venia-concept, pkg:venia-ui, version: Minor

#2907 [Doc] Refactor tutorials section
  pwa-devdocs/_archived/css-modules/index.md
  pwa-devdocs/_archived/hello-upward/adding-react/index.md
  pwa-devdocs/_archived/hello-upward/simple-server/index.md
  pwa-devdocs/_archived/hello-upward/using-template-resolver/index.md
  pwa-devdocs/_archived/manage-state/index.md
  pwa-devdocs/_archived/using-component-props/images/prop-types-error.png
  pwa-devdocs/_archived/using-component-props/index.md
  pwa-devdocs/_archived/work-with-graphql/index.md
  pwa-devdocs/src/_data/home-sections.yml
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/_includes/layout/toc.html
  pwa-devdocs/src/frequently-asked-questions/index.md
  pwa-devdocs/src/peregrine/routing/index.md
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
  pwa-devdocs/src/tutorials/index.md
  pwa-devdocs/src/tutorials/intercept-a-target/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-structure/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#2911 Add props to nav query to render root category links
  packages/peregrine/lib/talons/CategoryTree/categoryTree.gql.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#2912 PWA-1074: Fix relative import for local custom loader
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getModuleRules.js
Labels: Progress: approved, pkg:pwa-buildpack, version: Patch

#2888 Delete Address from Address Book
  packages/peregrine/lib/talons/AddressBookPage/__tests__/useAddressBookPage.spec.js
  packages/peregrine/lib/talons/AddressBookPage/addressBookPage.gql.js
  packages/peregrine/lib/talons/AddressBookPage/useAddressBookPage.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addressBookPage.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addressCard.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/__tests__/addressBookPage.spec.js
  packages/venia-ui/lib/components/AddressBookPage/__tests__/addressCard.spec.js
  packages/venia-ui/lib/components/AddressBookPage/addressBookPage.js
  packages/venia-ui/lib/components/AddressBookPage/addressCard.css
  packages/venia-ui/lib/components/AddressBookPage/addressCard.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2918 [PWA-1206] Hide "Favorites Lists" and "Store Credit & Gift Cards" on release branch
  packages/peregrine/lib/talons/AccountMenu/useAccountMenuItems.js
Labels: Progress: approved, pkg:peregrine, version: Patch
