Repository magento/pwa-studio, pull requests merged in 2020-01, with the labels that each got.

#2052 [cherry-pick] Bump handlebars from 4.1.2 to 4.5.3 (#2048)
  yarn.lock
Labels: Progress: approved

#2037 Search Result Counts Match
  packages/peregrine/lib/talons/SearchBar/__tests__/useAutocomplete.spec.js
  packages/peregrine/lib/talons/SearchBar/useAutocomplete.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  packages/venia-ui/lib/components/SearchPage/searchPage.js
  packages/venia-ui/lib/queries/productSearch.graphql
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2055 [PWA-261] [SAFARI][DESKTOP][CLOUD] Default swatch image ratio is not proper on product details page
  packages/peregrine/lib/talons/Image/__tests__/useResourceImage.spec.js
  packages/peregrine/lib/talons/Image/useResourceImage.js
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Image/___tests__/__snapshots__/image.spec.js.snap
  packages/venia-ui/lib/components/Image/resourceImage.js
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/util/images.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2039 [PWA-229] [DX] VSCode Jest Plugin Broken
  jest.config.js
Labels: Progress: review, version: Patch

#2085 [PB] PWA - Alignment Inheritance for Button Group Doesn't Work & Slide Overlay/Links Don't Work
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Buttons/buttons.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Slider/slider.css
Labels: pkg:venia-ui, version: Minor

#2054 [PB] CMS Page Links in Link Attribute Append .html in URL in PWA
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/banner.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ButtonItem/buttonItem.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/image.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/resolveLinkProps.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/resolveLinkProps.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#2056 [PB] PWA - Empty Products Content Type Shows No Products to Display Message on Storefront
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/__tests__/__snapshots__/products.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/__tests__/products.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/products.js
Labels: pkg:venia-ui, version: Minor

#2050 Fixed binary file reading
  packages/upward-js/lib/IOAdapter.js
  packages/upward-js/lib/middleware.js
  packages/venia-ui/upward.yml
Labels: Progress: approved, pkg:upward-js, pkg:venia-ui, version: Major

#2084 Venia v2 Cart Page
  packages/peregrine/lib/talons/CartPage/__tests__/useCartPage.spec.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/venia-ui/lib/components/CartPage/cartPage.css
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/CartPage/index.js
  packages/venia-ui/lib/components/Routes/routes.js
Labels: Progress: changes requested, pkg:peregrine, pkg:venia-ui, version: Minor

#2086 [5.0] [JIRA-262] Robust HTML update checking.
  packages/venia-concept/package.json
  packages/venia-concept/src/ServiceWorker/Utilities/__tests__/htmlHandler.spec.js
  packages/venia-concept/src/ServiceWorker/Utilities/htmlHandler.js
  yarn.lock
Labels: Progress: approved, pkg:venia-concept, version: Minor

#2097 PB-363: Update the Page Builder integration docs
  pwa-devdocs/src/_drafts/pagebuilder/custom-components/add-component/images/AddComponentOutput.svg
  pwa-devdocs/src/_drafts/pagebuilder/custom-components/add-component/index.md
  pwa-devdocs/src/_drafts/pagebuilder/images/PageBuilderBigPicture1.svg
  pwa-devdocs/src/_drafts/pagebuilder/images/PageBuilderIntegration.svg
  pwa-devdocs/src/_drafts/pagebuilder/images/PageBuilderIntegrationDetails.svg
  pwa-devdocs/src/_drafts/pagebuilder/index.md
  pwa-devdocs/src/_drafts/pagebuilder/known-limitations/index.md
Labels: version: Patch

#2098 Upgrade dependencies
  packages/peregrine/lib/PeregrineContextProvider/__tests__/__snapshots__/peregrineContextProvider.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/createProject.js
  yarn.lock
Labels: Progress: approved, pkg:peregrine, pkg:pwa-buildpack, version: Patch

#2096 Move 5.0 docs out of drafts
  pwa-devdocs/src/_data/buildpack-api.yml
  pwa-devdocs/src/_data/getting-started.yml
  pwa-devdocs/src/peregrine/talons/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/create-project/index.md
  pwa-devdocs/src/pwa-buildpack/scaffolding/custom-project-templates/index.md
  pwa-devdocs/src/pwa-buildpack/scaffolding/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#2102 Revert "PB-363: Update the Page Builder integration docs"
  pwa-devdocs/src/_drafts/pagebuilder/custom-components/add-component/images/AddComponentOutput.svg
  pwa-devdocs/src/_drafts/pagebuilder/custom-components/add-component/index.md
  pwa-devdocs/src/_drafts/pagebuilder/images/PageBuilderBigPicture1.svg
  pwa-devdocs/src/_drafts/pagebuilder/images/PageBuilderIntegration.svg
  pwa-devdocs/src/_drafts/pagebuilder/images/PageBuilderIntegrationDetails.svg
  pwa-devdocs/src/_drafts/pagebuilder/index.md
  pwa-devdocs/src/_drafts/pagebuilder/known-limitations/index.md
Labels: Progress: approved

#2089 Release notes 5.0
  CHANGELOG.md
  magento-compatibility.js
Labels: Progress: changes requested, docs, documentation, version: Major

#2092 [PWA-240] [feature]: Cart Price Summary
  packages/peregrine/lib/talons/CartPage/PriceSummary/usePriceSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/discountSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/giftCardSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/priceSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/shippingSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/taxSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/discountSummary.spec.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/giftCardSummary.spec.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/priceSummary.spec.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/shippingSummary.spec.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/taxSummary.spec.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/discountSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/giftCardSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/index.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.css
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/shippingSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/taxSummary.js
  packages/venia-ui/lib/components/CartPage/cartPage.css
  packages/venia-ui/lib/components/CartPage/cartPage.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2090 Adds PriceAdjustments and Accordion components
  packages/peregrine/lib/talons/Accordion/__tests__/useAccordion.spec.js
  packages/peregrine/lib/talons/Accordion/useAccordion.js
  packages/venia-ui/lib/components/Accordion/__stories__/accordion.js
  packages/venia-ui/lib/components/Accordion/__tests__/__snapshots__/accordion.spec.js.snap
  packages/venia-ui/lib/components/Accordion/__tests__/accordion.spec.js
  packages/venia-ui/lib/components/Accordion/accordion.css
  packages/venia-ui/lib/components/Accordion/accordion.js
  packages/venia-ui/lib/components/Accordion/index.js
  packages/venia-ui/lib/components/Accordion/section.css
  packages/venia-ui/lib/components/Accordion/section.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/__snapshots__/priceAdjustments.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/priceAdjustments.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/index.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2104 Adjust cart styling
  packages/venia-ui/lib/components/Accordion/section.css
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/priceSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.css
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CartPage/cartPage.css
Labels: Progress: review, pkg:venia-ui, version: Patch

#2088 Add a button section to the styleguide
  packages/venia-styleguide/src/components/Button/Button.css
  packages/venia-styleguide/src/components/Button/Button.js
  packages/venia-styleguide/src/components/Button/index.js
  packages/venia-styleguide/src/components/Columns/Columns.css
  packages/venia-styleguide/src/components/ExampleGroup/ExampleGroup.css
  packages/venia-styleguide/src/components/ExampleGroup/ExampleGroup.js
  packages/venia-styleguide/src/components/ExampleGroup/index.js
  packages/venia-styleguide/src/components/Routes/routes.yml
  packages/venia-styleguide/src/components/Section/Section.css
  packages/venia-styleguide/src/pages/button/Button.md
  packages/venia-styleguide/src/pages/button/index.js
  packages/venia-styleguide/src/pages/button/sections/Behaviors/FlexibleWidth.md
  packages/venia-styleguide/src/pages/button/sections/Behaviors/MinimumWidth.md
  packages/venia-styleguide/src/pages/button/sections/Behaviors/TextOverflow.md
  packages/venia-styleguide/src/pages/button/sections/Behaviors/index.md
  packages/venia-styleguide/src/pages/button/sections/Options/HighPriority.md
  packages/venia-styleguide/src/pages/button/sections/Options/NormalPriority.md
  packages/venia-styleguide/src/pages/button/sections/Options/OptionsTable.md
  packages/venia-styleguide/src/pages/button/sections/Options/index.md
  packages/venia-styleguide/src/styles/reset.css
  packages/venia-styleguide/src/styles/tokens.css
Labels: Progress: review, pkg:peregrine, pkg:venia-styleguide, version: Minor

#2111 [Doc] Move pagebuilder docs out of drafts
  pwa-devdocs/src/_data/top-nav.yml
  pwa-devdocs/src/_drafts/pagebuilder/images/PageBuilderIntegration.svg
  pwa-devdocs/src/_drafts/pagebuilder/images/PageBuilderIntegrationDetails.svg
  pwa-devdocs/src/_drafts/pagebuilder/index.md
  pwa-devdocs/src/pagebuilder/components/banner/index.md
  pwa-devdocs/src/pagebuilder/components/block/index.md
  pwa-devdocs/src/pagebuilder/components/buttons/index.md
  pwa-devdocs/src/pagebuilder/components/column/index.md
  pwa-devdocs/src/pagebuilder/components/divider/index.md
  pwa-devdocs/src/pagebuilder/components/heading/index.md
  pwa-devdocs/src/pagebuilder/components/html/index.md
  pwa-devdocs/src/pagebuilder/components/image/index.md
  pwa-devdocs/src/pagebuilder/components/map/index.md
  pwa-devdocs/src/pagebuilder/components/products/index.md
  pwa-devdocs/src/pagebuilder/components/row/index.md
  pwa-devdocs/src/pagebuilder/components/slider/index.md
  pwa-devdocs/src/pagebuilder/components/tabs/index.md
  pwa-devdocs/src/pagebuilder/components/text/index.md
  pwa-devdocs/src/pagebuilder/components/video/index.md
  pwa-devdocs/src/pagebuilder/custom-components/add-aggregator/images/AddAggregatorOverview.svg
  pwa-devdocs/src/pagebuilder/custom-components/add-aggregator/images/AggregatorHTMLConsoleOutput.png
  pwa-devdocs/src/pagebuilder/custom-components/add-aggregator/images/AggregatorObjectConsoleOutput.png
  pwa-devdocs/src/pagebuilder/custom-components/add-aggregator/images/MasterFormatHTML.svg
  pwa-devdocs/src/pagebuilder/custom-components/add-aggregator/images/MasterFormatToComponent.svg
  pwa-devdocs/src/pagebuilder/custom-components/add-aggregator/index.md
  pwa-devdocs/src/pagebuilder/custom-components/add-component/images/AddComponentOutput.png
  pwa-devdocs/src/pagebuilder/custom-components/add-component/images/AddComponentOutput.svg
  pwa-devdocs/src/pagebuilder/custom-components/add-component/images/AddComponentSteps.svg
  pwa-devdocs/src/pagebuilder/custom-components/add-component/index.md
  pwa-devdocs/src/pagebuilder/custom-components/add-stylesheet/images/AddStylesheetCamelCase.png
  pwa-devdocs/src/pagebuilder/custom-components/add-stylesheet/images/AddStylesheetSteps.svg
  pwa-devdocs/src/pagebuilder/custom-components/add-stylesheet/index.md
  pwa-devdocs/src/pagebuilder/custom-components/debugging/index.md
  pwa-devdocs/src/pagebuilder/custom-components/overview/images/OverviewSteps.svg
  pwa-devdocs/src/pagebuilder/custom-components/overview/images/PageBuilderQuoteAdmin.png
  pwa-devdocs/src/pagebuilder/custom-components/overview/images/PageBuilderQuoteStorefront.png
  pwa-devdocs/src/pagebuilder/custom-components/overview/index.md
  pwa-devdocs/src/pagebuilder/custom-components/setup-component/images/ConfigureComponentOutput.png
  pwa-devdocs/src/pagebuilder/custom-components/setup-component/images/PageBuilderConfigFile.png
  pwa-devdocs/src/pagebuilder/custom-components/setup-component/images/PageBuilderFilesSetup.png
  pwa-devdocs/src/pagebuilder/custom-components/setup-component/images/SetupComponentSteps.svg
  pwa-devdocs/src/pagebuilder/custom-components/setup-component/images/SetupComponentTest.svg
  pwa-devdocs/src/pagebuilder/custom-components/setup-component/index.md
  pwa-devdocs/src/pagebuilder/images/PageBuilderBigPicture1.svg
  pwa-devdocs/src/pagebuilder/images/PageBuilderIntegration.svg
  pwa-devdocs/src/pagebuilder/images/PageBuilderIntegrationDetails.svg
  pwa-devdocs/src/pagebuilder/index.md
  pwa-devdocs/src/pagebuilder/known-limitations/images/LimitationsTextAlign.png
  pwa-devdocs/src/pagebuilder/known-limitations/index.md
  pwa-devdocs/src/pagebuilder/utility-functions/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Minor

#2094 [Cart v2] ProductListing Component
  packages/peregrine/lib/talons/CartPage/PriceSummary/usePriceSummary.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProductListing.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/productListing.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/product.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/productListing.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/index.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.css
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.css
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CartPage/cartPage.css
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/MiniCart/kebab.css
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2112 bugfix: do not render things when no items are in cart
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CartPage/__tests__/useCartPage.spec.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummaryFragments.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/productListing.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/productListing.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListingFragments.js
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/__tests__/cartPage.spec.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/CartPage/cartPageFragments.js
  packages/venia-ui/lib/queries/addConfigurableProductsToCart.graphql
  packages/venia-ui/lib/queries/addSimpleProductsToCart.graphql
  packages/venia-ui/lib/queries/getCartDetails.graphql
  packages/venia-ui/lib/queries/removeItem.graphql
  packages/venia-ui/lib/queries/setGuestEmailOnCart.graphql
  packages/venia-ui/lib/queries/setShippingAddress.graphql
  packages/venia-ui/lib/queries/updateItemInCart.graphql
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2093 [PWA-156] Added Drawer Footer Styleguide.
  packages/venia-styleguide/package.json
  packages/venia-styleguide/src/components/DrawerFooter/DrawerFooter.css
  packages/venia-styleguide/src/components/DrawerFooter/DrawerFooter.js
  packages/venia-styleguide/src/components/DrawerFooter/index.js
  packages/venia-styleguide/src/components/Routes/routes.yml
  packages/venia-styleguide/src/pages/color/colors.yml
  packages/venia-styleguide/src/pages/drawer-footer/DrawerFooter.md
  packages/venia-styleguide/src/pages/drawer-footer/index.js
  packages/venia-styleguide/src/pages/drawer-footer/sections/About/index.md
  packages/venia-styleguide/src/pages/drawer-footer/sections/Behaviors/FormButtonsLayout.md
  packages/venia-styleguide/src/pages/drawer-footer/sections/Behaviors/SingleButtonLayout.md
  packages/venia-styleguide/src/pages/drawer-footer/sections/Behaviors/TwoButtonLayout.md
  packages/venia-styleguide/src/pages/drawer-footer/sections/Behaviors/index.md
  yarn.lock
Labels: Progress: approved, pkg:peregrine, pkg:venia-styleguide, version: Minor

#2122 Merge `master` back to `develop`
  CHANGELOG.md
  magento-compatibility.js
  package.json
  packages/babel-preset-peregrine/package.json
  packages/create-pwa/package.json
  packages/graphql-cli-validate-magento-pwa-queries/package.json
  packages/peregrine/lib/talons/Image/__tests__/useResourceImage.spec.js
  packages/peregrine/lib/talons/Image/useResourceImage.js
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
  packages/venia-concept/package.json
  packages/venia-concept/src/ServiceWorker/Utilities/__tests__/htmlHandler.spec.js
  packages/venia-concept/src/ServiceWorker/Utilities/htmlHandler.js
  packages/venia-styleguide/package.json
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Image/___tests__/__snapshots__/image.spec.js.snap
  packages/venia-ui/lib/components/Image/resourceImage.js
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Banner/banner.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/ButtonItem/buttonItem.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Buttons/buttons.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Image/image.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/__tests__/__snapshots__/products.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/__tests__/products.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Products/products.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Slider/slider.css
  packages/venia-ui/lib/components/RichContent/PageBuilder/__tests__/resolveLinkProps.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/resolveLinkProps.js
  packages/venia-ui/lib/util/images.js
  packages/venia-ui/package.json
  pwa-devdocs/package.json
  yarn.lock
Labels: Progress: review, pkg:babel-preset-peregrine, pkg:create-pwa, pkg:graphql-cli-validate-magento-pwa-queries, pkg:peregrine, pkg:pwa-buildpack, pkg:upward-js, pkg:upward-spec, pkg:venia-concept, pkg:venia-styleguide, pkg:venia-ui

#2108 [feature]: Cart Coupons
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/useCouponCode.js
  packages/venia-ui/lib/components/Accordion/section.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/__tests__/__snapshots__/couponCode.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/__tests__/couponCode.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCodeFragments.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/index.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/__snapshots__/priceAdjustments.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/priceAdjustments.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/discountSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/priceSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/discountSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/giftCardSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/index.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummaryFragments.js
  packages/venia-ui/lib/components/CartPage/cartPageFragments.js
  packages/venia-ui/lib/components/Field/field.css
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2116 Refactoring for ErrorView #1308
  packages/venia-ui/lib/components/ErrorView/__tests__/__snapshots__/errorView.spec.js.snap
  packages/venia-ui/lib/components/ErrorView/__tests__/errorView.spec.js
  packages/venia-ui/lib/components/ErrorView/error.css
  packages/venia-ui/lib/components/ErrorView/errorView.js
  packages/venia-ui/lib/components/MagentoRoute/magentoRoute.js
Labels: Partner: TechDivision, Progress: approved, partners-contribution, pkg:venia-ui

#2113 [feature] intermediate breadcrumbs
  packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js
  packages/venia-ui/lib/components/Breadcrumbs/__tests__/__snapshots__/breadcrumbs.spec.js.snap
  packages/venia-ui/lib/components/Breadcrumbs/__tests__/breadcrumbs.spec.js
  packages/venia-ui/lib/components/Breadcrumbs/breadcrumbs.js
  packages/venia-ui/lib/queries/getBreadcrumbData.graphql
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2095 [chore] Initial attempt at fixing validator for venia-ui
  package.json
  packages/graphql-cli-validate-magento-pwa-queries/lib/__tests__/index.spec.js
  packages/graphql-cli-validate-magento-pwa-queries/lib/index.js
  packages/venia-concept/.graphqlconfig
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCodeFragments.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/giftCardSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummaryFragments.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/shippingSummary.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListingFragments.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/fragments/productDetails.graphql
  packages/venia-ui/lib/queries/addConfigurableProductsToCart.graphql
  packages/venia-ui/lib/queries/addSimpleProductsToCart.graphql
  packages/venia-ui/lib/queries/createAccount.graphql
  packages/venia-ui/lib/queries/getCartDetails.graphql
  packages/venia-ui/lib/queries/getCategory.graphql
  packages/venia-ui/lib/queries/getCategoryList.graphql
  packages/venia-ui/lib/queries/getCategoryName.graphql
  packages/venia-ui/lib/queries/getCustomer.graphql
  packages/venia-ui/lib/queries/getProductDetail.graphql
  packages/venia-ui/lib/queries/getProductDetailBySku.graphql
  packages/venia-ui/lib/queries/removeItem.graphql
  packages/venia-ui/lib/queries/updateItemInCart.graphql
  yarn.lock
Labels: Progress: approved, pkg:graphql-cli-validate-magento-pwa-queries, pkg:venia-concept, pkg:venia-ui, version: Patch
