Repository magento/pwa-studio, pull requests merged in 2020-06, with the labels that each got.

#2440 [Doc] Production launch checklist
  pwa-devdocs/_drafts/pwa-studio-fundamentals/preparing-to-go-live/index.md
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/production-launch-checklist/index.md
Labels: Progress: changes requested, docs, documentation, pkg:pwa-devdocs

#2372 #2333 Add optional ratio for ressources
  packages/peregrine/lib/talons/Image/__tests__/useImage.spec.js
  packages/peregrine/lib/talons/Image/useImage.js
  packages/peregrine/lib/talons/Image/useResourceImage.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Image/___tests__/__snapshots__/resourceImage.spec.js.snap
  packages/venia-ui/lib/components/Image/__stories__/image.js
  packages/venia-ui/lib/components/Image/image.js
  packages/venia-ui/lib/components/Image/resourceImage.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/util/images.js
Labels: CI_APPROVED, Partner: TechDivision, Progress: review, partners-contribution, pkg:peregrine, pkg:venia-ui, version: Minor

#2405 Handling invalid braintree nonce error while placing order.
  packages/peregrine/lib/talons/CheckoutPage/CheckoutError.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/usePaymentInformation.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/usePaymentInformation.js
  packages/peregrine/lib/talons/CheckoutPage/PlaceOrderErrors.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentInformation.gql.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentInformation.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui

#2450 [Doc] Fix Modal/Portal reference docs
  pwa-devdocs/scripts/create-reference-docs/config/venia.js
  pwa-devdocs/src/_data/venia-api.yml
  pwa-devdocs/src/venia-ui/reference/components/Portal/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Minor

#2455 [PWA-513] Fix Dropdown arrows in Firefox
  packages/venia-ui/lib/components/Field/fieldIcons.css
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2445 Requesting price summary fragment in shipping info mutation.
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.gql.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentInformation.gql.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.gql.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.gql.js
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2418 New userguide index and link
  pwa-devdocs/Gemfile.lock
  pwa-devdocs/src/_config.yml
  pwa-devdocs/src/_includes/layout/header-scripts.html
Labels: Progress: approved

#2412 Swap React Head to React Helmet Async
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/__tests__/cartPage.spec.js
  packages/venia-ui/lib/components/Head/__tests__/headProvider.spec.js
  packages/venia-ui/lib/components/Head/headProvider.js
  packages/venia-ui/lib/components/Head/index.js
  packages/venia-ui/package.json
  yarn.lock
Labels: CI_APPROVED, Progress: approved, help wanted, pkg:venia-ui

#2303 [bugfix]: check types in isRequired validate rule (#2302)
  packages/venia-ui/lib/util/__tests__/formValidators.spec.js
  packages/venia-ui/lib/util/formValidators.js
Labels: CI_APPROVED, Progress: approved, pkg:venia-ui, version: Minor

#2457 [PWA-616] [Mini-Cart] Swatch images are stretched in mini-cart and has…
  packages/venia-ui/lib/components/CartPage/ProductListing/product.css
  packages/venia-ui/lib/components/MiniCart/product.css
  packages/venia-ui/lib/components/ProductImageCarousel/thumbnail.css
  packages/venia-ui/lib/components/SearchBar/suggestedProduct.css
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2398 Update index.md
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
Labels: Progress: approved

#2474 [Docs] Clarify Optional Sample Data
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: Progress: approved

#2345 Add new home page
  packages/venia-concept/template.html
  packages/venia-ui/lib/components/Footer/footer.css
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/Footer/sampleData.js
  packages/venia-ui/lib/components/HomePage/homePage.ce.js
  packages/venia-ui/lib/components/HomePage/homePage.css
  packages/venia-ui/lib/components/HomePage/homePage.ee.js
  packages/venia-ui/lib/components/HomePage/index.js
  packages/venia-ui/lib/components/Routes/routes.js
  packages/venia-ui/templates/default-font-include.mst
Labels: Progress: approved, pkg:venia-concept, pkg:venia-ui, version: Major

#2466 fix: remove unintentionally spammy loadEnvironment warnings
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/CompatEnvAdapter.js
  packages/pwa-buildpack/lib/Utilities/__tests__/__helpers__/MockProps.js
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/createDotEnvFile.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/loadEnvironment.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/createDotEnvFile.spec.js
  packages/pwa-buildpack/lib/Utilities/__tests__/envVarDefinitions.spec.js
  packages/pwa-buildpack/lib/Utilities/__tests__/loadEnvironment.spec.js
  packages/pwa-buildpack/lib/Utilities/createDotEnvFile.js
  packages/pwa-buildpack/lib/Utilities/loadEnvironment.js
  pwa-devdocs/src/pwa-buildpack/configuration-management/index.md
Labels: Progress: approved, pkg:pwa-buildpack, version: Minor

#2482 Upgrading graphql-playground-middleware-express.
  package.json
  packages/pwa-buildpack/package.json
  yarn.lock
Labels: Progress: approved, pkg:pwa-buildpack, version: Minor

#2462 PWA-560: Fix gift card flash on error
  packages/peregrine/lib/talons/CartPage/GiftCards/__tests__/useGiftCards.spec.js
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCards.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2481 [PWA-612]: Fixed shipping method loading error.
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useShippingMethod.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2476 Uses abbreviation for label if english text is not available
  packages/peregrine/lib/talons/Country/__tests__/__snapshots__/useCountry.spec.js.snap
  packages/peregrine/lib/talons/Country/__tests__/useCountry.spec.js
  packages/peregrine/lib/talons/Country/useCountry.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#2478 Rename identities to be appropriate
  packages/peregrine/lib/util/fromRenderProp.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#2458 [PWA-589] Page Reset on Sort
  packages/peregrine/lib/talons/SearchPage/__tests__/__snapshots__/useSearchPage.spec.js.snap
  packages/peregrine/lib/talons/SearchPage/__tests__/useSearchPage.spec.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/category.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/category.spec.js
  packages/venia-ui/lib/RootComponents/Category/category.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Patch

#2453 Update Home Page content after cache hit (#2230)
  packages/peregrine/lib/store/actions/app/actions.js
  packages/peregrine/lib/store/reducers/app.js
  packages/peregrine/lib/talons/Header/__tests__/useHeader.spec.js
  packages/peregrine/lib/talons/Header/useHeader.js
  packages/venia-ui/lib/RootComponents/CMS/cms.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/header.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/header.spec.js
  packages/venia-ui/lib/components/Header/header.css
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/PageLoadingIndicator/index.js
  packages/venia-ui/lib/components/PageLoadingIndicator/indicator.css
  packages/venia-ui/lib/components/PageLoadingIndicator/indicator.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2487 Spell correction for 'Introduction to React'
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/index.md
Labels: Progress: approved, version: Patch

#2486 Use effect to place order after details have been fetched.
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/checkoutPage.spec.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui

#2454 Set cart page is loading while fetching data from network
  packages/peregrine/lib/talons/CartPage/__tests__/useCartPage.spec.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/__tests__/cartPage.spec.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2483 [PWA-413] [Cart Page Edit] Price Does not get updated after changing the color/size.
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__fixtures__/configurableProduct.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/__snapshots__/useEditModal.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/__snapshots__/useProductDetail.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/__snapshots__/useProductForm.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useEditModal.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useProductDetail.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useProductForm.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useEditModal.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductDetail.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productDetail.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/productDetail.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/editModal.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productDetail.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui

#2499 Remove button clipping
  packages/venia-ui/lib/components/Button/button.css
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2497 [bug] Stable sort changes for v8
  packages/pwa-buildpack/lib/Utilities/CompatEnvAdapter.js
Labels: Progress: approved, pkg:pwa-buildpack, version: Patch

#2377 Merge Carts on log in
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/useCreateAccount.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/Header/useCartTrigger.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/Header/__tests__/cartTrigger.spec.js
  packages/venia-ui/lib/components/Header/cartTrigger.gql.js
  packages/venia-ui/lib/components/SignIn/__tests__/signIn.spec.js
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/queries/mergeCarts.gql.js
Labels: CI_APPROVED, Partner: Zilker Technology, Progress: review, partners-contribution, pkg:peregrine, pkg:venia-ui, version: Major

#2480 [chore] Update workbox to 5.1.2
  packages/venia-concept/package.json
  packages/venia-concept/src/ServiceWorker/Utilities/__tests__/imageCacheHandler.spec.js
  packages/venia-concept/src/ServiceWorker/Utilities/imageCacheHandler.js
  packages/venia-concept/src/ServiceWorker/__tests__/registerRoutes.spec.js
  packages/venia-concept/src/ServiceWorker/__tests__/setupWorkbox.spec.js
  packages/venia-concept/src/ServiceWorker/registerRoutes.js
  packages/venia-concept/src/ServiceWorker/setupWorkbox.js
  yarn.lock
Labels: Progress: approved, pkg:venia-concept

#2425 Fixed #2424 Incorrect Item Price display in mini cart
  packages/peregrine/lib/talons/MiniCart/useProduct.js
  packages/venia-ui/lib/components/MiniCart/__tests__/product.spec.js
  packages/venia-ui/lib/queries/getCartDetails.graphql
Labels: CI_APPROVED, Community Insider: Cedcommerce, Progress: approved, community-insider-contribution, pkg:peregrine, pkg:venia-ui, version: Minor

#2427 Fixed #2426 Error if product is out of stock
  packages/peregrine/lib/talons/RootComponents/Product/useProduct.js
Labels: CI_APPROVED, Community Insider: Cedcommerce, Progress: approved, community-insider-contribution, pkg:peregrine

#2488 [PWA-618] Update Venia's header to match the styleguide's app bar
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/cartTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/cartTrigger.spec.js
  packages/venia-ui/lib/components/Header/cartTrigger.css
  packages/venia-ui/lib/components/Header/cartTrigger.js
  packages/venia-ui/lib/components/Header/header.css
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/Header/onlineIndicator.css
  packages/venia-ui/lib/components/Header/searchTrigger.css
  packages/venia-ui/lib/components/Header/searchTrigger.js
  packages/venia-ui/lib/components/Icon/icon.css
  packages/venia-ui/lib/components/Logo/VeniaLogo.svg
  packages/venia-ui/lib/components/Logo/logo.js
  packages/venia-ui/lib/components/PageLoadingIndicator/indicator.css
  packages/venia-ui/venia-static/favicon.ico
Labels: Progress: approved, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Minor

#2490 Fix "Data Fetch Error" on product page in offline mode (#2489)
  packages/venia-ui/lib/RootComponents/Product/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/RootComponents/Product/__tests__/product.spec.js
  packages/venia-ui/lib/RootComponents/Product/mockData.js
  packages/venia-ui/lib/RootComponents/Product/product.js
Labels: Progress: approved, pkg:venia-ui

#2495 [PWA-336] Cart/Checkout Input Errors UI cases
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingForm.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingMethods.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/useCouponCode.js
  packages/peregrine/lib/talons/CartPage/PriceSummary/usePriceSummary.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/__snapshots__/useProductForm.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useProductForm.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/__tests__/__snapshots__/useAddressBook.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/__tests__/useAddressBook.spec.js
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/useAddressBook.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useEditModal.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/usePaymentInformation.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/usePaymentMethods.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useSummary.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useCustomerForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useGuestForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useCustomerForm.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useGuestForm.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useShippingMethod.js
  packages/peregrine/lib/talons/FormError/useFormError.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/shippingMethods.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/shippingMethods.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/priceSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/productForm.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.css
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/product.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/__tests__/addressBook.spec.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressBook.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/customerForm.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/guestForm.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/shippingMethod.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/shippingMethod.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/updateModal.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModal.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModal.js
  packages/venia-ui/lib/components/FormError/formError.css
  packages/venia-ui/lib/components/FormError/formError.js
  packages/venia-ui/lib/components/FormError/index.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Major

#2512 PWA-712: Fix Chrome prev / next carousel button placement
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.css
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.js
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2500 Use tokens for color and weight
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCard.css
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.css
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.css
  packages/venia-ui/lib/components/CartPage/cartPage.css
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.css
  packages/venia-ui/lib/components/MiniCart/cartOptions.css
  packages/venia-ui/lib/index.css
Labels: Progress: changes requested, pkg:venia-ui, version: Patch
