Repository magento/pwa-studio, pull requests merged in 2020-09, with the labels that each got.

#2664 fix: Do not render the account menu elements when accountMenuIsOpen is false.
  packages/venia-ui/lib/components/AccountMenu/__tests__/__snapshots__/accountMenu.spec.js.snap
  packages/venia-ui/lib/components/AccountMenu/__tests__/accountMenu.spec.js
  packages/venia-ui/lib/components/AccountMenu/accountMenu.js
Labels: Progress: review, pkg:venia-ui, version: Patch

#2649 [PWA-808] Allow PWA Studio to use a different store to localize CMS Pages
  packages/peregrine/lib/Router/magentoRouteHandler.js
  packages/peregrine/lib/Router/resolveUnknownRoute.js
  packages/peregrine/lib/talons/Cms/useCmsPage.js
  packages/peregrine/lib/talons/MagentoRoute/__tests__/useMagentoRoute.spec.js
  packages/peregrine/lib/talons/MagentoRoute/addToCache.js
  packages/peregrine/lib/talons/MagentoRoute/getRouteComponent.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
  packages/venia-ui/lib/RootComponents/CMS/__tests__/cms.spec.js
  packages/venia-ui/lib/RootComponents/CMS/cms.js
  packages/venia-ui/lib/components/MagentoRoute/magentoRoute.js
Labels: Progress: review, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Minor

#2659 [fix]: Allow for region field path customization depending on form mutation requirements
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/__tests__/__snapshots__/useAddressCard.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/useAddressCard.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/useCreditCard.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useCreditCard.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useCustomerForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useCustomerForm.js
  packages/peregrine/lib/talons/Region/__tests__/useRegion.spec.js
  packages/peregrine/lib/talons/Region/useRegion.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/creditCard.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.gql.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/customerForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/Region/region.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#2652 [Doc] Update out of date content in the custom footer tutorial
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/modify-site-footer/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#2665 Support configured URL suffix across entire app
  packages/peregrine/lib/talons/Breadcrumbs/__tests__/useBreadcrumbs.spec.js
  packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js
  packages/peregrine/lib/talons/CategoryList/__tests__/useCategoryList.spec.js
  packages/peregrine/lib/talons/CategoryList/__tests__/useCategoryTile.spec.js
  packages/peregrine/lib/talons/CategoryList/useCategoryTile.js
  packages/peregrine/lib/talons/CategoryTree/__tests__/useCategoryTree.spec.js
  packages/venia-ui/lib/RootComponents/Category/NoProductsFound/noProductsFound.js
  packages/venia-ui/lib/components/CategoryTree/__tests__/categoryLeaf.spec.js
  packages/venia-ui/lib/components/CategoryTree/categoryLeaf.js
  packages/venia-ui/lib/components/Gallery/__tests__/item.spec.js
  packages/venia-ui/lib/components/Gallery/item.js
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
  packages/venia-ui/lib/components/SearchBar/suggestedProduct.js
  packages/venia-ui/lib/queries/getBreadcrumbData.graphql
  packages/venia-ui/lib/queries/getCategoryList.graphql
  packages/venia-ui/lib/queries/getNavigationMenu.graphql
  packages/venia-ui/lib/queries/getProductsBySku.graphql
  packages/venia-ui/lib/queries/productSearch.graphql
Labels: Priority: P2, Progress: approved, Severity: S2, pkg:peregrine, pkg:venia-ui, version: Minor

#2676 [Doc] Update README
  README.md
  pwa-devdocs/package.json
  pwa-devdocs/yarn.lock
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs

#2667 [PWA-809] Allow PWA Studio to use a different store to localize Catalog Products
  packages/peregrine/lib/Price/__tests__/__snapshots__/price.spec.js.snap
  packages/peregrine/lib/Price/__tests__/price.spec.js
  packages/peregrine/lib/Price/price.js
  packages/peregrine/package.json
  packages/venia-concept/src/index.js
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/giftCards.spec.js
  yarn.lock
Labels: Progress: review, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Minor

#2673 fix: apollo upgrade path
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/useAddressBook.js
  packages/venia-ui/lib/policies/index.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui

#2670 [Docs] update routing tutorial
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/add-a-static-route/images/hellow-world-jsx.png
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/add-a-static-route/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs

#2697 PDPs show intended Product only
  packages/peregrine/lib/talons/RootComponents/Product/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/RootComponents/Product/useProduct.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#2698 [bugfix] Use formatMessage ids and default messages per api
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/cartTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/accountTrigger.js
  packages/venia-ui/lib/components/Header/cartTrigger.js
  packages/venia-ui/lib/components/Header/navTrigger.js
  packages/venia-ui/lib/components/Header/searchTrigger.js
  packages/venia-ui/lib/components/Logo/logo.js
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
  packages/venia-ui/lib/i18n/en_US.json
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2641 [Fix bug] Category didn't refresh data when click back previous or next page of…
  packages/peregrine/lib/hooks/__tests__/usePagination.spec.js
  packages/peregrine/lib/hooks/usePagination.js
Labels: Progress: approved, pkg:peregrine

#2705 fix: storybook i18n
  packages/venia-ui/.storybook/config.js
  packages/venia-ui/.storybook/webpack.config.js
  packages/venia-ui/lib/components/Header/__stories__/header.js
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2693 Update static images to reflect new logo
  packages/venia-ui/venia-static/icons/apple-touch-icon.png
  packages/venia-ui/venia-static/icons/venia_circle_144.png
  packages/venia-ui/venia-static/icons/venia_circle_192.png
  packages/venia-ui/venia-static/icons/venia_circle_512.png
  packages/venia-ui/venia-static/icons/venia_square_57.png
Labels: Progress: changes requested, pkg:venia-ui, version: Patch

#2708 fix: scaffold storybook
  packages/venia-concept/src/.storybook/config.js
  packages/venia-concept/src/.storybook/webpack.config.js
  packages/venia-ui/.storybook/config.js
Labels: Progress: approved, pkg:venia-concept, pkg:venia-ui, version: Patch

#2709 chore: Disable account page routes for v8
  packages/peregrine/lib/talons/AccountMenu/useAccountMenuItems.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2692 [PWA-628] My Account: Wishlist: Main View
  packages/peregrine/__mocks__/react-intl.js
  packages/peregrine/lib/Price/__tests__/price.spec.js
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useWishlistItem.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlistItem.spec.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistItem.js
  packages/peregrine/package.json
  packages/venia-concept/.graphqlconfig
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlist.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistItem.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistItems.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlist.spec.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlistItem.spec.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlistItems.spec.js
  packages/venia-ui/lib/components/WishlistPage/wishlist.js
  packages/venia-ui/lib/components/WishlistPage/wishlistItem.css
  packages/venia-ui/lib/components/WishlistPage/wishlistItem.gql.js
  packages/venia-ui/lib/components/WishlistPage/wishlistItem.js
  packages/venia-ui/lib/components/WishlistPage/wishlistItems.css
  packages/venia-ui/lib/components/WishlistPage/wishlistItems.js
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.gql.js
  packages/venia-ui/lib/i18n/en_US.json
Labels: Progress: changes requested, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Minor

#2718 chore: Allow for async taps of targets
  packages/pwa-buildpack/lib/BuildBus/declare-base.js
  packages/pwa-buildpack/lib/TestHelpers/testFullBuild.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/configureWebpack.js
  packages/venia-ui/lib/targets/__tests__/venia-ui-targets.spec.js
  packages/venia-ui/lib/targets/venia-ui-declare.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
Labels: Progress: approved, pkg:pwa-buildpack, pkg:venia-ui, version: Minor

#2722 [PWA-929] PageBuilder slider buttons not visible and links are displaying as button.
  packages/pagebuilder/lib/ContentTypes/ButtonItem/buttonItem.css
  packages/pagebuilder/lib/ContentTypes/ButtonItem/buttonItem.js
  packages/pagebuilder/lib/ContentTypes/Slider/slider.css
  packages/pagebuilder/lib/ContentTypes/Tabs/tabs.css
Labels: Progress: review, pkg:pagebuilder

#2696 [PWA-812] Enable PWA Studio packages and extensions to provide translations
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getClientConfig.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getSpecialFlags.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/LocalizationPlugin.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/LocalizationPlugin.spec.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/multiple-locales-multiple-modules/Context/i18n/en_US.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/multiple-locales-multiple-modules/Context/i18n/fr_FR.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/multiple-locales-multiple-modules/Module1/i18n/de_DE.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/multiple-locales-multiple-modules/Module1/i18n/en_US.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/multiple-locales-multiple-modules/Module1/i18n/fr_FR.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/multiple-locales-multiple-modules/Module2/i18n/en_US.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/multiple-locales-multiple-modules/Module2/i18n/fr_FR.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/multiple-locales-multiple-modules/entry.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/no-locale-single-module/Module1/not-i18n/en_US.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/no-locale-single-module/entry.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/single-locale-multiple-modules/Context/i18n/en_US.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/single-locale-multiple-modules/Module1/i18n/en_US.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/single-locale-multiple-modules/Module2/i18n/en_US.json
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/single-locale-multiple-modules/entry.js
  packages/pwa-buildpack/package.json
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/App/localeProvider.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
  packages/venia-ui/package.json
  yarn.lock
Labels: Progress: review, pkg:pwa-buildpack, pkg:venia-ui, version: Minor

#2723 fix: Continue to Payment Information button gets enabled even before Payment section starts loading.
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useShippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.gql.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui

#2726 [PWA-940] Forgot Password - Remove email from reset link
  packages/peregrine/lib/talons/MyAccount/__tests__/__snapshots__/useResetPassword.spec.js.snap
  packages/peregrine/lib/talons/MyAccount/__tests__/useResetPassword.spec.js
  packages/peregrine/lib/talons/MyAccount/useResetPassword.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/__snapshots__/resetPassword.spec.js.snap
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/resetPassword.spec.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.css
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2721 [PWA-834] Localize My Account & Signed In Sidebar
  packages/venia-ui/__mocks__/react-intl.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/AccountChip/__tests__/accountChip.spec.js
  packages/venia-ui/lib/components/AccountChip/accountChip.js
  packages/venia-ui/lib/components/AccountMenu/__tests__/accountMenuItems.spec.js
  packages/venia-ui/lib/components/AccountMenu/accountMenuItems.js
  packages/venia-ui/lib/components/AddressBookPage/addressBookPage.js
  packages/venia-ui/lib/components/AuthBar/authBar.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressBook.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressCard.js
  packages/venia-ui/lib/components/CommunicationsPage/__tests__/__snapshots__/communicationsPage.spec.js.snap
  packages/venia-ui/lib/components/CommunicationsPage/communicationsPage.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/Footer/__tests__/footer.spec.js
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.js
  packages/venia-ui/lib/components/ForgotPassword/FormSubmissionSuccessful/__tests__/__snapshots__/formSubmissionSuccessful.spec.js.snap
  packages/venia-ui/lib/components/ForgotPassword/FormSubmissionSuccessful/__tests__/formSubmissionSuccessful.spec.js
  packages/venia-ui/lib/components/ForgotPassword/FormSubmissionSuccessful/formSubmissionSuccessful.js
  packages/venia-ui/lib/components/ForgotPassword/forgotPassword.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.js
  packages/venia-ui/lib/components/Navigation/__tests__/navHeader.spec.js
  packages/venia-ui/lib/components/Navigation/navHeader.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderProgressBar.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderRow.js
  packages/venia-ui/lib/components/SearchBar/__tests__/suggestions.spec.js
  packages/venia-ui/lib/components/SearchBar/suggestions.js
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/components/WishlistPage/createWishlist.ee.js
  packages/venia-ui/lib/components/WishlistPage/wishlist.js
  packages/venia-ui/lib/components/WishlistPage/wishlistItem.css
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2736 [bug] fix data sort error
  packages/peregrine/lib/talons/Breadcrumbs/__tests__/useBreadcrumbs.spec.js
  packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js
Labels: Progress: review, pkg:peregrine, version: Patch

#2685 Header Search Dropdowns
  packages/peregrine/lib/store/actions/app/asyncActions.js
  packages/peregrine/lib/store/reducers/app.js
  packages/peregrine/lib/talons/Header/__tests__/useHeader.spec.js
  packages/peregrine/lib/talons/Header/useHeader.js
  packages/peregrine/lib/talons/Header/useSearchTrigger.js
  packages/peregrine/lib/talons/SearchBar/useSearchBar.js
  packages/peregrine/lib/talons/SearchBar/useSearchField.js
  packages/peregrine/lib/talons/SearchPage/__tests__/__snapshots__/useSearchPage.spec.js.snap
  packages/peregrine/lib/talons/SearchPage/__tests__/useSearchPage.spec.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/AccountMenu/accountMenu.css
  packages/venia-ui/lib/components/Header/__stories__/header.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/header.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/header.spec.js
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/Header/searchTrigger.css
  packages/venia-ui/lib/components/Header/searchTrigger.js
  packages/venia-ui/lib/components/SearchBar/__stories__/searchBar.js
  packages/venia-ui/lib/components/SearchBar/__tests__/searchField.spec.js
  packages/venia-ui/lib/components/SearchBar/searchBar.js
  packages/venia-ui/lib/components/SearchBar/searchField.js
  packages/venia-ui/lib/components/SearchPage/searchPage.css
  packages/venia-ui/lib/components/SearchPage/searchPage.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#2727 fix: offline homepage error
  packages/peregrine/lib/talons/Cms/useCmsPage.js
  packages/venia-ui/lib/RootComponents/CMS/cms.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui

#2739 Fixed duplicate filters by using value and label as key.
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2734 [PWA-840] Localize Mini Cart & [PWA-839] Localize Search
  packages/peregrine/lib/hooks/useSort.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/FilterModal/filterFooter.js
  packages/venia-ui/lib/components/FilterModal/filterModal.js
  packages/venia-ui/lib/components/FilterModal/filterSearch.js
  packages/venia-ui/lib/components/Header/searchTrigger.js
  packages/venia-ui/lib/components/LoadingIndicator/static.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/item.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/miniCart.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/miniCart.js
  packages/venia-ui/lib/components/ProductSort/productSort.js
  packages/venia-ui/lib/components/ProductSort/sortItem.js
  packages/venia-ui/lib/components/SearchBar/suggestedCategory.js
  packages/venia-ui/lib/components/SearchBar/suggestions.js
  packages/venia-ui/lib/components/SearchPage/searchPage.js
  packages/venia-ui/lib/components/StockStatusMessage/stockStatusMessage.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2681 [Fix bug]: Filter and Sort buttons should display at same time
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
Labels: Progress: approved, pkg:venia-ui

#2715 Remove "scroll to top" code in GraphQL tutorial
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/work-with-graphql/index.md
Labels: Progress: approved

#2725 Import from 'react-router-dom', not 'react-router'
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/add-a-static-route/index.md
Labels: Progress: approved
