Repository magento/pwa-studio, pull requests merged in 2020-02, with the labels that each got.

#2005 refactor: 5x faster streaming image opto with no SSL failures
  docker/package.json
  package.json
  packages/pwa-buildpack/__mocks__/@magento/express-sharp.js
  packages/pwa-buildpack/__mocks__/hastily.js
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/addImgOptMiddleware.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/addImgOptMiddleware.spec.js
  packages/pwa-buildpack/lib/Utilities/addImgOptMiddleware.js
  packages/pwa-buildpack/lib/Utilities/getClientConfig.js
  packages/pwa-buildpack/lib/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/UpwardDevServerPlugin.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/UpwardDevServerPlugin.spec.js
  packages/pwa-buildpack/package.json
  packages/upward-js/lib/resolvers/ProxyResolver.js
  packages/venia-concept/package.json
  packages/venia-concept/server.js
  packages/venia-ui/lib/util/__tests__/makeUrl.spec.js
  packages/venia-ui/lib/util/makeUrl.js
  packages/venia-ui/upward.yml
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
  yarn.lock
Labels: Progress: review, pkg:pwa-buildpack, pkg:upward-js, pkg:venia-concept, pkg:venia-ui, version: Patch

#2083 updates to updates-to-into-project-setup
  pwa-devdocs/_drafts/pwa-studio-fundamentals/index.md
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-set-up/images/privacy-error.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-set-up/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2081 Added preparing-to-go-live tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/preparing-to-go-live/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2079 Added manage-state-with-redux tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/manage-state-with-redux/images/foo-in-the-redux-store.gif
  pwa-devdocs/_drafts/pwa-studio-fundamentals/manage-state-with-redux/images/foo-redux-actions.gif
  pwa-devdocs/_drafts/pwa-studio-fundamentals/manage-state-with-redux/images/redux-store-screenshot.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/manage-state-with-redux/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2077 Added use-magentos-graphql-api tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/use-magentos-graphql-api/images/graphql-and-apollo-client.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/use-magentos-graphql-api/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2075 Added explore-graphql tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/explore-graphql-with-graphiql/images/graphql-network-screenshot.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/explore-graphql-with-graphiql/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2073 Added reuse-a-venia-component tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/reuse-a-venia-component/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2071 Added component-state tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/component-state/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2069 Added css-modules tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/css-modules/images/css-modules.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/css-modules/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2067 Added props-proptypes tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/props-proptypes/images/prop-types-error.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/props-proptypes/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2065 Added update-site-footer tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/update-site-footer/images/foo-footer-link.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/update-site-footer/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2063 Added add-a-static-route tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/add-a-static-route/images/hellow-world-jsx.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/add-a-static-route/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2061 added project-structure-and-routing tutorial doc
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-structure-and-routing/images/react-components.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-structure-and-routing/index.md
Labels: Partner: Monsoon, Progress: approved, partners-contribution

#2121 [SPIKE] [PWA-339] Conditionally bundle CE or EE features in Venia.
  jest.config.js
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/getClientConfig.js
  packages/pwa-buildpack/lib/WebpackTools/MagentoResolver.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/MagentoResolver.spec.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/giftCardSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/giftCardSummary.ce.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/giftCardSummary.ee.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/giftCardSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummaryFragments.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/queries/giftCardSummary.ce.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/queries/giftCardSummary.ee.js
Labels: Progress: review, pkg:pwa-buildpack, pkg:venia-ui, version: Minor

#2125 updating contribution guidelines to make explicit the need to sign Adobe's CLA
  .github/CONTRIBUTING.md
Labels: Progress: approved

#2129 [bug] Fix w10 issues
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/peregrine/package.json
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/__tests__/__snapshots__/couponCode.spec.js.snap
  packages/venia-ui/lib/components/Checkbox/__tests__/__snapshots__/checkbox.spec.js.snap
  packages/venia-ui/lib/components/Checkbox/__tests__/checkbox.spec.js
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/addressForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/paymentsForm.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/shippingform.spec.js.snap
  packages/venia-ui/lib/components/CreateAccount/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/__tests__/__snapshots__/forgotPasswordForm.spec.js.snap
  packages/venia-ui/lib/components/Head/headProvider.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/cartOptions.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/SearchBar/__tests__/__snapshots__/searchField.spec.js.snap
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/SignIn/__tests__/signIn.spec.js
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/components/TextArea/__tests__/__snapshots__/textArea.spec.js.snap
  packages/venia-ui/package.json
  yarn.lock
Labels: Progress: approved, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Patch

#2140 [JIRA-340] Rendering cart page title.
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/__tests__/cartPage.spec.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
Labels: Progress: changes requested, pkg:venia-ui, version: Patch

#2144 Added new variable to support AWS builds
  docker/.env.docker.dev
  docker/.env.docker.prod
Labels: Progress: approved

#2142 [#2141] Fix wrong PriceSummaryQuery export
  packages/venia-ui/lib/components/CartPage/PriceSummary/index.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
Labels: Progress: changes requested, pkg:venia-ui

#2124 Gift Cards
  packages/peregrine/lib/talons/CartPage/GiftCards/__tests__/useGiftCard.spec.js
  packages/peregrine/lib/talons/CartPage/GiftCards/__tests__/useGiftCards.spec.js
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCard.js
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCards.js
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/__snapshots__/giftCard.spec.js.snap
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/__snapshots__/giftCards.spec.js.snap
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/giftCard.spec.js
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/giftCards.spec.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCard.css
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCard.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCardFragments.ee.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCardFragments.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCardQueries.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.css
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
  packages/venia-ui/lib/components/CartPage/GiftCards/index.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/__snapshots__/priceAdjustments.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/priceAdjustments.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/giftCardSection.ee.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/giftCardSection.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CartPage/cartPageFragments.js
  packages/venia-ui/lib/components/Field/fieldIcons.css
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2114 [PWA-178] Gift options support in cart page
  packages/graphql-cli-validate-magento-pwa-queries/lib/__tests__/index.spec.js
  packages/graphql-cli-validate-magento-pwa-queries/lib/index.js
  packages/graphql-cli-validate-magento-pwa-queries/package.json
  packages/peregrine/lib/talons/CartPage/GiftOptions/useGiftOptions.js
  packages/venia-concept/.graphqlconfig
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/__tests__/__snapshots__/giftOptions.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/__tests__/giftOptions.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/giftOptions.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/giftOptions.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/index.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/index.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/drivers/adapter.js
  packages/venia-ui/lib/resolvers/index.js
  packages/venia-ui/lib/resolvers/resolvers.js
  packages/venia-ui/package.json
  yarn.lock
Labels: Progress: review, enhancement, pkg:graphql-cli-validate-magento-pwa-queries, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Minor

#2147 Keeps current Accordion sections open
  packages/peregrine/lib/talons/Accordion/useAccordion.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/__snapshots__/priceAdjustments.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/priceAdjustments.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2143 [PWA-324] [bug]: venia-static files don't load out-of-the box with scaffolding command
  packages/venia-ui/package.json
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2148 Changing defaults and docs for DEV_SERVER_SERVICE_WORKER_ENABLED.
  docker/.env.docker.dev
  docker/README.md
  pwa-devdocs/_drafts/docker-setup.md
Labels: Progress: approved, version: Patch

#2149 Hide Accordion closed Sections instead of unmounting them
  packages/venia-ui/lib/components/Accordion/__tests__/__snapshots__/accordion.spec.js.snap
  packages/venia-ui/lib/components/Accordion/__tests__/accordion.spec.js
  packages/venia-ui/lib/components/Accordion/section.css
  packages/venia-ui/lib/components/Accordion/section.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/__snapshots__/priceAdjustments.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/priceAdjustments.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2123 [PWA-239] Shipping Method (Cart)
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingForm.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingMethods.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingRadios.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/shippingForm.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/shippingMethods.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/shippingRadios.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/shippingForm.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/shippingMethods.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/shippingRadios.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/index.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethodsFragments.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingRadio.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingRadio.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingRadios.css
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingRadios.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/__snapshots__/priceAdjustments.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/priceAdjustments.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/RadioGroup/radioGroup.js
  packages/venia-ui/lib/components/Select/select.css
  packages/venia-ui/lib/components/Select/select.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Minor

#2156 Applied Gift Cards show current balance
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/__snapshots__/giftCard.spec.js.snap
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/__snapshots__/giftCards.spec.js.snap
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/giftCard.spec.js
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/giftCards.spec.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCard.css
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCard.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCardFragments.ee.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.css
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
Labels: Progress: review, pkg:venia-ui, version: Patch

#2146 [Owls] PB-55: Row Full Width Contents Are Horizontally Positioned Incorrectly In Desktop Viewport
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/__tests__/__snapshots__/row.spec.js.snap
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/__tests__/configAggregator.spec.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/configAggregator.js
  packages/venia-ui/lib/components/RichContent/PageBuilder/ContentTypes/Row/row.js
Labels: pkg:venia-ui, version: Minor

#2164 Images Appear
  packages/venia-ui/lib/components/Image/image.css
Labels: Progress: review, pkg:venia-ui, version: Patch

#2119 Styleguide: App bar
  packages/venia-styleguide/src/components/AppBar/AppBar.css
  packages/venia-styleguide/src/components/AppBar/AppBar.js
  packages/venia-styleguide/src/components/AppBar/index.js
  packages/venia-styleguide/src/components/Box/Box.css
  packages/venia-styleguide/src/components/Box/Box.js
  packages/venia-styleguide/src/components/Box/index.js
  packages/venia-styleguide/src/components/Columns/Columns.css
  packages/venia-styleguide/src/components/Columns/Columns.js
  packages/venia-styleguide/src/components/Routes/routes.yml
  packages/venia-styleguide/src/components/Trigger/Trigger.css
  packages/venia-styleguide/src/components/Trigger/Trigger.js
  packages/venia-styleguide/src/components/Trigger/index.js
  packages/venia-styleguide/src/pages/app-bar/AppBar.md
  packages/venia-styleguide/src/pages/app-bar/index.js
  packages/venia-styleguide/src/pages/app-bar/sections/Behaviors/FixedPosition.md
  packages/venia-styleguide/src/pages/app-bar/sections/Behaviors/MaximumWidth.md
  packages/venia-styleguide/src/pages/app-bar/sections/Behaviors/ResponsiveSize.md
  packages/venia-styleguide/src/pages/app-bar/sections/Behaviors/index.md
  packages/venia-styleguide/src/pages/app-bar/sections/Structure/ThreeColumnGrid.md
  packages/venia-styleguide/src/pages/app-bar/sections/Structure/Toolbars.md
  packages/venia-styleguide/src/pages/app-bar/sections/Structure/index.md
Labels: Progress: approved, pkg:venia-styleguide, version: Minor

#2167 [PWA-376] Cart page items show correct configurable options
  packages/venia-ui/lib/components/CartPage/ProductListing/productListingFragments.js
  packages/venia-ui/lib/util/apolloCache.js
Labels: pkg:venia-ui, version: Patch

#2157 PWA-213: [UNIT TEST] Email Validation on Signin, Create Acount, Forgot Password
  packages/peregrine/lib/talons/Checkout/useAddressForm.js
  packages/venia-ui/lib/components/Checkout/addressForm.js
  packages/venia-ui/lib/components/Checkout/paymentsFormItems.js
  packages/venia-ui/lib/components/CreateAccount/__mocks__/asyncValidators.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.js
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/util/__mocks__/formValidators.js
  packages/venia-ui/lib/util/__tests__/formValidators.spec.js
  packages/venia-ui/lib/util/formValidators.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#2176 [bugfix]: Do not cache create customer or sign in mutation data
  packages/peregrine/lib/talons/Checkout/useAddressForm.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
Labels: pkg:peregrine, version: Patch

#2115 PWA-119: add product quantity stepper to cart
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingForm.js
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useQuantity.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProductListing.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useQuantity.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethodsFragments.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingRadios.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/priceSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/priceSummary.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/quantity.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/product.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/productListing.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/quantity.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.css
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.css
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CartPage/ProductListing/quantity.css
  packages/venia-ui/lib/components/CartPage/ProductListing/quantity.js
  packages/venia-ui/lib/components/TextInput/textInput.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2185 [Doc] Update changelog for 5.0.1
  CHANGELOG.md
Labels: Progress: approved, version: Patch

#2150 [bugfix] Hide stale suggestions
  packages/peregrine/lib/talons/SearchBar/__tests__/useAutocomplete.spec.js
  packages/peregrine/lib/talons/SearchBar/useAutocomplete.js
  packages/peregrine/lib/talons/SearchBar/useSearchBar.js
  packages/peregrine/lib/talons/SearchBar/useSearchField.js
  packages/peregrine/lib/talons/SearchBar/useSuggestions.js
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/Navigation/navigation.js
  packages/venia-ui/lib/components/SearchBar/__tests__/searchBar.spec.js
  packages/venia-ui/lib/components/SearchBar/__tests__/searchField.spec.js
  packages/venia-ui/lib/components/SearchBar/__tests__/suggestions.spec.js
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
  packages/venia-ui/lib/components/SearchBar/searchBar.js
  packages/venia-ui/lib/components/SearchBar/searchField.js
  packages/venia-ui/lib/components/SearchBar/suggestions.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui, version: Major

#2175 Requires and trims gift card input
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCards.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#2184 Merge master to develop
  package.json
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: Progress: approved, pkg:pagebuilder, pkg:peregrine, pkg:venia-concept, pkg:venia-ui

#2183 [Doc] fix reference doc generator
  pwa-devdocs/package.json
  pwa-devdocs/scripts/create-reference-docs/config/index.js
  pwa-devdocs/scripts/create-reference-docs/config/pagebuilder.js
  pwa-devdocs/scripts/create-reference-docs/config/peregrine.js
  pwa-devdocs/scripts/create-reference-docs/config/venia-concept/index.js
  pwa-devdocs/scripts/create-reference-docs/config/venia.js
  pwa-devdocs/src/pagebuilder/components/banner/index.md
  pwa-devdocs/src/pagebuilder/components/block/index.md
  pwa-devdocs/src/pagebuilder/components/buttons/index.md
  pwa-devdocs/src/pagebuilder/components/column/index.md
  pwa-devdocs/src/pagebuilder/components/divider/index.md
  pwa-devdocs/src/pagebuilder/components/heading/index.md
  pwa-devdocs/src/pagebuilder/components/html/index.md
  pwa-devdocs/src/pagebuilder/components/image/index.md
  pwa-devdocs/src/pagebuilder/components/map/index.md
  pwa-devdocs/src/pagebuilder/components/products/index.md
  pwa-devdocs/src/pagebuilder/components/row/index.md
  pwa-devdocs/src/pagebuilder/components/slider/index.md
  pwa-devdocs/src/pagebuilder/components/tabs/index.md
  pwa-devdocs/src/pagebuilder/components/text/index.md
  pwa-devdocs/src/pagebuilder/components/video/index.md
  pwa-devdocs/src/pagebuilder/custom-components/debugging/index.md
  pwa-devdocs/src/pagebuilder/utility-functions/index.md
  pwa-devdocs/src/peregrine/reference/price/index.md
Labels: Progress: approved, bug, docs, documentation, pkg:pwa-devdocs, version: Minor

#2165 [bugfix]: search trigger focus
  packages/peregrine/lib/hooks/__tests__/useSearchParam.spec.js
  packages/peregrine/lib/hooks/useSearchParam.js
  packages/peregrine/lib/talons/SearchBar/useSearchField.js
  packages/venia-ui/lib/components/SearchBar/__stories__/searchBar.js
  packages/venia-ui/lib/components/SearchBar/__tests__/searchBar.spec.js
  packages/venia-ui/lib/components/SearchBar/__tests__/searchField.spec.js
  packages/venia-ui/lib/components/SearchBar/searchField.js
Labels: pkg:peregrine, pkg:venia-ui, version: Patch

#2189 Fixes Cart page sign out error when cart does not exist in cache
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/giftOptions.js
Labels: Progress: review, pkg:venia-ui, version: Patch

#2128 Fix/add jsx loading
  packages/pwa-buildpack/lib/Utilities/getClientConfig.js
  packages/pwa-buildpack/lib/WebpackTools/MagentoResolver.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/MagentoResolver.spec.js
Labels: Partner: Aligent Consulting, Progress: review, partners-contribution, pkg:pwa-buildpack, version: Minor

#2133 Add new categorySort Element #360
  packages/venia-ui/lib/RootComponents/Category/category.css
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/CategorySort/__tests__/__snapshots__/categorySort.spec.js.snap
  packages/venia-ui/lib/components/CategorySort/__tests__/categorySort.spec.js
  packages/venia-ui/lib/components/CategorySort/categorySort.css
  packages/venia-ui/lib/components/CategorySort/categorySort.js
  packages/venia-ui/lib/components/CategorySort/categorySortItem.css
  packages/venia-ui/lib/components/CategorySort/categorySortItem.js
  packages/venia-ui/lib/components/CategorySort/index.js
  packages/venia-ui/lib/queries/getCategory.graphql
Labels: Partner: TechDivision, partners-contribution, pkg:venia-ui

#2169 Fix RootComponentsPlugin to be IE compatible
  packages/pwa-buildpack/lib/WebpackTools/plugins/RootComponentsPlugin.js
Labels: Partner: Aligent Consulting, partners-contribution, pkg:pwa-buildpack, version: Patch

#2192 [Doc] update setup topic
  magento-compatibility.js
  pwa-devdocs/package-lock.json
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: Progress: approved, version: Patch

#2153 FIX Docs - Add missing variable
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: Partner: TechDivision, partners-contribution

#2195 [Docs] update devdocs dependencies and build script
  pwa-devdocs/Gemfile.lock
  pwa-devdocs/package.json
Labels: Progress: approved

#2179 [Docs] Revise and publish PWA Studio fundamentals intro and project setup
  pwa-devdocs/_drafts/pwa-studio-fundamentals/index.md
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-set-up/images/interactive-questionnaire.png
  pwa-devdocs/_drafts/pwa-studio-fundamentals/project-set-up/index.md
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/images/foo-screen-shot.png
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/images/clear-storage.png
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/images/compiled-successfully.png
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/images/interactive-questionnaire.png
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/images/prerequisites.png
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/images/privacy-error.png
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/index.md
Labels: Progress: review, docs, documentation, pkg:pwa-devdocs, version: Minor

#2194 [bug]: Fix broken summarizeEvents function
  scripts/watch-all.js
Labels: Progress: approved, version: Patch
