Repository magento/pwa-studio, pull requests merged in 2021-05, with the labels that each got.

#3157 Update readme calendar links
  README.md
Labels: Progress: approved

#3142 fix(loading-regions): state loading stuck when "US" is not in the supported countries
  jest.config.js
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/store/actions/checkout/asyncActions.js
  packages/peregrine/lib/talons/AddressBookPage/useAddressBookPage.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingMethods.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/useBillingAddress.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/createDotEnvFile.spec.js.snap
  packages/venia-concept/src/.storybook/webpack.config.js
  packages/venia-concept/webpack.config.js
  packages/venia-ui/.storybook/webpack.config.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/util/formValidators.js
Labels: Progress: approved, pkg:extensions, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui

#3131 #3114 Set fetch policy and next fetch policy for cms block query
  packages/venia-ui/lib/components/CmsBlock/cmsBlock.js
Labels: Partner: Atwix, Progress: approved, partners-contribution, pkg:venia-ui

#3034 #1222 Filters (Layered Navigation) - Add keyboard focus and adjust the way tab order should work
  packages/peregrine/lib/talons/FilterModal/__tests__/useFilterModal.spec.js
  packages/peregrine/lib/talons/FilterModal/useFilterModal.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategoryContent.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategoryContent.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryContent.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryFragments.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/category.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/category.spec.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/categoryContent.spec.js
  packages/venia-ui/lib/RootComponents/Category/category.css
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/Button/button.js
  packages/venia-ui/lib/components/Checkbox/checkbox.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilters.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItem.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
  packages/venia-ui/lib/components/FilterModal/filterBlock.js
  packages/venia-ui/lib/components/FilterModal/filterFooter.js
  packages/venia-ui/lib/components/FilterModal/filterModal.js
  packages/venia-ui/lib/components/FilterModalOpenButton/filterModalOpenButton.css
  packages/venia-ui/lib/components/FilterModalOpenButton/filterModalOpenButton.js
  packages/venia-ui/lib/components/FilterModalOpenButton/index.js
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/__tests__/searchPage.spec.js
  packages/venia-ui/lib/components/SearchPage/searchPage.js
  packages/venia-ui/lib/components/SortedByContainer/index.js
  packages/venia-ui/lib/components/SortedByContainer/sortedByContainer.css
  packages/venia-ui/lib/components/SortedByContainer/sortedByContainer.js
  packages/venia-ui/lib/components/Trigger/trigger.js
  packages/venia-ui/package.json
  yarn.lock
Labels: Partner: Atwix, Progress: approved, partners-contribution, pkg:peregrine, pkg:venia-ui, version: Major

#3136 Cypress visual testing integration
  venia-integration-tests/cypress.config.json
  venia-integration-tests/cypress.json
  venia-integration-tests/jest.config.js
  venia-integration-tests/package.json
  venia-integration-tests/src/fields/categoryPage/index.js
  venia-integration-tests/src/fixtures/mock-json-data/venia-home-page.json
  venia-integration-tests/src/plugins/__tests__/resizeSnapshotPlugin.spec.js
  venia-integration-tests/src/plugins/index.js
  venia-integration-tests/src/plugins/resizeSnapshotPlugin.js
  venia-integration-tests/src/snapshots/categoryPage/filterModal.spec.js/Filter-Modal.snap.png
  venia-integration-tests/src/snapshots/pageBuilder/homePage.spec.js/Page-Builder-Home-Page.snap.png
  venia-integration-tests/src/support/__tests__/fullPageScreenshotCommand.spec.js
  venia-integration-tests/src/support/__tests__/loadFullPageCommand.spec.js
  venia-integration-tests/src/support/fullPageScreenshotCommand.js
  venia-integration-tests/src/support/index.js
  venia-integration-tests/src/support/loadFullPageCommand.js
  venia-integration-tests/src/tests/accountMenu/accountMenu.spec.js
  venia-integration-tests/src/tests/categoryPage/filterModal.spec.js
  venia-integration-tests/src/tests/login/login.spec.js
  venia-integration-tests/src/tests/pageBuilder/homePage.spec.js
  venia-integration-tests/yarn.lock
Labels: Progress: approved, version: Minor

#3164 Use token for font-family in toast
  packages/venia-ui/lib/components/ToastContainer/toast.css
Labels: Progress: approved, pkg:venia-ui, version: Patch

#3171 [PWA-1719] Filter model close icon and drop down arrows are not visible. (Actually present but not visible)
  packages/venia-ui/lib/components/FilterModal/filterModal.css
Labels: Progress: approved, pkg:venia-ui, version: Patch

#3130 Add to Wishlist from Cart
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useProduct.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useWishlist.ce.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useWishlist.ee.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useWishlist.ce.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useWishlist.ee.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/product.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useWishlist.ce.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useWishlist.ee.js
  packages/peregrine/lib/talons/CartPage/ProductListing/wishlistFragment.ce.js
  packages/peregrine/lib/talons/CartPage/ProductListing/wishlistFragment.ee.js
  packages/peregrine/lib/talons/CartPage/__tests__/useCartPage.spec.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistItem.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/product.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.css
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListingFragments.js
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/__tests__/cartPage.spec.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
Labels: Progress: review, pkg:extensions, pkg:peregrine, pkg:venia-ui, version: Minor

#3096 [DOCS] Moving the contribution part to a more prominent spot in the m…
  README.md
Labels: Partner: Experius, Progress: approved, partners-contribution, version: Patch

#3168 [doc] TargetableModule.spliceSource() examples and debugging instructions
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableModule/images/file-content.png
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableModule/images/file-search.png
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableModule/images/inspect.png
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableModule/images/sources-panel.png
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableModule/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#3125 Change sort from relevance to position
  packages/peregrine/lib/hooks/__tests__/useSort.spec.js
  packages/peregrine/lib/hooks/useSort.js
  packages/venia-ui/lib/components/ProductSort/productSort.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui

#3146 Wishlist cypress test
  package.json
  venia-integration-tests/cypress.config.json
  venia-integration-tests/cypress.json
  venia-integration-tests/package.json
  venia-integration-tests/src/actions/categoryPage/index.js
  venia-integration-tests/src/actions/index.js
  venia-integration-tests/src/actions/login/index.js
  venia-integration-tests/src/actions/myAccountMenu/index.js
  venia-integration-tests/src/actions/productPage/index.js
  venia-integration-tests/src/assertions/index.js
  venia-integration-tests/src/assertions/myAccountMenu/index.js
  venia-integration-tests/src/assertions/wishlist/index.js
  venia-integration-tests/src/fields/accountAccess/index.js
  venia-integration-tests/src/fields/accountMenu/index.js
  venia-integration-tests/src/fields/categoryPage/index.js
  venia-integration-tests/src/fields/login/index.js
  venia-integration-tests/src/fields/myAccountMenu/index.js
  venia-integration-tests/src/fields/productPage/index.js
  venia-integration-tests/src/fields/wishlist/index.js
  venia-integration-tests/src/fixtures/accountAccess/index.js
  venia-integration-tests/src/fixtures/categoryPage/index.js
  venia-integration-tests/src/fixtures/homePage/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/fixtures/login/index.js
  venia-integration-tests/src/fixtures/mock-json-data/venia-home-page.json
  venia-integration-tests/src/fixtures/myAccountMenu/index.js
  venia-integration-tests/src/fixtures/productPage/index.js
  venia-integration-tests/src/fixtures/wishlist/index.js
  venia-integration-tests/src/support/accountCommands.js
  venia-integration-tests/src/support/index.js
  venia-integration-tests/src/support/routesCommands.js
  venia-integration-tests/src/support/visitPageCommand.js
  venia-integration-tests/src/tests/accountMenu/accountMenu.spec.js
  venia-integration-tests/src/tests/categoryPage/filterModal.spec.js
  venia-integration-tests/src/tests/login/login.spec.js
  venia-integration-tests/src/tests/pageBuilder/homePage.spec.js
  venia-integration-tests/src/tests/wishList/e2eTests/singleWishlistAddRemoveProduct.spec.js
  venia-integration-tests/yarn.lock
Labels: Progress: approved, Progress: on hold, version: Minor

#3184 [feature] Always show a wishlist name and do not show visibility toggle if only one list
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useWishlistPage.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlistPage.spec.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistPage.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlist.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistPage.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlist.spec.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlistPage.spec.js
  packages/venia-ui/lib/components/WishlistPage/wishlist.css
  packages/venia-ui/lib/components/WishlistPage/wishlist.js
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#3194 [PWA-1542] Verify Buttons
  venia-integration-tests/src/fixtures/pageBuilder/buttons/buttons.json
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/buttons.spec.js/Page-Builder-Buttons-Page.snap.png
  venia-integration-tests/src/tests/pageBuilder/integrationTests/buttons.spec.js
Labels: Progress: approved, version: Major

#3137 Layered Navigation - Desktop Optimizations
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/talons/FilterModal/__tests__/useFilterBlock.spec.js
  packages/peregrine/lib/talons/FilterModal/__tests__/useFilterList.spec.js
  packages/peregrine/lib/talons/FilterModal/index.js
  packages/peregrine/lib/talons/FilterModal/useFilterBlock.js
  packages/peregrine/lib/talons/FilterModal/useFilterList.js
  packages/peregrine/lib/talons/FilterSidebar/__tests__/useFilterSidebar.spec.js
  packages/peregrine/lib/talons/FilterSidebar/index.js
  packages/peregrine/lib/talons/FilterSidebar/useFilterSidebar.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategoryContent.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategoryContent.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/category.css
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilters.js
  packages/venia-ui/lib/components/FilterModal/FilterList/__tests__/filterItem.spec.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItem.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.css
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
  packages/venia-ui/lib/components/FilterModal/__tests__/filterModal.spec.js
  packages/venia-ui/lib/components/FilterModal/filterBlock.js
  packages/venia-ui/lib/components/FilterModalOpenButton/filterModalOpenButton.css
  packages/venia-ui/lib/components/FilterSidebar/__tests__/filterSidebar.spec.js
  packages/venia-ui/lib/components/FilterSidebar/filterSidebar.css
  packages/venia-ui/lib/components/FilterSidebar/filterSidebar.js
  packages/venia-ui/lib/components/FilterSidebar/index.js
  packages/venia-ui/lib/components/ProductSort/__tests__/__snapshots__/productSort.spec.js.snap
  packages/venia-ui/lib/components/ProductSort/productSort.css
  packages/venia-ui/lib/components/ProductSort/productSort.js
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/searchPage.css
  packages/venia-ui/lib/components/SearchPage/searchPage.js
  packages/venia-ui/lib/components/SortedByContainer/sortedByContainer.css
Labels: Partner: Absolunet Inc, Progress: approved, partners-contribution, pkg:extensions, pkg:pagebuilder, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Major
