Repository magento/pwa-studio, pull requests merged in 2021-12, with the labels that each got.

#3572 Updated the rest of the page redirects
  packages/upward-js/README.md
  pwa-devdocs/src/peregrine/reference/hooks/useDropdown/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useEventListener/index.md
  pwa-devdocs/src/peregrine/reference/hooks/usePagination/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useSearchParam/index.md
  pwa-devdocs/src/peregrine/reference/hooks/useWindowSize/index.md
  pwa-devdocs/src/peregrine/reference/item/index.md
  pwa-devdocs/src/peregrine/reference/items/index.md
  pwa-devdocs/src/peregrine/reference/list/index.md
  pwa-devdocs/src/peregrine/reference/router/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/GiftCards/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/GiftOptions/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/PriceAdjustments/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/PriceSummary/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/ProductListing/index.md
  pwa-devdocs/src/peregrine/reference/talons/CartPage/index.md
  pwa-devdocs/src/peregrine/reference/targets/index.md
  pwa-devdocs/src/peregrine/reference/targets/wrappable-talons/index.md
  pwa-devdocs/src/peregrine/reference/toasts/useToastContext/index.md
  pwa-devdocs/src/peregrine/reference/toasts/useToasts/index.md
  pwa-devdocs/src/pwa-buildpack/configuration-management/index.md
  pwa-devdocs/src/pwa-buildpack/extensibility-framework/index.md
  pwa-devdocs/src/pwa-buildpack/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/create-custom-origin/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/create-env-file/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/create-project/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/index.md
  pwa-devdocs/src/pwa-buildpack/reference/buildpack-cli/load-env/index.md
  pwa-devdocs/src/pwa-buildpack/reference/configure-webpack/index.md
  pwa-devdocs/src/pwa-buildpack/reference/environment-variables/core-definitions/index.md
  pwa-devdocs/src/pwa-buildpack/reference/environment-variables/definitions-api/index.md
  pwa-devdocs/src/pwa-buildpack/reference/extension-framework/index.md
  pwa-devdocs/src/pwa-buildpack/reference/extension-framework/target/index.md
  pwa-devdocs/src/pwa-buildpack/reference/magento-resolver/index.md
  pwa-devdocs/src/pwa-buildpack/reference/pwa-dev-server/index.md
  pwa-devdocs/src/pwa-buildpack/reference/root-components-plugin/index.md
  pwa-devdocs/src/pwa-buildpack/reference/serviceworker-plugin/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/SingleImportStatement/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableESModule/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableESModuleArray/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableESModuleObject/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableModule/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableReactComponent/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableSet/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targets/index.md
  pwa-devdocs/src/pwa-buildpack/reference/transform-requests/index.md
  pwa-devdocs/src/pwa-buildpack/scaffolding/custom-project-templates/index.md
  pwa-devdocs/src/pwa-buildpack/scaffolding/index.md
  pwa-devdocs/src/pwa-buildpack/troubleshooting/index.md
  pwa-devdocs/src/technologies/upgrading-versions/index.md
  pwa-devdocs/src/technologies/upward/reference-implementation/index.md
  pwa-devdocs/src/tutorials/intercept-a-target/change-static-assets-directory/index.md
  pwa-devdocs/src/tutorials/targetables/index.md
  pwa-devdocs/src/venia-ui/reference/components/Link/index.md
  pwa-devdocs/src/venia-ui/reference/components/Shimmer/index.md
Labels: pkg:pwa-devdocs, pkg:upward-js, version: Patch, docs, Progress: approved

#3586 [PWA-2326]: Refactor deprecated type_id on ProductInterface
  packages/pagebuilder/lib/ContentTypes/Products/products.js
  packages/peregrine/lib/talons/Gallery/__tests__/useAddToCartButton.spec.js
  packages/peregrine/lib/talons/Gallery/useAddToCartButton.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryFragments.gql.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/venia-ui/lib/components/Gallery/addToCartButton.js
  packages/venia-ui/lib/components/Gallery/item.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Webjump, pkg:pagebuilder

#3580 PWA-2307 Update product GraphQL field from id to uid
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/hooks/useCustomerWishlistSkus/customerWishlist.gql.ce.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/productFormFragment.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/productListingFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/itemsReviewFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/createAccount.gql.js
  packages/peregrine/lib/talons/CheckoutPage/checkoutPageFragments.gql.js
  packages/peregrine/lib/talons/CreateAccount/createAccount.gql.js
  packages/peregrine/lib/talons/MagentoRoute/magentoRoute.gql.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
  packages/peregrine/lib/talons/MiniCart/ProductList/productListFragments.gql.js
  packages/peregrine/lib/talons/OrderHistoryPage/orderRow.gql.js
  packages/peregrine/lib/talons/WishlistPage/wishlistItemFragments.gql.js
  packages/venia-ui/lib/components/LegacyMiniCart/editFormFragment.gql.js
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
  packages/venia-ui/lib/components/SignIn/signIn.gql.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3577 PWA-2310: Update category GraphQL query to categories query
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/talons/Breadcrumbs/__tests__/useBreadcrumbs.spec.js
  packages/peregrine/lib/talons/Breadcrumbs/breadcrumbs.gql.js
  packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js
  packages/peregrine/lib/talons/CategoryList/categoryList.gql.js
  packages/peregrine/lib/talons/CategoryList/useCategoryList.js
  packages/peregrine/lib/talons/CategoryTree/__tests__/__snapshots__/useCategoryTree.spec.js.snap
  packages/peregrine/lib/talons/CategoryTree/__tests__/useCategoryTree.spec.js
  packages/peregrine/lib/talons/CategoryTree/categoryTree.gql.js
  packages/peregrine/lib/talons/CategoryTree/useCategoryTree.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategory.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategoryContent.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategory.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategoryContent.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useNoProductsFound.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/category.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryContent.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategory.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/peregrine/lib/talons/RootComponents/Category/useNoProductsFound.js
  packages/peregrine/lib/talons/RootComponents/Product/productDetailFragment.gql.js
  packages/venia-concept/lastCachedGraphQLSchema.json
  packages/venia-ui/lib/components/CategoryTree/categoryBranch.js
  pwa-devdocs/_archived/create-taglist-component/index.md
Labels: pkg:peregrine, pkg:venia-concept, version: Patch, Progress: approved, pkg:venia-ui

#3596 PWA-2447-redirect to table page on new docs site
  pwa-devdocs/src/technologies/features/index.md
Labels: bug, pkg:pwa-devdocs, documentation, version: Patch, docs, Progress: approved

#3584 PWA-2390: Newsletter form displays two errors
  packages/peregrine/lib/talons/Newsletter/__tests__/useNewsletter.spec.js
  packages/peregrine/lib/talons/Newsletter/useNewsletter.js
  packages/venia-ui/lib/components/Newsletter/newsletter.js
  venia-integration-tests/src/actions/index.js
  venia-integration-tests/src/actions/newsletter/index.js
  venia-integration-tests/src/fields/index.js
  venia-integration-tests/src/fields/newsletter/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/fixtures/newsletter/index.js
  venia-integration-tests/src/fixtures/newsletter/newsletterFormSubmitError.json
  venia-integration-tests/src/tests/integrationTests/newsletter/resetErrorOnSubmit.spec.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3564 PWA-2387: Replace Magento CE Homepage with Page Builder
  packages/peregrine/lib/talons/CategoryList/__tests__/useCategoryList.spec.js
  packages/peregrine/lib/talons/CategoryList/__tests__/useCategoryTile.spec.js
  packages/peregrine/lib/talons/CategoryList/categoryList.gql.js
  packages/peregrine/lib/talons/CategoryList/useCategoryList.js
  packages/peregrine/lib/talons/CategoryList/useCategoryTile.js
  packages/peregrine/lib/talons/Cms/useCmsPage.js
  packages/venia-ui/lib/RootComponents/CMS/__tests__/cms.spec.js
  packages/venia-ui/lib/RootComponents/CMS/cms.js
  packages/venia-ui/lib/components/CategoryList/__tests__/categoryList.spec.js
  packages/venia-ui/lib/components/CategoryList/categoryList.js
  packages/venia-ui/lib/components/CategoryList/categoryList.module.css
  packages/venia-ui/lib/components/CategoryList/categoryTile.js
  packages/venia-ui/lib/components/CategoryList/categoryTile.module.css
  packages/venia-ui/lib/components/CategoryList/index.js
  pwa-devdocs/_drafts/pwa-studio-fundamentals/reuse-a-venia-component/index.md
  venia-integration-tests/package.json
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, pkg:extensions

#3529 [PWA-1512]: Check if email is associated with account in guest checkout
  packages/peregrine/lib/Toasts/useToasts.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useGuestForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useGuestForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/guestForm.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useGuestForm.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/CheckoutPage/GuestSignIn/guestSignIn.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/guestForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/guestForm.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/__tests__/checkoutPage.spec.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/SignIn/__tests__/signIn.spec.js
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/components/ToastContainer/toast.js
  packages/venia-ui/lib/components/ToastContainer/toast.module.css
  venia-integration-tests/cypress.config.json
  venia-integration-tests/src/actions/checkoutPage/index.js
  venia-integration-tests/src/actions/index.js
  venia-integration-tests/src/actions/toast/index.js
  venia-integration-tests/src/assertions/index.js
  venia-integration-tests/src/fields/checkoutPage/index.js
  venia-integration-tests/src/fields/toast/index.js
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/tests/e2eTests/checkout/registeredUserCheckout.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Webjump

#3605 update cypress selectors
  venia-integration-tests/src/fields/checkoutPage/index.js
Labels: version: Patch, Progress: approved

#3594 [PWA-2306]: Remove deprecated "id" field from customer queries
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/hooks/useCustomerWishlistSkus/customerWishlist.gql.ce.js
  packages/peregrine/lib/talons/AddressBookPage/addressBookPage.gql.js
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/addressBook.gql.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/createAccount.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/customerForm.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/shippingInformation.gql.js
  packages/peregrine/lib/talons/CheckoutPage/checkoutPage.gql.js
  packages/peregrine/lib/talons/CommunicationsPage/communicationsPage.gql.js
  packages/peregrine/lib/talons/CreateAccount/createAccount.gql.js
  packages/peregrine/lib/talons/Navigation/navigation.gql.js
  packages/peregrine/lib/talons/OrderHistoryPage/orderHistoryPage.gql.js
  packages/peregrine/lib/talons/SignIn/signIn.gql.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/__tests__/useWishlistDialog.spec.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/wishlistDialog.gql.js
  packages/peregrine/lib/talons/WishlistPage/wishlist.gql.js
  packages/peregrine/lib/talons/WishlistPage/wishlistPage.gql.js
  packages/venia-ui/lib/components/AccountChip/accountChip.gql.js
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPage.gql.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Webjump

#3599 [PWA-1776] MegaMenu hover refactor to close submenu when clicking on link
  packages/peregrine/lib/talons/MegaMenu/__tests__/__snapshots__/useMegaMenu.spec.js.snap
  packages/peregrine/lib/talons/MegaMenu/__tests__/__snapshots__/useMegaMenuItem.spec.js.snap
  packages/peregrine/lib/talons/MegaMenu/__tests__/useMegaMenuItem.spec.js
  packages/peregrine/lib/talons/MegaMenu/useMegaMenu.js
  packages/peregrine/lib/talons/MegaMenu/useMegaMenuItem.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/MegaMenuItem.spec.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenu.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenuItem.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/Submenu.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/megaMenu.js
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.js
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.module.css
  packages/venia-ui/lib/components/MegaMenu/submenu.js
  packages/venia-ui/lib/components/MegaMenu/submenuColumn.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3603 PWA-3602 Added null check validation to breadcrumbs link suffix
  packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#3589 [refactor] Updated GraphQL use of UrlResolver to Route
  packages/peregrine/lib/talons/Header/__tests__/useStoreSwitcher.spec.js
  packages/peregrine/lib/talons/Header/storeSwitcher.gql.js
  packages/peregrine/lib/talons/Header/useStoreSwitcher.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#3573 Improve Gallery/AddToCartButton.js
  packages/extensions/venia-sample-payments-checkmo/src/components/edit.js
  packages/extensions/venia-sample-payments-checkmo/src/components/summary.js
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/addToCartButton.spec.js.snap
  packages/venia-ui/lib/components/Gallery/addToCartButton.js
  pwa-devdocs/_drafts/venia-pwa-concept/component/shimmer/index.md
  pwa-devdocs/src/pagebuilder/custom-components/add-component/index.md
Labels: version: Patch, Progress: approved, pkg:venia-ui, pkg:extensions

#3588 PWA-2308: Update ConfigurableProductOptions GraphQL field from id to uid
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/talons/AddToCartDialog/addToCartDialog.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/productFormFragment.gql.js
  packages/peregrine/lib/talons/RootComponents/Product/productDetailFragment.gql.js
  packages/peregrine/lib/talons/WishlistPage/wishlistItemFragments.gql.js
  packages/venia-ui/lib/components/LegacyMiniCart/editFormFragment.gql.js
  packages/venia-ui/lib/util/__tests__/shrinkGETQuery.spec.js
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/wishlistExpandWishlistPage.json
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3608 [PWA-2411] Comment out server webpack config
  packages/venia-concept/webpack.config.js
Labels: pkg:venia-concept, version: Patch, Progress: approved, partners-contribution, Partner: Webjump

#3597 PWA-2319: Update CartItemInterface GraphQL field from id to uid
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/talons/CartPage/PriceSummary/priceSummaryFragments.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/productListingFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/itemsReviewFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/createAccount.gql.js
  packages/peregrine/lib/talons/CheckoutPage/checkoutPageFragments.gql.js
  packages/peregrine/lib/talons/CreateAccount/createAccount.gql.js
  packages/peregrine/lib/talons/MiniCart/ProductList/productListFragments.gql.js
  packages/peregrine/lib/talons/SignIn/signIn.gql.js
  packages/venia-ui/lib/components/SignIn/signIn.gql.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3617 Updated links to new site
  README.md
Labels: pkg:pwa-devdocs, version: Patch, docs, Progress: approved, needs triage

#3598 [PWA-2312] Update CategoryTree.id GraphQL field to uid
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/store/reducers/catalog.js
  packages/peregrine/lib/talons/Breadcrumbs/breadcrumbs.gql.js
  packages/peregrine/lib/talons/CategoryList/categoryList.gql.js
  packages/peregrine/lib/talons/CategoryTree/categoryTree.gql.js
  packages/peregrine/lib/talons/CategoryTree/useCategoryBranch.js
  packages/peregrine/lib/talons/Cms/cmsPage.gql.js
  packages/peregrine/lib/talons/MagentoRoute/magentoRoute.gql.js
  packages/peregrine/lib/talons/MegaMenu/__tests__/__snapshots__/useMegaMenu.spec.js.snap
  packages/peregrine/lib/talons/MegaMenu/__tests__/useMegaMenu.spec.js
  packages/peregrine/lib/talons/MegaMenu/megaMenu.gql.js
  packages/peregrine/lib/talons/MegaMenu/useMegaMenu.js
  packages/peregrine/lib/talons/Navigation/__tests__/useNavigation.spec.js
  packages/peregrine/lib/talons/Navigation/navigation.gql.js
  packages/peregrine/lib/talons/Navigation/useNavigation.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategory.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategory.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/category.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryContent.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryFragments.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategory.js
  packages/peregrine/lib/talons/RootComponents/Product/productDetailFragment.gql.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/category.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/category.spec.js
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/components/Breadcrumbs/breadcrumbs.js
  packages/venia-ui/lib/components/CategoryList/categoryList.js
  packages/venia-ui/lib/components/CategoryTree/categoryTree.js
  packages/venia-ui/lib/components/MegaMenu/megaMenu.js
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.js
  packages/venia-ui/lib/components/MegaMenu/submenu.js
  packages/venia-ui/lib/components/MegaMenu/submenuColumn.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, pkg:extensions

#3601 PWA-2322: Update SelectedConfigurableOption GraphQL fields
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
  packages/peregrine/lib/talons/CartPage/ProductListing/productListingFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/__fixtures__/cartItems.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/itemsReviewFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/createAccount.gql.js
  packages/peregrine/lib/talons/CreateAccount/createAccount.gql.js
  packages/peregrine/lib/talons/MiniCart/ProductList/productListFragments.gql.js
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlistItem.spec.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistItem.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__fixtures__/cartItems.js
  packages/venia-ui/lib/components/SignIn/signIn.gql.js
  packages/venia-ui/lib/util/apolloCache.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3616 [PWA-2314]: Replace deprecated "code" and "root_category_id" from storeConfig queries
  packages/peregrine/lib/talons/Cms/cmsPage.gql.js
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useStoreSwitcher.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useStoreSwitcher.spec.js
  packages/peregrine/lib/talons/Header/storeSwitcher.gql.js
  packages/peregrine/lib/talons/Header/useStoreSwitcher.js
  packages/peregrine/lib/talons/Navigation/navigation.gql.js
  packages/venia-ui/lib/RootComponents/CMS/__tests__/cms.spec.js
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner10.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner2.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner3.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner4.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner5.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner6.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner7.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner8.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner9.json
  venia-integration-tests/src/fixtures/pageBuilder/block/block.json
  venia-integration-tests/src/fixtures/pageBuilder/block/cmsBlock.json
  venia-integration-tests/src/fixtures/pageBuilder/block/cmsPage.json
  venia-integration-tests/src/fixtures/pageBuilder/block/dynamicBlock.json
  venia-integration-tests/src/fixtures/pageBuilder/buttons/buttons.json
  venia-integration-tests/src/fixtures/pageBuilder/column/column.json
  venia-integration-tests/src/fixtures/pageBuilder/divider/divider.json
  venia-integration-tests/src/fixtures/pageBuilder/dynamicBlock/dynamicBlock.json
  venia-integration-tests/src/fixtures/pageBuilder/image/image.json
  venia-integration-tests/src/fixtures/pageBuilder/map/map1.json
  venia-integration-tests/src/fixtures/pageBuilder/map/map2.json
  venia-integration-tests/src/fixtures/pageBuilder/products/products-carousel-1.json
  venia-integration-tests/src/fixtures/pageBuilder/products/products-carousel-2.json
  venia-integration-tests/src/fixtures/pageBuilder/products/products-carousel-3.json
  venia-integration-tests/src/fixtures/pageBuilder/products/products-carousel-4.json
  venia-integration-tests/src/fixtures/pageBuilder/products/products-grid-sorting.json
  venia-integration-tests/src/fixtures/pageBuilder/products/products-grid.json
  venia-integration-tests/src/fixtures/pageBuilder/row/row-1.json
  venia-integration-tests/src/fixtures/pageBuilder/row/row-2.json
  venia-integration-tests/src/fixtures/pageBuilder/row/row-min-height.json
  venia-integration-tests/src/fixtures/pageBuilder/row/row-video-background-1.json
  venia-integration-tests/src/fixtures/pageBuilder/row/row-video-background-2.json
  venia-integration-tests/src/fixtures/pageBuilder/row/row-video-background-3.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider10.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider11.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider12.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider2.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider3.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider4.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider5.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider6.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider7.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider8.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider9.json
  venia-integration-tests/src/fixtures/pageBuilder/smokeTest/cmsBlockTest.json
  venia-integration-tests/src/fixtures/pageBuilder/smokeTest/dynamicBlockTest.json
  venia-integration-tests/src/fixtures/pageBuilder/smokeTest/smokeTest.json
  venia-integration-tests/src/fixtures/pageBuilder/tabs/tabs.json
  venia-integration-tests/src/fixtures/pageBuilder/text/text.json
  venia-integration-tests/src/fixtures/pageBuilder/video/video.json
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Webjump

#3578 [bugfix/3539] fixed issue #3539
  packages/venia-concept/.gitignore
  packages/venia-concept/webpack.config.js
Labels: pkg:venia-concept, version: Patch, Progress: approved
