Repository magento/pwa-studio, pull requests merged in 2021-11, with the labels that each got.

#3507 [PWA-2205] Add Cypress test coverage: VeniaGuestIsAbleToAccessCategories.xml
  packages/pagebuilder/lib/ContentTypes/Banner/banner.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/lib/components/CategoryTree/categoryBranch.js
  packages/venia-ui/lib/components/CategoryTree/categoryLeaf.js
  packages/venia-ui/lib/components/CategoryTree/categoryTree.js
  packages/venia-ui/lib/components/Header/navTrigger.js
  packages/venia-ui/lib/components/Mask/mask.js
  packages/venia-ui/lib/components/MegaMenu/megaMenu.js
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.js
  packages/venia-ui/lib/components/MegaMenu/submenuColumn.js
  venia-integration-tests/src/actions/addressBookPage/index.js
  venia-integration-tests/src/actions/categoryPage/index.js
  venia-integration-tests/src/actions/header/index.js
  venia-integration-tests/src/actions/index.js
  venia-integration-tests/src/actions/pageBuilder/index.js
  venia-integration-tests/src/assertions/addressBookPage/index.js
  venia-integration-tests/src/assertions/categoryPage/index.js
  venia-integration-tests/src/fields/categoryPage/index.js
  venia-integration-tests/src/fields/header/index.js
  venia-integration-tests/src/fields/index.js
  venia-integration-tests/src/fields/pageBuilder/index.js
  venia-integration-tests/src/fixtures/categoryPage/index.js
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/fixtures/pageBuilder/index.js
  venia-integration-tests/src/tests/e2eTests/categories/guestCategoryAccess.spec.js
  venia-integration-tests/src/tests/e2eTests/customerAccount/addressBookActions.spec.js
Labels: pkg:venia-concept, version: Minor, pkg:babel-preset-peregrine, Progress: approved, pkg:venia-ui, pkg:pagebuilder, needs triage

#3504 [PWA-2202] Add Cypress test coverage: VeniaCartPageGuestCheckout
  packages/venia-ui/lib/components/Accordion/section.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/giftOptions.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/giftCardSection.ee.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/discountSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/giftCardSummary.ee.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  venia-integration-tests/cypress.config.json
  venia-integration-tests/src/actions/cartPage/index.js
  venia-integration-tests/src/actions/checkoutPage/index.js
  venia-integration-tests/src/assertions/checkoutPage/index.js
  venia-integration-tests/src/assertions/orderHistoryPage/index.js
  venia-integration-tests/src/fields/cartPage/index.js
  venia-integration-tests/src/fields/checkoutPage/index.js
  venia-integration-tests/src/fixtures/checkoutPage/index.js
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/fixtures/productPage/index.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/registeredUserCheckout.spec.js
Labels: pkg:venia-concept, version: Minor, pkg:babel-preset-peregrine, Progress: approved, pkg:venia-ui, pkg:pagebuilder, needs triage

#3519 [PWA-2207] Add Cypress test coverage: Venia Filters, Search, Sort/Pagination
  packages/venia-ui/lib/RootComponents/Category/NoProductsFound/noProductsFound.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
  packages/venia-ui/lib/components/FilterModal/filterBlock.js
  packages/venia-ui/lib/components/FilterModal/filterFooter.js
  packages/venia-ui/lib/components/FilterModal/filterModal.js
  packages/venia-ui/lib/components/FilterModalOpenButton/filterModalOpenButton.js
  packages/venia-ui/lib/components/FilterSidebar/filterSidebar.js
  packages/venia-ui/lib/components/Gallery/item.js
  packages/venia-ui/lib/components/Header/searchTrigger.js
  packages/venia-ui/lib/components/Pagination/pagination.js
  packages/venia-ui/lib/components/Pagination/tile.js
  packages/venia-ui/lib/components/ProductSort/productSort.js
  packages/venia-ui/lib/components/ProductSort/sortItem.js
  packages/venia-ui/lib/components/SearchBar/searchBar.js
  packages/venia-ui/lib/components/SearchBar/searchField.js
  packages/venia-ui/lib/components/SearchBar/suggestedProduct.js
  packages/venia-ui/lib/components/SearchPage/searchPage.js
  packages/venia-ui/lib/components/Trigger/trigger.js
  venia-integration-tests/src/actions/categoryPage/index.js
  venia-integration-tests/src/actions/header/index.js
  venia-integration-tests/src/assertions/categoryPage/index.js
  venia-integration-tests/src/fields/categoryPage/index.js
  venia-integration-tests/src/fields/header/index.js
  venia-integration-tests/src/fixtures/categoryPage/index.js
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifySearchFunctionality.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifySearchSuggestionFunctionality.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifySortAndPagination.spec.js
  venia-integration-tests/src/tests/integrationTests/wishList/verifyMultipleWishlistFeatures.spec.js
Labels: version: Minor, Progress: approved, pkg:venia-ui

#3447 [PWA-2133] Cart : fix for out of stock products already in cart
  packages/peregrine/lib/talons/Adapter/useAdapter.js
  packages/peregrine/lib/talons/CartPage/PriceSummary/__tests__/usePriceSummary.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useProduct.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useProductListing.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useProductListing.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/productListingFragments.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProductListing.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/peregrine/lib/talons/Header/useCartTrigger.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/errorMessage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/errorMessage.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/product.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/errorMessage.js
  packages/venia-ui/lib/components/CartPage/ProductListing/errorMessage.module.css
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.module.css
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3535 [PWA-2364] Add to Cart flow for simple products on Home page is broken
  packages/pagebuilder/lib/ContentTypes/Products/products.js
  packages/peregrine/lib/talons/Gallery/useAddToCartButton.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/venia-ui/lib/components/Gallery/addToCartButton.js
  packages/venia-ui/lib/components/Gallery/item.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, pkg:pagebuilder

#3537 PWA Studio 12.1.0 release notes
  CHANGELOG.md
Labels: pkg:pwa-devdocs, version: Patch, docs, Progress: approved, needs triage

#3525 [PWA-2201] Add Cypress test coverage: VeniaCartPageEditCartAndCheckout.xml
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingRadio.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/discountSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/shippingSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/taxSummary.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/orderConfirmationPage.js
  packages/venia-ui/lib/components/CheckoutPage/OrderSummary/orderSummary.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
  packages/venia-ui/lib/components/Dialog/dialog.js
  packages/venia-ui/lib/components/RadioGroup/radioGroup.js
  venia-integration-tests/src/actions/cartPage/index.js
  venia-integration-tests/src/actions/checkoutPage/index.js
  venia-integration-tests/src/actions/index.js
  venia-integration-tests/src/actions/miniCart/index.js
  venia-integration-tests/src/actions/productPage/index.js
  venia-integration-tests/src/assertions/cartPage/index.js
  venia-integration-tests/src/assertions/checkoutPage/index.js
  venia-integration-tests/src/fields/cartPage/index.js
  venia-integration-tests/src/fields/checkoutPage/index.js
  venia-integration-tests/src/fields/index.js
  venia-integration-tests/src/fields/miniCart/index.js
  venia-integration-tests/src/fields/productPage/index.js
  venia-integration-tests/src/fixtures/checkoutPage/index.js
  venia-integration-tests/src/fixtures/productPage/index.js
  venia-integration-tests/src/tests/e2eTests/cartPage/editCartAndCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckoutWithRegionAndCC.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/registeredUserCheckout.spec.js
Labels: version: Minor, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Webjump

#3518 Pwa 2200
  venia-integration-tests/src/actions/cartPage/index.js
  venia-integration-tests/src/actions/categoryPage/index.js
  venia-integration-tests/src/actions/miniCart/index.js
  venia-integration-tests/src/assertions/index.js
  venia-integration-tests/src/assertions/miniCart/index.js
  venia-integration-tests/src/assertions/productPage/index.js
  venia-integration-tests/src/fields/cartPage/index.js
  venia-integration-tests/src/fields/categoryPage/index.js
  venia-integration-tests/src/fields/miniCart/index.js
  venia-integration-tests/src/fields/productPage/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/fixtures/miniCart/index.js
  venia-integration-tests/src/tests/e2eTests/anchorLinks/verifyAnchorLinks.spec.js
Labels: version: Minor, Progress: approved

#3533 PWA-2355 UPWARD JS resolver for Computed type
  packages/upward-js/lib/resolvers/ComputedResolver.js
  packages/upward-js/lib/resolvers/__tests__/ComputedResolver.test.js
  packages/upward-js/lib/resolvers/__tests__/index.test.js
  packages/upward-js/lib/resolvers/index.js
  packages/upward-spec/README.md
  packages/venia-ui/upward.yml
Labels: pkg:upward-js, pkg:upward-spec, version: Patch, Progress: review, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3493 [bugfix/#3492] removed duplicate webpack config
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getClientConfig.js
Labels: pkg:pwa-buildpack, version: Patch, Progress: approved, partners-contribution

#3543 Merge master to develop
  CHANGELOG.md
  magento-compatibility.js
  package.json
  packages/create-pwa/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-adobe-data-layer/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/lib/ContentTypes/Products/products.js
  packages/pagebuilder/package.json
  packages/peregrine/lib/talons/Gallery/useAddToCartButton.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/peregrine/package.json
  packages/pwa-theme-venia/package.json
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/Gallery/addToCartButton.js
  packages/venia-ui/lib/components/Gallery/item.js
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: pkg:peregrine, pkg:venia-concept, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, pkg:pwa-theme-venia

#3483 [PWA-2003] About Us
  packages/venia-ui/lib/components/Footer/sampleData.js
Labels: pkg:peregrine, pkg:venia-concept, version: Major, Progress: approved, pkg:venia-ui, pkg:pagebuilder, pkg:extensions, needs triage, pkg:pwa-theme-venia

#3485 Update size of Breadcrumbs container to allow focus ring to be visible
  packages/venia-ui/lib/components/Breadcrumbs/breadcrumbs.module.css
Labels: version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Aligent Consulting

#3521 PWA-2007 Supporting newsletter backend configurations
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/talons/FormError/__tests__/__snapshots__/useFormError.spec.js.snap
  packages/peregrine/lib/talons/FormError/__tests__/useFormError.spec.js
  packages/peregrine/lib/talons/FormError/useFormError.js
  packages/peregrine/lib/talons/Newsletter/__tests__/useNewsletter.spec.js
  packages/peregrine/lib/talons/Newsletter/newsletter.gql.js
  packages/peregrine/lib/talons/Newsletter/useNewsletter.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/Checkbox/checkbox.module.css
  packages/venia-ui/lib/components/Field/field.module.css
  packages/venia-ui/lib/components/FormError/formError.js
  packages/venia-ui/lib/components/Newsletter/__tests__/__snapshots__/newsletter.shimmer.spec.js.snap
  packages/venia-ui/lib/components/Newsletter/__tests__/__snapshots__/newsletter.spec.js.snap
  packages/venia-ui/lib/components/Newsletter/__tests__/newsletter.shimmer.spec.js
  packages/venia-ui/lib/components/Newsletter/__tests__/newsletter.spec.js
  packages/venia-ui/lib/components/Newsletter/newsletter.js
  packages/venia-ui/lib/components/Newsletter/newsletter.shimmer.js
  packages/venia-ui/lib/components/Newsletter/newsletter.shimmer.module.css
  packages/venia-ui/lib/components/RadioGroup/radio.module.css
  packages/venia-ui/lib/components/Shimmer/shimmer.module.css
  packages/venia-ui/lib/components/TextArea/textArea.module.css
  packages/venia-ui/lib/components/TextInput/textInput.module.css
Labels: pkg:pwa-buildpack, pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc, pkg:extensions

#3413 show rating summary on product listing
  packages/peregrine/lib/talons/RootComponents/Category/categoryFragments.gql.js
  packages/venia-concept/lastCachedGraphQLSchema.json
  packages/venia-ui/lib/components/Gallery/item.js
  packages/venia-ui/lib/components/Gallery/item.module.css
  packages/venia-ui/lib/components/Rating/__tests__/__snapshots__/rating.spec.js.snap
  packages/venia-ui/lib/components/Rating/__tests__/rating.spec.js
  packages/venia-ui/lib/components/Rating/index.js
  packages/venia-ui/lib/components/Rating/rating.js
  packages/venia-ui/lib/components/Rating/rating.module.css
Labels: pkg:peregrine, pkg:venia-concept, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, pkg:pwa-theme-venia

#3449 CIF-1465: directly import simplePersistence in user reducer
  packages/peregrine/lib/store/reducers/user.js
Labels: pkg:peregrine, Progress: approved

#3550 PWA-2376: Add redirect to new developer.adobe.com docs site
  pwa-devdocs/src/_includes/layout/header.html
  pwa-devdocs/src/pagebuilder/components/banner/index.md
  pwa-devdocs/src/pagebuilder/components/block/index.md
  pwa-devdocs/src/pagebuilder/components/buttons/index.md
  pwa-devdocs/src/pagebuilder/components/column/index.md
  pwa-devdocs/src/pagebuilder/components/divider/index.md
  pwa-devdocs/src/pagebuilder/components/heading/index.md
  pwa-devdocs/src/pagebuilder/components/html/index.md
  pwa-devdocs/src/pagebuilder/components/image/index.md
  pwa-devdocs/src/pagebuilder/components/map/index.md
  pwa-devdocs/src/pagebuilder/components/products/index.md
  pwa-devdocs/src/pagebuilder/components/row/index.md
  pwa-devdocs/src/pagebuilder/components/slider/index.md
  pwa-devdocs/src/pagebuilder/components/tabs/index.md
  pwa-devdocs/src/pagebuilder/components/text/index.md
  pwa-devdocs/src/pagebuilder/components/video/index.md
  pwa-devdocs/src/pagebuilder/custom-components/add-aggregator/index.md
  pwa-devdocs/src/pagebuilder/custom-components/add-component/index.md
  pwa-devdocs/src/pagebuilder/custom-components/add-stylesheet/index.md
  pwa-devdocs/src/pagebuilder/custom-components/debugging/index.md
  pwa-devdocs/src/pagebuilder/custom-components/overview/index.md
  pwa-devdocs/src/pagebuilder/custom-components/setup-component/index.md
  pwa-devdocs/src/pagebuilder/index.md
  pwa-devdocs/src/pagebuilder/known-limitations/index.md
  pwa-devdocs/src/pagebuilder/utility-functions/index.md
  pwa-devdocs/src/product-recs/index.md
  pwa-devdocs/src/technologies/upward/index.md
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
  pwa-devdocs/src/tutorials/enable-sass-less-support/index.md
  pwa-devdocs/src/tutorials/extension-development/index.md
  pwa-devdocs/src/tutorials/extension-development/taglist/index.md
  pwa-devdocs/src/tutorials/index.md
  pwa-devdocs/src/tutorials/intercept-a-target/add-new-environment-variable/index.md
  pwa-devdocs/src/tutorials/intercept-a-target/index.md
  pwa-devdocs/src/tutorials/intercept-a-target/modify-talon-results/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/add-a-static-route/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/modify-site-footer/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/production-launch-checklist/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-structure/index.md
  pwa-devdocs/src/venia-ui/reference/components/Button/index.md
  pwa-devdocs/src/venia-ui/reference/components/ButtonGroup/index.md
  pwa-devdocs/src/venia-ui/reference/components/CartPage/GiftCards/index.md
  pwa-devdocs/src/venia-ui/reference/components/CartPage/PriceAdjustments/index.md
  pwa-devdocs/src/venia-ui/reference/components/CartPage/PriceSummary/index.md
  pwa-devdocs/src/venia-ui/reference/components/CartPage/ProductListing/index.md
  pwa-devdocs/src/venia-ui/reference/components/CartPage/index.md
  pwa-devdocs/src/venia-ui/reference/components/Logo/index.md
  pwa-devdocs/src/venia-ui/reference/components/Mask/index.md
  pwa-devdocs/src/venia-ui/reference/components/Portal/index.md
  pwa-devdocs/src/venia-ui/reference/components/ProductImageCarousel/index.md
  pwa-devdocs/src/venia-ui/reference/components/ToastContainer/index.md
  pwa-devdocs/src/venia-ui/reference/components/Trigger/index.md
  pwa-devdocs/src/venia-ui/reference/targets/index.md
Labels: pkg:pwa-devdocs, version: Patch, docs, Progress: approved

#3548 Added Shimmer and Link docs
  packages/venia-ui/lib/components/Link/link.js
  packages/venia-ui/lib/components/Shimmer/shimmer.js
  pwa-devdocs/package.json
  pwa-devdocs/src/_data/venia-api.yml
  pwa-devdocs/src/venia-ui/reference/components/Link/index.md
  pwa-devdocs/src/venia-ui/reference/components/Shimmer/index.md
Labels: pkg:pwa-devdocs, version: Patch, docs, Progress: approved, pkg:venia-ui

#3542 PWA-2372 Fix 404 page
  packages/peregrine/lib/talons/MagentoRoute/__tests__/useMagentoRoute.spec.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
  packages/venia-ui/lib/components/ErrorView/errorView.js
  venia-integration-tests/src/assertions/index.js
  venia-integration-tests/src/assertions/notFoundPage/index.js
  venia-integration-tests/src/fields/index.js
  venia-integration-tests/src/fields/notFoundPage/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/fixtures/notFoundPage/index.js
  venia-integration-tests/src/tests/e2eTests/notFound/routeNotFoundAccess.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3551 [bugfix] Scaffolded projects failing on build
  packages/babel-preset-peregrine/lib/index.js
  packages/babel-preset-peregrine/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  yarn.lock
Labels: pkg:venia-concept, version: Patch, pkg:babel-preset-peregrine, Progress: approved, pkg:venia-ui

#3526 Added fade-in-out transition to the colour swatch checkmark
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatch.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatchList.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/swatch.spec.js
  packages/venia-ui/lib/components/ProductOptions/swatch.js
  packages/venia-ui/lib/components/ProductOptions/swatch.module.css
Labels: Progress: approved, pkg:venia-ui, partners-contribution, Partner: Vaimo

#3538 PWA-2005 Contact Us page
  packages/peregrine/lib/talons/ContactPage/__tests__/useContactLink.spec.js
  packages/peregrine/lib/talons/ContactPage/__tests__/useContactPage.spec.js
  packages/peregrine/lib/talons/ContactPage/contactUs.gql.js
  packages/peregrine/lib/talons/ContactPage/index.js
  packages/peregrine/lib/talons/ContactPage/useContactLink.js
  packages/peregrine/lib/talons/ContactPage/useContactPage.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/pwa-buildpack/lib/queries/getStoreConfigData.graphql
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/ContactPage/__tests__/__snapshots__/contactLink.spec.js.snap
  packages/venia-ui/lib/components/ContactPage/__tests__/__snapshots__/contactPage.shimmer.spec.js.snap
  packages/venia-ui/lib/components/ContactPage/__tests__/__snapshots__/contactPage.spec.js.snap
  packages/venia-ui/lib/components/ContactPage/__tests__/contactLink.spec.js
  packages/venia-ui/lib/components/ContactPage/__tests__/contactPage.shimmer.spec.js
  packages/venia-ui/lib/components/ContactPage/__tests__/contactPage.spec.js
  packages/venia-ui/lib/components/ContactPage/contactLink.js
  packages/venia-ui/lib/components/ContactPage/contactPage.js
  packages/venia-ui/lib/components/ContactPage/contactPage.module.css
  packages/venia-ui/lib/components/ContactPage/contactPage.shimmer.js
  packages/venia-ui/lib/components/ContactPage/contactPage.shimmer.module.css
  packages/venia-ui/lib/components/ContactPage/index.js
  packages/venia-ui/lib/components/ErrorMessage/errorMessage.js
  packages/venia-ui/lib/components/Footer/__tests__/__snapshots__/footer.spec.js.snap
  packages/venia-ui/lib/components/Footer/__tests__/footer.spec.js
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/Footer/sampleData.js
  packages/venia-ui/lib/components/Newsletter/newsletter.js
  packages/venia-ui/lib/components/ToastContainer/toast.js
  packages/venia-ui/lib/defaultRoutes.json
  packages/venia-ui/lib/targets/__tests__/venia-ui-targets.spec.js
  venia-integration-tests/src/actions/contactPage/index.js
  venia-integration-tests/src/assertions/contactPage/index.js
  venia-integration-tests/src/assertions/errorMessage/index.js
  venia-integration-tests/src/assertions/toast/index.js
  venia-integration-tests/src/fields/contactPage/index.js
  venia-integration-tests/src/fields/errorMessage/index.js
  venia-integration-tests/src/fields/toast/index.js
  venia-integration-tests/src/fixtures/contactPage/contactFormSubmitValid.json
  venia-integration-tests/src/fixtures/contactPage/contactPageConfigEnabled.json
  venia-integration-tests/src/fixtures/contactPage/index.js
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/tests/integrationTests/contactPage/userCanSubmitForm.spec.js
Labels: pkg:pwa-buildpack, pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc, pkg:extensions

#3544 [PWA-2006] Contact Us Block
  packages/peregrine/lib/talons/ContactPage/contactUs.gql.js
  packages/peregrine/lib/talons/ContactPage/useContactPage.js
  packages/venia-ui/lib/components/ContactPage/__tests__/__snapshots__/contactPage.shimmer.spec.js.snap
  packages/venia-ui/lib/components/ContactPage/__tests__/__snapshots__/contactPage.spec.js.snap
  packages/venia-ui/lib/components/ContactPage/__tests__/contactPage.spec.js
  packages/venia-ui/lib/components/ContactPage/contactPage.js
  packages/venia-ui/lib/components/ContactPage/contactPage.module.css
  packages/venia-ui/lib/components/ContactPage/contactPage.shimmer.js
  packages/venia-ui/lib/components/ContactPage/contactPage.shimmer.module.css
Labels: pkg:pwa-buildpack, pkg:peregrine, version: Major, Progress: approved, pkg:venia-ui, pkg:extensions

#3545 Fixes links to metapackages / removes mention of new Venia sample data repo
  CHANGELOG.md
  README.md
Labels: bug, pkg:pwa-devdocs, version: Patch, docs, Progress: approved, needs triage

#3561 [PWA-2303] Fail build when @magento/pwa metapackage is not installed
  packages/pwa-buildpack/lib/Utilities/graphQL.js
Labels: pkg:pwa-buildpack, version: Minor, Progress: approved

#3546 update jira test reference
  venia-integration-tests/src/tests/e2eTests/anchorLinks/verifyAnchorLinks.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userRemoveCartPromotions.spec.js
  venia-integration-tests/src/tests/e2eTests/cartPage/editCartAndCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/categories/guestCategoryAccess.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifySearchFunctionality.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifySearchSuggestionFunctionality.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifySortAndPagination.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckoutWithRegionAndCC.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/registeredUserCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/customerAccount/accountActions.spec.js
  venia-integration-tests/src/tests/e2eTests/customerAccount/addressBookActions.spec.js
  venia-integration-tests/src/tests/e2eTests/wishList/singleWishlistAddRemoveProduct.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/banner.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/block.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/buttons.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/column.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/divider.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/dynamicBlock.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/image.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/map.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/products.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/row.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/slider.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/smokeTest.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/tabs.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/text.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/video.spec.js
  venia-integration-tests/src/tests/integrationTests/wishList/verifyMultipleWishlistFeatures.spec.js
Labels: Progress: approved

#3527 [PWA-2235] Apollo cache eviction with multiple store view support
  packages/peregrine/lib/Apollo/__tests__/clearCartDataFromCache.spec.js
  packages/peregrine/lib/Apollo/__tests__/clearCustomerDataFromCache.spec.js
  packages/peregrine/lib/Apollo/__tests__/clearStore.spec.js
  packages/peregrine/lib/Apollo/__tests__/constants.spec.js
  packages/peregrine/lib/Apollo/__tests__/deleteCacheEntry.spec.js
  packages/peregrine/lib/Apollo/clearCartDataFromCache.js
  packages/peregrine/lib/Apollo/clearCustomerDataFromCache.js
  packages/peregrine/lib/Apollo/clearStore.js
  packages/peregrine/lib/Apollo/deleteCacheEntry.js
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/store/actions/user/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/talons/Adapter/__tests__/useAdapter.spec.js
  packages/peregrine/lib/talons/Adapter/useAdapter.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/peregrine/lib/talons/CreateAccount/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
Labels: pkg:peregrine, version: Minor, Progress: approved

#3559 PWA-2399 Cypress Mini Cart coverage
  packages/venia-ui/lib/components/Header/cartTrigger.js
  packages/venia-ui/lib/components/MiniCart/ProductList/item.js
  packages/venia-ui/lib/components/MiniCart/ProductList/productList.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
  venia-integration-tests/src/actions/miniCart/index.js
  venia-integration-tests/src/assertions/miniCart/index.js
  venia-integration-tests/src/fields/miniCart/index.js
  venia-integration-tests/src/tests/e2eTests/miniCart/miniCartActions.spec.js
Labels: version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3553 PWA-2353 Use Product URL Suffix during PLP add to cart with configurables
  packages/peregrine/lib/talons/Gallery/__tests__/useAddToCartButton.spec.js
  packages/peregrine/lib/talons/Gallery/useAddToCartButton.js
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Gallery/addToCartButton.js
  packages/venia-ui/lib/components/Gallery/item.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3567 [Bugfix] Storybook command fails
  packages/venia-concept/src/.storybook/config.js
  packages/venia-ui/.storybook/config.js
  postcss.config.js
Labels: pkg:venia-concept, version: Patch, Progress: review, pkg:venia-ui

#3524 [Bugfix] PageBuilder buttons and links load full page
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/__snapshots__/banner.shimmer.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/__snapshots__/banner.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/banner.spec.js
  packages/pagebuilder/lib/ContentTypes/Banner/banner.js
  packages/pagebuilder/lib/ContentTypes/ButtonItem/__tests__/buttonItem.spec.js
  packages/pagebuilder/lib/ContentTypes/Html/__tests__/__snapshots__/html.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Html/__tests__/html.spec.js
  packages/pagebuilder/lib/ContentTypes/Html/html.js
  packages/pagebuilder/lib/ContentTypes/Text/__tests__/__snapshots__/text.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Text/__tests__/text.spec.js
  packages/pagebuilder/lib/ContentTypes/Text/text.js
  packages/pagebuilder/lib/__tests__/handleHtmlContentClick.spec.js
  packages/pagebuilder/lib/__tests__/resolveLinkProps.spec.js
  packages/pagebuilder/lib/handleHtmlContentClick.js
  packages/pagebuilder/lib/resolveLinkProps.js
Labels: version: Minor, Progress: approved, pkg:venia-ui, pkg:pagebuilder

#3555 PWA-2375 Improved version banner
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getClientConfig.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/fixtures/resource/index.js
  venia-integration-tests/src/tests/e2eTests/resource/userCanVerifyVersions.spec.js
Labels: pkg:pwa-buildpack, version: Patch, Progress: approved, partners-contribution, Partner: Absolunet Inc

#3571 PWA-2232 Updating default messages with variables to match EN
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addressCard.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/addressCard.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productDetail.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productDetail.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/item.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/orderConfirmationPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/orderConfirmationPage.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/braintreeSummary.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
  packages/venia-ui/lib/components/FilterModal/filterBlock.js
  packages/venia-ui/lib/components/ForgotPassword/FormSubmissionSuccessful/formSubmissionSuccessful.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/item.js
  packages/venia-ui/lib/components/MiniCart/__tests__/__snapshots__/miniCart.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/miniCart.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/shippingMethod.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/item.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/shippingMethod.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/option.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/options.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/option.js
  packages/venia-ui/lib/components/SearchBar/suggestedCategory.js
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/searchPage.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistPage.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.js
  packages/venia-ui/lib/util/formValidators.js
Labels: Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3575 PWA-2352 Fix intermittent load issue with category page
  packages/peregrine/lib/talons/MagentoRoute/__tests__/useMagentoRoute.spec.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
Labels: pkg:peregrine, version: Patch, Progress: approved, partners-contribution, Partner: Absolunet Inc

#3574 [PWA-1784] [bug] - Fix SearchBar blocking click events on filter/sort buttons
  packages/venia-ui/lib/components/FilterModal/FilterList/__tests__/filterItem.spec.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItem.js
  packages/venia-ui/lib/components/ProductSort/__tests__/__snapshots__/sortItem.spec.js.snap
  packages/venia-ui/lib/components/ProductSort/__tests__/sortItem.spec.js
  packages/venia-ui/lib/components/ProductSort/sortItem.js
Labels: version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Webjump

#3501 Cypress test results reporting
  venia-integration-tests/.gitignore
  venia-integration-tests/package.json
  venia-integration-tests/run-tests.js
  venia-integration-tests/src/fields/contactPage/index.js
  venia-integration-tests/src/tests/e2eTests/resource/userCanVerifyVersions.spec.js
  venia-integration-tests/yarn.lock
Labels: version: Minor, Progress: approved

#3552 [PWA-1020] Upgrade Node 14 and Scaffold Node 16
  dev.dockerfile
  package.json
  packages/babel-preset-peregrine/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/extensions/venia-sample-virtual-products/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/addImgOptMiddleware.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/addImgOptMiddleware.spec.js
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  postcss.config.js
  prod.dockerfile
  pwa-devdocs/src/tutorials/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-setup/index.md
  pwa-devdocs/src/venia-pwa-concept/features/modular-components/index.md
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
  yarn.lock
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, pkg:upward-js, pkg:upward-spec, version: Major, pkg:babel-preset-peregrine, Progress: approved, pkg:venia-ui, pkg:extensions, needs triage
