Repository magento/pwa-studio, pull requests merged in 2021-04, with the labels that each got.

#3082 Cypress Setup
  venia-integration-tests/.gitignore
  venia-integration-tests/README.md
  venia-integration-tests/cypress.config.json
  venia-integration-tests/package.json
  venia-integration-tests/src/actions/login/index.js
  venia-integration-tests/src/fields/accountMenu/index.js
  venia-integration-tests/src/fields/login/index.js
  venia-integration-tests/src/fixtures/login/index.js
  venia-integration-tests/src/tests/accountMenu/accountMenu.spec.js
  venia-integration-tests/src/tests/login/login.spec.js
  venia-integration-tests/yarn.lock
Labels: Progress: approved, version: Minor

#3099 Backmerge master to develop
  CHANGELOG.md
  magento-compatibility.js
  package.json
  packages/create-pwa/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-adobe-data-layer/package.json
  packages/extensions/venia-sample-backends/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/graphql-cli-validate-magento-pwa-queries/package.json
  packages/pagebuilder/package.json
  packages/peregrine/lib/talons/AccountMenu/useAccountMenuItems.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/useBillingAddress.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: Progress: approved, pkg:create-pwa, pkg:extensions, pkg:graphql-cli-validate-magento-pwa-queries, pkg:pagebuilder, pkg:peregrine, pkg:pwa-buildpack, pkg:upward-js, pkg:venia-concept, pkg:venia-ui

#3086 [PWA-1615] Scaffold DEBUG_PROJECT_CREATION does not exclude optional extension packages.
  packages/venia-concept/_buildpack/__tests__/create.spec.js
  packages/venia-concept/_buildpack/create.js
Labels: Progress: approved, pkg:venia-concept, version: Patch

#3093 Skipping getRegion call when countryCode is falsy.
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useCustomerForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useGuestForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useCustomerForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useGuestForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useGuestForm.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/__tests__/__snapshots__/useShippingInformation.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/__tests__/useShippingInformation.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/useShippingInformation.js
  packages/peregrine/lib/talons/Region/__tests__/__snapshots__/useRegion.spec.js.snap
  packages/peregrine/lib/talons/Region/__tests__/useRegion.spec.js
  packages/peregrine/lib/talons/Region/useRegion.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/guestForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/guestForm.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/__tests__/card.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/card.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformationFragments.gql.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#3078 [BUGFIX] The browser back button wasn't responding
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategory.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategory.js
Labels: Partner: Experius, Progress: approved, partners-contribution, pkg:peregrine, version: Minor

#3119 Fix browser back buttons isn't responsive on Search Page
  packages/peregrine/lib/talons/SearchPage/__tests__/useSearchPage.spec.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
Labels: Progress: approved, pkg:peregrine, version: Minor

#3129 Adding dependency to PWA Studio version
  pwa-devdocs/src/product-recs/index.md
Labels: Progress: approved

#3098 Update Plugin for JSX Snippet Parser
  packages/pwa-buildpack/lib/WebpackTools/targetables/BabelModifyJSXPlugin/JSXSnippetParser.js
  packages/pwa-buildpack/package.json
Labels: Progress: approved, pkg:pwa-buildpack

#3121 PWA-1630: Remove product from wish list fails if there are 2 or more products in a wishlist.
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlistItem.spec.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistItem.js
  packages/peregrine/lib/talons/WishlistPage/wishlistItem.gql.js
  packages/venia-ui/lib/components/WishlistPage/wishlistItem.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#3140 chore: log error from mutation
  packages/peregrine/lib/talons/WishlistPage/useWishlistItem.js
Labels: Progress: approved, pkg:peregrine

#3128 [DOCS] Main component module should be initiated from targetableFactory.
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableModule/index.md
Labels: Progress: approved

#3133 PWA-1564: [bug]: Guest checkout, France region validation failed
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/useCreditCard.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useCreditCard.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/creditCard.gql.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/creditCard.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.js
  packages/venia-ui/lib/components/Region/region.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#3145 Add calendar links to readme
  README.md
Labels: Progress: approved

#3141 Common useWishlist helper hook.
  packages/peregrine/lib/talons/CartPage/ProductListing/product.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useWishlist.ee.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/Wishlist/Wishlist/__tests__/__snapshots__/useWishlist.ce.spec.js.snap
  packages/peregrine/lib/talons/Wishlist/Wishlist/__tests__/__snapshots__/useWishlist.ee.spec.js.snap
  packages/peregrine/lib/talons/Wishlist/Wishlist/__tests__/useWishlist.ce.spec.js
  packages/peregrine/lib/talons/Wishlist/Wishlist/__tests__/useWishlist.ee.spec.js
  packages/peregrine/lib/talons/Wishlist/Wishlist/product.gql.js
  packages/peregrine/lib/talons/Wishlist/Wishlist/useWishlist.ce.js
  packages/peregrine/lib/talons/Wishlist/Wishlist/useWishlist.ee.js
  packages/peregrine/lib/talons/Wishlist/Wishlist/wishlistFragment.ce.js
  packages/peregrine/lib/talons/Wishlist/Wishlist/wishlistFragment.ee.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/useWishlistDialog.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/wishlistDialog.gql.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/Wishlist/WishlistButton/wishlistButton.ce.js
  packages/venia-ui/lib/components/Wishlist/WishlistButton/wishlistButton.ee.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/wishlistDialog.js
Labels: Progress: review, pkg:peregrine, pkg:venia-ui
