Repository magento/pwa-studio, pull requests merged in 2021-01, with the labels that each got.

#2916 Order History Page Search
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/__snapshots__/useOrderHistoryPage.spec.js.snap
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/useOrderHistoryPage.spec.js
  packages/peregrine/lib/talons/OrderHistoryPage/orderHistoryPage.gql.js
  packages/peregrine/lib/talons/OrderHistoryPage/useOrderHistoryPage.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderHistoryPage.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/orderHistoryPage.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/index.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.css
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2928 [PWA-887] My Account: Order History - Pagination
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/__snapshots__/useOrderHistoryPage.spec.js.snap
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/useOrderHistoryPage.spec.js
  packages/peregrine/lib/talons/OrderHistoryPage/orderHistoryPage.gql.js
  packages/peregrine/lib/talons/OrderHistoryPage/useOrderHistoryPage.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderHistoryPage.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/resetButton.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/orderHistoryPage.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/resetButton.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/index.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.css
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.js
  packages/venia-ui/lib/components/OrderHistoryPage/resetButton.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2929 [fix] offline cached search and category pages
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategory.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategory.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/category.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/category.spec.js
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/__tests__/searchPage.spec.js
  packages/venia-ui/lib/components/SearchPage/searchPage.gql.js
  packages/venia-ui/lib/components/SearchPage/searchPage.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#2938 Updated the code
  pwa-devdocs/src/pagebuilder/custom-components/setup-component/index.md
Labels: Partner: EY, Progress: approved, partners-contribution

#2936 [feature]: ErrorView
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/Page/__tests__/page.spec.js
  packages/peregrine/lib/Page/index.js
  packages/peregrine/lib/Page/page.js
  packages/peregrine/lib/Router/__mocks__/magentoRouteHandler.js
  packages/peregrine/lib/Router/__tests__/magentoRouteHandler.test.js
  packages/peregrine/lib/Router/index.js
  packages/peregrine/lib/Router/magentoRouteHandler.js
  packages/peregrine/lib/index.js
  packages/peregrine/lib/talons/CategoryList/__tests__/useCategoryList.spec.js
  packages/peregrine/lib/talons/CategoryList/useCategoryList.js
  packages/peregrine/lib/talons/Cms/useCmsPage.js
  packages/venia-concept/src/.storybook/preview-body.html
  packages/venia-ui/.storybook/config.js
  packages/venia-ui/.storybook/preview-body.html
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/CMS/__tests__/cms.spec.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/category.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/category.spec.js
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/RootComponents/NotFound/index.js
  packages/venia-ui/lib/RootComponents/NotFound/notFound.css
  packages/venia-ui/lib/RootComponents/NotFound/notFound.js
  packages/venia-ui/lib/RootComponents/Product/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/components/CategoryList/categoryList.css
  packages/venia-ui/lib/components/CategoryList/categoryList.js
  packages/venia-ui/lib/components/CmsBlock/cmsBlock.js
  packages/venia-ui/lib/components/Dialog/__stories__/dialog.css
  packages/venia-ui/lib/components/Dialog/__stories__/dialog.js
  packages/venia-ui/lib/components/ErrorView/__stories__/errorView.js
  packages/venia-ui/lib/components/ErrorView/__tests__/__snapshots__/errorView.spec.js.snap
  packages/venia-ui/lib/components/ErrorView/__tests__/errorView.spec.js
  packages/venia-ui/lib/components/ErrorView/error.css
  packages/venia-ui/lib/components/ErrorView/errorView.css
  packages/venia-ui/lib/components/ErrorView/errorView.js
  packages/venia-ui/lib/components/ErrorView/errorViewBackground-1400x600.png
  packages/venia-ui/lib/components/ErrorView/errorViewBackground-380x600.png
  packages/venia-ui/lib/components/MagentoRoute/magentoRoute.js
Labels: Progress: approved, pkg:extensions, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Major

#2943 [PWA-638] My Account: Saved Payments: Remove/Delete
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/talons/SavedPaymentsPage/__tests__/useCreditCard.spec.js
  packages/peregrine/lib/talons/SavedPaymentsPage/creditCard.gql.js
  packages/peregrine/lib/talons/SavedPaymentsPage/savedPaymentsPage.gql.js
  packages/peregrine/lib/talons/SavedPaymentsPage/useCreditCard.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/SavedPaymentsPage/__tests__/__snapshots__/creditCard.spec.js.snap
  packages/venia-ui/lib/components/SavedPaymentsPage/__tests__/creditCard.spec.js
  packages/venia-ui/lib/components/SavedPaymentsPage/creditCard.css
  packages/venia-ui/lib/components/SavedPaymentsPage/creditCard.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2895 [PWA-1099] Add support for Product URL and Category URL Settings
  packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js
  packages/peregrine/lib/talons/CategoryList/useCategoryTile.js
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useStoreSwitcher.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useStoreSwitcher.spec.js
  packages/peregrine/lib/talons/Header/storeSwitcher.gql.js
  packages/peregrine/lib/talons/Header/useStoreSwitcher.js
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/__snapshots__/orderHistoryContext.spec.js.snap
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/orderHistoryContext.spec.js
  packages/peregrine/lib/talons/OrderHistoryPage/orderHistoryContext.js
  packages/peregrine/lib/talons/RootComponents/Product/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/RootComponents/Product/product.gql.js
  packages/peregrine/lib/talons/RootComponents/Product/useProduct.js
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CategoryTree/categoryLeaf.js
  packages/venia-ui/lib/components/Gallery/item.js
  packages/venia-ui/lib/components/Header/storeSwitcher.js
  packages/venia-ui/lib/components/MiniCart/ProductList/item.js
  packages/venia-ui/lib/components/SearchBar/suggestedProduct.js
  packages/venia-ui/lib/drivers/adapter.js
  packages/venia-ui/lib/util/__tests__/getUrlKey.spec.js
  packages/venia-ui/lib/util/getUrlKey.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#2935 [doc] release notes 9.0.0
  CHANGELOG.md
  README.md
  magento-compatibility.js
Labels: Progress: approved, version: Major

#2958 [PWA-1101] Add support for Configurable Product Image Setting
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useProduct.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/product.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/__tests__/__snapshots__/useItemsReview.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/__tests__/useItemsReview.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/itemsReview.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/useItemsReview.js
  packages/peregrine/lib/talons/MiniCart/__tests__/__snapshots__/useMiniCart.spec.js.snap
  packages/peregrine/lib/talons/MiniCart/__tests__/useMiniCart.spec.js
  packages/peregrine/lib/talons/MiniCart/miniCart.gql.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/__snapshots__/useOrderRow.spec.js.snap
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/useOrderRow.spec.js
  packages/peregrine/lib/talons/OrderHistoryPage/orderRow.gql.js
  packages/peregrine/lib/talons/OrderHistoryPage/useOrderRow.js
  packages/peregrine/lib/util/configuredVariant.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListingFragments.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/item.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/item.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/itemsReview.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/itemsReviewFragments.gql.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/item.spec.js
  packages/venia-ui/lib/components/MiniCart/ProductList/item.js
  packages/venia-ui/lib/components/MiniCart/ProductList/productList.gql.js
  packages/venia-ui/lib/components/MiniCart/ProductList/productList.js
  packages/venia-ui/lib/components/MiniCart/miniCart.gql.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/items.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/items.js
  packages/venia-ui/lib/components/OrderHistoryPage/collapsedImageGallery.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#2904 Add middleware to schedule sign-out
  packages/peregrine/lib/Apollo/attachClientToStore.js
  packages/peregrine/lib/context/cart.js
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/cart/asyncActions.js
  packages/peregrine/lib/store/actions/user/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/store/enhancers/middleware.js
  packages/peregrine/lib/store/middleware/auth.js
  packages/peregrine/lib/store/middleware/thunk.js
  packages/peregrine/lib/talons/AuthModal/useAuthModal.js
  packages/peregrine/lib/talons/Header/__tests__/useAccountMenu.spec.js
  packages/peregrine/lib/talons/Header/useAccountMenu.js
  packages/peregrine/lib/util/simplePersistence.js
  packages/venia-ui/lib/drivers/adapter.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui

#2963 [PWA-1297] Onboard Image Optimization filtering out good image paths
  packages/pwa-buildpack/package.json
  yarn.lock
Labels: Progress: approved, pkg:pwa-buildpack

#2941 [PWA-1065] Media Url generation should use store code header but have fallback to default like other store config queries
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useStoreSwitcher.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useStoreSwitcher.spec.js
  packages/peregrine/lib/talons/Header/storeSwitcher.gql.js
  packages/peregrine/lib/talons/Header/useStoreSwitcher.js
  packages/pwa-buildpack/lib/queries/getAvailableStoresConfigData.graphql
  packages/venia-ui/lib/components/StoreCodeRoute/__tests__/storeCodeRoute.spec.js
  packages/venia-ui/lib/components/StoreCodeRoute/storeCodeRoute.js
  packages/venia-ui/lib/util/__tests__/makeUrl.spec.js
  packages/venia-ui/lib/util/makeUrl.js
Labels: Progress: approved, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-ui, version: Minor

#2956 [feature]: Store Switcher Groups
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useStoreSwitcher.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useStoreSwitcher.spec.js
  packages/peregrine/lib/talons/Header/storeSwitcher.gql.js
  packages/peregrine/lib/talons/Header/useStoreSwitcher.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/storeSwitcher.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/storeSwitcher.spec.js
  packages/venia-ui/lib/components/Header/currencySwitcher.css
  packages/venia-ui/lib/components/Header/storeSwitcher.css
  packages/venia-ui/lib/components/Header/storeSwitcher.js
  packages/venia-ui/lib/components/Header/switcherItem.css
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#2960 Correct dialog form values after submission
  packages/venia-ui/lib/components/AccountInformationPage/editModal.js
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addEditDialog.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/addEditDialog.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/productForm.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/editModal.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/updateModal.js
  packages/venia-ui/lib/components/Dialog/__stories__/dialog.js
  packages/venia-ui/lib/components/Dialog/dialog.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/createWishlist.ee.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistConfirmRemoveProductDialog.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistMoreActionsDialog.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/createWishlist.ee.js
  packages/venia-ui/lib/components/WishlistPage/wishlistConfirmRemoveProductDialog.js
  packages/venia-ui/lib/components/WishlistPage/wishlistMoreActionsDialog.js
Labels: Progress: approved, pkg:venia-ui, version: Major

#2978 Add coveralls badge back to README
  README.md
Labels: Progress: approved, version: Patch

#2966 [Doc] Targetables
  packages/pwa-buildpack/lib/WebpackTools/targetables/SingleImportStatement.js
  packages/pwa-buildpack/lib/WebpackTools/targetables/TargetableESModule.js
  packages/pwa-buildpack/lib/WebpackTools/targetables/TargetableESModuleArray.js
  packages/pwa-buildpack/lib/WebpackTools/targetables/TargetableESModuleObject.js
  packages/pwa-buildpack/lib/WebpackTools/targetables/TargetableModule.js
  packages/pwa-buildpack/lib/WebpackTools/targetables/TargetableReactComponent.js
  packages/pwa-buildpack/lib/WebpackTools/targetables/TargetableSet.js
  pwa-devdocs/scripts/create-reference-docs/config/buildpack.js
  pwa-devdocs/src/_data/buildpack-api.yml
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/pwa-buildpack/extensibility-framework/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/SingleImportStatement/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableESModule/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableESModuleArray/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableESModuleObject/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableModule/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableReactComponent/index.md
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableSet/index.md
  pwa-devdocs/src/tutorials/targetables/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-buildpack, pkg:pwa-devdocs, version: Patch

#2977 Add known issue about watcher running out of memory
  CHANGELOG.md
  pwa-devdocs/src/pwa-buildpack/troubleshooting/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#2952 [PWA-1110] Investigate render/blocking in Venia (Performance)
  jest.config.js
  packages/venia-concept/src/.storybook/webpack.config.js
  packages/venia-concept/webpack.config.js
  packages/venia-ui/.storybook/webpack.config.js
  packages/venia-ui/lib/components/App/__tests__/localeProvider.spec.js
  packages/venia-ui/lib/components/App/localeProvider.js
Labels: Progress: approved, pkg:venia-concept, pkg:venia-ui, version: Minor

#2910 [feature]: Debugging Reporter
  .github/ISSUE_TEMPLATE/bug_report.md
  packages/pwa-buildpack/lib/__fixtures__/mock-package-lock.json
  packages/pwa-buildpack/lib/__fixtures__/mock-package.json
  packages/pwa-buildpack/lib/__fixtures__/mock-yarn.lock
  packages/pwa-buildpack/lib/__tests__/__snapshots__/cli-generate-build-report.spec.js.snap
  packages/pwa-buildpack/lib/__tests__/cli-generate-build-report.spec.js
  packages/pwa-buildpack/lib/cli/generate-build-report.js
  packages/pwa-buildpack/package.json
  packages/venia-concept/_buildpack/create.js
  packages/venia-concept/package.json
  yarn.lock
Labels: Progress: approved, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Patch

#2962 React 17 upgrade
  package.json
  packages/extensions/venia-adobe-data-layer/package.json
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/banner.spec.js
  packages/pagebuilder/lib/ContentTypes/Map/__tests__/map.spec.js
  packages/pagebuilder/lib/ContentTypes/Row/__tests__/row.spec.js
  packages/pagebuilder/lib/ContentTypes/Tabs/__tests__/tabs.spec.js
  packages/pagebuilder/package.json
  packages/peregrine/lib/talons/CartPage/GiftCards/__tests__/useGiftCards.spec.js
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCards.js
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/SearchBar/__tests__/useAutocomplete.spec.js
  packages/peregrine/package.json
  packages/pwa-buildpack/lib/WebpackTools/targetables/__tests__/__snapshots__/TargetableReactComponent.spec.js.snap
  packages/venia-concept/package.json
  packages/venia-ui/__mocks__/informed.js
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/__snapshots__/editForm.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addEditDialog.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/app.spec.js
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/__snapshots__/giftCards.spec.js.snap
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/shippingForm.spec.js.snap
  packages/venia-ui/lib/components/CategoryList/__tests__/categoryList.spec.js
  packages/venia-ui/lib/components/Checkbox/__tests__/__snapshots__/checkbox.spec.js.snap
  packages/venia-ui/lib/components/Checkout/__tests__/__snapshots__/paymentsForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/customerForm.spec.js.snap
  packages/venia-ui/lib/components/CommunicationsPage/__tests__/__snapshots__/communicationsPage.spec.js.snap
  packages/venia-ui/lib/components/Country/__tests__/__snapshots__/country.spec.js.snap
  packages/venia-ui/lib/components/CreateAccount/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
  packages/venia-ui/lib/components/FilterModal/filterSearch.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/__tests__/__snapshots__/forgotPasswordForm.spec.js.snap
  packages/venia-ui/lib/components/LegacyMiniCart/__tests__/__snapshots__/cartOptions.spec.js.snap
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/__snapshots__/resetPassword.spec.js.snap
  packages/venia-ui/lib/components/Password/__tests__/__snapshots__/password.spec.js.snap
  packages/venia-ui/lib/components/RadioGroup/__tests__/__snapshots__/radioGroup.spec.js.snap
  packages/venia-ui/lib/components/RadioGroup/__tests__/radioGroup.spec.js
  packages/venia-ui/lib/components/Region/__tests__/__snapshots__/region.spec.js.snap
  packages/venia-ui/lib/components/SearchBar/__tests__/__snapshots__/searchField.spec.js.snap
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/TextArea/__tests__/__snapshots__/textArea.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/createWishlist.ee.spec.js.snap
  packages/venia-ui/package.json
  pwa-devdocs/_drafts/pwa-studio-fundamentals/extensibility-with-targets/index.md
  pwa-devdocs/src/tutorials/intercept-a-target/modify-talon-results/index.md
  scripts/jest-enzyme-setup.js
  yarn.lock
Labels: Progress: review, pkg:extensions, pkg:pagebuilder, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Minor
