Repository magento/pwa-studio, pull requests merged in 2021-09, with the labels that each got.

#3378 PWA-1964: Update Workbox
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-concept/src/ServiceWorker/setupWorkbox.js
  yarn.lock
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Patch, Progress: approved

#3266 Added possibility to allow trusted vendors to change code outside their namespace (#3156)
  packages/pwa-buildpack/lib/WebpackTools/ModuleTransformConfig.js
Labels: pkg:pwa-buildpack, version: Minor, Progress: approved

#3398 PWA-1636 Fixing display of smaller images in product carousel
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.css
Labels: version: Minor, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3400 Create Venia theme package
  jest.config.js
  package.json
  packages/pwa-theme-venia/data/colors.js
  packages/pwa-theme-venia/lib/__tests__/__snapshots__/colors.spec.js.snap
  packages/pwa-theme-venia/lib/__tests__/colors.spec.js
  packages/pwa-theme-venia/lib/colors.js
  packages/pwa-theme-venia/package.json
  packages/pwa-theme-venia/tailwind.preset.js
  packages/venia-concept/package.json
  packages/venia-concept/tailwind.config.js
Labels: pkg:venia-concept, version: Major, Progress: approved, pkg:pwa-theme-venia

#3319 PWA-1278: a11y mega menu
  packages/peregrine/lib/talons/MegaMenu/__tests__/__snapshots__/useMegaMenu.spec.js.snap
  packages/peregrine/lib/talons/MegaMenu/__tests__/__snapshots__/useMegaMenuItem.spec.js.snap
  packages/peregrine/lib/talons/MegaMenu/__tests__/__snapshots__/useSubMenu.spec.js.snap
  packages/peregrine/lib/talons/MegaMenu/__tests__/useMegaMenu.spec.js
  packages/peregrine/lib/talons/MegaMenu/__tests__/useMegaMenuItem.spec.js
  packages/peregrine/lib/talons/MegaMenu/__tests__/useSubMenu.spec.js
  packages/peregrine/lib/talons/MegaMenu/useMegaMenu.js
  packages/peregrine/lib/talons/MegaMenu/useMegaMenuItem.js
  packages/peregrine/lib/talons/MegaMenu/useSubMenu.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/header.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/__tests__/MegaMenu.spec.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/MegaMenuItem.spec.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/Submenu.spec.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenu.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenuItem.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/Submenu.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/megaMenu.js
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.css
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.js
  packages/venia-ui/lib/components/MegaMenu/submenu.css
  packages/venia-ui/lib/components/MegaMenu/submenu.js
  packages/venia-ui/lib/components/MegaMenu/submenuColumn.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3391 [PWA-1029] HomePage unstyled in scaffolded app
  packages/create-pwa/__tests__/__snapshots__/create-pwa.spec.js.snap
  packages/create-pwa/__tests__/create-pwa.spec.js
  packages/create-pwa/lib/index.js
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/createDotEnvFile.spec.js.snap
  packages/pwa-buildpack/lib/__tests__/cli-create-project.spec.js
  packages/pwa-buildpack/lib/cli/create-project.js
Labels: pkg:pwa-buildpack, pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, pkg:create-pwa

#3399 PWA-1686: [bug]: fix quantity field warning
  packages/peregrine/lib/hooks/hook-wrappers/useInformedFieldStateWrapper.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useQuantity.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/usePaymentInformation.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/usePaymentMethods.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/usePaymentMethods.js
  packages/peregrine/lib/talons/Postcode/__tests__/usePostcode.spec.js
  packages/peregrine/lib/talons/Postcode/usePostcode.js
  packages/peregrine/lib/talons/Region/__tests__/useRegion.spec.js
  packages/peregrine/lib/talons/Region/useRegion.js
  packages/peregrine/lib/talons/SearchBar/__tests__/useAutocomplete.spec.js
  packages/peregrine/lib/talons/SearchBar/useAutocomplete.js
  packages/peregrine/lib/talons/SearchBar/useSearchField.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/Checkbox/checkbox.js
  packages/venia-ui/lib/components/RadioGroup/radioGroup.js
  packages/venia-ui/lib/components/TextArea/textArea.js
  packages/venia-ui/lib/components/TextInput/textInput.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3394 Fix postcss build warnings
  package.json
  packages/venia-concept/postcss.config.js
  postcss.config.js
  yarn.lock
Labels: pkg:venia-concept, version: Patch, Progress: approved

#3356 PWA-1845: Add to Cart on Category Listing - Out of stock is visible
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/useProductFullDetail.spec.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/RootComponents/Product/productDetailFragment.gql.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, pkg:extensions

#3407 [PWA-1909] Fix CSS Module source maps
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getModuleRules.js
Labels: pkg:pwa-buildpack, version: Patch, Progress: approved

#3411 [PWA-2074] Change image placeholder to svg for Lighthouse improvement
  packages/peregrine/lib/util/images.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/components/SearchBar/__tests__/__snapshots__/suggestedProduct.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistItem.spec.js.snap
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3328 [PWA-1934] PoC: Banner and Slider Optimizations
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/__snapshots__/banner.shimmer.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/__snapshots__/banner.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/banner.shimmer.spec.js
  packages/pagebuilder/lib/ContentTypes/Banner/banner.js
  packages/pagebuilder/lib/ContentTypes/Banner/banner.shimmer.css
  packages/pagebuilder/lib/ContentTypes/Banner/banner.shimmer.js
  packages/pagebuilder/lib/ContentTypes/Banner/index.js
  packages/pagebuilder/lib/ContentTypes/Products/products.js
  packages/pagebuilder/lib/ContentTypes/Slider/__tests__/__snapshots__/slider.shimmer.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Slider/__tests__/__snapshots__/slider.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Slider/__tests__/slider.shimmer.spec.js
  packages/pagebuilder/lib/ContentTypes/Slider/index.js
  packages/pagebuilder/lib/ContentTypes/Slider/slider.js
  packages/pagebuilder/lib/ContentTypes/Slider/slider.shimmer.css
  packages/pagebuilder/lib/ContentTypes/Slider/slider.shimmer.js
  packages/pagebuilder/lib/config.js
  packages/pagebuilder/lib/factory.js
  packages/peregrine/lib/talons/MegaMenu/useMegaMenu.js
  packages/venia-ui/lib/components/HomePage/homePage.css
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, pkg:pagebuilder

#3397 [PWA-962] Apollo V3 Cache Eviction
  packages/peregrine/lib/Apollo/__tests__/clearCartDataFromCache.spec.js
  packages/peregrine/lib/Apollo/__tests__/clearCustomerDataFromCache.spec.js
  packages/peregrine/lib/Apollo/__tests__/deleteCacheEntry.spec.js
  packages/peregrine/lib/Apollo/clearCartDataFromCache.js
  packages/peregrine/lib/Apollo/clearCustomerDataFromCache.js
  packages/peregrine/lib/Apollo/deleteCacheEntry.js
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/user/__tests__/asyncActions.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved, partners-contribution, Partner: Absolunet Inc

#3405 Pwa 1871
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useActionMenu.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/useActionMenu.spec.js
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlist.spec.js
  packages/peregrine/lib/talons/WishlistPage/useActionMenu.js
  packages/peregrine/lib/talons/WishlistPage/useWishlist.js
  packages/peregrine/lib/talons/WishlistPage/wishlist.gql.js
  packages/peregrine/lib/talons/WishlistPage/wishlistConfig.gql.ce.js
  packages/peregrine/lib/talons/WishlistPage/wishlistConfig.gql.ee.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/actionMenu.ee.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/actionMenu.ee.spec.js
  packages/venia-ui/lib/components/WishlistPage/actionMenu.ee.js
  packages/venia-ui/lib/components/WishlistPage/wishlist.js
  packages/venia-ui/lib/components/WishlistPage/wishlistItem.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3353 [PWA-1204] UPWARD PHP inlining and Shimmer enhancements
  packages/extensions/upward-security-headers/upward.yml
  packages/peregrine/lib/hooks/__tests__/useDelayedTransition.spec.js
  packages/peregrine/lib/hooks/useDelayedTransition.js
  packages/peregrine/lib/hooks/useInternalLink.js
  packages/peregrine/lib/talons/Cms/cmsPage.gql.js
  packages/peregrine/lib/talons/Cms/useCmsPage.js
  packages/peregrine/lib/talons/MagentoRoute/__tests__/useMagentoRoute.spec.js
  packages/peregrine/lib/talons/MagentoRoute/magentoRoute.gql.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
  packages/peregrine/lib/util/magentoRouteData.js
  packages/venia-concept/src/ServiceWorker/__tests__/registerRoutes.spec.js
  packages/venia-concept/src/ServiceWorker/registerRoutes.js
  packages/venia-concept/template.html
  packages/venia-concept/webpack.config.js
  packages/venia-ui/lib/RootComponents/CMS/cms.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.shimmer.spec.js.snap
  packages/venia-ui/lib/RootComponents/Product/__tests__/__snapshots__/product.shimmer.spec.js.snap
  packages/venia-ui/lib/RootComponents/Product/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/RootComponents/Product/__tests__/product.shimmer.spec.js
  packages/venia-ui/lib/RootComponents/Product/__tests__/product.spec.js
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/RootComponents/Product/product.shimmer.js
  packages/venia-ui/lib/RootComponents/Shimmer/shimmer.js
  packages/venia-ui/lib/RootComponents/Shimmer/types/index.js
  packages/venia-ui/lib/components/Breadcrumbs/index.js
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Gallery/item.shimmer.js
  packages/venia-ui/lib/components/Header/currencySwitcher.js
  packages/venia-ui/lib/components/Header/currencySwitcher.shimmer.js
  packages/venia-ui/lib/components/Header/storeSwitcher.js
  packages/venia-ui/lib/components/Header/storeSwitcher.shimmer.js
  packages/venia-ui/lib/components/MagentoRoute/magentoRoute.js
  packages/venia-ui/lib/components/MegaMenu/submenuColumn.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.shimmer.css
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.shimmer.js
  packages/venia-ui/lib/components/ProductOptions/index.js
  packages/venia-ui/lib/components/ProductOptions/option.shimmer.js
  packages/venia-ui/lib/components/ProductOptions/options.shimmer.js
  packages/venia-ui/lib/components/ProductOptions/tileList.shimmer.js
  packages/venia-ui/lib/components/SearchBar/searchBar.css
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/__tests__/searchPage.spec.js
  packages/venia-ui/lib/components/SearchPage/searchPage.js
  packages/venia-ui/lib/targets/RootShimmerTypes.js
  packages/venia-ui/lib/targets/__tests__/RootShimmerTypes.spec.js
  packages/venia-ui/lib/targets/venia-ui-declare.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
  packages/venia-ui/upward.yml
  pwa-devdocs/_drafts/venia-pwa-concept/component/shimmer/index.md
  pwa-devdocs/_drafts/venia-pwa-concept/component/shimmer/rootcomponent.md
  pwa-devdocs/_drafts/venia-pwa-concept/component/shimmer/upward.md
Labels: pkg:peregrine, pkg:venia-concept, version: Major, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc, pkg:extensions

#3348 Background repeat not working on safari
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/banner.spec.js
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/configAggregator.spec.js
  packages/pagebuilder/lib/ContentTypes/Banner/banner.js
  packages/pagebuilder/lib/ContentTypes/Column/__tests__/__snapshots__/column.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Column/__tests__/column.spec.js
  packages/pagebuilder/lib/ContentTypes/Column/column.js
  packages/pagebuilder/lib/ContentTypes/Row/__tests__/row.spec.js
  packages/pagebuilder/lib/ContentTypes/Row/row.js
  packages/pagebuilder/lib/ContentTypes/TabItem/__tests__/__snapshots__/tabItem.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/TabItem/tabItem.js
  packages/pagebuilder/lib/__tests__/__snapshots__/utils.spec.js.snap
  packages/pagebuilder/lib/utils.js
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Major, Progress: approved, pkg:pagebuilder

#3427 [PWA-2149] Fixing submenu column error
  packages/peregrine/lib/talons/CategoryList/categoryList.gql.js
  packages/peregrine/lib/talons/CategoryList/useCategoryList.js
  packages/venia-ui/lib/components/MegaMenu/submenuColumn.js
Labels: pkg:peregrine, version: Patch, Progress: review, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3420 [PWA-2077] Lighthouse - Block focus of non active slick slides
  packages/pagebuilder/lib/ContentTypes/Slider/slider.css
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenu.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.css
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.js
Labels: version: Patch, Progress: approved, pkg:venia-ui, partners-contribution, pkg:pagebuilder, Partner: Absolunet Inc

#3422 Added local URL support for cypress in docker
  venia-integration-tests/run-tests
Labels: version: Minor, Progress: review

#3388 [PWA-1798] Avoid an excessive DOM size from duplication of navigation
  packages/peregrine/lib/hooks/__tests__/useIntersectionObserver.spec.js
  packages/peregrine/lib/hooks/__tests__/useIsInViewport.spec.js
  packages/peregrine/lib/hooks/useIsInViewport.js
  packages/peregrine/lib/talons/FilterModal/__tests__/useFilterList.spec.js
  packages/peregrine/lib/talons/FilterModal/useFilterList.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/categoryContent.spec.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/app.spec.js
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/__tests__/checkoutPage.spec.js
  packages/venia-ui/lib/components/FilterModal/FilterList/__tests__/filterItem.spec.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItem.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.css
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
  packages/venia-ui/lib/components/FilterModal/__tests__/filterBlock.spec.js
  packages/venia-ui/lib/components/FilterModal/filterBlock.css
  packages/venia-ui/lib/components/FilterModal/filterBlock.js
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/MegaMenu.spec.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenu.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/megaMenu.js
Labels: pkg:peregrine, version: Major, Progress: approved, pkg:venia-ui

#3431 [PWA-1933] Support reduced order information for asynchronous orders
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/orderDetails.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/orderDetails.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/orderDetails.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderRow.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/orderRow.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderRow.js
Labels: version: Minor, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Absolunet Inc

#3410 [PWA-1704] UPWARD static content race condition
  packages/pwa-buildpack/lib/WebpackTools/plugins/UpwardIncludePlugin.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/UpwardIncludePlugin.spec.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/base-static-content/baz.txt
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/base-static-content/entry.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/base-static-content/foo.txt
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/base-static-content/upward.yml
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/override-static-content/bar.txt
  packages/pwa-buildpack/lib/WebpackTools/plugins/__tests__/__fixtures__/override-static-content/upward.yml
Labels: pkg:pwa-buildpack, version: Minor, Progress: approved, partners-contribution, Partner: Absolunet Inc

#3448 [PWA-912] SW should be able to handle the new configured URL suffix
  packages/venia-concept/src/ServiceWorker/Utilities/__tests__/routeHandler.spec.js
  packages/venia-concept/src/ServiceWorker/Utilities/routeHandler.js
  packages/venia-concept/src/ServiceWorker/__tests__/registerRoutes.spec.js
  packages/venia-concept/src/ServiceWorker/registerRoutes.js
Labels: pkg:venia-concept, version: Minor, Progress: approved

#3450 Adding information about new module
  pwa-devdocs/src/product-recs/index.md
Labels: Progress: approved

#3433 PWA-1850: Add to Cart on CMS - Out of stock is visible
  packages/pagebuilder/lib/ContentTypes/Products/__tests__/configAggregator.spec.js
  packages/pagebuilder/lib/ContentTypes/Products/__tests__/products.spec.js
  packages/pagebuilder/lib/ContentTypes/Products/configAggregator.js
  packages/pagebuilder/lib/ContentTypes/Products/products.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:pagebuilder

#3382 fix: fixes js-doc entry for Mask component and removes old commented-out code
  packages/venia-ui/lib/components/Mask/mask.js
Labels: bug, pkg:pwa-devdocs, version: Patch, docs, Progress: approved, pkg:venia-ui

#3262 Add newsletter in footer
  packages/peregrine/lib/talons/Newsletter/newsletter.gql.js
  packages/peregrine/lib/talons/Newsletter/useNewsletter.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/Footer/__tests__/__snapshots__/footer.spec.js.snap
  packages/venia-ui/lib/components/Footer/__tests__/footer.spec.js
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/Footer/footer.module.css
  packages/venia-ui/lib/components/Newsletter/__tests__/__snapshots__/newsletter.spec.js.snap
  packages/venia-ui/lib/components/Newsletter/__tests__/newsletter.spec.js
  packages/venia-ui/lib/components/Newsletter/index.js
  packages/venia-ui/lib/components/Newsletter/newsletter.js
  packages/venia-ui/lib/components/Newsletter/newsletter.module.css
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Cedcommerce

#3454 change workbox-build version to match workbox-webpack-plugin
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Patch, Progress: approved
