Repository magento/pwa-studio, pull requests merged in 2021-10, with the labels that each got.

#3441 [PWA-984] - Migrate CheckoutPage graphql operations to peregrine
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/__tests__/useAddressBook.spec.js
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/addressBook.gql.js
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/addressBookFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/useAddressBook.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useEditModal.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/usePaymentInformation.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/usePaymentMethods.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/editModal.gql.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/paymentInformation.gql.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/paymentMethods.gql.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useEditModal.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/usePaymentInformation.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/usePaymentMethods.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useCustomerForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useGuestForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/customerForm.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/guestForm.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useCustomerForm.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useGuestForm.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/__tests__/useShippingInformation.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/shippingInformation.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/shippingInformationFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/useShippingInformation.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingMethod/shippingMethod.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingMethod/shippingMethodFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingMethod/useShippingMethod.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CreateAccount/createAccount.gql.js
  packages/peregrine/lib/talons/SignIn/signIn.gql.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressBook.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/paymentInformation.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/paymentInformation.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentInformation.gql.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentInformation.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethods.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/shippingMethod.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
Labels: pkg:peregrine, version: Major, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Webjump

#3412 PWA-2071: Markup updates to improve SEO and Accessibility
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/AriaButton/__tests__/__snapshots__/ariaButton.spec.js.snap
  packages/venia-ui/lib/components/AriaButton/__tests__/ariaButton.spec.js
  packages/venia-ui/lib/components/AriaButton/ariaButton.js
  packages/venia-ui/lib/components/AriaButton/index.js
  packages/venia-ui/lib/components/Footer/__tests__/__snapshots__/footer.spec.js.snap
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenu.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/SubmenuColumn.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/submenuColumn.js
  packages/venia-ui/lib/components/Navigation/__tests__/__snapshots__/navHeader.spec.js.snap
  packages/venia-ui/lib/components/Navigation/navHeader.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/carousel.spec.js
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/thumbnail.spec.js
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.js
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.module.css
  packages/venia-ui/lib/components/ProductImageCarousel/thumbnail.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/option.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/options.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/option.js
  packages/venia-ui/lib/components/ProductOptions/option.module.css
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/SignIn/signIn.js
  packages/venia-ui/lib/components/SignIn/signIn.module.css
Labels: version: Major, Progress: approved, pkg:venia-ui, partners-contribution, Partner: TechDivision

#3452 Using ignoreVary config to support maxEntries
  packages/venia-concept/src/ServiceWorker/Utilities/imageCacheHandler.js
  packages/venia-concept/src/ServiceWorker/__tests__/registerRoutes.spec.js
  packages/venia-concept/src/ServiceWorker/registerRoutes.js
Labels: pkg:venia-concept, version: Minor, Progress: approved

#3459 PWA-2179: PWA Studio feature support table
  pwa-devdocs/src/_data/categories.yml
  pwa-devdocs/src/_data/overview.yml
  pwa-devdocs/src/_includes/categories.md
  pwa-devdocs/src/guides/testing/index.md
  pwa-devdocs/src/technologies/features/images/commerce.svg
  pwa-devdocs/src/technologies/features/images/custom.svg
  pwa-devdocs/src/technologies/features/images/full.svg
  pwa-devdocs/src/technologies/features/images/partial.svg
  pwa-devdocs/src/technologies/features/images/planned.svg
  pwa-devdocs/src/technologies/features/index.md
Labels: pkg:pwa-devdocs, version: Patch, docs, Progress: approved

#3457 [PWA-983] Migrate gql related files and folders to peregrine
  packages/peregrine/lib/talons/CartPage/GiftCards/__tests__/useGiftCards.spec.js
  packages/peregrine/lib/talons/CartPage/GiftCards/giftCardFragments.gql.ee.js
  packages/peregrine/lib/talons/CartPage/GiftCards/giftCardFragments.gql.js
  packages/peregrine/lib/talons/CartPage/GiftCards/giftCardQueries.gql.ee.js
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCards.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/CouponCode/couponCode.gql.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/CouponCode/couponCodeFragments.gql.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/CouponCode/useCouponCode.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/GiftOptions/__tests__/useGiftOptions.spec.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/GiftOptions/client-schema.graphql
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/GiftOptions/giftOptions.gql.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/GiftOptions/useGiftOptions.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/useShippingForm.spec.js.snap
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/__tests__/useShippingForm.spec.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/__tests__/useShippingMethods.spec.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.gql.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/shippingMethodsFragments.gql.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingForm.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingMethods.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/__tests__/useCouponCode.spec.js
  packages/peregrine/lib/talons/CartPage/PriceSummary/__tests__/usePriceSummary.spec.js
  packages/peregrine/lib/talons/CartPage/PriceSummary/priceSummary.gql.js
  packages/peregrine/lib/talons/CartPage/PriceSummary/usePriceSummary.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useProductForm.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/productForm.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/productFormFragment.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
  packages/peregrine/lib/talons/CartPage/ProductListing/productListing.gql.ce.js
  packages/peregrine/lib/talons/CartPage/ProductListing/productListing.gql.ee.js
  packages/peregrine/lib/talons/CartPage/ProductListing/productListingFragments.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProductListing.js
  packages/peregrine/lib/talons/CartPage/__tests__/useCartPage.spec.js
  packages/peregrine/lib/talons/CartPage/cartPage.gql.js
  packages/peregrine/lib/talons/CartPage/cartPageFragments.gql.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/__tests__/useShippingInformation.spec.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/giftCards.spec.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCard.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/giftOptions.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.gql.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingRadios.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/queries/giftCardSummary.ce.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/queries/giftCardSummary.ee.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/LegacyMiniCart/cartOptions.gql.js
  packages/venia-ui/lib/components/MegaMenu/megaMenu.js
  packages/venia-ui/lib/components/MiniCart/miniCart.gql.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/orderDetails.js
  packages/venia-ui/lib/components/SignIn/signIn.gql.js
Labels: pkg:peregrine, version: Major, Progress: approved, pkg:venia-ui
