Repository magento/pwa-studio, pull requests merged in 2021-08, with the labels that each got.

#3313 [PWA-1543] Verify Divider
  venia-integration-tests/src/fixtures/pageBuilder/divider/divider.json
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/divider.spec.js/Page-Builder-Divider-Page.snap.png
  venia-integration-tests/src/tests/integrationTests/pageBuilder/divider.spec.js
Labels: Progress: approved, version: Major

#3312 [PWA-1941] SetBillingAddress mutation requires valid string in line2
  packages/peregrine/lib/talons/AddressBookPage/__tests__/useAddressBookPage.spec.js
  packages/peregrine/lib/talons/AddressBookPage/useAddressBookPage.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/__tests__/useBillingAddress.spec.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/useBillingAddress.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useCreditCard.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useCustomerForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useGuestForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useCustomerForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useGuestForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useCustomerForm.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useGuestForm.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#3329 [PWA-1962] Force resolution of Workbox to v6.0.2
  packages/pwa-buildpack/package.json
  packages/venia-concept/_buildpack/create.js
  packages/venia-concept/package.json
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Patch, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, needs triage

#3332 [PWA-1962] Back-merge - Force resolution of Workbox to v6.0.2
  packages/pwa-buildpack/package.json
  packages/venia-concept/_buildpack/create.js
  packages/venia-concept/package.json
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Patch, Progress: approved

#3323 [Docs] Update release notes 11.0
  CHANGELOG.md
Labels: documentation, version: Patch, docs, Progress: approved

#3309 MDVA-39577: URL Rewrite is not working properly on Venia PWA
  packages/peregrine/lib/talons/MagentoRoute/__tests__/useMagentoRoute.spec.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#3272 Added handle add to cart feature in category page
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/pagebuilder/lib/ContentTypes/Products/Carousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Products/Carousel/__tests__/carousel.spec.js
  packages/peregrine/lib/talons/Gallery/__tests__/__snapshots__/useAddToCartButton.spec.js.snap
  packages/peregrine/lib/talons/Gallery/__tests__/useAddToCartButton.spec.js
  packages/peregrine/lib/talons/Gallery/addToCart.gql.js
  packages/peregrine/lib/talons/Gallery/useAddToCartButton.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryFragments.gql.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/addToCartButton.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/addToCartButton.spec.js
  packages/venia-ui/lib/components/Gallery/__tests__/gallery.spec.js
  packages/venia-ui/lib/components/Gallery/__tests__/item.spec.js
  packages/venia-ui/lib/components/Gallery/addToCartButton.css
  packages/venia-ui/lib/components/Gallery/addToCartButton.js
  packages/venia-ui/lib/components/Gallery/item.css
  packages/venia-ui/lib/components/Gallery/item.js
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, version: Minor, Progress: approved, pkg:venia-ui, pkg:pagebuilder, pkg:extensions

#3321 [PWA-1547] Verify Text
  venia-integration-tests/src/fixtures/pageBuilder/text/text.json
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/text.spec.js/Page-Builder-Text-Page.snap.png
  venia-integration-tests/src/tests/integrationTests/pageBuilder/text.spec.js
Labels: version: Major, Progress: approved

#3326 [PWA-1541] Verify Dynamic Block
  venia-integration-tests/src/fixtures/pageBuilder/dynamicBlock/dynamicBlock.json
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/dynamicBlock.spec.js/Page-Builder-Dynamic-Block-Snapshot.snap.png
  venia-integration-tests/src/tests/integrationTests/pageBuilder/dynamicBlock.spec.js
Labels: version: Major, Progress: approved

#3281 User-friendly Form Errors
  packages/peregrine/lib/talons/FormError/__tests__/__snapshots__/useFormError.spec.js.snap
  packages/peregrine/lib/talons/FormError/__tests__/useFormError.spec.js
  packages/peregrine/lib/talons/FormError/useFormError.js
  packages/peregrine/lib/util/deriveErrorMessage.js
  packages/venia-ui/i18n/en_US.json
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3325 [PWA-1554] Verify Column
  venia-integration-tests/src/fixtures/pageBuilder/column/column.json
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/column.spec.js/Page-Builder-Column-Page.snap.png
  venia-integration-tests/src/tests/integrationTests/pageBuilder/column.spec.js
Labels: version: Major, Progress: approved

#3338 Backmerging 11.0 into Develop
  CHANGELOG.md
  magento-compatibility.js
  package.json
  packages/create-pwa/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-adobe-data-layer/package.json
  packages/extensions/venia-sample-backends/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/package.json
  packages/peregrine/lib/context/__tests__/user.spec.js
  packages/peregrine/lib/context/user.js
  packages/peregrine/lib/talons/AddressBookPage/__tests__/useAddressBookPage.spec.js
  packages/peregrine/lib/talons/AddressBookPage/useAddressBookPage.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/__tests__/useBillingAddress.spec.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/useBillingAddress.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useCreditCard.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useCustomerForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useGuestForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useCustomerForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useGuestForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useCustomerForm.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useGuestForm.js
  packages/peregrine/lib/util/__tests__/simplePersistence.spec.js
  packages/peregrine/lib/util/simplePersistence.js
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/category.css
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/AccountChip/accountChip.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethods.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethods.js
  packages/venia-ui/lib/components/CurrencySymbol/currencySymbol.js
  packages/venia-ui/lib/components/WishlistPage/wishlist.css
  packages/venia-ui/lib/components/WishlistPage/wishlist.js
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, version: Major, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions

#3336 PWA-1968: [bug]: Page Builder Out of Stock messaging displaying for products that are in stock
  packages/pagebuilder/lib/ContentTypes/Products/products.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/gallery.spec.js
  packages/venia-ui/lib/components/Gallery/__tests__/item.spec.js
  packages/venia-ui/lib/components/Gallery/item.js
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/block.spec.js/Page-Builder-Block-Page.snap.png
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, pkg:pagebuilder

#3324 [PWA-1556] Verify Tabs
  venia-integration-tests/src/fixtures/pageBuilder/tabs/tabs.json
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/tabs.spec.js/Page-Builder-Tabs-Page.snap.png
  venia-integration-tests/src/tests/integrationTests/pageBuilder/tabs.spec.js
Labels: version: Major, Progress: approved

#3344 [PWA-1974] Fix search suggested category double store code
  packages/peregrine/lib/talons/SearchBar/__tests__/__snapshots__/useSuggestedCategory.spec.js.snap
  packages/peregrine/lib/talons/SearchBar/__tests__/useSuggestedCategory.spec.js
  packages/peregrine/lib/talons/SearchBar/useSuggestedCategory.js
  packages/venia-ui/lib/components/SearchBar/__tests__/suggestedCategories.spec.js
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, version: Patch, Progress: approved, pkg:venia-ui, pkg:create-pwa, partners-contribution, pkg:pagebuilder, Partner: Absolunet Inc, pkg:extensions, needs triage

#3343 [PWA-1914] Waiting for button actions to complete mutations.
  venia-integration-tests/src/actions/productPage/index.js
  venia-integration-tests/src/tests/e2eTests/wishList/singleWishlistAddRemoveProduct.spec.js
  venia-integration-tests/src/tests/integrationTests/wishList/verifyMultipleWishlistFeatures.spec.js
  venia-integration-tests/src/utils/graphql-test-utils.js
Labels: Progress: approved

#3318 [PWA-1718] Clear GitHub Security Alerts
  docker/package.json
  docker/yarn.lock
  packages/create-pwa/package.json
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
  yarn.lock
Labels: pkg:pwa-buildpack, pkg:upward-js, pkg:upward-spec, version: Major, Progress: approved, pkg:create-pwa, needs triage

#3340 Typo fixes for docs
  pwa-devdocs/src/pwa-buildpack/reference/magento-resolver/index.md
  pwa-devdocs/src/tutorials/extension-development/taglist/index.md
Labels: pkg:pwa-devdocs, documentation, version: Patch, docs, Progress: approved, partners-contribution, Partner: TechDivision

#3310 PWA-1551: Slider cypress test
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider10.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider11.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider12.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider2.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider3.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider4.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider5.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider6.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider7.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider8.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider9.json
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-10.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-11.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-12.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-2.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-3.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-4.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-5.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-6.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-7.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-8.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-9.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page.snap.png
  venia-integration-tests/src/tests/integrationTests/pageBuilder/slider.spec.js
Labels: version: Major, Progress: approved, partners-contribution, Partner: TechDivision

#3349 PWA-1550: PB verify video
  venia-integration-tests/src/fixtures/pageBuilder/video/video.json
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/video.spec.js/Page-Builder-Video-Alignment-Page.snap.png
  venia-integration-tests/src/tests/integrationTests/pageBuilder/video.spec.js
Labels: version: Patch, Progress: approved

#3335 PWA-1712: [bug]: fix region showing as number on braintree summary
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/useBraintreeSummary.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useBraintreeSummary.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/braintreeSummary.gql.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useBraintreeSummary.js
Labels: pkg:peregrine, version: Patch, Progress: approved, partners-contribution, Partner: Webjump

#3351 fix: add to list button should be centered
  packages/venia-ui/lib/components/Wishlist/AddToListButton/addToListButton.css
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3307 Create a new Target for CustomContentTypes pagebuilder
  packages/pagebuilder/lib/ContentTypes/CustomContentTypeList.js
  packages/pagebuilder/lib/ContentTypes/customContentTypes.js
  packages/pagebuilder/lib/__tests__/pagebuilder-targets.spec.js
  packages/pagebuilder/lib/declare.js
  packages/pagebuilder/lib/factory.js
  packages/pagebuilder/lib/intercept.js
  packages/pagebuilder/package.json
Labels: version: Minor, Progress: review, pkg:pagebuilder

#3354 Adding host headers to the GQL calls from buildpack.
  packages/pwa-buildpack/lib/Utilities/graphQL.js
Labels: pkg:pwa-buildpack, version: Minor, Progress: approved

#3374 [Docs] Added URL issue for suggested categories as a known issue
  CHANGELOG.md
Labels: pkg:pwa-devdocs, version: Patch, docs, Progress: approved, needs triage

#3361 [PWA-1847] Add to cart - out of stock - search results
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/pagebuilder/lib/ContentTypes/Products/products.js
  packages/peregrine/lib/talons/Gallery/__tests__/useGalleryItem.spec.js
  packages/peregrine/lib/talons/Gallery/useGalleryItem.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryFragments.gql.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/peregrine/lib/util/isSupportedProductType.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/gallery.spec.js
  packages/venia-ui/lib/components/Gallery/__tests__/item.spec.js
  packages/venia-ui/lib/components/Gallery/item.css
  packages/venia-ui/lib/components/Gallery/item.js
Labels: pkg:peregrine, version: Major, Progress: approved, pkg:venia-ui, pkg:pagebuilder, pkg:extensions

#3373 [PWA-1588] Remove Enzyme
  jest.config.js
  packages/peregrine/lib/ContainerChild/__tests__/containerChild.test.js
  packages/peregrine/lib/Router/__tests__/Router.test.js
  packages/peregrine/lib/util/__tests__/fromRenderProp.spec.js
  packages/venia-concept/package.json
  packages/venia-ui/lib/__mocks__/classify.js
  packages/venia-ui/package.json
  scripts/jest-enzyme-setup.js
  yarn.lock
Labels: pkg:peregrine, pkg:venia-concept, version: Minor, Progress: approved, pkg:venia-ui

#3364 [PWA-892]: [bug] - Fix region input value not resetting after country change
  packages/peregrine/lib/talons/Region/__tests__/useRegion.spec.js
  packages/peregrine/lib/talons/Region/useRegion.js
Labels: pkg:pwa-buildpack, pkg:peregrine, version: Patch, Progress: approved, partners-contribution, Partner: Webjump
