Repository magento/pwa-studio, pull requests merged in 2021-03, with the labels that each got.

#3002 [chore] Fixing link reported in #2919
  pwa-devdocs/src/technologies/basic-concepts/client-side-caching/index.md
Labels: Progress: approved

#3024 Increase test coverage for `packages/peregrine/lib/talons/CheckoutPage`
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/__tests__/useAddressBook.spec.js
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/__tests__/useAddressCard.spec.js
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/useAddressCard.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/__tests__/useItemsReview.spec.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/useOrderConfirmationPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/useOrderConfirmationPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/usePaymentMethods.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useCreditCard.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useEditModal.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/usePaymentInformation.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/usePaymentMethods.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useSummary.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useCustomerForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useGuestForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/__tests__/useShippingInformation.spec.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/CheckoutError.spec.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useShippingMethod.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#3040 Do not assign calcaben on docs
  .github/ISSUE_TEMPLATE/doc_change.md
Labels: Progress: approved

#3032 Fixes CMS header line height
  packages/venia-ui/lib/RootComponents/CMS/cms.css
Labels: Progress: approved, pkg:venia-ui, version: Patch

#3039 #3038 Use @apollo/client in "Modify talon results" tutorial
  pwa-devdocs/src/tutorials/intercept-a-target/modify-talon-results/index.md
Labels: Progress: approved, Technology Partner: dotdigital, tech-partners-contribution, version: Patch

#2946 [feature]: Add option to use custom https certificates with buildpack
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/createDotEnvFile.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/serve.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/serve.spec.js
  packages/pwa-buildpack/lib/Utilities/serve.js
Labels: Progress: approved, pkg:pwa-buildpack, version: Minor

#2906 Singleton style tag
  packages/pwa-buildpack/lib/WebpackTools/__tests__/getModuleRules.spec.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getModuleRules.js
  packages/venia-concept/package.json
  pwa-devdocs/package.json
  pwa-devdocs/src/technologies/basic-concepts/css-modules/index.md
  yarn.lock
Labels: Progress: approved, pkg:pwa-buildpack, pkg:venia-concept, version: Minor

#3019 #1617 - Fetch store name from the GraphQL server at compile time
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategoryContent.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/pwa-buildpack/lib/queries/getStoreConfigData.graphql
  packages/venia-concept/template.html
  packages/venia-concept/webpack.config.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/CMS/__tests__/cms.spec.js
  packages/venia-ui/lib/RootComponents/CMS/cms.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/category.spec.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/categoryContent.spec.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/RootComponents/Product/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/RootComponents/Product/product.js
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/accountInformationPage.spec.js
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPage.js
  packages/venia-ui/lib/components/AddressBookPage/__tests__/addressBookPage.spec.js
  packages/venia-ui/lib/components/AddressBookPage/addressBookPage.js
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/app.spec.js
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/__tests__/cartPage.spec.js
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/__tests__/orderConfirmationPage.spec.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/orderConfirmationPage.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/checkoutPage.spec.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/CommunicationsPage/__tests__/communicationsPage.spec.js
  packages/venia-ui/lib/components/CommunicationsPage/communicationsPage.js
  packages/venia-ui/lib/components/Head/index.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/__snapshots__/resetPassword.spec.js.snap
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/resetPassword.spec.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/orderHistoryPage.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.js
  packages/venia-ui/lib/components/SavedPaymentsPage/__tests__/savedPaymentsPage.spec.js
  packages/venia-ui/lib/components/SavedPaymentsPage/savedPaymentsPage.js
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/modify-site-footer/index.md
Labels: Partner: Atwix, Progress: approved, partners-contribution, pkg:extensions, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Minor

#3022 fix(create-pwa): Fix escaping in shell command create-pwa sends to buildpack
  packages/create-pwa/lib/index.js
  packages/venia-concept/_buildpack/__tests__/create.spec.js
  packages/venia-concept/_buildpack/create.js
Labels: Progress: approved, pkg:create-pwa, pkg:venia-concept, version: Patch

#3016 Null check for element styling
  packages/pagebuilder/lib/__tests__/parseStorageHtml.spec.js
  packages/pagebuilder/lib/pagebuilder.js
  packages/pagebuilder/lib/parseStorageHtml.js
Labels: Progress: approved, pkg:pagebuilder, version: Patch

#3044 [doc] tag list extension tutorial
  pwa-devdocs/_archived/create-taglist-component/images/hard-coded-list.png
  pwa-devdocs/_archived/create-taglist-component/images/real-data-list.png
  pwa-devdocs/_archived/create-taglist-component/images/styled-list.png
  pwa-devdocs/_archived/create-taglist-component/images/unstyled-list.png
  pwa-devdocs/_archived/create-taglist-component/index.md
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/tutorials/extension-development/taglist/index.md
  pwa-devdocs/src/tutorials/pwa-studio-fundamentals/project-structure/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#2969 [FEATURE] Implement Checkmo #2927
  jest.config.js
  packages/extensions/venia-sample-payments-checkmo/README.md
  packages/extensions/venia-sample-payments-checkmo/intercept.js
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/extensions/venia-sample-payments-checkmo/src/components/__tests__/__snapshots__/checkmo.spec.js.snap
  packages/extensions/venia-sample-payments-checkmo/src/components/__tests__/checkmo.spec.js
  packages/extensions/venia-sample-payments-checkmo/src/components/checkmo.css
  packages/extensions/venia-sample-payments-checkmo/src/components/checkmo.js
  packages/extensions/venia-sample-payments-checkmo/src/talons/__tests__/__snapshots__/useCheckmo.spec.js.snap
  packages/extensions/venia-sample-payments-checkmo/src/talons/__tests__/useCheckmo.spec.js
  packages/extensions/venia-sample-payments-checkmo/src/talons/checkmo.gql.js
  packages/extensions/venia-sample-payments-checkmo/src/talons/useCheckmo.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/__tests__/__snapshots__/useBillingAddress.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/__tests__/useBillingAddress.spec.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/billingAddress.gql.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/useBillingAddress.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/CheckoutPage/BillingAddress/__tests__/__snapshots__/billingAddress.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/BillingAddress/__tests__/billingAddress.spec.js
  packages/venia-ui/lib/components/CheckoutPage/BillingAddress/billingAddress.css
  packages/venia-ui/lib/components/CheckoutPage/BillingAddress/billingAddress.js
  packages/venia-ui/lib/components/CheckoutPage/BillingAddress/index.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethods.css
Labels: Award: advanced, Award: special achievement, Award: test coverage, Partner: TechDivision, Progress: approved, partners-contribution, pkg:extensions, pkg:peregrine, pkg:venia-concept, pkg:venia-ui

#3025 Added ability to use custom template for scaffolding.
  packages/create-pwa/__tests__/__snapshots__/create-pwa.spec.js.snap
  packages/create-pwa/__tests__/create-pwa.spec.js
  packages/create-pwa/lib/index.js
  packages/pwa-buildpack/lib/__tests__/cli-create-project.spec.js
  packages/pwa-buildpack/lib/cli/create-project.js
Labels: Progress: approved, pkg:create-pwa, pkg:pwa-buildpack, version: Minor

#2986 [FEATURE] Added the xfwd option to the proxyMiddleware so HTTP_X_FORW…
  packages/upward-js/lib/resolvers/ProxyResolver.js
Labels: Partner: Experius, Progress: approved, partners-contribution, pkg:upward-js, version: Patch

#3062 [chore] Update comment on cmsPage talon to reflect why we compare against default string
  packages/peregrine/lib/talons/Cms/useCmsPage.js
Labels: Progress: approved, pkg:peregrine

#2932 [feature]: Basic desktop improvements for Venia - Mega Menu
  packages/peregrine/lib/talons/MegaMenu/__tests__/__snapshots__/useMegaMenu.spec.js.snap
  packages/peregrine/lib/talons/MegaMenu/__tests__/useMegaMenu.spec.js
  packages/peregrine/lib/talons/MegaMenu/megaMenu.gql.js
  packages/peregrine/lib/talons/MegaMenu/useMegaMenu.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/header.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/header.spec.js
  packages/venia-ui/lib/components/Header/header.css
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/Header/navTrigger.css
  packages/venia-ui/lib/components/Header/onlineIndicator.css
  packages/venia-ui/lib/components/MegaMenu/__tests__/MegaMenu.spec.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/MegaMenuItem.spec.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/Submenu.spec.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/SubmenuColumn.spec.js
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenu.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenuItem.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/Submenu.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/SubmenuColumn.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/index.js
  packages/venia-ui/lib/components/MegaMenu/megaMenu.css
  packages/venia-ui/lib/components/MegaMenu/megaMenu.js
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.css
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.js
  packages/venia-ui/lib/components/MegaMenu/submenu.css
  packages/venia-ui/lib/components/MegaMenu/submenu.js
  packages/venia-ui/lib/components/MegaMenu/submenuColumn.css
  packages/venia-ui/lib/components/MegaMenu/submenuColumn.js
  packages/venia-ui/lib/components/PageLoadingIndicator/indicator.css
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui

#3053 Gallery item handle link click
  README.md
  packages/peregrine/lib/talons/Gallery/__tests__/useGalleryItem.spec.js
  packages/peregrine/lib/talons/Gallery/useGalleryItem.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/Gallery/item.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#3047 Ignoring CE and EE gql files based on Mangeto edition.
  packages/graphql-cli-validate-magento-pwa-queries/lib/__tests__/index.spec.js
  packages/graphql-cli-validate-magento-pwa-queries/lib/index.js
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCards.js
  packages/venia-concept/.graphqlconfig
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCardQueries.ee.js
Labels: Progress: approved, pkg:graphql-cli-validate-magento-pwa-queries, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Minor

#3068 Hide Links
  packages/peregrine/lib/talons/AccountMenu/useAccountMenuItems.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#3065 [chore]: Cleanup invalid function ref in billing address
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/useBillingAddress.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
Labels: Progress: approved, pkg:peregrine

#3073 Add compression package as a dependency in create-pwa package.
  packages/create-pwa/package.json
Labels: Progress: approved, pkg:create-pwa, version: Minor

#3063 Initial draft of prex integration with PWA
  pwa-devdocs/src/_config.yml
  pwa-devdocs/src/_data/product-recs.yml
  pwa-devdocs/src/_data/top-nav.yml
  pwa-devdocs/src/_includes/layout/sidebar-nav-root-item.html
  pwa-devdocs/src/product-recs/images/pwa-arch-diag-sensei.svg
  pwa-devdocs/src/product-recs/index.md
Labels: Progress: approved, version: Patch

#3048 Add to Wishlist from PDP
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/useProductFullDetail.spec.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/RootComponents/Product/productDetailFragment.gql.js
  packages/peregrine/lib/talons/Wishlist/WishlistButton/__tests__/useWishlistButton.ce.spec.js
  packages/peregrine/lib/talons/Wishlist/WishlistButton/__tests__/useWishlistButton.ee.spec.js
  packages/peregrine/lib/talons/Wishlist/WishlistButton/useWishlistButton.ce.js
  packages/peregrine/lib/talons/Wishlist/WishlistButton/useWishlistButton.ee.js
  packages/peregrine/lib/talons/Wishlist/WishlistButton/wishlistButton.gql.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/CreateWishlistForm/__tests__/useCreateWishlistForm.spec.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/CreateWishlistForm/createWishlistForm.gql.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/CreateWishlistForm/useCreateWishlistForm.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/__tests__/useWishlistDialog.spec.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/useWishlistDialog.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/wishlistDialog.gql.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.css
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.gql.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/Wishlist/WishlistButton/__tests__/wishlistButton.ce.spec.js
  packages/venia-ui/lib/components/Wishlist/WishlistButton/__tests__/wishlistButton.ee.spec.js
  packages/venia-ui/lib/components/Wishlist/WishlistButton/index.js
  packages/venia-ui/lib/components/Wishlist/WishlistButton/wishlistButton.ce.js
  packages/venia-ui/lib/components/Wishlist/WishlistButton/wishlistButton.css
  packages/venia-ui/lib/components/Wishlist/WishlistButton/wishlistButton.ee.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/CreateWishlistForm/__tests__/__snapshots__/createWishlistForm.spec.js.snap
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/CreateWishlistForm/__tests__/createWishlistForm.spec.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/CreateWishlistForm/createWishlistForm.css
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/CreateWishlistForm/createWishlistForm.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/CreateWishlistForm/index.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/WishlistLineItem/__tests__/__snapshots__/wishlistLineItem.spec.js.snap
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/WishlistLineItem/__tests__/wishlistLineItem.spec.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/WishlistLineItem/index.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/WishlistLineItem/wishlistLineItem.css
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/WishlistLineItem/wishlistLineItem.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/__tests__/__snapshots__/wishlistDialog.spec.js.snap
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/__tests__/wishlistDialog.spec.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/index.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/wishlistDialog.css
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/wishlistDialog.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#3072 Update devdoc dependencies
  pwa-devdocs/package.json
  pwa-devdocs/yarn.lock
Labels: Progress: approved, version: Patch

#3067 [doc] Release notes 10.0.0
  CHANGELOG.md
  magento-compatibility.js
Labels: Progress: approved, docs, documentation, version: Major

#3055 Scroll completed section to the top after every checkout step.
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/__tests__/useAddressBook.spec.js
  packages/peregrine/lib/talons/CheckoutPage/AddressBook/useAddressBook.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useCustomerForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useGuestForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useCustomerForm.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useGuestForm.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/peregrine/lib/talons/CheckoutPage/useShippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressBook.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/customerForm.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.css
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/Header/header.css
  packages/venia-ui/lib/components/ScrollAnchor/__tests__/__snapshots__/scrollAnchor.spec.js.snap
  packages/venia-ui/lib/components/ScrollAnchor/__tests__/scrollAnchor.spec.js
  packages/venia-ui/lib/components/ScrollAnchor/index.js
  packages/venia-ui/lib/components/ScrollAnchor/scrollAnchor.css
  packages/venia-ui/lib/components/ScrollAnchor/scrollAnchor.js
  packages/venia-ui/lib/tokens.css
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#3091 [PWA-1514] Cannot place order again after initial order was declined
  packages/peregrine/lib/talons/CheckoutPage/PlaceOrderErrors.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
Labels: Progress: approved, pkg:peregrine, version: Patch

#3092 [PWA-1016] Refactor Add To Cart to use generic AddProductsToCart mutation
  packages/peregrine/lib/talons/Header/cartTriggerFragments.gql.js
  packages/peregrine/lib/talons/MiniCart/ProductList/productListFragments.gql.js
  packages/peregrine/lib/talons/MiniCart/miniCartFragments.gql.js
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/useProductFullDetail.spec.js
  packages/peregrine/lib/talons/ProductFullDetail/productFullDetail.gql.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/venia-ui/lib/components/Header/cartTrigger.gql.js
  packages/venia-ui/lib/components/Header/cartTriggerFragments.gql.js
  packages/venia-ui/lib/components/MiniCart/ProductList/productList.gql.js
  packages/venia-ui/lib/components/MiniCart/miniCart.gql.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.gql.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/WishlistPage/wishlistItem.gql.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor
