Repository magento/pwa-studio, pull requests merged in 2021-07, with the labels that each got.

#3246 PWA-1683 - My Account: Multi-Wishlist: clean-up
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/__tests__/index.spec.js
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/CreateWishlistForm/useCreateWishlistForm.js
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useWishlist.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useWishlistItem.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/useActionMenu.spec.js
  packages/peregrine/lib/talons/WishlistPage/__tests__/useCreateWishlist.spec.js
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlist.spec.js
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlistItem.spec.js
  packages/peregrine/lib/talons/WishlistPage/useActionMenu.js
  packages/peregrine/lib/talons/WishlistPage/useCreateWishlist.js
  packages/peregrine/lib/talons/WishlistPage/useWishlist.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistItem.js
  packages/peregrine/lib/talons/WishlistPage/wishlist.gql.js
  packages/peregrine/lib/talons/WishlistPage/wishlistFragment.gql.ee.js
  packages/peregrine/lib/talons/WishlistPage/wishlistFragment.gql.js
  packages/peregrine/lib/talons/WishlistPage/wishlistItem.gql.js
  packages/peregrine/lib/talons/WishlistPage/wishlistPage.gql.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/CreateWishlistForm/__tests__/__snapshots__/createWishlistForm.spec.js.snap
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/CreateWishlistForm/createWishlistForm.css
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/CreateWishlistForm/createWishlistForm.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/createWishlist.ee.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlist.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistEditFavoritesListDialog.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistItem.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistPage.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlist.spec.js
  packages/venia-ui/lib/components/WishlistPage/createWishlist.css
  packages/venia-ui/lib/components/WishlistPage/createWishlist.ee.js
  packages/venia-ui/lib/components/WishlistPage/wishlist.css
  packages/venia-ui/lib/components/WishlistPage/wishlist.js
  packages/venia-ui/lib/components/WishlistPage/wishlistEditFavoritesListDialog.css
  packages/venia-ui/lib/components/WishlistPage/wishlistEditFavoritesListDialog.js
  packages/venia-ui/lib/components/WishlistPage/wishlistItem.css
  packages/venia-ui/lib/components/WishlistPage/wishlistItem.js
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.js
Labels: Partner: TechDivision, Progress: approved, partners-contribution, pkg:peregrine, pkg:venia-ui, version: Minor

#3255 PWA-1734: Configure staging and production responses to be gzipped
  packages/venia-ui/upward.yml
Labels: Progress: approved, pkg:venia-ui, version: Minor

#3251 Fix region error braintree
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/creditCard.gql.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
Labels: Partner: TechDivision, Progress: approved, partners-contribution, pkg:peregrine, version: Minor

#3230 Fixing mega menu when pathname is undefined
  packages/peregrine/lib/talons/MegaMenu/useMegaMenu.js
Labels: Partner: Webjump, Progress: approved, partners-contribution, pkg:peregrine, version: Patch

#3273 Removed unnecessary snapshot.
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useProduct.spec.js.snap
Labels: Progress: approved, pkg:peregrine, version: Minor

#3280 Update PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Progress: approved

#3275 [Doc] Release notes 11.0.0
  CHANGELOG.md
  magento-compatibility.js
Labels: Progress: approved, version: Major

#3278 Support new GraphQL Header
  packages/peregrine/lib/Apollo/__tests__/magentoGqlCacheLink.spec.js
  packages/peregrine/lib/Apollo/magentoGqlCacheLink.js
  packages/peregrine/lib/talons/Adapter/useAdapter.js
Labels: Progress: review, pkg:peregrine, version: Minor

#3286 Regression Fix - Account chip welcome message in non-default store view
  packages/venia-ui/lib/components/AccountChip/accountChip.js
Labels: Partner: Absolunet Inc, Progress: approved, needs triage, partners-contribution, pkg:venia-ui, version: Minor

#3285 Regression Fix - Content shifted under layered nav on PLP
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/category.css
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
Labels: Partner: Absolunet Inc, Progress: approved, partners-contribution, pkg:venia-ui, version: Minor

#3211 PWA-1790: Spike: Page Builder support - How to enable components to m…
  packages/pagebuilder/lib/ContentTypes/Image/__tests__/__snapshots__/image.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Image/image.css
  packages/pagebuilder/lib/ContentTypes/Image/image.js
  packages/pagebuilder/lib/ContentTypes/Row/__tests__/__snapshots__/row.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Row/__tests__/row.spec.js
  packages/pagebuilder/lib/ContentTypes/Row/row.css
  packages/pagebuilder/lib/ContentTypes/Row/row.js
  packages/peregrine/lib/hooks/__tests__/useDetectScrollWidth.spec.js
  packages/peregrine/lib/hooks/useDetectScrollWidth.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
Labels: Progress: review, pkg:pagebuilder, pkg:peregrine, pkg:venia-ui, version: Minor

#3288 [PWA-1898] Wishlist seems to be cramped in Mobile mode.
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/WishlistPage/wishlist.css
  packages/venia-ui/lib/components/WishlistPage/wishlist.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#3289 Safari NumberFormat error fix.
  packages/venia-ui/lib/components/CurrencySymbol/currencySymbol.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#3290 Checkout page Payment information section UX fix.
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethods.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethods.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#3259 magento/pwa-devdocs#: Fixes example in TargetableReactComponent page
  packages/pwa-buildpack/lib/WebpackTools/targetables/TargetableReactComponent.js
Labels: Progress: approved, pkg:pwa-buildpack

#3236 Update en_US Translation for ErrorView
  packages/venia-ui/i18n/en_US.json
Labels: Progress: approved, pkg:venia-ui, version: Patch

#3269 magento/pwa-devdocs#: Adds a solution to a possible error during SASS loader installation
  pwa-devdocs/src/tutorials/enable-sass-less-support/index.md
Labels: Partner: Atwix, Progress: approved, partners-contribution

#3186 #3185 fix - Duplicate react component key props
  packages/peregrine/lib/talons/RootComponents/Product/productDetailFragment.gql.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#3279 PWA-1198: Resetting option in edit cart panel and clicking on update button removes product from cart.
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useProductForm.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Patch

#3274 magento/pwa-devdocs#: Adds grammar fixes to the Internationalization page
  pwa-devdocs/src/technologies/basic-concepts/internationalization/index.md
Labels: Partner: Atwix, Progress: approved, partners-contribution

#3306 Release 11.0 Sign-out cache clear bug fix
  packages/peregrine/lib/context/__tests__/user.spec.js
  packages/peregrine/lib/context/user.js
  packages/peregrine/lib/util/__tests__/simplePersistence.spec.js
  packages/peregrine/lib/util/simplePersistence.js
Labels: Progress: review, pkg:peregrine, version: Minor
