Repository magento/pwa-studio, pull requests merged in 2021-02, with the labels that each got.

#2967 Eliminate cyclic dependencies
  jest.config.js
  packages/peregrine/lib/talons/ProductImageCarousel/useProductImageCarousel.js
  packages/peregrine/lib/util/__tests__/imageUtils.spec.js
  packages/peregrine/lib/util/__tests__/makeUrl.spec.js
  packages/peregrine/lib/util/imageUtils.js
  packages/peregrine/lib/util/makeUrl.js
  packages/peregrine/lib/util/swUtils.js
  packages/venia-concept/src/ServiceWorker/Utilities/__tests__/imageCacheHandler.spec.js
  packages/venia-concept/src/ServiceWorker/Utilities/imageCacheHandler.js
  packages/venia-concept/src/registerSW.js
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Image/image.js
  packages/venia-ui/lib/components/Image/resourceImage.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/swatch.js
  packages/venia-ui/lib/components/SearchBar/__tests__/__snapshots__/suggestedProduct.spec.js.snap
  packages/venia-ui/lib/drivers/index.js
  packages/venia-ui/lib/util/images.js
  packages/venia-ui/lib/util/makeUrl.js
  packages/venia-ui/lib/util/swUtils.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Patch

#2942 Set fixed min-height on main page
  packages/venia-ui/lib/components/Main/main.css
Labels: Progress: approved, pkg:venia-ui, version: Minor

#2900 Update prettier config
  packages/venia-concept/prettier.config.js
Labels: Progress: approved, pkg:venia-concept

#2982 Fix #2981: let DEFAULT_TIMEOUT for Toasts be used
  packages/peregrine/lib/Toasts/useToasts.js
Labels: Progress: review, pkg:peregrine

#2983 [PWA-1342] Upgrade workbox to v6
  package.json
  packages/create-pwa/package.json
  packages/extensions/upward-security-headers/package.json
  packages/pwa-buildpack/lib/WebpackTools/__tests__/PWADevServer.spec.js
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-concept/src/ServiceWorker/setupWorkbox.js
  packages/venia-ui/package.json
  yarn.lock
Labels: Progress: approved, pkg:create-pwa, pkg:extensions, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Patch

#2995 [doc] Extension development
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/tutorials/extension-development/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#2998 [PWA-998] Increase Test Coverage in peregrine/lib/talons/SignIn
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/package.json
  yarn.lock
Labels: Progress: approved, pkg:peregrine, version: Minor

#3006 [PWA-1004] Increase Test Coverage in venia-ui/lib/components/MagentoRoute
  packages/venia-ui/lib/components/MagentoRoute/__tests__/magentoRoute.spec.js
Labels: Progress: approved, pkg:venia-ui, version: Patch

#3003 Remove lodash from create-pwa
  packages/create-pwa/lib/index.js
  packages/create-pwa/package.json
  packages/pwa-buildpack/lib/Utilities/createProject.js
  packages/pwa-buildpack/lib/cli/create-project.js
  packages/venia-concept/_buildpack/__tests__/create.spec.js
  packages/venia-concept/_buildpack/create.js
Labels: Progress: approved, pkg:create-pwa, pkg:pwa-buildpack, pkg:venia-concept

#3008 Add venia-concept as a dependency of create-pwa
  packages/create-pwa/package.json
Labels: Progress: approved, pkg:create-pwa, version: Patch

#3004 PWA-1005: Increase Test Coverage in venia-ui/lib/components/Main
  packages/venia-ui/lib/components/Main/__tests__/main.spec.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#3005 Release notes 9.0.1
  CHANGELOG.md
  magento-compatibility.js
Labels: Progress: approved, version: Patch

#2980 Support for express server compression middleware.
  docker/.env.docker.dev
  docker/.env.docker.prod
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/createDotEnvFile.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/serve.spec.js.snap
  packages/pwa-buildpack/lib/Utilities/__tests__/serve.spec.js
  packages/pwa-buildpack/lib/Utilities/serve.js
  packages/pwa-buildpack/lib/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/PWADevServer.spec.js
  packages/pwa-buildpack/lib/WebpackTools/__tests__/__snapshots__/PWADevServer.spec.js.snap
  packages/pwa-buildpack/package.json
  packages/upward-js/lib/createUpwardServer.js
  packages/venia-concept/package.json
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
  yarn.lock
Labels: Progress: approved, pkg:pwa-buildpack, pkg:upward-js, pkg:venia-concept, version: Minor

#2996 [PWA-1030] Merge Cart does not update mini cart if auth user has same simple product already added
  packages/peregrine/lib/store/actions/cart/asyncActions.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major

#3012 Remove "Home Page" from Title
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/venia-concept/template.html
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-ui/lib/components/App/app.js
Labels: Progress: approved, pkg:extensions, pkg:venia-concept, pkg:venia-ui, version: Minor

#2985 [feature]: allow blob: types for style-src
  packages/extensions/upward-security-headers/upward.yml
Labels: Progress: approved, pkg:extensions

#3018 [PWA-1002] Increase Test Coverage in venia-ui/lib/components/CheckoutPage
  packages/venia-ui/lib/components/CheckoutPage/OrderSummary/__tests__/__snapshots__/orderSummary.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/OrderSummary/__tests__/orderSummary.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PriceAdjustments/__tests__/__snapshots__/priceAdjustments.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PriceAdjustments/__tests__/priceAdjustments.spec.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/__tests__/checkoutPage.spec.js
Labels: Progress: approved, pkg:venia-ui, version: Patch

#2992 Remove data from all persisted Apollo caches
  packages/peregrine/lib/Apollo/__tests__/clearCartDataFromCache.spec.js
  packages/peregrine/lib/Apollo/__tests__/deleteCacheEntry.spec.js
  packages/peregrine/lib/Apollo/constants.js
  packages/peregrine/lib/Apollo/deleteCacheEntry.js
  packages/peregrine/lib/store/actions/cart/__tests__/asyncActions.spec.js
  packages/peregrine/lib/store/actions/user/__tests__/asyncActions.spec.js
  packages/venia-ui/lib/drivers/adapter.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui

#3011 Master backmerge into Develop
  CHANGELOG.md
  README.md
  magento-compatibility.js
  package.json
  packages/create-pwa/lib/index.js
  packages/create-pwa/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-adobe-data-layer/package.json
  packages/extensions/venia-sample-backends/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/pagebuilder/package.json
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/__snapshots__/useOrderHistoryPage.spec.js.snap
  packages/peregrine/lib/talons/OrderHistoryPage/__tests__/useOrderHistoryPage.spec.js
  packages/peregrine/lib/talons/OrderHistoryPage/orderHistoryPage.gql.js
  packages/peregrine/lib/talons/OrderHistoryPage/useOrderHistoryPage.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategory.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategory.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  packages/peregrine/package.json
  packages/pwa-buildpack/lib/Utilities/createProject.js
  packages/pwa-buildpack/lib/cli/create-project.js
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/venia-concept/_buildpack/__tests__/create.spec.js
  packages/venia-concept/_buildpack/create.js
  packages/venia-concept/package.json
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/category.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/category.spec.js
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderHistoryPage.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/resetButton.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/orderHistoryPage.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/resetButton.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.css
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.js
  packages/venia-ui/lib/components/OrderHistoryPage/resetButton.js
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/__tests__/searchPage.spec.js
  packages/venia-ui/lib/components/SearchPage/searchPage.gql.js
  packages/venia-ui/lib/components/SearchPage/searchPage.js
  packages/venia-ui/package.json
  pwa-devdocs/package.json
  pwa-devdocs/src/pwa-buildpack/troubleshooting/index.md
  yarn.lock
Labels: Progress: approved, pkg:create-pwa, pkg:extensions, pkg:pagebuilder, pkg:peregrine, pkg:pwa-buildpack, pkg:upward-js, pkg:venia-concept, pkg:venia-ui, version: Minor

#3021 [PWA-1003] Increase Test Coverage in venia-ui/lib/components/CreateAccountPage
  packages/venia-ui/lib/components/CreateAccountPage/__tests__/__snapshots__/createAccountPage.spec.js.snap
  packages/venia-ui/lib/components/CreateAccountPage/__tests__/createAccountPage.spec.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#3015 Venia UI App related tests
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/container.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/contextProvider.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/useErrorBoundary.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/container.spec.js
  packages/venia-ui/lib/components/App/__tests__/contextProvider.spec.js
  packages/venia-ui/lib/components/App/__tests__/useErrorBoundary.spec.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#2988 [feature]: Lazy Load/trim unused bytes in main routes
  docker-compose.yml
  packages/peregrine/lib/Router/__tests__/Router.test.js
  packages/venia-concept/template.html
  packages/venia-ui/__mocks__/react.js
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPage.js
  packages/venia-ui/lib/components/App/__tests__/__snapshots__/app.spec.js.snap
  packages/venia-ui/lib/components/App/__tests__/app.spec.js
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/__snapshots__/priceAdjustments.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/giftCardSection.ee.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/priceAdjustments.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/productListing.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/__tests__/__snapshots__/addressBook.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/__tests__/addressBook.spec.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressBook.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/paymentInformation.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/paymentInformation.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentInformation.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/__tests__/__snapshots__/shippingInformation.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/accountTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/cartTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/accountTrigger.js
  packages/venia-ui/lib/components/Header/cartTrigger.js
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/Navigation/__tests__/__snapshots__/navigation.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/searchPage.js
  packages/venia-ui/package.json
  packages/venia-ui/templates/category-shell.mst
  packages/venia-ui/templates/close-document.mst
  packages/venia-ui/templates/cmspage-shell.mst
  packages/venia-ui/templates/critical-style.mst
  packages/venia-ui/templates/default-font-include.mst
  packages/venia-ui/templates/default-initial-contents.mst
  packages/venia-ui/templates/generic-shell.mst
  packages/venia-ui/templates/js-unavailable.mst
  packages/venia-ui/templates/loading-this-entity.mst
  packages/venia-ui/templates/notfound-shell.mst
  packages/venia-ui/templates/open-body.mst
  packages/venia-ui/templates/open-document.mst
  packages/venia-ui/templates/product-shell.mst
  packages/venia-ui/templates/seed-bundles.mst
  packages/venia-ui/upward.yml
  scripts/watch-all.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Major

#3023 PWA-1001: Exclude venia-ui/lib/components/Checkout from Coverage Report
  jest.config.js
Labels: Progress: approved, version: Patch

#2873 Display page level error and disable checkout button when no available payment methods
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/itemsReview.gql.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/itemsReviewFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/orderConfirmationPageFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/usePaymentInformation.spec.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/checkoutPage.gql.js
  packages/peregrine/lib/talons/CheckoutPage/checkoutPageFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/itemsReview.gql.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/itemsReview.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/__tests__/checkoutPage.spec.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.css
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/StockStatusMessage/__tests__/__snapshots__/stockStatusMessage.spec.js.snap
  packages/venia-ui/lib/components/StockStatusMessage/stockStatusMessage.css
  packages/venia-ui/lib/components/StockStatusMessage/stockStatusMessage.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Major
