Repository magento/pwa-studio, pull requests merged in 2021-06, with the labels that each got.

#3205 [chore] Added breaking changes section to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Progress: approved, version: Minor

#3178 PB Banner UI test
  venia-integration-tests/cypress.config.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner10.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner2.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner3.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner4.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner5.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner6.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner7.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner8.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner9.json
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/banner.spec.js/Page-Builder-Home-Page.snap.png
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/banner.spec.js/Page-Builder-Home-Page10.snap.png
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/banner.spec.js/Page-Builder-Home-Page2.snap.png
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/banner.spec.js/Page-Builder-Home-Page3.snap.png
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/banner.spec.js/Page-Builder-Home-Page4.snap.png
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/banner.spec.js/Page-Builder-Home-Page5.snap.png
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/banner.spec.js/Page-Builder-Home-Page6.snap.png
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/banner.spec.js/Page-Builder-Home-Page7.snap.png
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/banner.spec.js/Page-Builder-Home-Page8.snap.png
  venia-integration-tests/src/snapshots/pageBuilder/integrationTests/banner.spec.js/Page-Builder-Home-Page9.snap.png
  venia-integration-tests/src/tests/pageBuilder/integrationTests/banner.spec.js
Labels: Progress: approved, version: Patch

#3214 chore: External Ticket Labeler Action
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Progress: approved

#3202 magento/pwa-devdocs#: Fixes example in TargetableReactComponent page
  pwa-devdocs/src/pwa-buildpack/reference/targetables/TargetableReactComponent/index.md
Labels: Partner: Atwix, Progress: approved, partners-contribution, version: Patch

#3221 Update README.md
  README.md
Labels: Progress: approved

#3222 Update contributing doc with testing instructions
  .github/CONTRIBUTING.md
Labels: Progress: approved, version: Patch

#3219 [Docs] upward static dir tutorial
  pwa-devdocs/src/_data/tutorials.yml
  pwa-devdocs/src/tutorials/intercept-a-target/change-static-assets-directory/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#3198 [PWA-1658] Move graphql-cli-validate-magento-pwa-queries to @magento scope
  .eslintrc.js
  graphql.config.js
  package.json
  packages/extensions/venia-sample-payments-checkmo/client-schema.graphql
  packages/extensions/venia-sample-payments-checkmo/src/talons/checkmo.gql.js
  packages/pagebuilder/lib/ContentTypes/Block/__tests__/block.spec.js
  packages/pagebuilder/lib/__tests__/factory.spec.js
  packages/peregrine/.eslintrc.js
  packages/peregrine/lib/Apollo/client-schema.graphql
  packages/peregrine/lib/talons/CartPage/GiftOptions/__tests__/useGiftOptions.spec.js
  packages/peregrine/lib/talons/CartPage/GiftOptions/client-schema.graphql
  packages/peregrine/lib/talons/CartPage/GiftOptions/useGiftOptions.js
  packages/peregrine/lib/talons/CartPage/ProductListing/product.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/wishlistFragment.ce.js
  packages/peregrine/lib/talons/CartPage/ProductListing/wishlistFragment.ee.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/billingAddress.gql.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/client-schema.graphql
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/client-schema.graphql
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/creditCard.gql.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/paymentInformation.gql.js
  packages/peregrine/lib/talons/Header/client-schema.graphql
  packages/peregrine/lib/talons/Header/currencySwitcher.gql.js
  packages/peregrine/lib/talons/Wishlist/GalleryButton/client-schema.graphql
  packages/peregrine/lib/talons/Wishlist/GalleryButton/galleryButton.gql.js
  packages/peregrine/package.json
  packages/pwa-buildpack/.eslintrc.js
  packages/pwa-buildpack/lib/Utilities/configureHost.js
  packages/venia-concept/.eslintrc.js
  packages/venia-concept/.gitignore
  packages/venia-concept/.graphqlconfig
  packages/venia-concept/_buildpack/create.js
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/GiftOptions/giftOptions.gql.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListingFragments.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentInformation.gql.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/summary.gql.js
  packages/venia-ui/lib/components/Header/currencySwitcher.gql.js
  yarn.lock
Labels: Progress: approved, pkg:extensions, pkg:graphql-cli-validate-magento-pwa-queries, pkg:pagebuilder, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Major

#3223 [DRAFT] Restore Style Loader
  packages/pagebuilder/lib/ContentTypes/Products/Carousel/__tests__/carousel.spec.js
  packages/peregrine/lib/talons/Adapter/useAdapter.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getClientConfig.js
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getModuleRules.js
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-concept/webpack.config.js
  packages/venia-ui/lib/classify.js
  packages/venia-ui/lib/components/Adapter/__tests__/__snapshots__/adapter.spec.js.snap
  packages/venia-ui/lib/components/Adapter/adapter.js
  packages/venia-ui/lib/components/AddToCartDialog/addToCartDialog.js
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/lib/components/FilterSidebar/filterSidebar.js
  yarn.lock
Labels: Progress: changes requested, pkg:pagebuilder, pkg:peregrine, pkg:pwa-buildpack, pkg:venia-concept, pkg:venia-ui, version: Major

#3215 fix: Remove the extension from venia concept by default
  packages/extensions/venia-adobe-data-layer/README.md
  packages/venia-concept/package.json
Labels: Progress: approved, pkg:extensions, pkg:venia-concept, version: Minor

#3196 [bugfix] strip line comments when importing graphql files
  packages/pwa-buildpack/lib/queries/__tests__/index.spec.js
  packages/pwa-buildpack/lib/queries/index.js
Labels: Progress: approved, pkg:pwa-buildpack, version: Patch

#3227 Update Test Verification section
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Progress: approved

#3103 [FEATURE] #3102 Create a new Target for EditModal and Summary
  packages/extensions/venia-sample-payments-checkmo/src/components/checkmo.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/useBraintreeSummary.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/useEditModal.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/useSummary.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useBraintreeSummary.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useEditModal.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useSummary.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/braintreeSummary.gql.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/summary.gql.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useBraintreeSummary.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useEditModal.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useSummary.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/braintreeSummary.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/editCard.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/editModal.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/paymentInformation.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/summary.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/braintreeSummary.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/editCard.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/editModal.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/paymentInformation.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/summary.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/braintreeSummary.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/braintreeSummary.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editCard.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editCard.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editModal.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/editablePaymentCollection.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentInformation.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/summary.css
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/summary.gql.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/summary.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/summaryPaymentCollection.js
  packages/venia-ui/lib/targets/EditablePaymentTypes.js
  packages/venia-ui/lib/targets/SummaryPaymentTypes.js
  packages/venia-ui/lib/targets/venia-ui-declare.js
  packages/venia-ui/lib/targets/venia-ui-intercept.js
Labels: Partner: TechDivision, Progress: approved, partners-contribution, pkg:extensions, pkg:peregrine, pkg:venia-ui, version: Major

#3191 Fix Service Worker matching external top-level URLs
  packages/venia-concept/src/ServiceWorker/__tests__/registerRoutes.spec.js
  packages/venia-concept/src/ServiceWorker/registerRoutes.js
Labels: Progress: approved, pkg:venia-concept, version: Patch

#3106 Moving npm-is into pwa-studio.
  README.md
  package.json
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: Progress: approved, pkg:npm-is, version: Minor

#3210 Ticket #3209. Adds check by include_in_menu attribute before appendin…
  packages/peregrine/lib/talons/CategoryTree/__tests__/useCategoryTree.spec.js
  packages/peregrine/lib/talons/CategoryTree/useCategoryTree.js
Labels: Progress: approved, pkg:peregrine, version: Major

#3231 [Docs] upgrade steps and best practices
  CHANGELOG.md
  pwa-devdocs/src/_data/overview.yml
  pwa-devdocs/src/technologies/upgrading-versions/images/switch-versions.png
  pwa-devdocs/src/technologies/upgrading-versions/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#3207 Add to Multiple Wishlist from Cart
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useProduct.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useWishlist.ee.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useWishlist.ee.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useWishlist.ee.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/__tests__/useWishlistDialog.spec.js
  packages/peregrine/lib/talons/Wishlist/WishlistDialog/useWishlistDialog.js
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/product.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/product.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/__tests__/wishlistDialog.spec.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/wishlistDialog.js
Labels: Progress: approved, pkg:peregrine, pkg:venia-ui, version: Minor

#3242 Add to wishlist bug fix.
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/wishlistDialog.js
Labels: Progress: approved, pkg:venia-ui, version: Minor

#3228 PWA-1707: Cleanup whishlist for render empty
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlist.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistPage.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlist.spec.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlistPage.spec.js
  packages/venia-ui/lib/components/WishlistPage/wishlist.css
  packages/venia-ui/lib/components/WishlistPage/wishlist.js
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.js
Labels: Partner: TechDivision, Progress: approved, partners-contribution, pkg:venia-ui, version: Minor

#3245 Using --frozen-lockfile while running yarn install.
  docker/run-docker
Labels: Progress: approved, version: Minor

#3250 Update Cypress Readme
  venia-integration-tests/README.md
Labels: Progress: approved

#3218 Cypress multiple wishlist
  venia-integration-tests/src/actions/categoryPage/index.js
  venia-integration-tests/src/actions/index.js
  venia-integration-tests/src/actions/productPage/index.js
  venia-integration-tests/src/actions/wishlistPage/index.js
  venia-integration-tests/src/assertions/categoryPage/index.js
  venia-integration-tests/src/assertions/index.js
  venia-integration-tests/src/assertions/productPage/index.js
  venia-integration-tests/src/assertions/wishlist/index.js
  venia-integration-tests/src/fields/categoryPage/index.js
  venia-integration-tests/src/fields/productPage/index.js
  venia-integration-tests/src/fields/wishlist/index.js
  venia-integration-tests/src/fixtures/categoryPage/index.js
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/fixtures/productPage/index.js
  venia-integration-tests/src/fixtures/wishlist/index.js
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/ProductPageAddProductToWishlist.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/categoryPageAddProductToWishlist.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/categoryPageCreateWishlist2.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/categoryPageGetWishListDataForLocalFields.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/categoryPageGetWishListDataForLocalFieldsUpdated.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/categoryPageGetWishlistConfigForGallery.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/categoryPageGetWishlistDialogData.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/categoryPageGetWishlistDialogDataUpdated.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/categoryPageProductInWishlist.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/multipleWishlistEnabled.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/noWishlistPage.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/oneWishlistNoProductsPage.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/productPageGetWishlistDialogData.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/productPageWishlistConfig.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/twoWishlistOneProductPage.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/twoWishlistTwoProductPage.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/wishlistPageCreateWishlist1.json
  venia-integration-tests/src/tests/pageBuilder/integrationTests/banner.spec.js
  venia-integration-tests/src/tests/pageBuilder/integrationTests/buttons.spec.js
  venia-integration-tests/src/tests/pageBuilder/integrationTests/image.spec.js
  venia-integration-tests/src/tests/wishList/e2eTests/singleWishlistAddRemoveProduct.spec.js
  venia-integration-tests/src/tests/wishList/integrationTests/verifyMultipleWishlistFeatures.spec.js
Labels: Progress: approved

#3253 update cypress dir structure
  venia-integration-tests/src/tests/e2eTests/wishList/singleWishlistAddRemoveProduct.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/banner.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/buttons.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/image.spec.js
  venia-integration-tests/src/tests/integrationTests/wishList/verifyMultipleWishlistFeatures.spec.js
Labels: Progress: approved

#3243 [Doc] update wrappable talons topic
  pwa-devdocs/src/peregrine/reference/targets/wrappable-talons/index.md
  pwa-devdocs/src/technologies/upgrading-versions/index.md
Labels: Progress: approved, docs, documentation, pkg:pwa-devdocs, version: Patch

#3239 Adds ability to edit CheckMo extension Billing Address
  packages/extensions/venia-sample-payments-checkmo/intercept.js
  packages/extensions/venia-sample-payments-checkmo/src/components/__tests__/__snapshots__/edit.spec.js.snap
  packages/extensions/venia-sample-payments-checkmo/src/components/__tests__/__snapshots__/summary.spec.js.snap
  packages/extensions/venia-sample-payments-checkmo/src/components/__tests__/edit.spec.js
  packages/extensions/venia-sample-payments-checkmo/src/components/__tests__/summary.spec.js
  packages/extensions/venia-sample-payments-checkmo/src/components/checkmo.js
  packages/extensions/venia-sample-payments-checkmo/src/components/edit.css
  packages/extensions/venia-sample-payments-checkmo/src/components/edit.js
  packages/extensions/venia-sample-payments-checkmo/src/components/summary.css
  packages/extensions/venia-sample-payments-checkmo/src/components/summary.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/__tests__/useBillingAddress.spec.js
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/useBillingAddress.js
  packages/venia-ui/lib/components/CheckoutPage/BillingAddress/billingAddress.js
Labels: Progress: approved, pkg:extensions, pkg:peregrine, pkg:venia-concept, pkg:venia-ui, version: Minor
