Repository magento/pwa-studio, pull requests merged in 2022-02, with the labels that each got.

#3676 [PWA-1950] Fix click target for long spanning tabs
  packages/pagebuilder/lib/ContentTypes/Tabs/tabs.js
Labels: version: Patch, Progress: approved, pkg:pagebuilder

#3668 [PWA-2479] Hide create whishlist button when maximum number of wishlists reached
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useActionMenu.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useCreateWishlist.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/useCreateWishlist.spec.js
  packages/peregrine/lib/talons/WishlistPage/createWishlist.gql.js
  packages/peregrine/lib/talons/WishlistPage/useActionMenu.js
  packages/peregrine/lib/talons/WishlistPage/useCreateWishlist.js
  packages/peregrine/lib/talons/WishlistPage/wishlistConfig.gql.ee.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistPage.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/createWishlist.ee.js
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.js
  venia-integration-tests/src/assertions/wishlist/index.js
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/fiveWishlistOneProductPage.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/multipleWishlistEnabled.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/wishlistPageCreateWishlist4.json
  venia-integration-tests/src/fixtures/wishlist/multipleWishlist/wishlistPageCreateWishlist5.json
  venia-integration-tests/src/tests/integrationTests/wishList/verifyMultipleWishlistFeatures.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3636 [PWA-2465] Add Cypress test for About Us page
  venia-integration-tests/src/fixtures/aboutUsPage/aboutUsPage.json
  venia-integration-tests/src/fixtures/aboutUsPage/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/snapshots/integrationTests/aboutUsPage/aboutUsPage.spec.js/AboutUs.snap.png
  venia-integration-tests/src/tests/integrationTests/aboutUsPage/aboutUsPage.spec.js
Labels: version: Minor, Progress: approved

#3659 PWA-2463: Header - Logo dimensions overlap with main content
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.shimmer.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/Footer/__tests__/__snapshots__/footer.spec.js.snap
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/Footer/footer.module.css
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Header/header.module.css
  packages/venia-ui/lib/components/Image/resourceImage.js
  packages/venia-ui/lib/components/Image/simpleImage.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/components/SearchBar/__tests__/__snapshots__/suggestedProduct.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistItem.spec.js.snap
  venia-integration-tests/src/actions/header/index.js
  venia-integration-tests/src/fields/header/index.js
  venia-integration-tests/src/snapshots/integrationTests/customerService/customerService.spec.js/Customer-Service-Page.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/banner.spec.js/Page-Builder-Home-Page.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/banner.spec.js/Page-Builder-Home-Page2.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/banner.spec.js/Page-Builder-Home-Page3.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/banner.spec.js/Page-Builder-Home-Page4.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/banner.spec.js/Page-Builder-Home-Page7.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/banner.spec.js/Page-Builder-Home-Page8.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/banner.spec.js/Page-Builder-Home-Page9.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/block.spec.js/Page-Builder-CMS-Block.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/block.spec.js/Page-Builder-CMS-Page.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/block.spec.js/Page-Builder-Dynamic-Block.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/divider.spec.js/Page-Builder-Divider-Page.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/dynamicBlock.spec.js/Page-Builder-Dynamic-Block-Snapshot.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/image.spec.js/Page-Builder-Image-Snapshot-Mobile.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/map.spec.js/Page-Builder-Verify-Map---2-Locations.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/products.spec.js/PB-Products-Carousel-Continuous-Mode.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/products.spec.js/PB-Products-Carousel-Default-Mode.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/products.spec.js/PB-Products-Carousel-Mobile.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/products.spec.js/PB-Products-Carousel-Styles.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/products.spec.js/PB-Products-Grid-Mobile.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/row.spec.js/Page-Builder-Row-Video-Background.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/row.spec.js/Page-Builder-Row-Video-Background3.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-10.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-2.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-3.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-4.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-5.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-6.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-7.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-8.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/smokeTest.spec.js/Page-Builder-Smoke-Test-CMS-Block-Content.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/smokeTest.spec.js/Page-Builder-Smoke-Test-Dynamic-Block-Content.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/smokeTest.spec.js/Page-Builder-Smoke-Test.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/video.spec.js/Page-Builder-Video-Alignment-Page.snap.png
  venia-integration-tests/src/tests/e2eTests/anchorLinks/verifyAnchorLinks.spec.js
Labels: version: Minor, Progress: approved, pkg:venia-ui

#3672 PWA-1199: Remove Sign In link on 2nd step of checkout
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.module.css
  venia-integration-tests/src/assertions/checkoutPage/index.js
  venia-integration-tests/src/tests/e2eTests/checkout/editCartAndCheckout.spec.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3661 PWA-1961: [PB] Parallax video background is broken on Safari
  packages/pagebuilder/lib/ContentTypes/Row/__tests__/row.spec.js
  packages/pagebuilder/lib/ContentTypes/Row/row.js
Labels: version: Patch, Progress: approved, pkg:pagebuilder

#3694 Cypress updates
  venia-integration-tests/cypress.config.json
  venia-integration-tests/package.json
  venia-integration-tests/report-results.js
  venia-integration-tests/src/fixtures/categoryPage/index.js
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner10.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner2.json
  venia-integration-tests/src/fixtures/pageBuilder/banner/banner3.json
  venia-integration-tests/src/fixtures/pageBuilder/divider/divider.json
  venia-integration-tests/src/fixtures/pageBuilder/image/image.json
  venia-integration-tests/src/fixtures/pageBuilder/row/row-1.json
  venia-integration-tests/src/fixtures/pageBuilder/row/row-2.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider2.json
  venia-integration-tests/src/fixtures/pageBuilder/smokeTest/cmsBlockTest.json
  venia-integration-tests/src/fixtures/pageBuilder/smokeTest/dynamicBlockTest.json
  venia-integration-tests/src/fixtures/pageBuilder/smokeTest/smokeTest.json
  venia-integration-tests/src/fixtures/pageBuilder/tabs/tabs.json
  venia-integration-tests/src/fixtures/pageBuilder/text/text.json
  venia-integration-tests/src/snapshots/integrationTests/aboutUsPage/aboutUsPage.spec.js/AboutUs.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/banner.spec.js/Page-Builder-Home-Page10.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/map.spec.js/Page-Builder-Verify-Map---All-content.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/row.spec.js/Page-Builder-Row-Min-Height.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/row.spec.js/Page-Builder-Row-Video-Background2.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/row.spec.js/Page-Builder-Row2.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/slider.spec.js/Page-Builder-Slider-Page-12.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/smokeTest.spec.js/Page-Builder-Smoke-Test.snap.png
  venia-integration-tests/src/tests/e2eTests/anchorLinks/verifyAnchorLinks.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanAddItemFromCategory.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanAddItemFromSearch.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanRemoveItemFromCart.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userRemoveCartPromotions.spec.js
  venia-integration-tests/src/tests/e2eTests/category/guestCategoryAccess.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifySortAndPagination.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckoutWithRegionAndCC.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/registeredUserCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/customerAccount/addressBookActions.spec.js
  venia-integration-tests/src/tests/e2eTests/search/verifySearchFunctionality.spec.js
  venia-integration-tests/src/tests/e2eTests/search/verifySearchSuggestionFunctionality.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/banner.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/map.spec.js
  venia-integration-tests/src/tests/integrationTests/pageBuilder/smokeTest.spec.js
  venia-integration-tests/yarn.lock
Labels: version: Minor, Progress: approved

#3701 [PWA-2592] Skip row > video background3 test
  venia-integration-tests/src/tests/integrationTests/pageBuilder/row.spec.js
Labels: version: Patch, Progress: approved

#3698 [PWA-2552] Change default sort on search page to relevance
  packages/peregrine/lib/hooks/__tests__/useSort.spec.js
  packages/peregrine/lib/hooks/useSort.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategory.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  packages/venia-ui/lib/components/ProductSort/productSort.js
  venia-integration-tests/cypress.config.json
  venia-integration-tests/src/assertions/categoryPage/index.js
  venia-integration-tests/src/tests/e2eTests/category/verifySortAndPagination.spec.js
  venia-integration-tests/src/tests/e2eTests/search/verifySearchFunctionality.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3703 [PWA-2575] Wishlist page error when configured variant added
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/__tests__/index.spec.js
  packages/peregrine/lib/Apollo/policies/index.js
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlistItem.spec.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistItem.js
  packages/peregrine/lib/talons/WishlistPage/wishlistItemFragments.gql.js
  venia-integration-tests/src/fixtures/productPage/index.js
  venia-integration-tests/src/tests/e2eTests/wishList/singleWishlistAddRemoveProduct.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved

#3702 [PB-PWA-2064]: Add Google reCAPTCHA V3 validation to customer account forms
  packages/peregrine/lib/hooks/useGoogleReCaptcha/__tests__/useGoogleReCaptcha.spec.js
  packages/peregrine/lib/hooks/useGoogleReCaptcha/useGoogleReCaptcha.js
  packages/peregrine/lib/talons/AccountInformationPage/__tests__/__snapshots__/useAccountInformationPage.spec.js.snap
  packages/peregrine/lib/talons/AccountInformationPage/__tests__/useAccountInformationPage.spec.js
  packages/peregrine/lib/talons/AccountInformationPage/useAccountInformationPage.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/useCreateAccount.js
  packages/peregrine/lib/talons/CreateAccount/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CreateAccount/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPage.js
  packages/venia-ui/lib/components/AccountInformationPage/editModal.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/GoogleReCaptcha/googleReCaptcha.js
  packages/venia-ui/lib/components/SignIn/__tests__/signIn.spec.js
  packages/venia-ui/lib/components/SignIn/signIn.js
  venia-integration-tests/src/fixtures/accountAccess/createAccount.json
  venia-integration-tests/src/fixtures/accountAccess/index.js
  venia-integration-tests/src/fixtures/accountAccess/signIn.json
  venia-integration-tests/src/fixtures/accountInformationPage/changePassword.json
  venia-integration-tests/src/fixtures/accountInformationPage/customerInformation.json
  venia-integration-tests/src/fixtures/accountInformationPage/index.js
  venia-integration-tests/src/fixtures/googleReCaptchaApi/reCaptchaV3ConfigDefault.json
  venia-integration-tests/src/fixtures/googleReCaptchaApi/reCaptchaV3ConfigInline.json
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyAccountAccessReCaptcha.spec.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyAccountInformationReCaptcha.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, partners-contribution, Partner: Webjump

#3670 [PWA-2227] Use sample data with personalized content
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/discountSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/discountSummary.spec.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/discountSummary.js
  packages/venia-ui/lib/components/HomePage/homePage.module.css
Labels: version: Minor, Progress: approved, pkg:venia-ui

#3706 [PWA-2554] - Long wishlist name length breaks layout
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/WishlistLineItem/__tests__/__snapshots__/wishlistLineItem.spec.js.snap
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/WishlistLineItem/wishlistLineItem.js
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/WishlistLineItem/wishlistLineItem.module.css
  packages/venia-ui/lib/components/Wishlist/WishlistDialog/__tests__/__snapshots__/wishlistDialog.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlist.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/wishlist.js
  packages/venia-ui/lib/components/WishlistPage/wishlist.module.css
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3678 [PWA-2174] Dynamic Blocks GraphQL returns non-qualified blocks
  packages/peregrine/lib/talons/CartPage/PriceSummary/priceSummaryFragments.gql.js
  packages/peregrine/lib/talons/CmsDynamicBlock/__tests__/useCmsDynamicBlock.spec.js
  packages/peregrine/lib/talons/CmsDynamicBlock/client-schema.graphql
  packages/peregrine/lib/talons/CmsDynamicBlock/cmsDynamicBlock.gql.js
  packages/peregrine/lib/talons/CmsDynamicBlock/useCmsDynamicBlock.js
  packages/peregrine/lib/talons/MiniCart/miniCartFragments.gql.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/CmsDynamicBlock/__tests__/__snapshots__/cmsDynamicBlock.ee.spec.js.snap
  packages/venia-ui/lib/components/CmsDynamicBlock/__tests__/cmsDynamicBlock.ee.spec.js
  packages/venia-ui/lib/components/CmsDynamicBlock/cmsDynamicBlock.ee.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3690 PWA-2543: Parent product image thumbnail has been showns in mini cart instead of product itself
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useProduct.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useProduct.spec.js
  packages/peregrine/lib/util/__tests__/configuredVariant.spec.js
  packages/peregrine/lib/util/configuredVariant.js
  packages/venia-ui/lib/components/CartPage/ProductListing/productListing.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/item.spec.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/item.spec.js
  packages/venia-ui/lib/components/MiniCart/ProductList/item.js
  venia-integration-tests/src/assertions/miniCart/index.js
  venia-integration-tests/src/fields/miniCart/index.js
  venia-integration-tests/src/fixtures/multiStore/data/cart/addProductsToCart3.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/cart-3.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/details.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/priceSummary.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/productListing.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/categorySortMethods.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/productDetailScarf.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/productScarfRoute.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/view-1/storeConfig.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/view-1/subcategoryA.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/wishlistConfig.json
  venia-integration-tests/src/fixtures/multiStore/index.js
  venia-integration-tests/src/tests/integrationTests/multiStore/storeSwitching.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3695 PWA-2415: Configurable images are not shown in Edit Cart Item menu
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__fixtures__/configurableThumbnailSource.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/__snapshots__/useProductForm.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useProductForm.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/productForm.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productDetail.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/productDetail.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productDetail.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3713 [PWA-2228] Shimmer loader for dynamic blocks
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/__tests__/__snapshots__/dynamicBlock.ee.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/__tests__/__snapshots__/dynamicBlock.shimmer.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/__tests__/dynamicBlock.ee.spec.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/__tests__/dynamicBlock.shimmer.spec.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/configAggregator.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/dynamicBlock.ee.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/dynamicBlock.shimmer.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/dynamicBlock.shimmer.module.css
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/index.js
  packages/pagebuilder/lib/ContentTypes/Row/__tests__/configAggregator.spec.js
  packages/pagebuilder/lib/ContentTypes/Row/configAggregator.js
  packages/pagebuilder/lib/config.js
Labels: version: Minor, Progress: approved, pkg:pagebuilder

#3691 [PWA-2065] Add reCaptcha in checkout
  packages/peregrine/lib/hooks/useGoogleReCaptcha/__tests__/useGoogleReCaptcha.spec.js
  packages/peregrine/lib/hooks/useGoogleReCaptcha/useGoogleReCaptcha.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/useCreditCard.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useCreditCard.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/__snapshots__/creditCard.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/__tests__/creditCard.spec.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/brainTreeDropIn.js
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/creditCard.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/checkoutPage.spec.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.module.css
  packages/venia-ui/lib/components/GoogleReCaptcha/googleReCaptcha.js
  venia-integration-tests/src/fixtures/checkoutPage/index.js
  venia-integration-tests/src/fixtures/checkoutPage/paymentMethodSubmitValid.json
  venia-integration-tests/src/fixtures/checkoutPage/placeOrderSubmitValid.json
  venia-integration-tests/src/fixtures/googleReCaptchaApi/reCaptchaV3ConfigDefault.json
  venia-integration-tests/src/fixtures/googleReCaptchaApi/reCaptchaV3ConfigInline.json
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyCheckoutReCaptcha.spec.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyForgetPasswordReCaptcha.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3715 fix failing column and map test
  venia-integration-tests/src/fixtures/pageBuilder/column/column.json
  venia-integration-tests/src/fixtures/pageBuilder/image/image.json
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/map.spec.js/Page-Builder-Verify-Map---2-Locations.snap.png
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/map.spec.js/Page-Builder-Verify-Map---All-content.snap.png
  venia-integration-tests/src/tests/integrationTests/pageBuilder/map.spec.js
Labels: version: Minor, Progress: approved

#3609 Pwa 2172: Validate Shopping Cart Promotions are displayed correctly
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/talons/CartPage/PriceSummary/__tests__/useDiscountSummary.spec.js
  packages/peregrine/lib/talons/CartPage/PriceSummary/useDiscountSummary.js
  packages/peregrine/lib/talons/CartPage/PriceSummary/usePriceSummary.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/discountSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/priceSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/discountSummary.spec.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/discountSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/discountSummary.module.css
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.module.css
  packages/venia-ui/package.json
  venia-integration-tests/src/actions/cartPage/index.js
  venia-integration-tests/src/assertions/cartPage/index.js
  venia-integration-tests/src/fields/cartPage/index.js
  venia-integration-tests/src/fields/checkoutPage/index.js
  venia-integration-tests/src/fixtures/cartPage/priceSummary/cartDetails.json
  venia-integration-tests/src/fixtures/cartPage/priceSummary/priceSummary.json
  venia-integration-tests/src/fixtures/pageBuilder/block/block.json
  venia-integration-tests/src/tests/integrationTests/cartPage/discountSummary.spec.js
  yarn.lock
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, pkg:extensions

#3704 PWA-1895: workaround Prettier mangling arbitrary values in Tailwind
  packages/pwa-theme-venia/tw-issues.txt
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressBook.module.css
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/orderConfirmationPage.module.css
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.module.css
  packages/venia-ui/lib/components/OrderHistoryPage/orderRow.module.css
  packages/venia-ui/lib/components/SavedPaymentsPage/savedPaymentsPage.module.css
Labels: Progress: approved, pkg:venia-ui, pkg:pwa-theme-venia

#3710 [PWA-1085][Cypress] Add tests for offline mode
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/SearchBar/suggestedProduct.js
  venia-integration-tests/src/assertions/categoryPage/index.js
  venia-integration-tests/src/assertions/index.js
  venia-integration-tests/src/assertions/offline/index.js
  venia-integration-tests/src/fields/categoryPage/index.js
  venia-integration-tests/src/fields/header/index.js
  venia-integration-tests/src/fixtures/categoryPage/index.js
  venia-integration-tests/src/fixtures/productPage/index.js
  venia-integration-tests/src/support/exceptions.js
  venia-integration-tests/src/support/index.js
  venia-integration-tests/src/support/networkCommands.js
  venia-integration-tests/src/tests/e2eTests/offline/offlineTest.spec.js
Labels: version: Patch, Progress: approved, pkg:venia-ui
