Repository magento/pwa-studio, pull requests merged in 2022-11, with the labels that each got.

#3874 Jconabree/issue 3873 talon exports
  packages/pagebuilder/lib/ContentTypes/Banner/banner.js
  packages/peregrine/lib/hooks/__tests__/useDelayedTransition.spec.js
  packages/peregrine/lib/hooks/__tests__/useInternalLink.spec.js
  packages/peregrine/lib/hooks/__tests__/useIntersectionObserver.spec.js
  packages/peregrine/lib/hooks/__tests__/useScript.spec.js
  packages/peregrine/lib/hooks/useDelayedTransition.js
  packages/peregrine/lib/hooks/useGoogleReCaptcha/__tests__/useGoogleReCaptcha.spec.js
  packages/peregrine/lib/hooks/useGoogleReCaptcha/useGoogleReCaptcha.js
  packages/peregrine/lib/hooks/useInternalLink.js
  packages/peregrine/lib/hooks/useIntersectionObserver.js
  packages/peregrine/lib/hooks/useIsInViewport.js
  packages/peregrine/lib/hooks/useScript.js
  packages/peregrine/lib/talons/Breadcrumbs/__tests__/useBreadcrumbs.spec.js
  packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js
  packages/peregrine/lib/talons/CategoryList/__tests__/useCategoryTile.spec.js
  packages/peregrine/lib/talons/CategoryList/useCategoryTile.js
  packages/peregrine/lib/talons/ContactPage/__tests__/useContactLink.spec.js
  packages/peregrine/lib/talons/ContactPage/__tests__/useContactPage.spec.js
  packages/peregrine/lib/talons/ContactPage/index.js
  packages/peregrine/lib/talons/ContactPage/useContactLink.js
  packages/peregrine/lib/talons/ContactPage/useContactPage.js
  packages/peregrine/lib/talons/Gallery/useGalleryItem.js
  packages/peregrine/lib/talons/Link/__tests__/useLink.spec.js
  packages/peregrine/lib/talons/Link/useLink.js
  packages/peregrine/lib/talons/MegaMenu/__tests__/useMegaMenu.spec.js
  packages/peregrine/lib/talons/MegaMenu/useMegaMenu.js
  packages/peregrine/lib/talons/Navigation/useNavigation.js
  packages/peregrine/lib/talons/PageLoadingIndicator/__tests__/usePageLoadingIndicator.spec.js
  packages/peregrine/lib/talons/PageLoadingIndicator/usePageLoadingIndicator.js
  packages/venia-ui/lib/components/App/__tests__/app.spec.js
  packages/venia-ui/lib/components/App/app.js
  packages/venia-ui/lib/components/Link/__tests__/link.spec.js
  packages/venia-ui/lib/components/Link/link.js
  packages/venia-ui/lib/components/PageLoadingIndicator/__tests__/pageLoadingIndicator.spec.js
  packages/venia-ui/lib/components/PageLoadingIndicator/pageLoadingIndicator.js
Labels: pkg:peregrine, version: Major, Progress: approved, pkg:venia-ui, pkg:pagebuilder

#4000 merge main to develop
  .github/SUPPORT.md
  CHANGELOG.md
  magento-compatibility.js
  package.json
  packages/babel-preset-peregrine/README.md
  packages/babel-preset-peregrine/package.json
  packages/create-pwa/package.json
  packages/extensions/experience-platform-connector/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-sample-backends/package.json
  packages/extensions/venia-sample-eventing/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/graphql-cli-validate-magento-pwa-queries/lib/index.js
  packages/pagebuilder/package.json
  packages/peregrine/README.md
  packages/peregrine/docs/RestApi.md
  packages/peregrine/docs/Router.md
  packages/peregrine/lib/targets/HookInterceptorSet.js
  packages/peregrine/lib/targets/peregrine-declare.js
  packages/peregrine/package.json
  packages/pwa-buildpack/README.md
  packages/pwa-buildpack/docs/MagentoResolver.md
  packages/pwa-buildpack/docs/MagentoRootComponentsPlugin.md
  packages/pwa-buildpack/docs/PWADevServer.md
  packages/pwa-buildpack/docs/ServiceWorkerPlugin.md
  packages/pwa-buildpack/lib/BuildBus/TargetProvider.js
  packages/pwa-buildpack/lib/BuildBus/declare-base.js
  packages/pwa-buildpack/lib/Utilities/getEnvVarDefinitions.js
  packages/pwa-buildpack/package.json
  packages/pwa-theme-venia/package.json
  packages/venia-concept/README.md
  packages/venia-concept/package.json
  packages/venia-concept/upward.yml
  packages/venia-ui/package.json
  pwa-devdocs/README.md
  pwa-devdocs/package.json
  pwa-devdocs/src/_includes/layout/header-scripts.html
  pwa-devdocs/src/frequently-asked-questions/index.md
  pwa-devdocs/src/technologies/overview/index.md
  pwa-devdocs/src/tutorials/cloud-deploy/index.md
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, pkg:graphql-cli-validate-magento-pwa-queries, pkg:babel-preset-peregrine, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, pkg:pwa-theme-venia

#3974 DONT MERGE - Test branch
  package.json
  packages/create-pwa/package.json
  packages/extensions/experience-platform-connector/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-sample-eventing/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/pwa-theme-venia/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: pkg:peregrine, pkg:venia-concept, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, Progress: ready for review, pkg:pwa-theme-venia

#3982 BUG#3982 Add uid instead of id in noProductsFound.js
  packages/venia-ui/lib/RootComponents/Category/NoProductsFound/noProductsFound.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3931 AC-2489::Page title for search page not informative (Search Results)
  packages/peregrine/lib/talons/SearchPage/__tests__/__snapshots__/useSearchPage.spec.js.snap
  packages/peregrine/lib/talons/SearchPage/__tests__/useSearchPage.spec.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/searchPage.js
Labels: pkg:peregrine, Progress: approved, pkg:venia-ui

#3971 AC-6477-There's no message to inform the user the page refreshed its …
  packages/venia-ui/lib/components/AccountChip/__tests__/__snapshots__/accountChip.spec.js.snap
  packages/venia-ui/lib/components/AccountChip/accountChip.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3978 AC-6675::When the button create an account is pressed by the keyboard…
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/useCreateAccount.js
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#4001 PWA-2971: [bug]: Gallery item Add To Cart configurable product redire…
  packages/peregrine/lib/talons/Gallery/__tests__/useAddToCartButton.spec.js
  packages/peregrine/lib/talons/Gallery/useAddToCartButton.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#3952 AC-2492::Missing visual text label for buttons
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatch.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatchList.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/swatch.spec.js
  packages/venia-ui/lib/components/ProductOptions/option.js
  packages/venia-ui/lib/components/ProductOptions/swatch.js
  packages/venia-ui/lib/components/ProductOptions/swatchList.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3932 AC-2479::Visual text label does not match accessible name. (Global He…
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useAccountTrigger.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useAccountTrigger.spec.js
  packages/peregrine/lib/talons/Header/useAccountTrigger.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/AccountChip/__tests__/__snapshots__/accountChip.spec.js.snap
  packages/venia-ui/lib/components/AccountChip/accountChip.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/accountTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/accountTrigger.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3973 AC-6677::The button seems to not be working with the keyboard. When the ENTER key is pressed, nothing is happening
  packages/peregrine/lib/talons/CartPage/PriceSummary/__tests__/__snapshots__/usePriceSummary.spec.js.snap
  packages/peregrine/lib/talons/CartPage/PriceSummary/usePriceSummary.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/priceSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, Progress: on hold

#3979 AC-6678::The button is not usable by keyboard
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3977 AC-2487::Accordions do not indicate current state
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/FilterModalOpenButton/filterModalOpenButton.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderRow.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/orderRow.js
  packages/venia-ui/lib/components/ProductSort/__tests__/__snapshots__/productSort.spec.js.snap
  packages/venia-ui/lib/components/ProductSort/productSort.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3980 AC-6679::The button is not usable by keyboard
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#4006 Update README.md
  README.md
Labels: version: Patch, Progress: approved, needs triage

#3944 AC-2498-Images lacking meaningful alternative text. (Account - Order …
  packages/peregrine/lib/talons/OrderHistoryPage/orderRow.gql.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.shimmer.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Image/placeholderImage.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/collapsedImageGallery.js
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/components/SearchBar/__tests__/__snapshots__/suggestedProduct.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistItem.spec.js.snap
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#4002 Update Code of Conduct
  .github/CODE_OF_CONDUCT.md
Labels: version: Patch, Progress: approved

#3962 BUG#AC-2485 No visual indication of focus on buttons. (pattern: Butto…
  packages/venia-ui/lib/components/Checkout/section.module.css
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/thumbnail.spec.js
  packages/venia-ui/lib/components/ProductImageCarousel/thumbnail.js
  packages/venia-ui/lib/components/ProductImageCarousel/thumbnail.module.css
  packages/venia-ui/lib/components/QuantityStepper/quantityStepper.module.css
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3961 Fix#AC-2494 No indication of required input fields (pattern: Required…
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/customerForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/guestForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: version: Patch, Progress: approved, pkg:venia-ui
