Repository magento/pwa-studio, pull requests merged in 2022-06, with the labels that each got.

#3806 AC-2478::Search results summary information not announced to screen r…
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/searchPage.js
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, pkg:upward-js, pkg:upward-spec, version: Patch, pkg:babel-preset-peregrine, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, pkg:pwa-theme-venia

#3870 PWA-2096: Track Checkout
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/useEditModal.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/__snapshots__/usePaymentInformation.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useEditModal.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/usePaymentInformation.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useEditModal.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/usePaymentInformation.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useCustomerForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useGuestForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useCustomerForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/useGuestForm.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useCustomerForm.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useGuestForm.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/__tests__/__snapshots__/useShippingInformation.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/__tests__/useShippingInformation.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/useShippingInformation.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingMethod/useShippingMethod.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useShippingMethod.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useShippingMethod.spec.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
Labels: pkg:peregrine, version: Minor, Progress: approved

#3687 PWA-1441 [feature]: Switching stores results in error page if slug changes between stores
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/Router/__tests__/resolveUnknownRoute.test.js
  packages/peregrine/lib/hooks/useDelayedTransition.js
  packages/peregrine/lib/talons/Adapter/__tests__/useAdapter.spec.js
  packages/peregrine/lib/talons/Adapter/useAdapter.js
  packages/peregrine/lib/talons/Breadcrumbs/useBreadcrumbs.js
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useStoreSwitcher.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useStoreSwitcher.spec.js
  packages/peregrine/lib/talons/Header/storeSwitcher.gql.js
  packages/peregrine/lib/talons/Header/useStoreSwitcher.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategory.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/useCategory.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/peregrine/lib/util/__tests__/makeUrl.spec.js
  packages/peregrine/lib/util/makeUrl.js
  packages/pwa-buildpack/lib/queries/getAvailableStoresConfigData.graphql
  packages/venia-concept/webpack.config.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/Category/category.js
  packages/venia-ui/lib/components/Header/storeSwitcher.js
  packages/venia-ui/lib/components/StoreCodeRoute/__tests__/storeCodeRoute.spec.js
  packages/venia-ui/lib/components/StoreCodeRoute/storeCodeRoute.js
  packages/venia-ui/lib/targets/__tests__/venia-ui-targets.spec.js
  venia-integration-tests/src/fixtures/multiStore/data/homeRoute.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/accessoriesRoute.json
  venia-integration-tests/src/tests/integrationTests/multiStore/storeSwitching.spec.js
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, version: Minor, Progress: approved, pkg:venia-ui, pkg:extensions

#3878 Fix flaky test
  venia-integration-tests/src/assertions/app/index.js
  venia-integration-tests/src/assertions/categoryPage/index.js
  venia-integration-tests/src/fixtures/categoryPage/index.js
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
Labels: Progress: approved

#3879 [PWA-2879] Custom Beacon extension event
  packages/extensions/experience-platform-connector/intercept.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/__mocks__/searchResponseReceived.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/searchResponseReceived.spec.js
  packages/extensions/experience-platform-connector/src/handlers/searchResponseReceived.js
  packages/extensions/experience-platform-connector/src/wrappers/wrapUseAutocomplete.js
  packages/peregrine/lib/talons/SearchBar/useAutocomplete.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:extensions

#3888 [Bugfix] Search and category filter sorting bug
  packages/peregrine/lib/talons/FilterModal/__tests__/helpers.spec.js
  packages/peregrine/lib/talons/FilterModal/__tests__/useFilterModal.spec.js
  packages/peregrine/lib/talons/FilterModal/helpers.js
  packages/peregrine/lib/talons/FilterModal/useFilterModal.js
  packages/peregrine/lib/talons/FilterSidebar/__tests__/useFilterSidebar.spec.js
  packages/peregrine/lib/talons/FilterSidebar/useFilterSidebar.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#3894 Update experience platform connector version
  packages/extensions/experience-platform-connector/package.json
Labels: Progress: approved, pkg:extensions

#3895 Update 12.5 magento compatibility
  magento-compatibility.js
Labels: Progress: approved

#3897 update stale package versions
  packages/extensions/experience-platform-connector/package.json
  packages/extensions/venia-sample-eventing/package.json
Labels: Progress: approved, pkg:extensions

#3887 12.5 changelog
  CHANGELOG.md
  images/score_21.svg
  images/score_31.svg
  images/score_32.svg
  images/score_34.svg
  images/score_61.svg
  images/score_84.svg
  images/score_88.svg
Labels: Progress: approved, needs triage

#3899 back merge main to develop
  CHANGELOG.md
  images/score_21.svg
  images/score_31.svg
  images/score_32.svg
  images/score_34.svg
  images/score_61.svg
  images/score_84.svg
  images/score_88.svg
  magento-compatibility.js
  package.json
  packages/create-pwa/package.json
  packages/extensions/experience-platform-connector/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-sample-backends/package.json
  packages/extensions/venia-sample-eventing/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, pkg:upward-js, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions
