Repository magento/pwa-studio, pull requests merged in 2022-08, with the labels that each got.

#3925 [bugfix] fix kebab menu items on cart page in mobile view
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/LegacyMiniCart/__tests__/__snapshots__/section.spec.js.snap
  packages/venia-ui/lib/components/LegacyMiniCart/section.js
Labels: version: Minor, Progress: approved, pkg:venia-ui

#3927 Changelog for 12.6.0
  CHANGELOG.md
  images/score_39.svg
  images/score_63.svg
  images/score_94.svg
  images/score_96.svg
  magento-compatibility.js
Labels: Progress: approved, needs triage

#3928 Backmerge to develop
  CHANGELOG.md
  images/score_39.svg
  images/score_63.svg
  images/score_94.svg
  images/score_96.svg
  magento-compatibility.js
  package.json
  packages/create-pwa/package.json
  packages/extensions/experience-platform-connector/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-sample-eventing/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/LegacyMiniCart/__tests__/__snapshots__/section.spec.js.snap
  packages/venia-ui/lib/components/LegacyMiniCart/section.js
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: pkg:peregrine, pkg:venia-concept, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions

#3903 PWA-2482: Update product detail page for out of stock variations
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/talons/AddToCartDialog/__tests__/useAddToCartDialog.spec.js
  packages/peregrine/lib/talons/AddToCartDialog/useAddToCartDialog.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/__snapshots__/useProductForm.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useProductForm.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/productFormFragment.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
  packages/peregrine/lib/talons/CartPage/ProductListing/productListingFragments.gql.js
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/useProductFullDetail.spec.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/ProductOptions/useOptions.js
  packages/peregrine/lib/talons/WishlistPage/wishlistItemFragments.gql.js
  packages/peregrine/lib/util/__tests__/createProductVariants.spec.js
  packages/peregrine/lib/util/__tests__/findAllMatchingVariants.spec.js
  packages/peregrine/lib/util/__tests__/getCombinations.spec.js
  packages/peregrine/lib/util/__tests__/getOutOfStockIndexes.spec.js
  packages/peregrine/lib/util/__tests__/getOutOfStockVariants.spec.js
  packages/peregrine/lib/util/__tests__/getOutOfStockVariantsWithInitialSelection.spec.js
  packages/peregrine/lib/util/createProductVariants.js
  packages/peregrine/lib/util/findAllMatchingVariants.js
  packages/peregrine/lib/util/getCombinations.js
  packages/peregrine/lib/util/getOutOfStockIndexes.js
  packages/peregrine/lib/util/getOutOfStockVariants.js
  packages/peregrine/lib/util/getOutOfStockVariantsWithInitialSelection.js
  packages/peregrine/lib/util/isProductConfigurable.js
  packages/pwa-theme-venia/tailwind.preset.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/AddToCartDialog/__tests__/__snapshots__/addToCartDialog.spec.js.snap
  packages/venia-ui/lib/components/AddToCartDialog/__tests__/addToCartDialog.spec.js
  packages/venia-ui/lib/components/AddToCartDialog/addToCartDialog.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/productForm.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.module.css
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/swatch.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/tile.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/swatch.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/tile.spec.js
  packages/venia-ui/lib/components/ProductOptions/option.js
  packages/venia-ui/lib/components/ProductOptions/options.js
  packages/venia-ui/lib/components/ProductOptions/swatch.js
  packages/venia-ui/lib/components/ProductOptions/swatch.module.css
  packages/venia-ui/lib/components/ProductOptions/swatchList.js
  packages/venia-ui/lib/components/ProductOptions/tile.js
  packages/venia-ui/lib/components/ProductOptions/tile.module.css
  packages/venia-ui/lib/components/ProductOptions/tileList.js
  venia-integration-tests/src/assertions/productPage/index.js
  venia-integration-tests/src/tests/integrationTests/multiStore/storeSwitching.spec.js
Labels: pkg:peregrine, version: Major, Progress: approved, pkg:venia-ui, pkg:extensions, pkg:pwa-theme-venia

#3648 Fix typo in component import name; consolidate import
  packages/venia-ui/lib/components/Gallery/item.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3891 AC-3522::Product search result with items count is not being read by screen reader
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/searchPage.js
Labels: version: Patch, Progress: approved, pkg:venia-ui
