Repository magento/pwa-studio, pull requests merged in 2022-05, with the labels that each got.

#3811 backmerge main to develop
  CHANGELOG.md
  magento-compatibility.js
  package.json
  packages/babel-preset-peregrine/package.json
  packages/create-pwa/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-adobe-data-layer/package.json
  packages/extensions/venia-sample-backends/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/lib/ContentTypes/Products/products.js
  packages/pagebuilder/package.json
  packages/peregrine/lib/talons/RootComponents/Category/categoryFragments.gql.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/pwa-theme-venia/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/Gallery/item.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.module.css
  packages/venia-ui/lib/components/SearchBar/suggestedProduct.js
  packages/venia-ui/package.json
  pwa-devdocs/package.json
  venia-integration-tests/src/fixtures/categoryPage/productMockCall/productMockResponse.json
  venia-integration-tests/src/fixtures/multiStore/data/default/accessoriesCategory.json
  venia-integration-tests/src/fixtures/multiStore/data/default/topsCategory.json
  venia-integration-tests/src/fixtures/multiStore/data/productsCarousel.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/subcategoryACategory.json
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, pkg:upward-js, pkg:upward-spec, pkg:babel-preset-peregrine, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, Progress: ready for review, pkg:pwa-theme-venia

#3773 [PWA-2742] Eventing framework
  packages/extensions/venia-sample-eventing/intercept.js
  packages/extensions/venia-sample-eventing/main.js
  packages/extensions/venia-sample-eventing/package.json
  packages/pagebuilder/package.json
  packages/peregrine/lib/PeregrineContextProvider/__tests__/__snapshots__/peregrineContextProvider.spec.js.snap
  packages/peregrine/lib/PeregrineContextProvider/peregrineContextProvider.js
  packages/peregrine/lib/context/eventing.js
  packages/peregrine/lib/talons/CmsDynamicBlock/__tests__/useCmsDynamicBlock.spec.js
  packages/peregrine/package.json
  packages/upward-js/package.json
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/SearchBar/__tests__/autocomplete.spec.js
  packages/venia-ui/package.json
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
  yarn.lock
Labels: pkg:peregrine, pkg:venia-concept, pkg:upward-js, version: Minor, Progress: approved, pkg:venia-ui, pkg:pagebuilder, pkg:extensions

#3845 PWA-2801: Reduce docker build context size
  .dockerignore
Labels: version: Patch, Progress: approved

#3857 [a11y] Accessibility Enhancements - Group 1
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/currencySwitcher.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/storeSwitcher.spec.js.snap
  packages/venia-ui/lib/components/Header/currencySwitcher.js
  packages/venia-ui/lib/components/Header/storeSwitcher.js
  packages/venia-ui/lib/index.module.css
  packages/venia-ui/lib/tokens.module.css
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3843 [Eventing] Track mini cart views
  packages/peregrine/lib/talons/MiniCart/__tests__/__snapshots__/useMiniCart.spec.js.snap
  packages/peregrine/lib/talons/MiniCart/__tests__/useMiniCart.spec.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3842 Make Apollo links customizable
  package.json
  packages/peregrine/lib/Apollo/links/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/links/__tests__/gqlCacheLink.spec.js
  packages/peregrine/lib/Apollo/links/__tests__/index.spec.js
  packages/peregrine/lib/Apollo/links/authLink.js
  packages/peregrine/lib/Apollo/links/errorLink.js
  packages/peregrine/lib/Apollo/links/gqlCacheLink.js
  packages/peregrine/lib/Apollo/links/index.js
  packages/peregrine/lib/Apollo/links/mutationQueueLink.js
  packages/peregrine/lib/Apollo/links/retryLink.js
  packages/peregrine/lib/Apollo/links/storeLink.js
  packages/peregrine/lib/Apollo/magentoGqlCacheLink.js
  packages/peregrine/lib/talons/Adapter/__tests__/useAdapter.spec.js
  packages/peregrine/lib/talons/Adapter/useAdapter.js
  packages/venia-concept/src/index.js
  yarn.lock
Labels: pkg:peregrine, pkg:venia-concept, version: Minor, Progress: approved

#3858 [a11y] Accessibility Enhancements - Group 2
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/__snapshots__/accountInformationPage.spec.js.snap
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPage.js
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addressBookPage.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/addressBookPage.js
  packages/venia-ui/lib/components/AddressBookPage/addressBookPage.module.css
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/__tests__/__snapshots__/addressBook.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/AddressBook/addressBook.js
  packages/venia-ui/lib/components/CheckoutPage/GuestSignIn/__tests__/__snapshots__/guestSignIn.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/GuestSignIn/guestSignIn.js
  packages/venia-ui/lib/components/CheckoutPage/OrderSummary/__tests__/__snapshots__/orderSummary.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/OrderSummary/orderSummary.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/Footer/__tests__/__snapshots__/footer.spec.js.snap
  packages/venia-ui/lib/components/Footer/footer.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/cartTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/cartTrigger.js
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/Logo/logo.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/__snapshots__/resetPassword.spec.js.snap
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderHistoryPage.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/SavedPaymentsPage/__tests__/__snapshots__/savedPaymentsPage.spec.js.snap
  packages/venia-ui/lib/components/SavedPaymentsPage/savedPaymentsPage.js
  packages/venia-ui/lib/components/SortedByContainer/sortedByContainer.module.css
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistPage.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3809 Cypress update tags
  venia-integration-tests/src/tests/e2eTests/anchorLinks/verifyAnchorLinks.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanAddItemFromCategory.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanAddItemFromSearch.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanRemoveItemFromCart.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userRemoveCartPromotions.spec.js
  venia-integration-tests/src/tests/e2eTests/category/guestCategoryAccess.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifySortAndPagination.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/editCartAndCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckoutWithRegionAndCC.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/registeredUserCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/customerAccount/addressBookActions.spec.js
  venia-integration-tests/src/tests/e2eTests/customerAccount/customerAccountActions.spec.js
  venia-integration-tests/src/tests/e2eTests/localization/localization.spec.js
  venia-integration-tests/src/tests/e2eTests/miniCart/miniCartActions.spec.js
  venia-integration-tests/src/tests/e2eTests/notFound/routeNotFoundAccess.spec.js
  venia-integration-tests/src/tests/e2eTests/resource/userCanVerifyVersions.spec.js
  venia-integration-tests/src/tests/e2eTests/search/verifySearchFunctionality.spec.js
  venia-integration-tests/src/tests/e2eTests/search/verifySearchSuggestionFunctionality.spec.js
  venia-integration-tests/src/tests/e2eTests/wishList/singleWishlistAddRemoveProduct.spec.js
  venia-integration-tests/src/tests/integrationTests/cart/verifyGiftOptions.spec.js
  venia-integration-tests/src/tests/integrationTests/cartPage/discountSummary.spec.js
  venia-integration-tests/src/tests/integrationTests/contactPage/userCanSubmitForm.spec.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyAccountAccessReCaptcha.spec.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyAccountInformationReCaptcha.spec.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyCheckoutReCaptcha.spec.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyForgetPasswordReCaptcha.spec.js
  venia-integration-tests/src/tests/integrationTests/multiStore/storeSwitching.spec.js
  venia-integration-tests/src/tests/integrationTests/newsletter/resetErrorOnSubmit.spec.js
  venia-integration-tests/src/tests/integrationTests/wishList/verifyMultipleWishlistFeatures.spec.js
Labels: Progress: approved

#3856 PWA-209: Track Page Views
  packages/extensions/venia-sample-eventing/main.js
  packages/peregrine/lib/talons/CartPage/ProductListing/productListingFragments.gql.js
  packages/peregrine/lib/talons/CartPage/__tests__/__snapshots__/useCartPage.spec.js.snap
  packages/peregrine/lib/talons/CartPage/__tests__/useCartPage.spec.js
  packages/peregrine/lib/talons/CartPage/useCartPage.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/itemsReviewFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/orderConfirmationPageFragments.gql.js
  packages/peregrine/lib/talons/CheckoutPage/__tests__/__snapshots__/useCheckoutPage.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/__tests__/useCheckoutPage.spec.js
  packages/peregrine/lib/talons/CheckoutPage/checkoutPage.gql.js
  packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  packages/peregrine/lib/talons/Cms/__tests__/__snapshots__/useCmsPage.spec.js.snap
  packages/peregrine/lib/talons/Cms/__tests__/useCmsPage.spec.js
  packages/peregrine/lib/talons/Cms/useCmsPage.js
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategoryContent.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategoryContent.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryContent.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/peregrine/lib/talons/RootComponents/Product/__tests__/__snapshots__/useProduct.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Product/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/RootComponents/Product/useProduct.js
  packages/venia-ui/lib/RootComponents/CMS/__tests__/cms.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/itemsReview.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, pkg:extensions

#3844 PWA-2783: Track Search Requests
  packages/peregrine/lib/talons/SearchPage/__tests__/__snapshots__/useSearchPage.spec.js.snap
  packages/peregrine/lib/talons/SearchPage/__tests__/useSearchPage.spec.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  venia-integration-tests/src/fixtures/categoryPage/index.js
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#3863 PWA-2522: Remove the Venia Adobe Data Layer extension
  CHANGELOG.md
  packages/extensions/venia-adobe-data-layer/README.md
  packages/extensions/venia-adobe-data-layer/index.js
  packages/extensions/venia-adobe-data-layer/intercept.js
  packages/extensions/venia-adobe-data-layer/package.json
Labels: version: Patch, Progress: approved, pkg:extensions, needs triage

#3860 Track Carts Operations
  packages/pagebuilder/lib/ContentTypes/Products/products.js
  packages/peregrine/lib/talons/AddToCartDialog/__tests__/__snapshots__/useAddToCartDialog.spec.js.snap
  packages/peregrine/lib/talons/AddToCartDialog/__tests__/useAddToCartDialog.spec.js
  packages/peregrine/lib/talons/AddToCartDialog/addToCartDialog.gql.js
  packages/peregrine/lib/talons/AddToCartDialog/useAddToCartDialog.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__fixtures__/configurableProduct.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/__snapshots__/useProductForm.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/__tests__/useProductForm.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/__snapshots__/useProduct.spec.js.snap
  packages/peregrine/lib/talons/CartPage/ProductListing/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/CartPage/ProductListing/useProduct.js
  packages/peregrine/lib/talons/Gallery/__tests__/__snapshots__/useAddToCartButton.spec.js.snap
  packages/peregrine/lib/talons/Gallery/__tests__/useAddToCartButton.spec.js
  packages/peregrine/lib/talons/Gallery/useAddToCartButton.js
  packages/peregrine/lib/talons/MiniCart/ProductList/productListFragments.gql.js
  packages/peregrine/lib/talons/MiniCart/__tests__/__snapshots__/useMiniCart.spec.js.snap
  packages/peregrine/lib/talons/MiniCart/__tests__/useMiniCart.spec.js
  packages/peregrine/lib/talons/MiniCart/useMiniCart.js
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/__snapshots__/useProductFullDetail.spec.js.snap
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/useProductFullDetail.spec.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryFragments.gql.js
  packages/peregrine/lib/talons/RootComponents/Product/productDetailFragment.gql.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/peregrine/lib/talons/WishlistPage/__tests__/__snapshots__/useWishlistItem.spec.js.snap
  packages/peregrine/lib/talons/WishlistPage/__tests__/useWishlistItem.spec.js
  packages/peregrine/lib/talons/WishlistPage/useWishlistItem.js
  packages/peregrine/lib/talons/WishlistPage/wishlistItemFragments.gql.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:pagebuilder

#3855 [Eventing] User account events
  packages/peregrine/lib/talons/AccountInformationPage/__tests__/__snapshots__/useAccountInformationPage.spec.js.snap
  packages/peregrine/lib/talons/AccountInformationPage/__tests__/useAccountInformationPage.spec.js
  packages/peregrine/lib/talons/AccountInformationPage/useAccountInformationPage.js
  packages/peregrine/lib/talons/AddressBookPage/__tests__/__snapshots__/useAddressBookPage.spec.js.snap
  packages/peregrine/lib/talons/AddressBookPage/__tests__/useAddressBookPage.spec.js
  packages/peregrine/lib/talons/AddressBookPage/useAddressBookPage.js
  packages/peregrine/lib/talons/AuthModal/useAuthModal.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/useCreateAccount.js
  packages/peregrine/lib/talons/CreateAccount/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CreateAccount/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/Header/__tests__/__snapshots__/useAccountMenu.spec.js.snap
  packages/peregrine/lib/talons/Header/__tests__/useAccountMenu.spec.js
  packages/peregrine/lib/talons/Header/useAccountMenu.js
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/SignIn/__tests__/signIn.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3790 AC-2497::Credit card entry format is not descriptive. (Checkout - Pay…
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/brainTreeDropIn.js
Labels: Progress: approved, pkg:venia-ui, pkg:extensions

#3859 PWA-2094: Track product impressions and clicks
  packages/peregrine/lib/context/eventing.js
  packages/peregrine/lib/talons/Gallery/__tests__/useGalleryItem.spec.js
  packages/peregrine/lib/talons/Gallery/useGalleryItem.js
  packages/peregrine/lib/talons/SearchBar/__tests__/useAutocomplete.spec.js
  packages/peregrine/lib/talons/SearchBar/index.js
  packages/peregrine/lib/talons/SearchBar/useSuggestedProduct.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/Gallery/__tests__/gallery.spec.js
  packages/venia-ui/lib/components/Gallery/__tests__/item.spec.js
  packages/venia-ui/lib/components/Gallery/item.js
  packages/venia-ui/lib/components/SearchBar/__tests__/suggestedProduct.spec.js
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
  packages/venia-ui/lib/components/SearchBar/suggestedProduct.js
  venia-integration-tests/src/fixtures/categoryPage/productMockCall/productMockResponse.json
  venia-integration-tests/src/fixtures/eventing/productSearchAutocompleteMockResponse.json
  venia-integration-tests/src/fixtures/eventing/productSearchMockResponse.json
  venia-integration-tests/src/fixtures/gallery/galleryStoreConfigAC.json
  venia-integration-tests/src/fixtures/pageBuilder/products/products-carousel-5.json
  venia-integration-tests/src/fixtures/resource/emptyCMSPage.json
  venia-integration-tests/src/fixtures/resource/storeConfigAC.json
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
  venia-integration-tests/src/tests/integrationTests/eventing/productImpressionAndClick.spec.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, pkg:pagebuilder
