Repository magento/pwa-studio, pull requests merged in 2022-01, with the labels that each got.

#3622 [PWA-2433] Fixes console warning for currency
  packages/peregrine/lib/Apollo/policies/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/policies/index.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#3625 [PWA-2456] Home page tabbing leads to page transition
  packages/pagebuilder/lib/ContentTypes/Banner/banner.js
  packages/pagebuilder/lib/ContentTypes/Html/html.js
  packages/pagebuilder/lib/ContentTypes/Text/text.js
  packages/pagebuilder/lib/__tests__/handleHtmlContentClick.spec.js
  packages/pagebuilder/lib/handleHtmlContentClick.js
Labels: version: Patch, Progress: approved, pkg:pagebuilder

#3631 [PWA-2466] [Cypress] Add cypress snapshot test for customer service page
  packages/venia-ui/lib/components/Footer/footer.js
  venia-integration-tests/src/actions/footer/index.js
  venia-integration-tests/src/actions/index.js
  venia-integration-tests/src/fields/footer/index.js
  venia-integration-tests/src/fields/index.js
  venia-integration-tests/src/fixtures/customerService/customerService.json
  venia-integration-tests/src/fixtures/customerService/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/snapshots/integrationTests/customerService/customerService.spec.js/Customer-Service-Page.snap.png
  venia-integration-tests/src/tests/integrationTests/customerService/customerService.spec.js
Labels: Progress: approved, pkg:venia-ui

#3620 Git migration: Master -> Main
  .github/.metadata.json
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  packages/babel-preset-peregrine/package.json
  packages/create-pwa/package.json
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/upward-js/package.json
  packages/upward-spec/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/_archived/hello-upward/simple-server/index.md
  pwa-devdocs/package.json
  pwa-devdocs/src/_includes/content-not-available.md
  pwa-devdocs/src/peregrine/index.md
  pwa-devdocs/src/pwa-buildpack/index.md
  pwa-devdocs/src/technologies/basic-concepts/client-side-caching/index.md
  pwa-devdocs/src/technologies/upward/index.md
  pwa-devdocs/src/technologies/upward/reference-implementation/index.md
  pwa-devdocs/src/venia-pwa-concept/features/braintree/index.md
  pwa-devdocs/src/venia-pwa-concept/features/checkout/index.md
  pwa-devdocs/src/venia-pwa-concept/features/modular-components/index.md
  pwa-devdocs/src/venia-pwa-concept/index.md
  pwa-devdocs/src/venia-pwa-concept/project-structure/index.md
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, pkg:upward-js, pkg:upward-spec, version: Minor, pkg:babel-preset-peregrine, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder

#3626 [PWA-2467] [Cypress] Add Add to Cart check on Search and Category page
  venia-integration-tests/src/assertions/miniCart/index.js
  venia-integration-tests/src/fields/productPage/index.js
  venia-integration-tests/src/fixtures/categoryPage/index.js
  venia-integration-tests/src/fixtures/productPage/index.js
  venia-integration-tests/src/support/helperCommands.js
  venia-integration-tests/src/tests/e2eTests/anchorLinks/verifyAnchorLinks.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanAddItemFromCategory.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanAddItemFromSearch.spec.js
Labels: version: Patch, Progress: approved

#3612 [PWA-2432]: Remove virtual products extension
  jest.config.js
  packages/extensions/venia-sample-virtual-products/intercept.js
  packages/extensions/venia-sample-virtual-products/package.json
  packages/extensions/venia-sample-virtual-products/src/__tests__/wrapUseCategory.spec.js
  packages/extensions/venia-sample-virtual-products/src/category.gql.js
  packages/extensions/venia-sample-virtual-products/src/components/SubTypeAttribute/__tests__/subTypeAttribute.spec.js
  packages/extensions/venia-sample-virtual-products/src/components/SubTypeAttribute/index.js
  packages/extensions/venia-sample-virtual-products/src/components/SubTypeAttribute/subTypeAttribute.gql.js
  packages/extensions/venia-sample-virtual-products/src/components/SubTypeAttribute/subTypeAttribute.js
  packages/extensions/venia-sample-virtual-products/src/components/SubTypeAttribute/subTypeAttribute.module.css
  packages/extensions/venia-sample-virtual-products/src/wrapUseCategory.js
Labels: version: Minor, Progress: approved, partners-contribution, Partner: Webjump, pkg:extensions

#3645 revert manual package updates
  packages/babel-preset-peregrine/package.json
  packages/pagebuilder/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
Labels: pkg:venia-concept, pkg:babel-preset-peregrine, Progress: approved, pkg:venia-ui, pkg:pagebuilder

#3613 Better cypress results logging
  venia-integration-tests/package.json
  venia-integration-tests/report-results.js
  venia-integration-tests/run-tests.js
Labels: version: Minor, Progress: approved

#3644 [PWA-2468][Cypress] Add cypress integration mock data test for Ratings summary
  packages/venia-ui/lib/components/Rating/rating.js
  venia-integration-tests/src/assertions/categoryPage/index.js
  venia-integration-tests/src/fields/categoryPage/index.js
  venia-integration-tests/src/fixtures/categoryPage/productMockCall/productMockResponse.json
  venia-integration-tests/src/tests/e2eTests/gallery/productRatingSummary.spec.js
Labels: version: Minor, Progress: approved, pkg:venia-ui

#3611 [PWA-2400] Update packages and dependencies
  .eslintrc.js
  package.json
  packages/create-pwa/package.json
  packages/pwa-buildpack/lib/WebpackTools/PWADevServer.js
  packages/pwa-buildpack/lib/WebpackTools/plugins/UpwardIncludePlugin.js
  packages/pwa-buildpack/lib/__tests__/cli-create-project.spec.js
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/ProductOptions/__tests__/options.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/swatch.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/swatchList.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/tile.spec.js
  packages/venia-ui/lib/components/ProductOptions/__tests__/tileList.spec.js
  venia-integration-tests/package.json
  venia-integration-tests/yarn.lock
  yarn.lock
Labels: pkg:pwa-buildpack, pkg:venia-concept, version: Minor, Progress: approved, pkg:venia-ui, pkg:create-pwa, needs triage

#3654 Disable Rating Component
  packages/venia-ui/lib/components/Gallery/item.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3655 [PWA-2499] Browser Reload on any Category load all products from default category
  packages/venia-ui/upward.yml
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3658 [PWA-2483] Duplicated styles issue
  packages/pwa-buildpack/lib/WebpackTools/configureWebpack/getModuleRules.js
Labels: pkg:pwa-buildpack, version: Patch, Progress: approved

#3604 [PWA-2063] Add reCaptcha to the Forgot Password Forms
  packages/extensions/upward-security-headers/upward.yml
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/peregrine/lib/hooks/__tests__/useScript.spec.js
  packages/peregrine/lib/hooks/useGoogleReCaptcha/__tests__/useGoogleReCaptcha.spec.js
  packages/peregrine/lib/hooks/useGoogleReCaptcha/googleReCaptchaConfig.gql.js
  packages/peregrine/lib/hooks/useGoogleReCaptcha/index.js
  packages/peregrine/lib/hooks/useGoogleReCaptcha/useGoogleReCaptcha.js
  packages/peregrine/lib/hooks/useScript.js
  packages/peregrine/lib/talons/ForgotPassword/__tests__/__snapshots__/useForgotPassword.spec.js.snap
  packages/peregrine/lib/talons/ForgotPassword/__tests__/useForgotPassword.spec.js
  packages/peregrine/lib/talons/ForgotPassword/forgotPassword.gql.js
  packages/peregrine/lib/talons/ForgotPassword/useForgotPassword.js
  packages/peregrine/lib/talons/MyAccount/__tests__/__snapshots__/useResetPassword.spec.js.snap
  packages/peregrine/lib/talons/MyAccount/__tests__/useResetPassword.spec.js
  packages/peregrine/lib/talons/MyAccount/resetPassword.gql.js
  packages/peregrine/lib/talons/MyAccount/useResetPassword.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/__tests__/__snapshots__/forgotPasswordForm.spec.js.snap
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/__tests__/forgotPasswordForm.spec.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.js
  packages/venia-ui/lib/components/ForgotPassword/ForgotPasswordForm/forgotPasswordForm.module.css
  packages/venia-ui/lib/components/ForgotPassword/__tests__/__snapshots__/forgotPassword.spec.js.snap
  packages/venia-ui/lib/components/ForgotPassword/__tests__/forgotPassword.spec.js
  packages/venia-ui/lib/components/ForgotPassword/forgotPassword.js
  packages/venia-ui/lib/components/ForgotPassword/forgotPassword.module.css
  packages/venia-ui/lib/components/GoogleReCaptcha/googleReCaptcha.js
  packages/venia-ui/lib/components/GoogleReCaptcha/googleReCaptcha.module.css
  packages/venia-ui/lib/components/GoogleReCaptcha/index.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/__snapshots__/resetPassword.spec.js.snap
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/resetPassword.spec.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/resetPassword.module.css
  venia-integration-tests/src/actions/forgotPasswordPage/index.js
  venia-integration-tests/src/actions/index.js
  venia-integration-tests/src/fields/forgotPasswordPage/index.js
  venia-integration-tests/src/fields/index.js
  venia-integration-tests/src/fixtures/forgotPasswordPage/forgotPassword.json
  venia-integration-tests/src/fixtures/forgotPasswordPage/index.js
  venia-integration-tests/src/fixtures/googleReCaptchaApi/index.js
  venia-integration-tests/src/fixtures/googleReCaptchaApi/reCaptchaV3ConfigDefault.json
  venia-integration-tests/src/fixtures/googleReCaptchaApi/reCaptchaV3ConfigInline.json
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyGoogleReCaptcha.spec.js
Labels: pkg:peregrine, version: Major, Progress: approved, pkg:venia-ui, pkg:extensions

#3619 [PB-PWA-1936]: Sorting product listing by custom attribute
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategoryContent.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategoryContent.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryContent.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/peregrine/lib/talons/SearchPage/__tests__/__snapshots__/useSearchPage.spec.js.snap
  packages/peregrine/lib/talons/SearchPage/__tests__/useSearchPage.spec.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/__tests__/categoryContent.spec.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/FilterModal/FilterList/__tests__/filterItem.spec.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItem.js
  packages/venia-ui/lib/components/ProductSort/__tests__/__snapshots__/sortItem.spec.js.snap
  packages/venia-ui/lib/components/ProductSort/__tests__/sortItem.spec.js
  packages/venia-ui/lib/components/ProductSort/productSort.js
  packages/venia-ui/lib/components/ProductSort/sortItem.js
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/__tests__/searchPage.spec.js
  packages/venia-ui/lib/components/SearchPage/searchPage.js
Labels: pkg:peregrine, version: Major, Progress: approved, pkg:venia-ui

#3664 Mikhaelbois/pwa 2541 babel package missing
  packages/venia-concept/package.json
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, pkg:upward-js, pkg:upward-spec, version: Patch, pkg:babel-preset-peregrine, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, pkg:pwa-theme-venia

#3665 PWA-2542: Mini cart remaining product gets disabled if user has 2 or more products and deletes first (top) product
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/productList.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/productList.spec.js
  packages/venia-ui/lib/components/MiniCart/ProductList/productList.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3587 [PWA-2169] Query for available Dynamic Blocks
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/__tests__/__snapshots__/dynamicBlock.ce.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/__tests__/__snapshots__/dynamicBlock.ee.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/__tests__/configAggregator.spec.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/__tests__/dynamicBlock.ce.spec.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/__tests__/dynamicBlock.ee.spec.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/configAggregator.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/dynamicBlock.ce.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/dynamicBlock.ee.js
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/dynamicBlock.module.css
  packages/pagebuilder/lib/ContentTypes/DynamicBlock/index.js
  packages/pagebuilder/lib/config.js
  packages/peregrine/lib/Apollo/__tests__/clearCustomerDataFromCache.spec.js
  packages/peregrine/lib/Apollo/clearCustomerDataFromCache.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/CmsDynamicBlock/__tests__/__snapshots__/cmsDynamicBlock.ce.spec.js.snap
  packages/venia-ui/lib/components/CmsDynamicBlock/__tests__/__snapshots__/cmsDynamicBlock.ee.spec.js.snap
  packages/venia-ui/lib/components/CmsDynamicBlock/__tests__/__snapshots__/dynamicBlock.spec.js.snap
  packages/venia-ui/lib/components/CmsDynamicBlock/__tests__/cmsDynamicBlock.ce.spec.js
  packages/venia-ui/lib/components/CmsDynamicBlock/__tests__/cmsDynamicBlock.ee.spec.js
  packages/venia-ui/lib/components/CmsDynamicBlock/__tests__/constants.spec.js
  packages/venia-ui/lib/components/CmsDynamicBlock/__tests__/dynamicBlock.spec.js
  packages/venia-ui/lib/components/CmsDynamicBlock/cmsDynamicBlock.ce.js
  packages/venia-ui/lib/components/CmsDynamicBlock/cmsDynamicBlock.ee.js
  packages/venia-ui/lib/components/CmsDynamicBlock/constants.js
  packages/venia-ui/lib/components/CmsDynamicBlock/dynamicBlock.js
  packages/venia-ui/lib/components/CmsDynamicBlock/index.js
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/fixtures/pageBuilder/dynamicBlock/dynamicBlock-mock-1.json
  venia-integration-tests/src/fixtures/pageBuilder/dynamicBlock/dynamicBlock-mock-2.json
  venia-integration-tests/src/fixtures/pageBuilder/dynamicBlock/dynamicBlock-mock-3.json
  venia-integration-tests/src/fixtures/pageBuilder/dynamicBlock/dynamicBlock.json
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/dynamicBlock.spec.js/Page-Builder-Dynamic-Block-Snapshot.snap.png
  venia-integration-tests/src/tests/integrationTests/pageBuilder/dynamicBlock.spec.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, pkg:pagebuilder

#3646 [PWA-2498] Rename Link's prefetchType prop
  packages/peregrine/lib/talons/Link/useLink.js
  packages/venia-ui/lib/components/Link/link.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3671 [PWA-2548] Revert changes made in PWA-1913 and use available data
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/useProductFullDetail.spec.js
  packages/peregrine/lib/talons/RootComponents/Product/productDetailFragment.gql.js
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/__tests__/__snapshots__/customAttributes.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/__tests__/customAttributes.spec.js
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/customAttributes.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3667 [Cypress] Add multi store integration tests (part 1)
  packages/venia-ui/lib/components/Header/header.js
  packages/venia-ui/lib/components/Header/storeSwitcher.js
  venia-integration-tests/src/actions/index.js
  venia-integration-tests/src/actions/storeSwitcher/index.js
  venia-integration-tests/src/assertions/categoryPage/index.js
  venia-integration-tests/src/assertions/categoryTree/index.js
  venia-integration-tests/src/assertions/megaMenu/index.js
  venia-integration-tests/src/fields/categoryTree/index.js
  venia-integration-tests/src/fields/index.js
  venia-integration-tests/src/fields/megaMenu/index.js
  venia-integration-tests/src/fields/storeSwitcher/index.js
  venia-integration-tests/src/fixtures/graphqlMockedCalls/index.js
  venia-integration-tests/src/fixtures/index.js
  venia-integration-tests/src/fixtures/multiStore/data/availableStores.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/addProductsToCart1.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/addProductsToCart2.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/addProductsToCart3.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/cart-1.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/cart-2.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/cart-3.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/details.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/empty.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/priceSummary.json
  venia-integration-tests/src/fixtures/multiStore/data/cart/productListing.json
  venia-integration-tests/src/fixtures/multiStore/data/cmsPage.json
  venia-integration-tests/src/fixtures/multiStore/data/currency.json
  venia-integration-tests/src/fixtures/multiStore/data/default/accessoriesCategory.json
  venia-integration-tests/src/fixtures/multiStore/data/default/accessoriesFilterInputs.json
  venia-integration-tests/src/fixtures/multiStore/data/default/accessoriesProductFilters.json
  venia-integration-tests/src/fixtures/multiStore/data/default/accessoriesRoute.json
  venia-integration-tests/src/fixtures/multiStore/data/default/megaMenu.json
  venia-integration-tests/src/fixtures/multiStore/data/default/navigationMenu.json
  venia-integration-tests/src/fixtures/multiStore/data/default/storeConfig.json
  venia-integration-tests/src/fixtures/multiStore/data/default/view-1/accessoriesCategory.json
  venia-integration-tests/src/fixtures/multiStore/data/default/view-1/megaMenu.json
  venia-integration-tests/src/fixtures/multiStore/data/default/view-1/navigationMenu.json
  venia-integration-tests/src/fixtures/multiStore/data/default/view-1/storeConfig.json
  venia-integration-tests/src/fixtures/multiStore/data/homeRoute.json
  venia-integration-tests/src/fixtures/multiStore/data/productsCarousel.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/accessoriesRoute.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/subcategoryAFilterInputs.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/subcategoryAProductFilters.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/subcategoryARoute.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/subcategoryBFilterInputs.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/subcategoryBProductFilters.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/subcategoryBRoute.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/view-1/megaMenu.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/view-1/navigationMenu.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/view-1/storeConfig.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/view-1/subcategoryA.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/view-1/subcategoryB.json
  venia-integration-tests/src/fixtures/multiStore/index.js
  venia-integration-tests/src/tests/integrationTests/multiStore/storeSwitching.spec.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3677 Adds 12.2.0 entry in compatibility table
  magento-compatibility.js
Labels: Progress: approved

#3674 [PWA-2549] Magento\GraphQl\Catalog\ProductSearchTest test fails
  packages/peregrine/lib/talons/FilterModal/__tests__/helpers.spec.js
  packages/peregrine/lib/talons/FilterModal/__tests__/useFilterModal.spec.js
  packages/peregrine/lib/talons/FilterModal/helpers.js
  packages/peregrine/lib/talons/FilterModal/useFilterModal.js
  packages/peregrine/lib/talons/FilterSidebar/__tests__/useFilterSidebar.spec.js
  packages/peregrine/lib/talons/FilterSidebar/useFilterSidebar.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryContent.gql.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
  venia-integration-tests/src/actions/categoryPage/index.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#3675 Release notes/CHANGELOG for 12.2
  CHANGELOG.md
Labels: documentation, version: Patch, Progress: approved, needs triage
