Repository magento/pwa-studio, pull requests merged in 2022-03, with the labels that each got.

#3724 PWA-2610: Update Magento capability table
  magento-compatibility.js
Labels: version: Minor, Progress: approved, needs triage

#3720 PWA-2528: Page builder product collection's price+currency is not updating on currency changes
  packages/pagebuilder/lib/ContentTypes/Products/__tests__/products.spec.js
  packages/pagebuilder/lib/ContentTypes/Products/products.js
Labels: version: Patch, Progress: approved, pkg:pagebuilder

#3725 fix block test
  venia-integration-tests/cypress.config.json
  venia-integration-tests/src/fixtures/pageBuilder/block/block.json
  venia-integration-tests/src/snapshots/integrationTests/pageBuilder/block.spec.js/Page-Builder-Block-Page.snap.png
  venia-integration-tests/src/tests/integrationTests/pageBuilder/row.spec.js
Labels: Progress: approved

#3734 Updated Changelog for 12.3
  CHANGELOG.md
  images/pwa_imperfect.svg
  images/pwa_perfect.svg
  images/score_100.svg
  images/score_26.svg
  images/score_27.svg
  images/score_33.svg
  images/score_73.svg
  images/score_78.svg
  images/score_90.svg
  images/venia_page_category.png
  images/venia_page_details.png
  images/venia_page_home.png
  images/venia_page_search.png
Labels: Progress: approved, needs triage

#3666 Fix for ` product_url_suffix` cloud be return es `null` if admin don't want to use a suffix
  packages/venia-ui/lib/components/Gallery/item.js
Labels: version: Patch, pkg:venia-ui, partners-contribution, Partner: TechDivision

#3739 Back merge main to develop
  CHANGELOG.md
  images/pwa_imperfect.svg
  images/pwa_perfect.svg
  images/score_100.svg
  images/score_26.svg
  images/score_27.svg
  images/score_33.svg
  images/score_73.svg
  images/score_78.svg
  images/score_90.svg
  images/venia_page_category.png
  images/venia_page_details.png
  images/venia_page_home.png
  images/venia_page_search.png
  magento-compatibility.js
  package.json
  packages/create-pwa/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-adobe-data-layer/package.json
  packages/extensions/venia-sample-backends/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/lib/utils.js
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/package.json
  pwa-devdocs/scripts/create-reference-docs/config/pagebuilder.js
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, Progress: review, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions

#3738 Changelog update
  CHANGELOG.md
Labels: pkg:pwa-devdocs, version: Patch, docs, Progress: approved, needs triage

#3729 PWA-2571: Regression fix disabled TTL support in BrowserPersistence
  packages/peregrine/lib/store/reducers/user.js
  packages/peregrine/lib/util/__mocks__/simplePersistence.js
  packages/peregrine/lib/util/__tests__/simplePersistence.spec.js
  packages/peregrine/lib/util/simplePersistence.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#3717 PWA-260: Make QuantityStepper @api and deprecate ProductQuantity
  packages/peregrine/lib/talons/CartPage/ProductListing/useQuantity.js
  packages/peregrine/lib/talons/QuantityStepper/__tests__/useQuantityStepper.spec.js
  packages/peregrine/lib/talons/QuantityStepper/useQuantityStepper.js
  packages/peregrine/lib/targets/__tests__/peregrine-targets.spec.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/__snapshots__/giftOptionsSection.ce.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.module.css
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/quantity.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/quantity.js
  packages/venia-ui/lib/components/LegacyMiniCart/miniCart.js
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/productFullDetail.spec.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.module.css
  packages/venia-ui/lib/components/ProductQuantity/quantity.js
  packages/venia-ui/lib/components/QuantityStepper/index.js
  packages/venia-ui/lib/components/QuantityStepper/quantityStepper.js
  packages/venia-ui/lib/components/QuantityStepper/quantityStepper.module.css
  venia-integration-tests/src/fields/cartPage/index.js
  venia-integration-tests/src/fields/productPage/index.js
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui
