Repository magento/pwa-studio, pull requests merged in 2022-09, with the labels that each got.

#3791 AC-2493::Items within actions menu are not operable for keyboard-only…
  packages/venia-ui/lib/components/LegacyMiniCart/kebab.js
  packages/venia-ui/lib/components/LegacyMiniCart/kebab.module.css
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3955 Watch command failing during the compilation process initiated by docker
  dev.dockerfile
Labels: version: Patch, Progress: approved

#3936 Logo misses required alt property for image
  packages/venia-ui/lib/components/Logo/logo.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3792 AC-2791::Current state of custom controls not announced. (Shopping Bag)
  packages/venia-ui/lib/components/Accordion/__tests__/__snapshots__/accordion.spec.js.snap
  packages/venia-ui/lib/components/Accordion/section.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/__tests__/__snapshots__/priceAdjustments.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/__tests__/__snapshots__/product.spec.js.snap
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/accountTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/accountTrigger.js
  packages/venia-ui/lib/components/LegacyMiniCart/__tests__/__snapshots__/kebab.spec.js.snap
  packages/venia-ui/lib/components/LegacyMiniCart/kebab.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#3935 AC-3522::Product search result with items count is not being read by …
  packages/venia-ui/lib/components/FilterSidebar/filterSidebar.js
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Gallery/gallery.js
  packages/venia-ui/lib/components/Gallery/item.js
  packages/venia-ui/lib/components/ProductSort/__tests__/__snapshots__/productSort.spec.js.snap
  packages/venia-ui/lib/components/ProductSort/productSort.js
  packages/venia-ui/lib/components/SearchPage/__tests__/__snapshots__/searchPage.spec.js.snap
  packages/venia-ui/lib/components/SearchPage/searchPage.js
  packages/venia-ui/lib/components/SortedByContainer/sortedByContainer.js
Labels: version: Minor, Progress: approved, pkg:venia-ui

#3798 AC-2787 Keyboard only users are not able to access sub-navigation links
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenu.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/__tests__/__snapshots__/MegaMenuItem.spec.js.snap
  packages/venia-ui/lib/components/MegaMenu/megaMenuItem.js
Labels: version: Minor, Progress: approved, pkg:venia-ui

#3864 AC-2790::No visual indication of focus on buttons.
  packages/venia-ui/lib/components/Pagination/navButton.module.css
  packages/venia-ui/lib/components/Pagination/tile.module.css
Labels: version: Patch, Progress: approved, pkg:venia-ui
