Repository magento/pwa-studio, pull requests merged in 2022-07, with the labels that each got.

#3785 AC-2792::Common inputs lack autocomplete attributes (pattern)
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/guestForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
Labels: Progress: approved, pkg:venia-ui, pkg:extensions

#3786 AC-2788::Form fields have visual labels that are not programmatically…
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/__snapshots__/editForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CreateAccount/__tests__/__snapshots__/createAccount.spec.js.snap
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/MyAccount/ResetPassword/__tests__/__snapshots__/resetPassword.spec.js.snap
  packages/venia-ui/lib/components/Password/__tests__/__snapshots__/password.spec.js.snap
  packages/venia-ui/lib/components/Password/password.js
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
  packages/venia-ui/lib/components/SearchBar/searchField.js
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: version: Minor, Progress: approved, pkg:venia-ui

#3911 [Bugfix] Fix broken or unreliable cypress tests
  packages/peregrine/lib/talons/CmsDynamicBlock/cmsDynamicBlock.gql.js
  venia-integration-tests/src/snapshots/snapshotTests/pageBuilder/block.spec.js/Page-Builder-Block-Page.snap.png
  venia-integration-tests/src/snapshots/snapshotTests/pageBuilder/products.spec.js/PB-Products-Carousel-Continuous-Mode.snap.png
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
  venia-integration-tests/src/tests/integrationTests/eventing/productImpressionAndClick.spec.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#3805 AC-2480::Flyout panels do not trap focus while open
  packages/venia-ui/lib/components/CategoryTree/categoryBranch.js
  packages/venia-ui/lib/components/CategoryTree/categoryLeaf.js
  packages/venia-ui/lib/components/CategoryTree/categoryTree.js
  packages/venia-ui/lib/components/Navigation/__tests__/navigation.spec.js
  packages/venia-ui/lib/components/Navigation/navigation.js
Labels: version: Minor, Progress: approved, pkg:venia-ui

#3912 PWA-2950: Braintree payment throws console error
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  venia-integration-tests/src/actions/checkoutPage/index.js
  venia-integration-tests/src/fields/checkoutPage/index.js
  yarn.lock
Labels: pkg:venia-concept, version: Patch, Progress: approved, pkg:venia-ui, pkg:extensions
