Repository magento/pwa-studio, pull requests merged in 2022-04, with the labels that each got.

#3756 [PWA-2116] Image of XD UI Kit for README.md
  images/xd-ui-kit.png
Labels: Progress: ready for review

#3740 PWA-2524: Disabled product throw an exception cannot read properties of undefined
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/useProductFullDetail.spec.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  venia-integration-tests/src/assertions/productPage/index.js
  venia-integration-tests/src/fixtures/multiStore/data/storeB/product2ProductDetail.json
  venia-integration-tests/src/tests/integrationTests/multiStore/storeSwitching.spec.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#3747 PWA-1689: Filtering Product by the attribute value
  packages/peregrine/lib/talons/FilterModal/__tests__/useFilterModal.spec.js
  packages/peregrine/lib/talons/FilterModal/useFilterModal.js
  packages/peregrine/lib/talons/FilterModal/useFilterState.js
  packages/peregrine/lib/talons/FilterSidebar/__tests__/useFilterSidebar.spec.js
  packages/peregrine/lib/talons/FilterSidebar/useFilterSidebar.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/shippingRadios.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/shippingMethod.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/updateModal.spec.js.snap
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.module.css
  packages/venia-ui/lib/components/FilterModal/FilterList/__tests__/filterItemRadio.spec.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItemRadio.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItemRadio.module.css
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItemRadioGroup.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
  packages/venia-ui/lib/components/FilterModal/__tests__/filterModal.spec.js
  packages/venia-ui/lib/components/FilterModal/filterBlock.js
  packages/venia-ui/lib/components/FilterModal/filterBlock.module.css
  packages/venia-ui/lib/components/FilterModal/filterModal.js
  packages/venia-ui/lib/components/FilterSidebar/__tests__/filterSidebar.spec.js
  packages/venia-ui/lib/components/FilterSidebar/filterSidebar.js
  packages/venia-ui/lib/components/RadioGroup/__tests__/__snapshots__/radioGroup.spec.js.snap
  packages/venia-ui/lib/components/RadioGroup/radio.js
  venia-integration-tests/src/actions/categoryPage/index.js
  venia-integration-tests/src/assertions/categoryPage/index.js
  venia-integration-tests/src/fields/categoryPage/index.js
  venia-integration-tests/src/fixtures/categoryPage/index.js
  venia-integration-tests/src/tests/e2eTests/category/guestCategoryAccess.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3763 passing jfrog image only for CI build stage to overcome docker pull l…
  venia-integration-tests/run-tests.js
Labels: version: Patch, Progress: approved, javascript

#3742 Cypress tag based testing
  venia-integration-tests/cypress.config.json
  venia-integration-tests/package.json
  venia-integration-tests/run-tests.js
  venia-integration-tests/src/plugins/index.js
  venia-integration-tests/src/support/index.js
  venia-integration-tests/src/tests/e2eTests/anchorLinks/verifyAnchorLinks.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanAddItemFromCategory.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanAddItemFromSearch.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userCanRemoveItemFromCart.spec.js
  venia-integration-tests/src/tests/e2eTests/cart/userRemoveCartPromotions.spec.js
  venia-integration-tests/src/tests/e2eTests/category/guestCategoryAccess.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifyFilters.spec.js
  venia-integration-tests/src/tests/e2eTests/category/verifySortAndPagination.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/editCartAndCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/guestUserCheckoutWithRegionAndCC.spec.js
  venia-integration-tests/src/tests/e2eTests/checkout/registeredUserCheckout.spec.js
  venia-integration-tests/src/tests/e2eTests/customerAccount/addressBookActions.spec.js
  venia-integration-tests/src/tests/e2eTests/customerAccount/customerAccountActions.spec.js
  venia-integration-tests/src/tests/e2eTests/localization/localization.spec.js
  venia-integration-tests/src/tests/e2eTests/miniCart/miniCartActions.spec.js
  venia-integration-tests/src/tests/e2eTests/notFound/routeNotFoundAccess.spec.js
  venia-integration-tests/src/tests/e2eTests/offline/offlineTest.spec.js
  venia-integration-tests/src/tests/e2eTests/resource/userCanVerifyVersions.spec.js
  venia-integration-tests/src/tests/e2eTests/search/verifySearchFunctionality.spec.js
  venia-integration-tests/src/tests/e2eTests/search/verifySearchSuggestionFunctionality.spec.js
  venia-integration-tests/src/tests/e2eTests/wishList/singleWishlistAddRemoveProduct.spec.js
  venia-integration-tests/src/tests/integrationTests/cart/verifyGiftOptions.spec.js
  venia-integration-tests/src/tests/integrationTests/cartPage/discountSummary.spec.js
  venia-integration-tests/src/tests/integrationTests/contactPage/userCanSubmitForm.spec.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyAccountAccessReCaptcha.spec.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyAccountInformationReCaptcha.spec.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyCheckoutReCaptcha.spec.js
  venia-integration-tests/src/tests/integrationTests/googleReCaptcha/verifyForgetPasswordReCaptcha.spec.js
  venia-integration-tests/src/tests/integrationTests/multiStore/storeSwitching.spec.js
  venia-integration-tests/src/tests/integrationTests/newsletter/resetErrorOnSubmit.spec.js
  venia-integration-tests/src/tests/integrationTests/wishList/verifyMultipleWishlistFeatures.spec.js
  venia-integration-tests/src/tests/snapshotTests/aboutUsPage/aboutUsPage.spec.js
  venia-integration-tests/src/tests/snapshotTests/customerService/customerService.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/banner.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/block.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/buttons.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/column.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/divider.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/dynamicBlock.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/image.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/map.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/products.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/row.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/slider.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/smokeTest.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/tabs.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/text.spec.js
  venia-integration-tests/src/tests/snapshotTests/pageBuilder/video.spec.js
  venia-integration-tests/yarn.lock
Labels: version: Patch, Progress: approved

#3761 PWA-1674: View Product Attributes values on PDP - Text input, Multi-s…
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/__snapshots__/useProductFullDetail.spec.js.snap
  packages/peregrine/lib/talons/ProductFullDetail/__tests__/useProductFullDetail.spec.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/AttributeType/Multiselect/__tests__/__snapshots__/multiSelect.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/AttributeType/Multiselect/multiselect.js
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/AttributeType/Multiselect/multiselect.module.css
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#3760 [PWA-2672] Product prices is informed by the outdated field
  packages/pagebuilder/lib/ContentTypes/Products/products.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/productFormFragment.gql.js
  packages/peregrine/lib/talons/CartPage/ProductListing/EditModal/useProductForm.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryFragments.gql.js
  packages/peregrine/lib/talons/RootComponents/Product/productDetailFragment.gql.js
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/gallery.spec.js
  packages/venia-ui/lib/components/Gallery/__tests__/item.spec.js
  packages/venia-ui/lib/components/Gallery/item.js
  packages/venia-ui/lib/components/SearchBar/__tests__/suggestedProduct.spec.js
  packages/venia-ui/lib/components/SearchBar/autocomplete.js
  packages/venia-ui/lib/components/SearchBar/suggestedProduct.js
  venia-integration-tests/src/fixtures/categoryPage/productMockCall/productMockResponse.json
  venia-integration-tests/src/fixtures/multiStore/data/default/accessoriesCategory.json
  venia-integration-tests/src/fixtures/multiStore/data/default/product1ProductDetail.json
  venia-integration-tests/src/fixtures/multiStore/data/default/topsCategory.json
  venia-integration-tests/src/fixtures/multiStore/data/productsCarousel.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/product2ProductDetail.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/subcategoryACategory.json
Labels: pkg:peregrine, version: Major, Progress: approved, pkg:venia-ui, pkg:pagebuilder

#3759 PWA-1673: View Product Attributes values on PDP - Content
  packages/extensions/venia-sample-language-packs/i18n/fr_FR.json
  packages/pagebuilder/lib/ContentTypes/Banner/banner.js
  packages/pagebuilder/lib/ContentTypes/ButtonItem/buttonItem.js
  packages/pagebuilder/lib/ContentTypes/Image/image.js
  packages/pagebuilder/lib/ContentTypes/Text/text.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
  packages/peregrine/lib/talons/RootComponents/Product/productDetailFragment.gql.js
  packages/peregrine/lib/util/__tests__/resolveLinkProps.spec.js
  packages/peregrine/lib/util/htmlStringImgUrlConverter.js
  packages/peregrine/lib/util/resolveLinkProps.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/AttributeType/Select/select.module.css
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/AttributeType/Text/text.module.css
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/AttributeType/Textarea/textarea.js
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/AttributeType/attributeType.js
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/__tests__/__snapshots__/customAttributes.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/customAttributes.js
  packages/venia-ui/lib/components/ProductFullDetail/CustomAttributes/customAttributes.module.css
  packages/venia-ui/lib/components/ProductFullDetail/__tests__/__snapshots__/productFullDetail.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.module.css
  packages/venia-ui/lib/components/RichContent/plainHtmlRenderer.js
  packages/venia-ui/lib/targets/__tests__/venia-ui-targets.spec.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, pkg:pagebuilder, pkg:extensions

#3755 [PWA-2116] Added UI Kit info to README.md
  README.md
  images/xd-ui-kit.png
Labels: docs, Progress: approved, needs triage

#3795 update compatibility for 12.4
  magento-compatibility.js
Labels: version: Patch, Progress: approved

#3782 Updated changelog.md with 12.4 release notes
  CHANGELOG.md
Labels: version: Minor, docs, Progress: approved, needs triage
