Repository magento/pwa-studio, pull requests merged in 2023-05, with the labels that each got.

#4118 PWA-3047::[bug]: PWA Scaffolding Tool uses old version
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/createDotEnvFile.spec.js.snap
Labels: pkg:pwa-buildpack, version: Patch, Progress: ready for review

#4102 PWA-3080:: When you click on Thumbnail, Add to cart works
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/thumbnail.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#4115 Bug#pwa 3029::[bug]: Selecting payment method causing graphql error
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/usePaymentMethods.js
Labels: pkg:peregrine, version: Minor, Progress: approved

#4094 PWA-3112::The link seems to not be working with the keyboard. When th…
  packages/peregrine/lib/talons/CartPage/GiftCards/__tests__/useGiftCards.spec.js
  packages/peregrine/lib/talons/CartPage/GiftCards/useGiftCards.js
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/__snapshots__/giftCards.spec.js.snap
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#4100 PWA-3107::There's no message to inform the user the page refreshed it…
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/item.js
  packages/venia-ui/lib/components/MiniCart/ProductList/item.module.css
  packages/venia-ui/lib/components/MiniCart/ProductList/productList.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#4104 Pwa 3122
  packages/venia-ui/lib/components/CartPage/GiftCards/__tests__/__snapshots__/giftCards.spec.js.snap
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.js
  packages/venia-ui/lib/components/CartPage/GiftCards/giftCards.module.css
Labels: pkg:peregrine, version: Patch, pkg:venia-ui, Progress: ready for review

#4092 PWA-3108-V1::When the button forget password is pressed, there's no m…
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#4086 PWA#3051 Update to latest @adobe/magento-storefront-event-collector
  packages/extensions/experience-platform-connector/package.json
  yarn.lock
Labels: version: Patch, Progress: approved, pkg:extensions

#4111 PWA-3109::The button seems to not be working with the keyboard. When the ENTER key is pressed, nothing is happening
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/useShippingForm.spec.js.snap
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/__tests__/__snapshots__/useShippingMethods.spec.js.snap
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingForm.js
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/ShippingMethods/useShippingMethods.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingForm.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/ShippingMethods/shippingMethods.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#4112 PWA-3110::The button seems to not be working with the keyboard. When …
  packages/peregrine/lib/talons/CartPage/PriceAdjustments/CouponCode/useCouponCode.js
  packages/venia-ui/lib/components/CartPage/PriceAdjustments/CouponCode/couponCode.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#4114 PWA-3087::PWA shows 404 when having store code in URL
  packages/pagebuilder/lib/__tests__/handleHtmlContentClick.spec.js
  packages/pagebuilder/lib/handleHtmlContentClick.js
Labels: version: Minor, Progress: approved, pkg:pagebuilder

#4109 PWA#3093 Url Rewrite to external URL does not work on PWA
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#4060 BUG#PWA 3057 Search auto populate results not accessible with tab or up/down keys.
  packages/venia-ui/lib/components/SearchBar/searchBar.js
  packages/venia-ui/lib/components/SearchBar/searchBar.module.css
Labels: version: Patch, Progress: approved, pkg:venia-ui

#4084 Pwa 2967 [bug]: useLink operations empty object destructuring
  packages/peregrine/lib/talons/Link/__tests__/useLink.spec.js
  packages/peregrine/lib/talons/Link/useLink.js
Labels: pkg:peregrine, version: Patch, Progress: approved, Triage: Dev.Experience

#4083 PWA-2980::No results when filtering a category with a composite attribute from layered navigation
  packages/peregrine/lib/talons/FilterModal/helpers.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#4123 PWA-3155::Magento2 Backend URL
  docker/.env.docker.dev
  packages/create-pwa/__tests__/__snapshots__/create-pwa.spec.js.snap
  packages/create-pwa/__tests__/create-pwa.spec.js
  packages/extensions/experience-platform-connector/src/__tests__/__snapshots__/utils.spec.js.snap
  packages/extensions/experience-platform-connector/src/handlers/__tests__/__mocks__/cartPageView.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/__mocks__/checkoutPageView.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/__mocks__/completeCheckout.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/__mocks__/miniCartView.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/__mocks__/orderConfirmationPageView.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/__mocks__/placeOrderButtonClicked.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/__snapshots__/shoppingMiniCartView.spec.js.snap
  packages/extensions/experience-platform-connector/src/handlers/__tests__/shoppingCartPageView.spec.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/startCheckout.spec.js
  packages/extensions/venia-sample-backends/__tests__/__snapshots__/intercept.spec.js.snap
  packages/extensions/venia-sample-backends/__tests__/intercept.spec.js
  packages/peregrine/lib/talons/CheckoutPage/ItemsReview/__fixtures__/cartItems.js
  packages/pwa-buildpack/envVarDefinitions.json
  packages/pwa-buildpack/lib/Utilities/__tests__/__snapshots__/createDotEnvFile.spec.js.snap
  packages/pwa-buildpack/lib/__tests__/cli-generate-build-report.spec.js
  packages/pwa-buildpack/sampleBackends.json
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/editModal.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/editModal.spec.js
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/productForm.spec.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__fixtures__/cartItems.js
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/orderDetails.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/items.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/orderDetails.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/collapsedImageGallery.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderRow.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/collapsedImageGallery.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/orderRow.spec.js
  pwa-devdocs/_drafts/pwa-studio-fundamentals/explore-graphql-with-graphiql/index.md
  pwa-devdocs/src/venia-pwa-concept/setup/index.md
  venia-integration-tests/src/fixtures/cartPage/priceSummary/cartDetails.json
  venia-integration-tests/src/fixtures/categoryPage/productMockCall/productMockResponse.json
  venia-integration-tests/src/fixtures/multiStore/data/cmsPage.json
  venia-integration-tests/src/fixtures/multiStore/data/storeB/product2ProductDetail.json
  venia-integration-tests/src/fixtures/pageBuilder/block/block.json
  venia-integration-tests/src/fixtures/pageBuilder/image/image.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider12.json
  venia-integration-tests/src/fixtures/pageBuilder/slider/slider2.json
  venia-integration-tests/src/fixtures/pageBuilder/smokeTest/smokeTest.json
  venia-integration-tests/src/fixtures/pageBuilder/text/text.json
Labels: pkg:pwa-buildpack, pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:extensions
