Repository magento/pwa-studio, pull requests merged in 2023-09, with the labels that each got.

#4090 Fetching and displaying errors when adding product to cart
  packages/peregrine/lib/talons/ProductFullDetail/productFullDetail.gql.ce.js
  packages/peregrine/lib/talons/ProductFullDetail/useProductFullDetail.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#4135 PWA-3085::[PWA]Different error message on shopping page and in edit pop-up
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#4149 PWA-3117::[PWA] display number of items in cart instead of quantities…
  packages/peregrine/lib/talons/Header/cartTriggerFragments.gql.js
  packages/peregrine/lib/talons/Header/useCartTrigger.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/cartTrigger.spec.js.snap
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#4143 PWA-3166::Queries fire multiple times
  packages/peregrine/lib/talons/RootComponents/Category/useCategory.js
Labels: pkg:peregrine, version: Minor, version: Patch, Progress: approved

#4124 Pwa 3139 v2
  packages/peregrine/lib/talons/CheckoutPage/BillingAddress/useBillingAddress.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/__tests__/useCreditCard.spec.js
  packages/peregrine/lib/talons/CheckoutPage/PaymentInformation/useCreditCard.js
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useGuestForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useGuestForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/customerForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/guestForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/customerForm.module.css
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.module.css
  packages/venia-ui/lib/components/Region/region.js
  packages/venia-ui/lib/components/Select/select.js
  packages/venia-ui/lib/components/TextInput/textInput.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui
