Repository magento/pwa-studio, pull requests merged in 2023-10, with the labels that each got.

#4129 PWA-3137-V3::Image is rendered on wrong pages when parallax is used o…
  packages/pagebuilder/lib/ContentTypes/Row/__tests__/row.spec.js
  packages/pagebuilder/lib/ContentTypes/Row/row.js
Labels: version: Patch, Progress: approved, pkg:pagebuilder

#4168 BUG#PWA-3161 [Cloud] Search Term Redirect not working in PWA
  packages/peregrine/lib/talons/SearchPage/__tests__/__snapshots__/useSearchPage.spec.js.snap
  packages/peregrine/lib/talons/SearchPage/searchPage.gql.js
  packages/peregrine/lib/talons/SearchPage/useSearchPage.js
Labels: pkg:peregrine, version: Minor, Progress: approved

#4133 PWA-3160 :: Search Bar Conflicting with Categories and Sub-Categories
  packages/venia-ui/lib/components/MegaMenu/submenu.module.css
Labels: version: Patch, Progress: approved, pkg:venia-ui

#4131 PWA-3078::The user is unable to get any message once the account is c…
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/AccountChip/__tests__/__snapshots__/accountChip.spec.js.snap
  packages/venia-ui/lib/components/AccountChip/accountChip.js
  packages/venia-ui/lib/components/AccountMenu/accountMenu.js
  packages/venia-ui/lib/components/Header/__tests__/__snapshots__/accountTrigger.spec.js.snap
  packages/venia-ui/lib/components/Header/accountTrigger.js
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#4173 PWA-3170:: price filter showing currency symbol
  packages/venia-ui/lib/components/FilterModal/FilterList/__tests__/filterDefault.spec.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItem.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#4172 PWA-3182::Accessibility || screen reader reading wrong quantity into…
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/AccountInformationPage/__tests__/__snapshots__/accountInformationPage.spec.js.snap
  packages/venia-ui/lib/components/AccountInformationPage/accountInformationPage.js
  packages/venia-ui/lib/components/AddressBookPage/__tests__/__snapshots__/addressBookPage.spec.js.snap
  packages/venia-ui/lib/components/AddressBookPage/addressBookPage.js
  packages/venia-ui/lib/components/CommunicationsPage/__tests__/__snapshots__/communicationsPage.spec.js.snap
  packages/venia-ui/lib/components/CommunicationsPage/communicationsPage.js
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderHistoryPage.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/orderHistoryPage.js
  packages/venia-ui/lib/components/SavedPaymentsPage/__tests__/__snapshots__/savedPaymentsPage.spec.js.snap
  packages/venia-ui/lib/components/SavedPaymentsPage/savedPaymentsPage.js
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistPage.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/wishlistPage.spec.js
  packages/venia-ui/lib/components/WishlistPage/wishlistPage.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#4174 PWA-3208::getting error on address page Unable to proceed checkout as…
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/useGuestForm.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/ShippingInformation/AddressForm/useGuestForm.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#4182 Adding Release note 13.3
  CHANGELOG.md
  magento-compatibility.js
Labels: Progress: approved, needs triage

#4191 Sync main v3
  CHANGELOG.md
  magento-compatibility.js
  package-lock.json
  package.json
  packages/babel-preset-peregrine/package.json
  packages/create-pwa/package.json
  packages/extensions/experience-platform-connector/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-sample-backends/package.json
  packages/extensions/venia-sample-eventing/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/lib/WebpackTools/targetables/BabelModifyJSXPlugin/__tests__/__snapshots__/JSXSnippetParser.spec.js.snap
  packages/pwa-buildpack/lib/WebpackTools/targetables/__tests__/__snapshots__/TargetableReactComponent.spec.js.snap
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/package.json
  yarn.lock
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, pkg:babel-preset-peregrine, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, needs triage

#4185 Main
  CHANGELOG.md
  magento-compatibility.js
  package.json
  packages/babel-preset-peregrine/package.json
  packages/create-pwa/package.json
  packages/extensions/experience-platform-connector/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-sample-backends/package.json
  packages/extensions/venia-sample-eventing/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/pwa-buildpack/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: pkg:pwa-buildpack, pkg:peregrine, pkg:venia-concept, pkg:babel-preset-peregrine, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, Progress: ready for review, needs triage
