Repository magento/pwa-studio, pull requests merged in 2023-03, with the labels that each got.

#4028 PWA-3052::Page Builder column-line content type is not supported, thi…
  packages/pagebuilder/lib/ContentTypes/ColumnLine/__tests__/__snapshots__/columnLine.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/ColumnLine/__tests__/columnLine.spec.js
  packages/pagebuilder/lib/ContentTypes/ColumnLine/__tests__/configAggregator.spec.js
  packages/pagebuilder/lib/ContentTypes/ColumnLine/columnLine.js
  packages/pagebuilder/lib/ContentTypes/ColumnLine/columnLine.module.css
  packages/pagebuilder/lib/ContentTypes/ColumnLine/configAggregator.js
  packages/pagebuilder/lib/ContentTypes/ColumnLine/index.js
  packages/pagebuilder/lib/config.js
Labels: version: Minor, Progress: approved, pkg:pagebuilder

#4052 PWA-3071::Graphql Cart > Prices > Discounts array also including Gift…
  packages/venia-ui/lib/components/CartPage/PriceSummary/discountSummary.js
Labels: Progress: approved, pkg:venia-ui

#4053 Bug#pwa 3025
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
Labels: Progress: approved, pkg:venia-ui

#4063 PWA-3025:Clicking the Filters text label doesn't actually select the filter
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
Labels: pkg:venia-ui, Progress: ready for review

#4049 BUG#-3064 When the button cancel beside create account is pressed by …
  packages/peregrine/lib/talons/CreateAccount/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
Labels: pkg:peregrine, Progress: approved, pkg:venia-ui

#4069 Pwa 3064 v3
  packages/peregrine/lib/talons/CreateAccount/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
Labels: pkg:peregrine, pkg:venia-ui, Progress: ready for review

#4061 Bug#pwa 3055 Homepage slider creates unexpected GET-requests
  packages/pagebuilder/lib/ContentTypes/Banner/__tests__/__snapshots__/banner.spec.js.snap
  packages/pagebuilder/lib/ContentTypes/Banner/banner.js
Labels: Progress: approved, pkg:pagebuilder

#4059 PWA-3049::[PWA] Internal Page Builder links with query part
  packages/pagebuilder/lib/handleHtmlContentClick.js
Labels: Progress: approved, pkg:pagebuilder

#4066 BUG##PWA-3063 No proper screen reader announcements are for the optio…
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/tile.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/__tests__/__snapshots__/tileList.spec.js.snap
  packages/venia-ui/lib/components/ProductOptions/tile.js
Labels: Progress: approved, pkg:venia-ui

#4064 Pwa 3065::When the button "sign in" is pressed by the keyboard, nothing happens.
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui
