Repository magento/pwa-studio, pull requests merged in 2023-01, with the labels that each got.

#4025 [Bugfix] Add more context to product page view event
  packages/extensions/experience-platform-connector/src/handlers/__tests__/__mocks__/productPageView.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/productPageView.spec.js
  packages/extensions/experience-platform-connector/src/handlers/productPageView.js
  packages/peregrine/lib/talons/RootComponents/Product/__tests__/__snapshots__/useProduct.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Product/__tests__/useProduct.spec.js
  packages/peregrine/lib/talons/RootComponents/Product/useProduct.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:extensions

#4015 Added release notes
  CHANGELOG.md
  magento-compatibility.js
Labels: documentation, version: Patch, docs, Progress: approved, needs triage

#4013 DONT MERGE TEST PR
  package.json
  packages/create-pwa/package.json
  packages/extensions/experience-platform-connector/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-sample-eventing/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/package.json
  packages/peregrine/package.json
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: pkg:peregrine, pkg:venia-concept, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions, Progress: ready for review
