Repository magento/pwa-studio, pull requests merged in 2024-08, with the labels that each got.

#4305 PWA Studio URL redirect not working
  packages/venia-ui/upward.yml
Labels: pkg:peregrine, version: Minor, pkg:venia-ui

#4309 Pwa-3276:[feature]: Extending Peregrine Talons for Custom Applications
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
Labels: pkg:peregrine, version: Minor, Progress: approved

#4117 Update README.md with PWA Studio XD Kit
  README.md
Labels: Progress: approved, partners-contribution, Partner: Le Site

#4314 Pwa 3339
  packages/peregrine/lib/talons/MagentoRoute/__tests__/useMagentoRoute.spec.js
  packages/peregrine/lib/talons/MagentoRoute/useMagentoRoute.js
  packages/venia-ui/upward.yml
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui
