Repository magento/pwa-studio, pull requests merged in 2024-04, with the labels that each got.

#4240 PWA-3154:GraphQL cacheable requests always have Authorization Bearer …
  packages/peregrine/lib/Apollo/links/__tests__/__snapshots__/index.spec.js.snap
  packages/peregrine/lib/Apollo/links/__tests__/index.spec.js
  packages/peregrine/lib/Apollo/links/index.js
Labels: pkg:peregrine, version: Minor, Progress: approved

#4231 PWA-3233 : Unable to sign-In using TAB/ Mouse Click button from Sign …
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
Labels: pkg:peregrine, version: Patch, Progress: approved

#4229 PWA-3178::Order statuses are decoupled from the back-end
  packages/peregrine/lib/talons/OrderHistoryPage/orderHistoryPage.gql.js
  packages/venia-ui/i18n/en_US.json
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/__snapshots__/orderRow.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/__tests__/orderRow.spec.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderProgressBar.js
  packages/venia-ui/lib/components/OrderHistoryPage/orderRow.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#4256 Release note 14.0.0
  CHANGELOG.md
  magento-compatibility.js
Labels: version: Patch, Progress: approved
