Repository magento/pwa-studio, pull requests merged in 2024-09, with the labels that each got.

#4316 PWA-3288::DevContainer > Node 14 to 18 LTS #4170
  .devcontainer/devcontainer.json
Labels: version: Patch, Progress: approved

#4322 PWA-3341: Customet login
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/createAccount.gql.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/useCreateAccount.js
  packages/peregrine/lib/talons/CreateAccount/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CreateAccount/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CreateAccount/createAccount.gql.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/SignIn/__tests__/__snapshots__/useSignIn.spec.js.snap
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/signIn.gql.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
Labels: bug, pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#4319 PWA-3273:Get Minimum Password Length from configuration
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/createAccount.gql.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/useCreateAccount.js
  packages/peregrine/lib/talons/CreateAccount/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CreateAccount/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CreateAccount/createAccount.gql.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/SignIn/__tests__/__snapshots__/useSignIn.spec.js.snap
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/signIn.gql.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
Labels: enhancement, pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#4328 release 14.1.0 release notes
  CHANGELOG.md
  magento-compatibility.js
Labels: version: Patch, Progress: approved

#4331 Sync release main 14.1.0
  package.json
  packages/create-pwa/package.json
  packages/extensions/experience-platform-connector/package.json
  packages/extensions/upward-security-headers/package.json
  packages/extensions/venia-sample-eventing/package.json
  packages/extensions/venia-sample-language-packs/package.json
  packages/extensions/venia-sample-payments-checkmo/package.json
  packages/pagebuilder/package.json
  packages/peregrine/lib/store/actions/user/asyncActions.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/createAccount.gql.js
  packages/peregrine/lib/talons/CheckoutPage/OrderConfirmationPage/useCreateAccount.js
  packages/peregrine/lib/talons/CreateAccount/__tests__/__snapshots__/useCreateAccount.spec.js.snap
  packages/peregrine/lib/talons/CreateAccount/__tests__/useCreateAccount.spec.js
  packages/peregrine/lib/talons/CreateAccount/createAccount.gql.js
  packages/peregrine/lib/talons/CreateAccount/useCreateAccount.js
  packages/peregrine/lib/talons/SignIn/__tests__/__snapshots__/useSignIn.spec.js.snap
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/signIn.gql.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/peregrine/package.json
  packages/venia-concept/package.json
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.js
  packages/venia-ui/lib/components/CreateAccount/__tests__/createAccount.spec.js
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/package.json
  pwa-devdocs/package.json
Labels: pkg:peregrine, pkg:venia-concept, Progress: approved, pkg:venia-ui, pkg:create-pwa, pkg:pagebuilder, pkg:extensions

#4333 release 14.1.0 release notes (#4328)
  CHANGELOG.md
  magento-compatibility.js
Labels: version: Patch, Progress: done

#4336 Magento Compatibity
  magento-compatibility.js
Labels: Progress: approved

#4338 main synch with release 14.1.0 change.log md
  CHANGELOG.md
  magento-compatibility.js
Labels: version: Patch, Progress: review
