Repository magento/pwa-studio, pull requests merged in 2024-03, with the labels that each got.

#4235 PWA-3237 :Search products by category from searchBar doesn't work
  packages/peregrine/lib/talons/SearchBar/__tests__/__snapshots__/useSuggestedCategory.spec.js.snap
  packages/peregrine/lib/talons/SearchBar/useSuggestedCategory.js
Labels: pkg:peregrine, version: Minor, Progress: approved, triage-done

#4221 3230 Sign-in broken following 13.3.0
  packages/peregrine/lib/talons/SignIn/__tests__/useSignIn.spec.js
  packages/peregrine/lib/talons/SignIn/useSignIn.js
Labels: pkg:peregrine, Progress: approved

#4217 DINT-1219: experience platform connector extension missing topLevelSku in product data
  packages/extensions/experience-platform-connector/src/__tests__/__snapshots__/utils.spec.js.snap
  packages/extensions/experience-platform-connector/src/handlers/__tests__/__snapshots__/shoppingMiniCartView.spec.js.snap
  packages/extensions/experience-platform-connector/src/handlers/__tests__/shoppingCartPageView.spec.js
  packages/extensions/experience-platform-connector/src/handlers/__tests__/startCheckout.spec.js
  packages/extensions/experience-platform-connector/src/utils.js
Labels: version: Patch, Progress: approved, pkg:extensions

#4180 FIX#PWA-3180 Layered navigation Options are still visible even when n…
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategoryContent.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/useCategoryContent.spec.js
  packages/peregrine/lib/talons/RootComponents/Category/categoryContent.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
  packages/venia-ui/lib/components/FilterSidebar/__tests__/filterSidebar.spec.js
  packages/venia-ui/lib/components/FilterSidebar/filterSidebar.js
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui, Progress: on hold

#4194 PWA-3217-V1::Thumbnail Images are getting hidden due to PR - BUG#PWA-…
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/Image/resourceImage.js
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.js
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/carousel.js
  yarn.lock
Labels: version: Patch, Progress: approved, pkg:venia-ui, needs triage

#4207 PWA-3227::yarn install broken after #4191
  package-lock.json
Labels: version: Patch, Progress: approved

#4164 PWA-3162-V3::Price filter change in sidebar
  package.json
  packages/peregrine/lib/talons/FilterModal/__tests__/useFilterBlock.spec.js
  packages/peregrine/lib/talons/FilterModal/useFilterBlock.js
  packages/peregrine/lib/talons/FilterSidebar/__tests__/useFilterSidebar.spec.js
  packages/peregrine/lib/talons/FilterSidebar/useFilterSidebar.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/__tests__/currentFilter.spec.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.js
  packages/venia-ui/lib/components/FilterModal/FilterList/__tests__/filterList.spec.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
  packages/venia-ui/lib/components/FilterModal/filterBlock.js
  packages/venia-ui/lib/components/FilterSidebar/__tests__/filterSidebar.spec.js
  packages/venia-ui/lib/components/FilterSidebar/filterSidebar.js
  packages/venia-ui/package.json
  yarn.lock
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui, needs triage

#4247 Test branch
  CREATE_RELEASE_NOTES.md
Labels: Progress: approved
