Repository magento/pwa-studio, pull requests merged in 2024-11, with the labels that each got.

#4339 PWA-3356: Fixed pagebuilder tab content issue
  packages/pagebuilder/lib/ContentTypes/Tabs/tabs.module.css
Labels: version: Patch, Progress: approved, pkg:pagebuilder

#4344 Replacing Transparent Placeholder SVG with the Magento Placeholder SVG
  packages/peregrine/lib/util/images.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.shimmer.spec.js.snap
  packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/__tests__/__snapshots__/productForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ItemsReview/__tests__/__snapshots__/itemsReview.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/gallery.spec.js.snap
  packages/venia-ui/lib/components/Gallery/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/MiniCart/ProductList/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/__tests__/__snapshots__/item.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/carousel.spec.js.snap
  packages/venia-ui/lib/components/ProductImageCarousel/__tests__/__snapshots__/thumbnail.spec.js.snap
  packages/venia-ui/lib/components/SearchBar/__tests__/__snapshots__/suggestedProduct.spec.js.snap
  packages/venia-ui/lib/components/WishlistPage/__tests__/__snapshots__/wishlistItem.spec.js.snap
Labels: pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#4340 PWA-3370::github.com/magento/pwa-studio Dependency Updates
  package.json
  packages/pwa-buildpack/lib/WebpackTools/targetables/__tests__/__snapshots__/TargetableReactComponent.spec.js.snap
  yarn.lock
Labels: pkg:pwa-buildpack, version: Patch, Progress: approved

#4318 PWA-3331::System is getting crashed when selecting add to cart in cas…
  packages/venia-ui/lib/components/AuthBar/authBar.js
  packages/venia-ui/lib/components/CartPage/__tests__/__snapshots__/cartPage.spec.js.snap
  packages/venia-ui/lib/components/CartPage/cartPage.js
  packages/venia-ui/lib/components/MiniCart/miniCart.js
Labels: version: Patch, Progress: approved, pkg:venia-ui
