Repository magento/pwa-studio, pull requests merged in 2025-05, with the labels that each got.

#4456 PWA-3261 : Multi store setup fix
  packages/venia-concept/webpack.config.js
Labels: pkg:venia-concept, version: Minor, Progress: PR review

#4457 PWA-3445: Change Error Causing Query Names to Fix Error Waringin in S…
  packages/peregrine/lib/talons/RootComponents/Category/categoryContent.gql.js
Labels: pkg:peregrine, version: Patch

#4459 Integrating Adobe Commerce Category Display Mode Configuration with P…
  packages/peregrine/lib/talons/RootComponents/Category/__tests__/__snapshots__/useCategoryContent.spec.js.snap
  packages/peregrine/lib/talons/RootComponents/Category/categoryContent.gql.js
  packages/peregrine/lib/talons/RootComponents/Category/useCategoryContent.js
  packages/venia-ui/lib/RootComponents/Category/__tests__/__snapshots__/categoryContent.spec.js.snap
  packages/venia-ui/lib/RootComponents/Category/categoryContent.js
Labels: enhancement, pkg:peregrine, version: Minor, pkg:venia-ui

#4460 Fixed wish list error on config product
  packages/peregrine/lib/talons/WishlistPage/useWishlistItem.js
Labels: pkg:peregrine, version: Patch, Progress: ready for review
