Repository magento/pwa-studio, pull requests merged in 2025-02, with the labels that each got.

#4385 New Commit to Create NEW PR with Latest Develop
  packages/extensions/venia-sample-payments-cashondelivery/README.md
  packages/extensions/venia-sample-payments-cashondelivery/intercept.js
  packages/extensions/venia-sample-payments-cashondelivery/package.json
  packages/extensions/venia-sample-payments-cashondelivery/src/components/__tests__/__snapshots__/cashondelivery.spec.js.snap
  packages/extensions/venia-sample-payments-cashondelivery/src/components/__tests__/__snapshots__/editcod.spec.js.snap
  packages/extensions/venia-sample-payments-cashondelivery/src/components/__tests__/__snapshots__/summarycod.spec.js.snap
  packages/extensions/venia-sample-payments-cashondelivery/src/components/__tests__/cashondelivery.spec.js
  packages/extensions/venia-sample-payments-cashondelivery/src/components/__tests__/editcod.spec.js
  packages/extensions/venia-sample-payments-cashondelivery/src/components/__tests__/summarycod.spec.js
  packages/extensions/venia-sample-payments-cashondelivery/src/components/cashondelivery.js
  packages/extensions/venia-sample-payments-cashondelivery/src/components/cashondelivery.module.css
  packages/extensions/venia-sample-payments-cashondelivery/src/components/editcod.js
  packages/extensions/venia-sample-payments-cashondelivery/src/components/summary.module.css
  packages/extensions/venia-sample-payments-cashondelivery/src/components/summarycod.js
  packages/extensions/venia-sample-payments-cashondelivery/src/talons/cashondelivery.gql.js
  packages/extensions/venia-sample-payments-cashondelivery/src/talons/useCashondelivery.js
Labels: version: Minor, Progress: approved, pkg:extensions

#4386 PWA-3389-Price slider implementation
  packages/peregrine/lib/talons/FilterModal/__tests__/useFilterBlock.spec.js
  packages/peregrine/lib/talons/FilterModal/helpers.js
  packages/peregrine/lib/talons/FilterModal/useFilterBlock.js
  packages/peregrine/lib/talons/FilterSidebar/useFilterSidebar.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/__tests__/currentFilter.spec.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.js
  packages/venia-ui/lib/components/FilterModal/FilterList/__tests__/filterList.spec.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
  packages/venia-ui/lib/components/FilterModal/filterBlock.js
  packages/venia-ui/lib/components/FilterSidebar/__tests__/filterSidebar.spec.js
  packages/venia-ui/lib/components/FilterSidebar/filterSidebar.js
  packages/venia-ui/lib/components/RangeSlider/rangeSlider.js
  packages/venia-ui/lib/components/RangeSlider/rangeSlider.module.css
Labels: pkg:peregrine, version: Patch, Progress: approved, pkg:venia-ui

#4388 Update package.json
  packages/extensions/gomage-plugin-braintree-three-d-secure/package.json
Labels: Progress: approved

#4392 Reverted package.json version of Gomage
  packages/extensions/gomage-plugin-braintree-three-d-secure/package.json
Labels: version: Patch, Progress: approved, pkg:extensions

#4393 Gomage v1
  packages/extensions/gomage-plugin-braintree-three-d-secure/package.json
Labels: Progress: approved, pkg:extensions

#4403 PWA remove gomage package
  packages/extensions/gomage-plugin-braintree-three-d-secure/Intercepts/brainTreeDropIn.js
  packages/extensions/gomage-plugin-braintree-three-d-secure/Model/useBraintreeThreeDSecure.js
  packages/extensions/gomage-plugin-braintree-three-d-secure/Queries/createBraintreeClientToken.gql.js
  packages/extensions/gomage-plugin-braintree-three-d-secure/README.md
  packages/extensions/gomage-plugin-braintree-three-d-secure/index.js
  packages/extensions/gomage-plugin-braintree-three-d-secure/intercept.js
  packages/extensions/gomage-plugin-braintree-three-d-secure/package.json
  packages/extensions/upward-security-headers/upward.yml
  packages/venia-concept/package.json
Labels: pkg:venia-concept, version: Patch, Progress: approved, pkg:extensions

#4401 Feature/venia sample payments cashondelivery from latest develop
  .github/workflows/publish-cod-to-npm.yml
  packages/extensions/venia-sample-payments-cashondelivery/intercept.js
  packages/extensions/venia-sample-payments-cashondelivery/package.json
  packages/venia-concept/package.json
Labels: pkg:venia-concept, version: Patch, Progress: approved, pkg:extensions

#4405 Update package.json_for Cashon Delivery
  packages/extensions/venia-sample-payments-cashondelivery/package.json
  packages/venia-concept/package.json
Labels: pkg:venia-concept, version: Patch, Progress: approved, pkg:extensions

#4406 removing Cash-on-delivery in package.json
  packages/venia-concept/package.json
Labels: pkg:venia-concept, version: Patch, Progress: approved

#4407 Update package.json in Cash on delivery
  packages/extensions/venia-sample-payments-cashondelivery/package.json
Labels: version: Patch, Progress: approved, pkg:extensions

#4395 Fixed unique id,aria-label and disabled attribute warnings
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.js
  packages/venia-ui/lib/components/Newsletter/__tests__/__snapshots__/newsletter.spec.js.snap
  packages/venia-ui/lib/components/Newsletter/newsletter.js
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#4412 Pwa-3431::Fixed unique id,aria-label and disabled attribute warnings
  packages/venia-ui/lib/components/CreateAccount/createAccount.js
  packages/venia-ui/lib/components/FilterModal/CurrentFilters/currentFilter.js
  packages/venia-ui/lib/components/Newsletter/__tests__/__snapshots__/newsletter.spec.js.snap
  packages/venia-ui/lib/components/Newsletter/newsletter.js
  packages/venia-ui/lib/components/SignIn/__tests__/__snapshots__/signIn.spec.js.snap
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: version: Patch, Progress: approved, pkg:venia-ui

#4413 Pwa 3433::adding ontouch
  packages/venia-ui/lib/components/ButtonTab/button.module.css
  packages/venia-ui/lib/components/ButtonTab/buttonTab.js
  packages/venia-ui/lib/components/ButtonTab/index.js
  packages/venia-ui/lib/components/CartPage/PriceSummary/__tests__/__snapshots__/priceSummary.spec.js.snap
  packages/venia-ui/lib/components/CartPage/PriceSummary/priceSummary.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/__tests__/__snapshots__/guestForm.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/AddressForm/guestForm.js
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/__tests__/__snapshots__/shippingMethod.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/ShippingMethod/shippingMethod.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
Labels: Progress: approved, pkg:venia-ui

#4424 Pwa 3437
  packages/venia-ui/lib/components/CheckoutPage/OrderConfirmationPage/createAccount.js
  packages/venia-ui/lib/components/CheckoutPage/__tests__/__snapshots__/checkoutPage.spec.js.snap
  packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterDefault.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterItemRadio.js
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
  packages/venia-ui/lib/components/FilterModal/filterFooter.js
  packages/venia-ui/lib/components/FilterModal/filterModal.js
  packages/venia-ui/lib/components/FilterModalOpenButton/filterModalOpenButton.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/items.js
  packages/venia-ui/lib/components/OrderHistoryPage/OrderDetails/orderDetails.js
  packages/venia-ui/lib/components/OrderHistoryPage/collapsedImageGallery.js
  packages/venia-ui/lib/components/ProductSort/productSort.js
Labels: version: Patch, Progress: approved, pkg:venia-ui
