Repository magento/pwa-studio, pull requests merged in 2025-01, with the labels that each got.

#4357 Adding Conditions to Handle 404 redirect_code for Invalid Urls and Ad…
  packages/venia-ui/upward.yml
Labels: version: Major, Progress: approved, pkg:venia-ui

#4353 Added tailwind presets in main config file
  packages/venia-concept/tailwind.config.js
Labels: pkg:venia-concept, version: Minor, Progress: approved

#4346 Added code to display error message from grapqhl response in form
  packages/peregrine/lib/talons/CreateAccount/createAccount.gql.js
  packages/peregrine/lib/talons/FormError/useFormError.js
Labels: bug, pkg:peregrine, version: Minor, Progress: approved, pkg:venia-ui

#4363 Fixed handle trigger click function error
  packages/peregrine/lib/talons/SignIn/useSignIn.js
  packages/venia-ui/lib/components/SignIn/signIn.js
Labels: bug, pkg:peregrine, Progress: approved, pkg:venia-ui

#4378 Pwa 2968::Gomage/plugin braintree three d secure
  packages/extensions/gomage-plugin-braintree-three-d-secure/Intercepts/brainTreeDropIn.js
  packages/extensions/gomage-plugin-braintree-three-d-secure/Model/useBraintreeThreeDSecure.js
  packages/extensions/gomage-plugin-braintree-three-d-secure/Queries/createBraintreeClientToken.gql.js
  packages/extensions/gomage-plugin-braintree-three-d-secure/README.md
  packages/extensions/gomage-plugin-braintree-three-d-secure/index.js
  packages/extensions/gomage-plugin-braintree-three-d-secure/intercept.js
  packages/extensions/gomage-plugin-braintree-three-d-secure/package.json
  packages/extensions/upward-security-headers/upward.yml
  packages/peregrine/lib/talons/FormError/__tests__/__snapshots__/useFormError.spec.js.snap
  packages/venia-concept/package.json
  packages/venia-ui/package.json
  yarn.lock
Labels: pkg:peregrine, pkg:venia-concept, Progress: approved, pkg:venia-ui, pkg:extensions
