Repository magento/pwa-studio, pull requests merged in 2025-07, with the labels that each got.

#4473 Fixed filter from and to value issue with unsorted option values
  packages/venia-ui/lib/components/FilterModal/FilterList/filterList.js
Labels: version: Patch, pkg:venia-ui, Progress: ready for review

#4488 PWA-3316::removing package from venia-concept
  packages/venia-concept/package.json
Labels: pkg:venia-concept

#4496 PWA-3511::Resolving build issue
  packages/extensions/venia-product-recommendations/package.json
  packages/extensions/venia-pwa-live-search/package.json
Labels: pkg:extensions

#4504 Pwa 2968 braintree
  packages/extensions/plugin-braintree-three-d-secure/Intercepts/brainTreeDropIn.js
  packages/extensions/plugin-braintree-three-d-secure/package.json
Labels: version: Patch, pkg:extensions

#4508 Fixed scaffolding issues, npm and yarn storybook
  packages/venia-concept/package.json
  packages/venia-concept/src/.storybook/config.js
  packages/venia-concept/src/.storybook/main.js
  packages/venia-concept/src/.storybook/preview.js
  packages/venia-concept/src/.storybook/webpack.config.js
Labels: pkg:venia-concept
