Repository magento/pwa-studio, pull requests merged in 2025-09, with the labels that each got.

#4542 PWA-3534:Fixed wish list pagination issue
  packages/peregrine/lib/talons/WishlistPage/useWishlist.js
Labels: pkg:peregrine, Progress: ready for review, needs-triage

#4543 PWA-3541::Infinite loop query GetWishlistItemsForLocalField
  packages/pagebuilder/lib/ContentTypes/Products/Carousel/__tests__/useCarousel.spec.js
  packages/pagebuilder/lib/ContentTypes/Products/Carousel/useCarousel.js
  packages/peregrine/lib/talons/App/__tests__/useApp.spec.js
  packages/peregrine/lib/talons/App/useApp.js
  packages/peregrine/lib/talons/Gallery/__tests__/useGallery.spec.js
  packages/peregrine/lib/talons/Gallery/useGallery.js
Labels: pkg:peregrine, pkg:pagebuilder

#4558 PWA-3610: Fixed targetables call
  packages/venia-ui/lib/targets/venia-ui-intercept.js
Labels: pkg:venia-ui
